<!--
title: 1930 - 1939 timeline
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">1930 - 1939 timeline</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="India">India</span></h2>

          <p><b>1930</b></p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a> established in <a class="new" href="/~commun26/wiki/index.php?title=Calcutta&amp;action=edit&amp;redlink=1" title="Calcutta (page does not exist)">Calcutta</a> with aid from the <a href="/~commun26/wiki/index.php?title=Rockefeller_Foundation" title="Rockefeller Foundation">Rockefeller Foundation</a>.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Child_Marriage_Restraint_Act,_1930&amp;action=edit&amp;redlink=1" title="Child Marriage Restraint Act, 1930 (page does not exist)">Child Marriage Restraint Act,
              1930</a> (Sarda Act) passed fixing minimum age for marriage at 14 for girls and 18 for boys.</li>
          </ul>

          <p><br></br>
            <b>1931</b></p>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Maternity_and_Child_Welfare_Bureau&amp;action=edit&amp;redlink=1" title="Maternity and Child Welfare Bureau (page does not exist)">Maternity and Child Welfare
              Bureau</a> established under <a href="/~commun26/wiki/index.php?title=Indian_Red_Cross_Society" title="Indian Red Cross Society">Indian Red Cross Society</a>.</li>
          </ul>

          <p><br></br>
            <b>1935</b></p>

          <ul>
            <li> Government of India Act, 1935 gives greater autonomy to the provinces. All health activities in India grouped into three lists - federal, concurrent and provincial.</li>
          </ul>

          <p><br></br>
            <b>1937</b></p>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Central_Advisory_Board_of_Health&amp;action=edit&amp;redlink=1" title="Central Advisory Board of Health (page does not exist)">Central Advisory Board of Health</a>
              set up.</li>
          </ul>

          <p><br></br>
            <b>1938</b></p>

          <ul>
            <li> The National Planning Committee of the <a href="/~commun26/wiki/index.php?title=Indian_National_Congress" title="Indian National Congress">Indian National Congress</a> sets up a <a href="/~commun26/wiki/index.php?title=Sub-Committee_on_National_Health" title="Sub-Committee on National Health">Sub-Committee on National Health</a> to assess the health situation and health services in the country and
              make recommendations.</li>
          </ul>

          <p><br></br>
            <b>1939</b></p>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Madras_Public_Health_Act&amp;action=edit&amp;redlink=1" title="Madras Public Health Act (page does not exist)">Madras Public Health Act</a> passed.</li>

            <li> The first <a class="new" href="/~commun26/wiki/index.php?title=Rural_Health_Training_Centre,_Singur&amp;action=edit&amp;redlink=1" title="Rural Health Training Centre, Singur (page does not exist)"> Rural Health Training
              Centre</a> established at Singur, West Bangal with aid from the <a href="/~commun26/wiki/index.php?title=Rockefeller_Foundation" title="Rockefeller Foundation">Rockefeller Foundation</a>.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Tuberculosis_Association_of_India&amp;action=edit&amp;redlink=1" title="Tuberculosis Association of India (page does not exist)">Tuberculosis Association of India</a>
              established.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=1930_-_1939_timeline&amp;oldid=541">http://www.communityhealth.in/~commun26/wiki/index.php?title=1930_-_1939_timeline&amp;oldid=541</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Timelines" title="Category:Timelines">Timelines</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:History" title="Category:History">History</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>