<!--
title: 1960 - 1969 timeline
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">1960 - 1969 timeline</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#India"><span class="tocnumber">1</span> <span class="toctext">India</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-2"><a href="#1960"><span class="tocnumber">1.1</span> <span class="toctext">1960</span></a></li>

                        <li class="toclevel-2 tocsection-3"><a href="#1961"><span class="tocnumber">1.2</span> <span class="toctext">1961</span></a></li>

                        <li class="toclevel-2 tocsection-4"><a href="#1962"><span class="tocnumber">1.3</span> <span class="toctext">1962</span></a></li>

                        <li class="toclevel-2 tocsection-5"><a href="#1963"><span class="tocnumber">1.4</span> <span class="toctext">1963</span></a></li>

                        <li class="toclevel-2 tocsection-6"><a href="#1964"><span class="tocnumber">1.5</span> <span class="toctext">1964</span></a></li>

                        <li class="toclevel-2 tocsection-7"><a href="#1965"><span class="tocnumber">1.6</span> <span class="toctext">1965</span></a></li>

                        <li class="toclevel-2 tocsection-8"><a href="#1966"><span class="tocnumber">1.7</span> <span class="toctext">1966</span></a></li>

                        <li class="toclevel-2 tocsection-9"><a href="#1967"><span class="tocnumber">1.8</span> <span class="toctext">1967</span></a></li>

                        <li class="toclevel-2 tocsection-10"><a href="#1968"><span class="tocnumber">1.9</span> <span class="toctext">1968</span></a></li>

                        <li class="toclevel-2 tocsection-11"><a href="#1969"><span class="tocnumber">1.10</span> <span class="toctext">1969</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="India">India</span></h2>

          <h3> <span class="mw-headline" id="1960">1960</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=School_Health_Committee&amp;action=edit&amp;redlink=1" title="School Health Committee (page does not exist)">School Health Committee</a> established to assess present
              standards of <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Nutrition&amp;action=edit&amp;redlink=1" title="Nutrition (page does not exist)">nutrition</a> of school children and suggest improvements.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Nutrition_Advisory_Committee&amp;action=edit&amp;redlink=1" title="National Nutrition Advisory Committee (page does not exist)">National Nutrition Advisory
              Committee</a> set up.</li>

            <li> Pilot project for eradication of <a class="new" href="/~commun26/wiki/index.php?title=Small_pox&amp;action=edit&amp;redlink=1" title="Small pox (page does not exist)">small pox</a> initiated.</li>

            <li> Vital statistics transferred from Directorate General Health Services to <a href="/~commun26/wiki/index.php?title=Registrar_General_of_India" title="Registrar General of India">Registrar General of India</a>.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1961">1961</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=3rd_Five_Year_Plan&amp;action=edit&amp;redlink=1" title="3rd Five Year Plan (page does not exist)">3rd Five Year Plan</a> launched with outlay of Rs. 342 (4.3&#160;%)
              provided for health programmes.</li>

            <li> Report of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Mudaliar_Committee" title="Mudaliar Committee">Mudaliar Committee</a> published.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Central_Bureau_of_Health_Intelligence&amp;action=edit&amp;redlink=1" title="Central Bureau of Health Intelligence (page does not exist)">Central Bureau of Health
              Intelligence</a> established.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1962">1962</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Central_Family_Planning_Institute&amp;action=edit&amp;redlink=1" title="Central Family Planning Institute (page does not exist)">Central Family Planning Institute</a>
              established in Delhi by merging <a class="new" href="/~commun26/wiki/index.php?title=Family_Planning_Training_Centre&amp;action=edit&amp;redlink=1" title="Family Planning Training Centre (page does not exist)">Family
              Planning Training Centre</a> and <a class="new" href="/~commun26/wiki/index.php?title=Family_Planning_Communications_and_Action_Research_Centre&amp;action=edit&amp;redlink=1" title="Family Planning Communications and Action Research Centre (page does not exist)">Family Planning Communications and Action Research Centre</a>.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Small_Pox_Eradication_Programme&amp;action=edit&amp;redlink=1" title="National Small Pox Eradication Programme (page does not exist)">National Small Pox
              Eradication Programme</a> launched.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=School_Health_Programme&amp;action=edit&amp;redlink=1" title="School Health Programme (page does not exist)">School Health Programme</a> launched.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Goitre_Control_Programme&amp;action=edit&amp;redlink=1" title="National Goitre Control Programme (page does not exist)">National Goitre Control Programme</a>
              launched.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=District_Tuberculosis_Programme&amp;action=edit&amp;redlink=1" title="District Tuberculosis Programme (page does not exist)">District Tuberculosis Programme</a>
              launched.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1963">1963</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Applied_Nutrition_Programme&amp;action=edit&amp;redlink=1" title="Applied Nutrition Programme (page does not exist)">Applied Nutrition Programme</a> launched.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Defense_Institute_of_Physiology_and_Allied_Sciences" title="Defense Institute of Physiology and Allied Sciences">Defense Institute of Physiology and Allied Sciences</a> set up.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Institute_for_Communicable_Diseases&amp;action=edit&amp;redlink=1" title="National Institute for Communicable Diseases (page does not exist)">National
              Institute for Communicable Diseases</a> set up.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Trachoma_Control_Programme&amp;action=edit&amp;redlink=1" title="National Trachoma Control Programme (page does not exist)">National Trachoma Control
              Programme</a> launched.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Extended_Family_Planning_Programme&amp;action=edit&amp;redlink=1" title="Extended Family Planning Programme (page does not exist)">Extended Family Planning
              Programme</a> launched.</li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Chadha_Committee" title="Chadha Committee">Chadha Committee</a> establishes norm of one basic health worker for every 10000 population.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Drinking_Water_Board&amp;action=edit&amp;redlink=1" title="Drinking Water Board (page does not exist)">Drinking Water Board</a> set up.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1964">1964</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Institute_of_Health_Administration_and_Education&amp;action=edit&amp;redlink=1" title="National Institute of Health Administration and Education (page does not exist)">National Institute of Health Administration and Education</a> set up.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1965">1965</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Reinforced_Extended_Family_Planning_Programme&amp;action=edit&amp;redlink=1" title="Reinforced Extended Family Planning Programme (page does not exist)">Reinforced
              Extended Family Planning Programme</a> launched.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=BCG_vaccination&amp;action=edit&amp;redlink=1" title="BCG vaccination (page does not exist)">BCG vaccination</a> without prior tuberculin testing launched.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1966">1966</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mukherjee_Committee&amp;action=edit&amp;redlink=1" title="Mukherjee Committee (page does not exist)">Mukherjee Committee</a> set up.</li>

            <li> Minister of Health also named Minister of Family Planning. Separate <a class="new" href="/~commun26/wiki/index.php?title=Department_of_Family_Planning&amp;action=edit&amp;redlink=1" title="Department of Family Planning (page does not exist)">Department of Family Planning</a> set up in Union Health Ministry.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1967">1967</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Madhok_Committee&amp;action=edit&amp;redlink=1" title="Madhok Committee (page does not exist)">Madhok Committee</a> constituted to review <a class="new" href="/~commun26/wiki/index.php?title=National_Malaria_Eradication_Programme&amp;action=edit&amp;redlink=1" title="National Malaria Eradication Programme (page does not exist)">National Malaria Eradication Programme</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Central_Council_for_Health&amp;action=edit&amp;redlink=1" title="Central Council for Health (page does not exist)">Central Council for Health</a> recommends user fees
              in government health care institutions.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1968">1968</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Medical_Education_Committee&amp;action=edit&amp;redlink=1" title="Medical Education Committee (page does not exist)">Medical Education Committee</a> appointed to
              review medical education in India.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="1969">1969</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=4th_Five_Year_Plan&amp;action=edit&amp;redlink=1" title="4th Five Year Plan (page does not exist)">4th Five Year Plan</a> launched with Rs. 840 crores for health
              programmes and Rs. 315 crores for family planning programmes.</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Births_and_Deaths_Registration_Act,_1969&amp;action=edit&amp;redlink=1" title="Births and Deaths Registration Act, 1969 (page does not exist)">Births and Deaths
              Registration Act, 1969</a> passed.</li>

            <li> Report of <a class="new" href="/~commun26/wiki/index.php?title=Medical_Education_Committee&amp;action=edit&amp;redlink=1" title="Medical Education Committee (page does not exist)">Medical Education Committee</a>
              recommends 4 1/2 year MBBS course with 1 year internship which should include 3 months posting in a rural medical centre. Course redesigned to produce 'basic doctor'.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=1960_-_1969_timeline&amp;oldid=547">http://www.communityhealth.in/~commun26/wiki/index.php?title=1960_-_1969_timeline&amp;oldid=547</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Timelines" title="Category:Timelines">Timelines</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:History" title="Category:History">History</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>