<!--
title: Abhay Shukla
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Abhay Shukla</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Abhay Shukla</b>, MD, is a physician with a postgraduate degree in Community Medicine from the <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a>, New Delhi. For the last one and a half decades, he has been working on health issues in association with people’s organizations. As
            a Senior Programme Coordinator in <a class="new" href="/~commun26/wiki/index.php?title=SATHI-CEHAT&amp;action=edit&amp;redlink=1" title="SATHI-CEHAT (page does not exist)">SATHI-CEHAT</a>, he has been involved in training
            health workers, developing health training material and advocacy on health rights and <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> issues in Western India.
            He is one of the National Joint Convenors of <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> (People’s Health Movement-India) and has been involved in
            hosting the National Secretariat of PHM-India during 2003 to 2008. He has authored a number of publications including <i>A Compiled Review of the Rights Approach to Health and Health Care</i> and is the co-editor of the books
            <i>Review of Health Care in India</i> and <i>A Report on Health Inequities in Maharashtra</i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Abhay_Shukla&amp;oldid=1644">http://www.communityhealth.in/~commun26/wiki/index.php?title=Abhay_Shukla&amp;oldid=1644</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>