<!--
title: Achutha Menon Centre for Health Science Studies
description: 
published: true
date: 2023-06-15T09:33:36.106Z
tags: communityhealth.in, public health institutions, organizations and networks outside karnataka
editor: ckeditor
dateCreated: 2023-01-29T17:00:29.409Z
-->

<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Achutha Menon Centre for Health Science Studies</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Achutha Menon Centre for Health Science Studies</b> AMCHSS is a centre of excellence for public health training by the Ministry of Health and Family Welfare government of India. The centre focuses on research in the
            areas of non-communicable diseases, gender and health, health policy and management. AMCHSS conducts a Master of Public Health (MPH) program, Diploma in Public Health and Phd Programme.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.sctimst.ac.in/amchss/index.htm" rel="nofollow">www.sctimst.ac.in/amchss/index.htm</a> - Website of Achutha Menon Centre for Health Science Studies</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Achutha_Menon_Centre_for_Health_Science_Studies&amp;oldid=2071">http://www.communityhealth.in/~commun26/wiki/index.php?title=Achutha_Menon_Centre_for_Health_Science_Studies&amp;oldid=2071</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Kerala" title="Category:Kerala">Kerala</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>