<!--
title: Achutha Menon Centre for Health Science Studies- AMCHSS
description: 
published: true
date: 2023-06-26T04:49:18.488Z
tags: public health information sources, public health institutions, organizations and networks outside karnataka
editor: ckeditor
dateCreated: 2023-06-26T04:49:18.488Z
-->

<p style="text-align:justify;">AMCHSS is a centre of excellence for public health training by the Ministry of Health and Family Welfare government of India. The centre focuses on research in the areas of non-communicable diseases, gender and health, health policy and management. AMCHSS conducts a Master of Public Health (MPH) program, Diploma in Public Health and PhD Programme.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://www.sctimst.ac.in/About%20SCTIMST/Organisation/AMCHSS/">https://www.sctimst.ac.in/About%20SCTIMST/Organisation/AMCHSS/ </a>(Last checked on 26/06/2023)</p>
<figure class="image"><img src="/sree_chitra_tirunal_institute_for_medical_sciences_and_technology_logo.svg.png"></figure>
