<!--
title: Action Northeast Trust
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Action Northeast Trust</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Action Northeast Trust</b> (The ANT) is a public charitable trust, based in the Chirang district of Assam. It works at 2 levels - directly with village communities in villages of Chirang district, north of Bongaigaon
            town and indirectly as a resource to organisations in other parts of northeast India.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_Also">See Also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Sunil_Kaul" title="Sunil Kaul">Sunil Kaul</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Jennifer_Liang" title="Jennifer Liang">Jennifer Liang</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.theant.org" rel="nofollow">www.ant.org</a> - Action Northeast Trust website</li>
          </ul>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Action_Northeast_Trust&amp;oldid=1179">http://www.communityhealth.in/~commun26/wiki/index.php?title=Action_Northeast_Trust&amp;oldid=1179</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam">Assam</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>