<!--
title: All India Drug Action Network
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">All India Drug Action Network</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>All India Drug Action Network</b> (AIDAN) is an national network of several non government organisations founded in 1981 who advocate for a rational drug policy and to increase access and improve the rational use of
            essential medicines. It works to promote Essential medicine Concept, for better controls on drug promotion and the provision of balanced, independent information for prescribers and consumers.</p>

          <p>The member organisations of the network are:</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Drug_Action_Forum_%E2%80%93_Karnataka" title="Drug Action Forum – Karnataka">Drug Action Forum – Karnataka</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Low_Cost_Standard_Therapeutics&amp;action=edit&amp;redlink=1" title="Low Cost Standard Therapeutics (page does not exist)">Low Cost Standard Therapeutics</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahoyog&amp;action=edit&amp;redlink=1" title="Jan Swasthya Sahoyog (page does not exist)">Jan Swasthya Sahoyog</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Saathi_%E2%80%93_CEHAT&amp;action=edit&amp;redlink=1" title="Saathi – CEHAT (page does not exist)">Saathi – CEHAT</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Lawyers_Collective&amp;action=edit&amp;redlink=1" title="Lawyers Collective (page does not exist)">Lawyers Collective</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=TEST_Foundation&amp;action=edit&amp;redlink=1" title="TEST Foundation (page does not exist)">TEST Foundation</a></li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=AID_India" title="AID India">AID India</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Medical_Ethics" title="Indian Journal of Medical Ethics">Indian Journal of Medical Ethics</a></li>
          </ul>

          <p>AIDAN is a part of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> coalition.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="external text" href="http://aidanindia.wordpress.com/" rel="nofollow">AIDAN website</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=All_India_Drug_Action_Network&amp;oldid=2074">http://www.communityhealth.in/~commun26/wiki/index.php?title=All_India_Drug_Action_Network&amp;oldid=2074</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Rational_drug_use" title="Category:Rational drug use">Rational drug use</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks" title="Category:Jan Swasthya Abhiyan national networks">Jan Swasthya Abhiyan national networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>