<!--
title: All India Drug Action Network- AIDAN
description: 
published: true
date: 2023-06-26T05:51:14.942Z
tags: public health information sources, public health information source- networks
editor: ckeditor
dateCreated: 2023-06-26T05:51:14.942Z
-->

<p style="text-align:justify;">AIDAN is an independent network of several non government organizations working to increase access and improve the rational use of essential medicines. It works to promote Essential medicine Concept, for better controls on drug promotion and the provision of balanced, independent information for prescribers and consumers.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://aidanindia.wordpress.com/">https://aidanindia.wordpress.com/ </a>(Last Checked on 26/06/2023)</p>
<figure class="image"><img src="/aidan-slogan.jpg">
  <figcaption>AIDAN-Objective</figcaption>
</figure>
