<!--
title: All India Institute of Hygiene and Public Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">All India Institute of Hygiene and Public Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external free" href="http://www.aiihph.gov.in" rel="nofollow">http://www.aiihph.gov.in</a> - All India Institute of Hygiene and Public Health website</li>

            <li> <a class="external text" href="http://mohfw.nic.in/kk/95/ib/95ib0y01.htm" rel="nofollow">mohfw.nic.in/kk/95/ib/95ib0y01.htm</a> - AIIHPH page on <a class="new" href="/~commun26/wiki/index.php?title=Ministry_of_Health_%26_Family_Welfare&amp;action=edit&amp;redlink=1" title="Ministry of Health &amp; Family Welfare (page does not exist)">Ministry of Health &amp; Family Welfare</a>
              website.</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health&amp;oldid=1278">http://www.communityhealth.in/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health&amp;oldid=1278</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:West_Bengal" title="Category:West Bengal">West Bengal</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>