<!--
title: Alternative Approaches To Health Care
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Alternative Approaches To Health Care</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:AltApproachesToHealthCare-ICMR.jpg"><img alt="" class="thumbimage" height="296" src="/~commun26/wiki/images/thumb/c/c9/AltApproachesToHealthCare-ICMR.jpg/180px-AltApproachesToHealthCare-ICMR.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:AltApproachesToHealthCare-ICMR.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Alternate Approaches To Health Care</div>
            </div>
          </div>

          <p>A Report of an ICMR Symposium held in Hyderabad in November 1976 and includes fourteen long case studies and a few short case studies on health projects in India, mostly in the voluntary, non-governmental sector.The symposium
            broadly distributed the projects experiences into 5 sessions, viz <i>a) Projects with dominant emphasis on nutrition and integrated child care (4 projects); b) Hospital based projects (3 projects); c)Comprehensive rural health
            projects (3 Projects); d) Projects Based on the system of health co-operatives (4 Projects) and e) Overall appraisal and review</i></p>

          <p>The 14 long case studies include,</p>

          <p><b>1. "Project Poshak" Rural and Tribal, Madhya Pradesh.</b></p>

          <p><b>2. The Integrated Mother child-health nutrition project - The Kasa Model, Thane Maharashtra.</b></p>

          <p><b>3. Indo-Dutch Project for Child Welfare- Hyderabad, Andhra Pradesh.</b></p>

          <p><b>4. Nutrition Rehabilitation Project- Government Erksine Hospital, Madurai Tamil Nadu.</b></p>

          <p><b>5. Village Health Workers-Harriet Benson Memorial Hospital, Lalitpur, Uttar Pardesh.</b></p>

          <p><b>6. Village Health Workers in Remote Areas of Himachal Pradesh, Lady Willingdon Hospital Project, Manali, Himachal Pradesh.</b></p>

          <p><b>7. Community Health Project of Padhar Hospital, Betul, Madhya Pradesh.</b></p>

          <p><b>8. Comprehensive Rural Health Project, Jamkhed, Maharashtra.</b></p>

          <p><b>9. Integrated Health Service Project, Miraj, Maharashtra.</b></p>

          <p><b>10. Alternative Health Care System, Mandwe,Maharashtra.</b></p>

          <p><b>11. Medicare, Kasturba Medical College, Manipal, Karnataka.</b></p>

          <p><b>12. Community Approaches to health care services through popularizing co-operative rural dispensaries, Kerala.</b></p>

          <p><b>13. Mallur health cooperative (Community Medicine Department of St. Johns Medical College), Mallur, Karnataka.</b></p>

          <p><b>14. Mini- PHC of Voluntary Health Services, Adyar, Madras, Tamil Nadu.</b></p>

          <p>Also it includes a review of the issues raised by these projects and delineation of areas of further research.An important report since it is the first one in thirty years where the Indian Council of Medical Research accepts
            Health Care Delivery as an important area of research. some of the the important recommendations include</p>

          <p>1. Improve the existing information systems on all aspects of health budget. 2. A fir trail for models viz model based on expanding the existing health infrastructure, model based on self supportive systems of health
            cooperatives, model based on additional inputs. 3. Formulation and standardization of a a standard set of parameters for evaluation of different experiments in alternative health care delivery systems. 4. Set up study group or
            working group to suggest guidelines on prioritizing parameters of evaluation, assessment of acceptance and utilization by the community.5. Preparation of Training manual.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Alternative_Approaches_To_Health_Care&amp;oldid=1907">http://www.communityhealth.in/~commun26/wiki/index.php?title=Alternative_Approaches_To_Health_Care&amp;oldid=1907</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Out_of_print_books" title="Category:Out of print books">Out of print books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>