<!--
title: Alternative Approaches To Meeting Basic Health Needs In Developing Countries
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Alternative Approaches To Meeting Basic Health Needs In Developing Countries</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:AltApproachesToBasicHealthNeeds.jpg"><img alt="" class="thumbimage" height="231" src="/~commun26/wiki/images/thumb/f/f3/AltApproachesToBasicHealthNeeds.jpg/180px-AltApproachesToBasicHealthNeeds.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:AltApproachesToBasicHealthNeeds.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Alternative Approaches To Basic Health Needs In Developing Countries</div>
            </div>
          </div>

          <p><b>Alternative Approaches To Meeting Basic Health Needs In Developing Countries</b> is a joint publication of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a> and <a class="new" href="/~commun26/wiki/index.php?title=UNICEF&amp;action=edit&amp;redlink=1" title="UNICEF (page does not exist)">UNICEF</a> published in 1975. It was edited by V. Djukanovic and E.P. Mach. The book served as an important
            document in the run up to the 1978 <a class="new" href="/~commun26/wiki/index.php?title=Declaration_of_Alma_Ata&amp;action=edit&amp;redlink=1" title="Declaration of Alma Ata (page does not exist)">Declaration of Alma Ata</a>.
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Download_publication"> Download publication </span></h2>

          <ul>
            <li> <a class="external text" href="http://apps.who.int/iris/handle/10665/40076" rel="nofollow">Download publication from WHO website</a></li>

            <li> <b><a class="internal" href="/~commun26/wiki/images/8/83/UNICEF_WHO_AlternateApproachesBasicHealthNeeds.pdf" title="UNICEF WHO AlternateApproachesBasicHealthNeeds.pdf"> Download publication from communityhealth.in
              (5.8MB)</a></b></li>
          </ul>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries&amp;oldid=1983">http://www.communityhealth.in/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries&amp;oldid=1983</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>