<!--
title: Amar Jesani
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Amar Jesani</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Amar Jesani</b> is a medical professional who has been deeply involved with social science research in health for more than three decades especially in the fields of <a class="new" href="/~commun26/wiki/index.php?title=Human_rights&amp;action=edit&amp;redlink=1" title="Human rights (page does not exist)">human rights</a> and <a class="new" href="/~commun26/wiki/index.php?title=Medical_ethics&amp;action=edit&amp;redlink=1" title="Medical ethics (page does not exist)">medical ethics</a>. He is the coordinator the <a href="/~commun26/wiki/index.php?title=Centre_for_Studies_in_Ethics_and_Rights" title="Centre for Studies in Ethics and Rights">Centre for Studies in Ethics and Rights</a>, an institute of the <a href="/~commun26/wiki/index.php?title=Anusandhan_Trust" title="Anusandhan Trust">Anusandhan Trust</a> in Mumbai. He is currently coordinating a training programme in research ethics for <a class="new" href="/~commun26/wiki/index.php?title=HIV/AIDS&amp;action=edit&amp;redlink=1" title="HIV/AIDS (page does not exist)">HIV/AIDS</a> researchers for a collaborative project of <a class="new" href="/~commun26/wiki/index.php?title=Samuha&amp;action=edit&amp;redlink=1" title="Samuha (page does not exist)">Samuha</a>, Bangalore and University of California, San Francisco.</p>

          <p>Dr. Amar Jesani graduated from <a class="new" href="/~commun26/wiki/index.php?title=Baroda_Medical_College&amp;action=edit&amp;redlink=1" title="Baroda Medical College (page does not exist)">Baroda Medical College</a> in
            Gujarat and has been doing health research since 1979. Has been involved in research and teaching in health and development, bio-ethics and ethics in social sciences, health and human rights, health policies in India and gender
            and medical education. He has contributed to a number of government committees on health and has assisted the international Human Rights Steering Group of the <a class="new" href="/~commun26/wiki/index.php?title=British_Medical_Association&amp;action=edit&amp;redlink=1" title="British Medical Association (page does not exist)">British Medical Association</a> in preparing "The Medical Profession
            and Human Rights: A Handbook For A Changing Agenda" in 2001. He is also a member of the International Working Group of the <a class="new" href="/~commun26/wiki/index.php?title=Physicians_for_Human_Rights&amp;action=edit&amp;redlink=1" title="Physicians for Human Rights (page does not exist)">Physicians for Human Rights</a>, USA and a faculty at the University
            of Cape Town.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Amar_Jesani&amp;oldid=249">http://www.communityhealth.in/~commun26/wiki/index.php?title=Amar_Jesani&amp;oldid=249</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_ethics" title="Category:Medical ethics">Medical ethics</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>