<!--
title: Anubhav Series
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Anubhav Series</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Non Governmental Organizations (NGO's) have been the source for considerable experiential learning, and there was a concern about need to systematically analyse, document and disseminate the experiences of NGO's, that can
            be useful to service providers in operationalising programmes more effectively and also for integrating these experiences within the main stream community health programmes.</p>

          <p>The ford foundation initiated a series of case studies with a criterion that they should have lessons to offer and project should actively participate in documentation. The selected case studies were examples of what can be
            accomplished in diverse resource poor setting. It attempts to disseminate the experiences of these voluntary organizations, with the goal of contributing to greater understanding of their work and thereby improving the delivery
            of health and community development services in India. In the documentation endeavor, effort has been made to stress on the process of development services in India and on the process of development of these voluntary
            organizations rather than development alone The case studies included</p>

          <p>1.Action for welfare and awakening in rural environment 2.Banvasi Seva ashram 3.Community based contraceptive distribution programme of the family planning association of India and Banaras Hindu University. 4.Comprehensive
            labor welfare scheme of the united planters association of southern India 5.Comprehensive Health and Development Project at Pachod 6.Child in Need institute 7.King Edward Memorial Hospital: Rural Health Project 8.Local biradari
            prakalp 9.Mini Health Centers Programme of Voluntary health Services 10. Parivar Sevs Sanshtha 11. Rayagad Ambikapur Health Association 12. unit for health and Social Affiars 13. Stree hitkarini- Women’s association at Bombay
            slum 14. Seva Mandir 15. Society for Education welfare and action – Rural 16. Vivekanand Girijana Kalyana Kendra 17. Urmool Trust etc</p>

          <p>The Issues addressed in Anubhav Series include; the genesis of the project and its evolution, its organizational structure, staffing pattern, funding and cost structures, the range and mode of service delivery, institutional
            relationship with government and other institutions, community participation, information systems and Programme impact. It also Focused on particular problems and constraints, and unique or unusual responsive innovations and
            intervention strategies. The case studies were developed by drawing upon all available written material on projects and through field visits to discuss and interact with staff and field staff who were engaged with day to day
            implementation. The Anubhav Series was Published by Voluntary Health Association of India. The Initial case studies focused on organizations later issues covered thematic areas like malaria, Tribal people, Nutrition,
            rehabilitation, Community Health Workers etc. A book <b>Reaching India's Poor Non Governmental Approaches to Community health, Edited by Saroj Pachuri in 1994 by Sage Publications</b> included 12 selected case studies. The
            book also involves cross cutting issues and provide comparative analysis and discussion of policy implications of emerging issues.</p>

          <p>Source: Reaching India's Poor: Non-governmental Approaches to Community Health by Saroj Pachauri. Published by Sage Publications (1994). &amp; Miscellaneous Internet sources</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Anubhav_Series&amp;oldid=1881">http://www.communityhealth.in/~commun26/wiki/index.php?title=Anubhav_Series&amp;oldid=1881</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>