<!--
title: Anusandhan Trust
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Anusandhan Trust</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Institutes of Anusandhan Trust:</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Enquiry_into_Health_and_Allied_Themes" title="Centre for Enquiry into Health and Allied Themes">Centre for Enquiry into Health and Allied Themes</a> (CEHAT), Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Studies_in_Ethics_and_Rights" title="Centre for Studies in Ethics and Rights">Centre for Studies in Ethics and Rights</a> (CSER), Mumbai</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Support_for_Advocacy_and_Training_to_Health_Initiatives&amp;action=edit&amp;redlink=1" title="Support for Advocacy and Training to Health Initiatives (page does not exist)">Support for Advocacy and Training to Health Initiatives</a> (SATHI), Pune</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.anusudhantrust.org" rel="nofollow">www.anusudhantrust.org</a> - Anusudhan Trust website</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Anusandhan_Trust&amp;oldid=403">http://www.communityhealth.in/~commun26/wiki/index.php?title=Anusandhan_Trust&amp;oldid=403</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>