<!--
title: As The Call, So The Echo (2005)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">As The Call, So The Echo (2005)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>As The Call, So The Echo (2005)</b> is a documentary film by Keir Moreano that tells the story of an American surgeon who volunteers in a poverty stricken hospital in central Vietnam. When a woman with a deadly cancer is
            presented to him, he must struggle to save her life, fighting to overcome a language barrier, limited equipment, and his deepest fears.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:AsTheCall.jpg"><img alt="" class="thumbimage" height="166" src="/~commun26/wiki/images/thumb/a/a3/AsTheCall.jpg/300px-AsTheCall.jpg" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:AsTheCall.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Dr. Alex Moreano</div>
            </div>
          </div>
          As the Call, So the Echo documents the transformative experience of an American ear, nose, and throat surgeon, Dr. Alex Moreano, during several weeks he spent as a volunteer physician in a Vietnamese hospital in 2003.
          <p>After practicing in a Seattle HMO for 20 years, Dr. Moreano planned to launch a private medical office there but decided instead to become a partner in another established practice in Albuquerque, New Mexico. Saddled with
            thousands of dollars worth of expensive medical equipment he had already purchased, Dr. Moreano opted to donate the supplies to a hospital in Hue, Vietnam via the Washington state not-for-profit charity organization MEDRIX.</p>

          <p>Two years later, upon finding that his equipment was still being held up in customs, he intervened, deciding in the process to personally train the Vietnamese clinicians to use the supplies and to consult on individual cases
            that could benefit from his expertise as well.</p>

          <p>In the film, Dr. Moreano discovers the reality of third world medicine rarely seen by Western doctors. Under-supplied clinics are presented with pathologies that have progressed far beyond the stages where they are usually
            treated in the United States and Europe. Dr. Moreano finds himself treating conditions he has rarely seen since medical school, if at all. Confronting both a language barrier and a lack of equipment, Huahe endeavors with the
            Vietnamese doctors to provide the best care possible against considerable odds.</p>

          <p>When a woman with a perilous tumor is presented to Dr. Moreano, his first reaction is informed by training which recoils from incurring liability when surgery is extremely risky. But after learning the woman has been waiting
            in the hospital for over a month, and recognizing the alternative is certain death, he reluctantly agrees to operate.</p>

          <p>As the Call, So the Echo unfolds against the backdrop of a hauntingly beautiful country that belies a war-torn history so familiar to Americans. We discover how much the Vietnamese remain a gentle and industrious people who
            defy the challenges of endemic poverty with a spirit of hospitality and grace. The film documents the personal journey of one American doctor, but also transports the viewer to a land we thought we knew, but do not know well at
            all. The images are as powerful as the story, and the result is a compelling documentary full of drama and hope.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links"> External Links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.asthecall.com/" rel="nofollow">www.asthecall.com</a> - Official website</li>

            <li> <a class="external text" href="http://www.youtube.com/watch?v=Dr7q6Rjrrzw" rel="nofollow">Watch the trailer on YouTube</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=As_The_Call,_So_The_Echo_(2005)&amp;oldid=1378">http://www.communityhealth.in/~commun26/wiki/index.php?title=As_The_Call,_So_The_Echo_(2005)&amp;oldid=1378</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>