<!--
title: Barefoot Doctors
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Barefoot Doctors</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Barefoot Doctors</b> is a documentary by Ambarien Al Qadar that attempts to understand the nature of community health and the role of a community health worker through the exploration of four community health initiatives
            being run in various parts of India - <a href="/~commun26/wiki/index.php?title=Prayas" title="Prayas">Prayas</a> in Chittorgarh, Rajasthan; <a class="mw-redirect" href="/~commun26/wiki/index.php?title=SEARCH" title="SEARCH">SEARCH</a> in Gadchiroli, Maharashtra; <a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a> in Sittilingi, Tamil Nadu and the <a class="new" href="/~commun26/wiki/index.php?title=Mitanin_programme&amp;action=edit&amp;redlink=1" title="Mitanin programme (page does not exist)">Mitanin programme</a> in Chhattisgarh. The documentary was produced as part of a project
            titled Community Centric Approaches To Health Care supported by <a class="new" href="/~commun26/wiki/index.php?title=HIVOS&amp;action=edit&amp;redlink=1" title="HIVOS (page does not exist)">HIVOS</a>.</p>

          <h2> <span class="mw-headline" id="Details">Details</span></h2>

          <ul>
            <li> Duration: 52 mins</li>

            <li> Language: Hindi/Marathi/English with English sub-titles</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Barefoot_Doctors&amp;oldid=1479">http://www.communityhealth.in/~commun26/wiki/index.php?title=Barefoot_Doctors&amp;oldid=1479</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>