<!--
title: Binayak Sen
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">Binayak Sen</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <p><b>Dr. Binayak Sen</b> is a pediatrician, public health specialist, human rights activist and national Vice-President of the <a class="new" href="/~commun26/wiki/index.php?title=People%E2%80%99s_Union_for_Civil_Liberties&amp;action=edit" title="People’s Union for Civil Liberties">People’s Union for Civil Liberties</a> (PUCL) based in Chhattisgarh. His work
              involves providing health care to the poorest of people, monitoring the health and nutrition status of the people of Chhattisgarh, and defending the human rights of indigenous tribal and other poor people. In May 2007, he was
              detained in connection with his human rights work, raising global concern about his welfare.</p>

            <p>Binayak Sen completed his medical studies at <a href="/~commun26/wiki/index.php?title=Christian_Medical_College%2C_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a> and went on to
              acquire an M.D. in Paediatrics from the same institution. From 1976 to 1978, he was a faculty member at the <a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a> at the Jawaharlal Nehru University, New Delhi. He left his academic appointment to work in a community based rural
              health centre in Hoshangabad district of Madhya Pradesh focusing on problems of <a class="new" href="/~commun26/wiki/index.php?title=Tuberculosis&amp;action=edit" title="Tuberculosis">tuberculosis</a>. He has been an active
              member of the <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>, a national organization of health professionals working towards an alternative health
              system responsive to the needs of the poor. Binayak Sen subsequently worked with mine workers in Dalli Rajahara and helped them set up and manage their own <a href="/~commun26/wiki/index.php?title=Shaheed_Hospital" title="Shaheed Hospital">Shaheed Hospital</a>. He then moved to a mission hospital in Tilda where he worked in Paediatrics and Community Health. After the death of Shankar Guha Niyogi with whom he was closely associated,
              Binayak moved to Raipur. From 1991, he has worked in developing relevant models of primary health care in Chhattisgarh. He was among those who initiated the community based health worker programme across Chhattisgarh, now
              well known as the <a class="new" href="/~commun26/wiki/index.php?title=Mitanin_programme&amp;action=edit" title="Mitanin programme">Mitanin programme</a>. He continues to provide health care to the children of the
              marginalised, especially the migrant labourers.</p>

            <p>He helped organize fact finding campaigns into human rights violations in Chattisgarh including custody deaths, fake encounters, hunger deaths, dysentery epidemics and malnutrition. He brought the large scale oppression and
              malgovernance within the so called Salwa Judoom in Dantewara to national and international attention. Dr. Sen and his wife, Dr. Ilina Sen, are the founders of <a class="new" href="/~commun26/wiki/index.php?title=Rupantar&amp;action=edit" title="Rupantar">Rupantar</a>, a community-based nongovernmental organization that has trained, deployed and monitored the work of community health workers
              spread throughout 20 villages. Rupantar’s activities include initiatives to counter alcohol abuse and violence against women, and to promote food security. Dr. Sen is an advisor to <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a>, a health care organization committed to developing a low-cost, effective, community health programme in the
              tribal and rural areas of Bilaspur district of Chhattisgarh. Dr. Sen was the recipient in 2004 of the Paul Harrison award for a lifetime of service to the rural poor. In 2007, Dr. Sen was awarded the R.R. Keithan Gold Medal
              by The Indian Academy of Social Sciences. The citation describes him as “one of the most eminent scientists” of India. In 2008, he was awarded the prestigious Jonathan Mann Award for Global Health and Human Rights for “ his
              years of service to poor and tribal communities in India, his effective leadership in establishing self-sustaining health care services where none existed, and his unwavering commitment to civil liberties and human rights…”</p>

            <p><br></br>
            </p>
            <a name="External_links"></a>
            <h2> <span class="mw-headline">External links</span></h2>

            <ul>
              <li> <a class="external text" href="http://www.binayaksen.net/" rel="nofollow" title="http://www.binayaksen.net/">www.binayaksen.net</a></li>

              <li> <a class="external text" href="http://www.freebinayaksen.org/" rel="nofollow" title="http://www.freebinayaksen.org/">www.freebinayaksen.org</a></li>

              <li> <a class="external text" href="http://www.savebinayak.ukaid.org.uk/" rel="nofollow" title="http://www.savebinayak.ukaid.org.uk/">www.savebinayak.ukaid.org.uk</a></li>

              <li> <a class="external text" href="http://www.petitiononline.com/Binayak/petition.html" rel="nofollow" title="http://www.petitiononline.com/Binayak/petition.html">www.petitiononline.com/Binayak/petition.html</a></li>
            </ul>

            <p><br></br>
              <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=communityhealth.in:Community_Portal" title="communityhealth.in:Community Portal"> Community
              Portal</a></i>.</p>

            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Binayak_Sen">http://www.communityhealth.in/~commun26/wiki/index.php?title=Binayak_Sen</a>"</div>

            <div id="catlinks">
              <p class="catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>: <span dir="ltr"><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></span> | <span dir="ltr"><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></span></p>
            </div>

            <div class="visualClear"></div>
          </div>
        </div>