<!--
title: Category:ICMR institutions
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:ICMR institutions</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>ICMR institutions</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "ICMR institutions"</h2>

              <p>The following 21 pages are in this category, out of 21 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Research_in_Medical_Entomology" title="Centre for Research in Medical Entomology">Centre for Research in Medical Entomology</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Enterovirus_Research_Centre" title="Enterovirus Research Centre">Enterovirus Research Centre</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Food_and_Drug_Toxicology_Research_Centre" title="Food and Drug Toxicology Research Centre">Food and Drug Toxicology Research Centre</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Genetic_Research_Centre" title="Genetic Research Centre">Genetic Research Centre</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research" title="Indian Council for Medical Research">Indian Council for Medical Research</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology" title="Institute of Cytology and Preventive Oncology">Institute of Cytology and Preventive Oncology</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Microbial_Containment_Complex" title="Microbial Containment Complex">Microbial Containment Complex</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_AIDS_Research_Institute" title="National AIDS Research Institute">National AIDS Research Institute</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Centre_for_Laboratory_Animal_Science" title="National Centre for Laboratory Animal Science">National Centre for Laboratory Animal Science</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_for_Research_in_Reproductive_Health" title="National Institute for Research in Reproductive Health">National Institute for Research in Reproductive
                            Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases" title="National Institute of Cholera and Enteric Diseases">National Institute of Cholera and Enteric Diseases</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Immunohaemotology" title="National Institute of Immunohaemotology">National Institute of Immunohaemotology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Malaria_Research" title="National Institute of Malaria Research">National Institute of Malaria Research</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Medical_Statistics" title="National Institute of Medical Statistics">National Institute of Medical Statistics</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health" title="National Institute of Occupational Health">National Institute of Occupational Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Virology" title="National Institute of Virology">National Institute of Virology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases" title="National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases">National JALMA
                            Institute for Leprosy &amp; Other Mycobacterial Diseases</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Rajendra_Memorial_Research_Institute_of_Medical_Sciences" title="Rajendra Memorial Research Institute of Medical Sciences">Rajendra Memorial Research Institute of
                            Medical Sciences</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre" title="Tuberculosis Research Centre">Tuberculosis Research Centre</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Vector_Control_Research_Centre" title="Vector Control Research Centre">Vector Control Research Centre</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:ICMR_institutions&amp;oldid=1051">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:ICMR_institutions&amp;oldid=1051</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>