<!--
title: Category:Central government programmes
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Central government programmes</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Central government programmes</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Central government programmes"</h2>

              <p>The following 4 pages are in this category, out of 4 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Integrated_Child_Development_Scheme" title="Integrated Child Development Scheme">Integrated Child Development Scheme</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Programme_for_Prevention_of_Blindness" title="National Programme for Prevention of Blindness">National Programme for Prevention of Blindness</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Rural_Health_Mission" title="National Rural Health Mission">National Rural Health Mission</a></li>
                </ul>

                <h3>R</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Revised_National_Tuberculosis_Control_Programme" title="Revised National Tuberculosis Control Programme">Revised National Tuberculosis Control Programme</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Central_government_programmes&amp;oldid=285">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Central_government_programmes&amp;oldid=285</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>