<!--
title: Category:International funding agencies
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:International funding agencies</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>International funding agencies</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "International funding agencies"</h2>

              <p>The following 4 pages are in this category, out of 4 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>F</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Ford_Foundation" title="Ford Foundation">Ford Foundation</a></li>
                </ul>

                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=International_Monetary_Fund" title="International Monetary Fund">International Monetary Fund</a></li>
                </ul>

                <h3>R</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Rockefeller_Foundation" title="Rockefeller Foundation">Rockefeller Foundation</a></li>
                </ul>

                <h3>W</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=World_Bank" title="World Bank">World Bank</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:International_funding_agencies&amp;oldid=1258">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:International_funding_agencies&amp;oldid=1258</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>