<!--
title: Category:Policy documents
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Policy documents</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Policy documents</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Policy documents"</h2>

              <p>The following 6 pages are in this category, out of 6 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Education_Policy_(1986)" title="National Education Policy (1986)">National Education Policy (1986)</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Education_Policy_for_Health_Sciences_(1989)" title="National Education Policy for Health Sciences (1989)">National Education Policy for Health Sciences (1989)</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Health_Policy_(2002)" title="National Health Policy (2002)">National Health Policy (2002)</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Pharmaceutical_Policy_(2002)" title="National Pharmaceutical Policy (2002)">National Pharmaceutical Policy (2002)</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Policy_and_Programmes_on_Ayurveda,_Yoga_and_Naturopathy,_Unani,_Siddha_and_Homeopathy_(2002)" title="National Policy and Programmes on Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (2002)">National Policy and Programmes on Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (2002)</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=National_Population_Policy_(2000)" title="National Population Policy (2000)">National Population Policy (2000)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Policy_documents&amp;oldid=1930">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Policy_documents&amp;oldid=1930</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>