<!--
title: Category:Government institutions
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Government institutions</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Government institutions</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has the following 2 subcategories, out of 2 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>G</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils">Government committees and councils</a></li>
                </ul>

                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>
                </ul>
              </div>
            </div>

            <div id="mw-pages">
              <h2>Pages in category "Government institutions"</h2>

              <p>The following 34 pages are in this category, out of 34 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Research_in_Medical_Entomology" title="Centre for Research in Medical Entomology">Centre for Research in Medical Entomology</a></li>
                        </ul>

                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Defense_Institute_of_Physiology_and_Allied_Sciences" title="Defense Institute of Physiology and Allied Sciences">Defense Institute of Physiology and Allied
                            Sciences</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Enterovirus_Research_Centre" title="Enterovirus Research Centre">Enterovirus Research Centre</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Food_and_Drug_Toxicology_Research_Centre" title="Food and Drug Toxicology Research Centre">Food and Drug Toxicology Research Centre</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Genetic_Research_Centre" title="Genetic Research Centre">Genetic Research Centre</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology" title="Institute of Cytology and Preventive Oncology">Institute of Cytology and Preventive Oncology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Medical_Sciences,_Banaras_Hindu_University" title="Institute of Medical Sciences, Banaras Hindu University">Institute of Medical Sciences, Banaras Hindu
                            University</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Lady_Reading_Health_School" title="Lady Reading Health School">Lady Reading Health School</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Microbial_Containment_Complex" title="Microbial Containment Complex">Microbial Containment Complex</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_AIDS_Research_Institute" title="National AIDS Research Institute">National AIDS Research Institute</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Centre_for_Laboratory_Animal_Science" title="National Centre for Laboratory Animal Science">National Centre for Laboratory Animal Science</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Informatics_Centre" title="National Informatics Centre">National Informatics Centre</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_for_Research_in_Reproductive_Health" title="National Institute for Research in Reproductive Health">National Institute for Research in Reproductive
                            Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases" title="National Institute of Cholera and Enteric Diseases">National Institute of Cholera and Enteric Diseases</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Communicable_Diseases" title="National Institute of Communicable Diseases">National Institute of Communicable Diseases</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Epidemiology" title="National Institute of Epidemiology">National Institute of Epidemiology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Planning" title="National Institute of Health and Family Planning">National Institute of Health and Family Planning</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Welfare" title="National Institute of Health and Family Welfare">National Institute of Health and Family Welfare</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Immunohaemotology" title="National Institute of Immunohaemotology">National Institute of Immunohaemotology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Malaria_Research" title="National Institute of Malaria Research">National Institute of Malaria Research</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Medical_Statistics" title="National Institute of Medical Statistics">National Institute of Medical Statistics</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health" title="National Institute of Occupational Health">National Institute of Occupational Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Virology" title="National Institute of Virology">National Institute of Virology</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases" title="National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases">National JALMA
                            Institute for Leprosy &amp; Other Mycobacterial Diseases</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Tuberculosis_Institute" title="National Tuberculosis Institute">National Tuberculosis Institute</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research" title="Post Graduate Institute of Medical Education and Research">Post Graduate Institute of Medical
                            Education and Research</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Rajendra_Memorial_Research_Institute_of_Medical_Sciences" title="Rajendra Memorial Research Institute of Medical Sciences">Rajendra Memorial Research Institute of
                            Medical Sciences</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Regional_Occupational_Health_Centre" title="Regional Occupational Health Centre">Regional Occupational Health Centre</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Registrar_General_of_India" title="Registrar General of India">Registrar General of India</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre" title="Tuberculosis Research Centre">Tuberculosis Research Centre</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Vector_Control_Research_Centre" title="Vector Control Research Centre">Vector Control Research Centre</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Government_institutions&amp;oldid=557">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Government_institutions&amp;oldid=557</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>