<!--
title: Category:Medical colleges
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Medical colleges</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Medical colleges</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Medical colleges"</h2>

              <p>The following 10 pages are in this category, out of 10 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana" title="Christian Medical College, Ludhiana">Christian Medical College, Ludhiana</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Medical_Sciences,_Banaras_Hindu_University" title="Institute of Medical Sciences, Banaras Hindu University">Institute of Medical Sciences, Banaras Hindu
                            University</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jawaharlal_Institute_of_Post-Graduate_Medical_Education_and_Research" title="Jawaharlal Institute of Post-Graduate Medical Education and Research">Jawaharlal
                            Institute of Post-Graduate Medical Education and Research</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences" title="Kempegowda Institute of Medical Sciences">Kempegowda Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences" title="Mahatma Gandhi Institute of Medical Sciences">Mahatma Gandhi Institute of Medical Sciences</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research" title="Post Graduate Institute of Medical Education and Research">Post Graduate Institute of Medical
                            Education and Research</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=St._John%27s_Medical_College" title="St. John's Medical College">St. John's Medical College</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Medical_colleges&amp;oldid=299">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Medical_colleges&amp;oldid=299</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>