<!--
title: Category:Uttar Pradesh
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Uttar Pradesh</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>States</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Uttar Pradesh"</h2>

              <p>The following 5 pages are in this category, out of 5 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>C</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana" title="Christian Medical College, Ludhiana">Christian Medical College, Ludhiana</a></li>
                </ul>

                <h3>H</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Harriet_Benson_Memorial_Hospital" title="Harriet Benson Memorial Hospital">Harriet Benson Memorial Hospital</a></li>
                </ul>

                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology" title="Institute of Cytology and Preventive Oncology">Institute of Cytology and Preventive Oncology</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=Institute_of_Medical_Sciences,_Banaras_Hindu_University" title="Institute of Medical Sciences, Banaras Hindu University">Institute of Medical Sciences, Banaras Hindu
                    University</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases" title="National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases">National JALMA
                    Institute for Leprosy &amp; Other Mycobacterial Diseases</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Uttar_Pradesh&amp;oldid=967">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Uttar_Pradesh&amp;oldid=967</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:States" title="Category:States">States</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>