<!--
title: Category:Traditional medicine
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Traditional medicine</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Traditional medicine</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Traditional medicine"</h2>

              <p>The following 3 pages are in this category, out of 3 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>F</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local Health
                    Traditions</a></li>
                </ul>

                <h3>P</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Portal:_Traditional_medicine" title="Portal: Traditional medicine">Portal: Traditional medicine</a></li>
                </ul>

                <h3>S</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Sambandh" title="Sambandh">Sambandh</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Traditional_medicine&amp;oldid=1233">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Traditional_medicine&amp;oldid=1233</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>