<!--
title: Category:Community based organisations
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Community based organisations</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">  
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Community based organisations"</h2>

              <p>The following 22 pages are in this category, out of 22 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Action_for_Community_Organisation_Rehabilitation_and_Development" title="Action for Community Organisation Rehabilitation and Development">Action for Community
                            Organisation Rehabilitation and Development</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Action_Northeast_Trust" title="Action Northeast Trust">Action Northeast Trust</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Belaku_Trust" title="Belaku Trust">Belaku Trust</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Central_Himalayan_Rural_Action_Group" title="Central Himalayan Rural Action Group">Central Himalayan Rural Action Group</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Chingari_Trust" title="Chingari Trust">Chingari Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed" title="Comprehensive Rural Health Project, Jamkhed">Comprehensive Rural Health Project, Jamkhed</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Harriet_Benson_Memorial_Hospital" title="Harriet Benson Memorial Hospital">Harriet Benson Memorial Hospital</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Holy_Cross_Comprehensive_Rural_Health_Project" title="Holy Cross Comprehensive Rural Health Project">Holy Cross Comprehensive Rural Health Project</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Lady_Willingdon_Hospital" title="Lady Willingdon Hospital">Lady Willingdon Hospital</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Mazdoor_Kisan_Shakti_Sangathan" title="Mazdoor Kisan Shakti Sangathan">Mazdoor Kisan Shakti Sangathan</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Padhar_Hospital" title="Padhar Hospital">Padhar Hospital</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects" title="Portal: Community health projects">Portal: Community health projects</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Sambhavna_Trust" title="Sambhavna Trust">Sambhavna Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sanchetana" title="Sanchetana">Sanchetana</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>S cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Shaheed_Hospital" title="Shaheed Hospital">Shaheed Hospital</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Society_for_Education,_Action_and_Research_in_Community_Health" title="Society for Education, Action and Research in Community Health">Society for Education, Action
                            and Research in Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Youth_Movement" title="Swami Vivekananda Youth Movement">Swami Vivekananda Youth Movement</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Wanless_Hospital,_Miraj_Medical_Centre" title="Wanless Hospital, Miraj Medical Centre">Wanless Hospital, Miraj Medical Centre</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Community_based_organisations&amp;oldid=442">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Community_based_organisations&amp;oldid=442</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>