<!--
title: Category:States
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:States</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Indian states</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has the following 21 subcategories, out of 21 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh">Andhra Pradesh</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam">Assam</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Bihar" title="Category:Bihar">Bihar</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Goa" title="Category:Goa">Goa</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Gujarat" title="Category:Gujarat">Gujarat</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Haryana" title="Category:Haryana">Haryana</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>H cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Himachal_Pradesh" title="Category:Himachal Pradesh">Himachal Pradesh</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Kerala" title="Category:Kerala">Kerala</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Madhya_Pradesh" title="Category:Madhya Pradesh">Madhya Pradesh</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:New_Delhi" title="Category:New Delhi">New Delhi</a></li>
                        </ul>

                        <h3>O</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Orissa" title="Category:Orissa">Orissa</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Puducherry" title="Category:Puducherry">Puducherry</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Punjab" title="Category:Punjab">Punjab</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Rajasthan" title="Category:Rajasthan">Rajasthan</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
                        </ul>

                        <h3>U</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Uttar_Pradesh" title="Category:Uttar Pradesh">Uttar Pradesh</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Category:Uttarakhand" title="Category:Uttarakhand">Uttarakhand</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:West_Bengal" title="Category:West Bengal">West Bengal</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:States&amp;oldid=287">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:States&amp;oldid=287</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>