<!--
title: Category:Mailing lists and discussion groups
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Mailing lists and discussion groups</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Mailing lists and discussion groups</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Mailing lists and discussion groups"</h2>

              <p>The following 5 pages are in this category, out of 5 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>D</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Diseasesurveillance_discussion_group" title="Diseasesurveillance discussion group">Diseasesurveillance discussion group</a></li>
                </ul>

                <h3>M</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Mfriendcircle_discussion_group" title="Mfriendcircle discussion group">Mfriendcircle discussion group</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=NetRUM_discussion_group" title="NetRUM discussion group">NetRUM discussion group</a></li>
                </ul>

                <h3>P</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Pha-ncc_discussion_group" title="Pha-ncc discussion group">Pha-ncc discussion group</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=PHM-Exchange_mailing_list" title="PHM-Exchange mailing list">PHM-Exchange mailing list</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups&amp;oldid=237">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups&amp;oldid=237</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>