<!--
title: Category:Digitized publications
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Digitized publications</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Digitized publications</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Digitized publications"</h2>

              <p>The following 35 pages are in this category, out of 35 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries" title="Alternative Approaches To Meeting Basic Health Needs In Developing Countries">Alternative Approaches To Meeting Basic Health Needs In Developing Countries</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Appropriate_Technology_For_Primary_Health_Care" title="Appropriate Technology For Primary Health Care">Appropriate Technology For Primary Health Care</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Ayurvedic_Research_Evaluation" title="Committee on Ayurvedic Research Evaluation">Committee on Ayurvedic Research Evaluation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Basic_Health_Services" title="Committee on Basic Health Services">Committee on Basic Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Drug_Regulatory_Issues" title="Committee on Drug Regulatory Issues">Committee on Drug Regulatory Issues</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Drugs_and_Pharmaceutical_Industry" title="Committee on Drugs and Pharmaceutical Industry">Committee on Drugs and Pharmaceutical Industry</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Integration_of_Health_Services" title="Committee on Integration of Health Services">Committee on Integration of Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Multi_Purpose_Health_Workers_under_Health_and_Family_Welfare_Programmes" title="Committee on Multi Purpose Health Workers under Health and Family Welfare Programmes">Committee on Multi Purpose Health Workers under Health and Family Welfare Programmes</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_to_Review_Staffing_Pattern_and_Financial_Provision_under_Family_Planning_Programme" title="Committee to Review Staffing Pattern and Financial Provision under Family Planning Programme">Committee to Review Staffing Pattern and Financial Provision under Family Planning Programme</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Consultative_Committee_of_Experts_to_Determine_Alternate_Strategies_under_National_Malaria_Eradication_Programme" title="Consultative Committee of Experts to Determine Alternate Strategies under National Malaria Eradication Programme">Consultative Committee of Experts to Determine Alternate Strategies under National
                            Malaria Eradication Programme</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Expert_Committee_on_Health_Manpower_Planning,_Production_and_Management" title="Expert Committee on Health Manpower Planning, Production and Management">Expert
                            Committee on Health Manpower Planning, Production and Management</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Expert_Committee_on_the_Public_Health_System" title="Expert Committee on the Public Health System">Expert Committee on the Public Health System</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Group_on_Medical_Education_and_Support_Manpower" title="Group on Medical Education and Support Manpower">Group on Medical Education and Support Manpower</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_By_The_People" title="Health By The People">Health By The People</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book" title="Health For All Now! A People's Health Resource Book">Health For All Now! A People's Health Resource
                            Book</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_for_All_Series" title="Health for All Series">Health for All Series</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy" title="Health For All: An Alternative Strategy">Health For All: An Alternative Strategy</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Development_Committee" title="Health Survey and Development Committee">Health Survey and Development Committee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Planning_Committee" title="Health Survey and Planning Committee">Health Survey and Planning Committee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=High_Power_Committee_on_Nursing_and_Nursing_Profession" title="High Power Committee on Nursing and Nursing Profession">High Power Committee on Nursing and Nursing
                            Profession</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=In_Search_Of_Diagnosis" title="In Search Of Diagnosis">In Search Of Diagnosis</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Medical_Education_Re-Examined" title="Medical Education Re-Examined">Medical Education Re-Examined</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medical_Education_Review_Committee" title="Medical Education Review Committee">Medical Education Review Committee</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Commission_on_Macroeconomics_and_Health" title="National Commission on Macroeconomics and Health">National Commission on Macroeconomics and Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Education_Policy_for_Health_Sciences_(1989)" title="National Education Policy for Health Sciences (1989)">National Education Policy for Health Sciences
                            (1989)</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Health_Policy_(1983)" title="National Health Policy (1983)">National Health Policy (1983)</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets" title="Second National Health Assembly booklets">Second National Health Assembly booklets</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Special_Committee_for_the_Preparation_of_the_Entry_of_National_Malaria_Eradication_Programme_into_Maintainence_Phase" title="Special Committee for the Preparation of the Entry of National Malaria Eradication Programme into Maintainence Phase">Special Committee for the Preparation of the Entry of National Malaria Eradication
                            Programme into Maintainence Phase</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sub-Committee_on_National_Health" title="Sub-Committee on National Health">Sub-Committee on National Health</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Task_Force_on_Conservation_and_Sustainable_Use_of_Medicinal_Plants" title="Task Force on Conservation and Sustainable Use of Medicinal Plants">Task Force on
                            Conservation and Sustainable Use of Medicinal Plants</a></li>
                        </ul>

                        <h3>U</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Under_The_Lens:_Health_and_Medicine" title="Under The Lens: Health and Medicine">Under The Lens: Health and Medicine</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Health_For_All_by_2000_AD" title="Working Group on Health For All by 2000 AD">Working Group on Health For All by 2000 AD</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Population_Policy" title="Working Group on Population Policy">Working Group on Population Policy</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Digitized_publications&amp;oldid=1292">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Digitized_publications&amp;oldid=1292</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>