<!--
title: Category:Rational drug use
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Rational drug use</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Rational drug use</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Rational drug use"</h2>

              <p>The following 6 pages are in this category, out of 6 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>A</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network" title="All India Drug Action Network">All India Drug Action Network</a></li>
                </ul>

                <h3>C</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Community_Development_Medical_Unit" title="Community Development Medical Unit">Community Development Medical Unit</a></li>
                </ul>

                <h3>D</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Drug_Action_Forum_%E2%80%93_Karnataka" title="Drug Action Forum – Karnataka">Drug Action Forum – Karnataka</a></li>
                </ul>

                <h3>L</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=LOCOST" title="LOCOST">LOCOST</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=NetRUM_discussion_group" title="NetRUM discussion group">NetRUM discussion group</a></li>
                </ul>

                <h3>P</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Rational_drug_use&amp;oldid=234">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Rational_drug_use&amp;oldid=234</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>