<!--
title: Category:Mental health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Mental health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Mental Health</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Mental health"</h2>

              <p>The following 3 pages are in this category, out of 3 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>B</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Basic_Needs" title="Basic Needs">Basic Needs</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences" title="National Institute of Mental Health and Neuro Sciences">National Institute of Mental Health and Neuro
                    Sciences</a></li>
                </ul>

                <h3>S</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Sangath" title="Sangath">Sangath</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Mental_health&amp;oldid=355">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Mental_health&amp;oldid=355</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>