<!--
title: Category:Karnataka
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Karnataka</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Karnataka</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Karnataka"</h2>

              <p>The following 25 pages are in this category, out of 25 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Belaku_Trust" title="Belaku Trust">Belaku Trust</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Public_Policy" title="Centre for Public Policy">Centre for Public Policy</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>
                        </ul>

                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Drug_Action_Forum_%E2%80%93_Karnataka" title="Drug Action Forum – Karnataka">Drug Action Forum – Karnataka</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Environment_Support_Group" title="Environment Support Group">Environment Support Group</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local
                            Health Traditions</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Grassroots_Research_And_Advocacy_Movement-_GRAAM" title="Grassroots Research And Advocacy Movement- GRAAM">Grassroots Research And Advocacy Movement- GRAAM</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=H._Sudarshan" title="H. Sudarshan">H. Sudarshan</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>H cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Holy_Cross_Comprehensive_Rural_Health_Project" title="Holy Cross Comprehensive Rural Health Project">Holy Cross Comprehensive Rural Health Project</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health_-IPH" title="Institute of Public Health -IPH">Institute of Public Health -IPH</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health,_Bangalore" title="Institute of Public Health, Bangalore">Institute of Public Health, Bangalore</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health,_KLE_University" title="Institute of Public Health, KLE University">Institute of Public Health, KLE University</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka" title="Janaarogya Andolana - Karnataka">Janaarogya Andolana - Karnataka</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences" title="Kempegowda Institute of Medical Sciences">Kempegowda Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=N._Girish" title="N. Girish">N. Girish</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences" title="National Institute of Mental Health and Neuro Sciences">National Institute of Mental Health and Neuro
                            Sciences</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health
                            Awareness, Research and Action</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Youth_Movement" title="Swami Vivekananda Youth Movement">Swami Vivekananda Youth Movement</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Thelma_Narayan" title="Thelma Narayan">Thelma Narayan</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Karnataka&amp;oldid=289">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Karnataka&amp;oldid=289</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:States" title="Category:States">States</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>