<!--
title: Category:NGOs
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:NGOs</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The main article for this category is <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Non-governmental_organisations" title="Non-governmental organisations">Non-governmental organisations</a>.</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has only the following subcategory.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>C</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>
                </ul>
              </div>
            </div>

            <div id="mw-pages">
              <h2>Pages in category "NGOs"</h2>

              <p>The following 61 pages are in this category, out of 61 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Action_for_Community_Organisation_Rehabilitation_and_Development" title="Action for Community Organisation Rehabilitation and Development">Action for Community
                            Organisation Rehabilitation and Development</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Action_Northeast_Trust" title="Action Northeast Trust">Action Northeast Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Action_Reserach_and_Training_for_Health" title="Action Reserach and Training for Health">Action Reserach and Training for Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Anusandhan_Trust" title="Anusandhan Trust">Anusandhan Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Association_for_India%27s_Development" title="Association for India's Development">Association for India's Development</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Basic_Needs" title="Basic Needs">Basic Needs</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Belaku_Trust" title="Belaku Trust">Belaku Trust</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Central_Himalayan_Rural_Action_Group" title="Central Himalayan Rural Action Group">Central Himalayan Rural Action Group</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Enquiry_into_Health_and_Allied_Themes" title="Centre for Enquiry into Health and Allied Themes">Centre for Enquiry into Health and Allied Themes</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Health_and_Social_Justice" title="Centre for Health and Social Justice">Centre for Health and Social Justice</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Studies_in_Ethics_and_Rights" title="Centre for Studies in Ethics and Rights">Centre for Studies in Ethics and Rights</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Child_In_Need_Institute" title="Child In Need Institute">Child In Need Institute</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Chingari_Trust" title="Chingari Trust">Chingari Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_Development_Medical_Unit" title="Community Development Medical Unit">Community Development Medical Unit</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed" title="Comprehensive Rural Health Project, Jamkhed">Comprehensive Rural Health Project, Jamkhed</a></li>
                        </ul>

                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Delhi_Science_Forum" title="Delhi Science Forum">Delhi Science Forum</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Drug_Action_Forum_%E2%80%93_Karnataka" title="Drug Action Forum – Karnataka">Drug Action Forum – Karnataka</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Eklavya" title="Eklavya">Eklavya</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Environment_Support_Group" title="Environment Support Group">Environment Support Group</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Forum_for_Medical_Ethics_Society" title="Forum for Medical Ethics Society">Forum for Medical Ethics Society</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Foundation_for_Research_in_Community_Health" title="Foundation for Research in Community Health">Foundation for Research in Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local
                            Health Traditions</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Gram_Vikas" title="Gram Vikas">Gram Vikas</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Grassroots_Research_And_Advocacy_Movement-_GRAAM" title="Grassroots Research And Advocacy Movement- GRAAM">Grassroots Research And Advocacy Movement- GRAAM</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=HALO_Medical_Foundation" title="HALO Medical Foundation">HALO Medical Foundation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Holy_Cross_Comprehensive_Rural_Health_Project" title="Holy Cross Comprehensive Rural Health Project">Holy Cross Comprehensive Rural Health Project</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Indian_Clinical_epidemiology_Network" title="Indian Clinical epidemiology Network">Indian Clinical epidemiology Network</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Red_Cross_Society" title="Indian Red Cross Society">Indian Red Cross Society</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Health_Management,_Pachod" title="Institute of Health Management, Pachod">Institute of Health Management, Pachod</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health_-IPH" title="Institute of Public Health -IPH">Institute of Public Health -IPH</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Kerala_Sastra_Sahitya_Parishad" title="Kerala Sastra Sahitya Parishad">Kerala Sastra Sahitya Parishad</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=LOCOST" title="LOCOST">LOCOST</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Mazdoor_Kisan_Shakti_Sangathan" title="Mazdoor Kisan Shakti Sangathan">Mazdoor Kisan Shakti Sangathan</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Health_Systems_Resource_Centre" title="National Health Systems Resource Centre">National Health Systems Resource Centre</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=People%27s_Union_for_Civil_Liberties" title="People's Union for Civil Liberties">People's Union for Civil Liberties</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Population_Council_of_India" title="Population Council of India">Population Council of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prayas" title="Prayas">Prayas</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Public_Health_Resource_Network" title="Public Health Resource Network">Public Health Resource Network</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Rural_Women%27s_Social_Education_Cell" title="Rural Women's Social Education Cell">Rural Women's Social Education Cell</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=SAHAJ" title="SAHAJ">SAHAJ</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sama_-_Resource_Group_for_Women_and_Health" title="Sama - Resource Group for Women and Health">Sama - Resource Group for Women and Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sambhavna_Trust" title="Sambhavna Trust">Sambhavna Trust</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sanchetana" title="Sanchetana">Sanchetana</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sangath" title="Sangath">Sangath</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=SATHI" title="SATHI">SATHI</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Self_Employed_Women%27s_Association" title="Self Employed Women's Association">Self Employed Women's Association</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health
                            Awareness, Research and Action</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Society_for_Education,_Action_and_Research_in_Community_Health" title="Society for Education, Action and Research in Community Health">Society for Education, Action
                            and Research in Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=State_Health_Resource_Centre,_Chhattisgarh" title="State Health Resource Centre, Chhattisgarh">State Health Resource Centre, Chhattisgarh</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Youth_Movement" title="Swami Vivekananda Youth Movement">Swami Vivekananda Youth Movement</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Thanal" title="Thanal">Thanal</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Trust_for_Reaching_the_Unreached" title="Trust for Reaching the Unreached">Trust for Reaching the Unreached</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India" title="Voluntary Health Association of India">Voluntary Health Association of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Services" title="Voluntary Health Services">Voluntary Health Services</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:NGOs&amp;oldid=436">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:NGOs&amp;oldid=436</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>