<!--
title: Category:Government committees and councils
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Government committees and councils</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">  
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Government committees and councils"</h2>

              <p>The following 25 pages are in this category, out of 25 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Ayurvedic_Research_Evaluation" title="Committee on Ayurvedic Research Evaluation">Committee on Ayurvedic Research Evaluation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Basic_Health_Services" title="Committee on Basic Health Services">Committee on Basic Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Drug_Regulatory_Issues" title="Committee on Drug Regulatory Issues">Committee on Drug Regulatory Issues</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Drugs_and_Pharmaceutical_Industry" title="Committee on Drugs and Pharmaceutical Industry">Committee on Drugs and Pharmaceutical Industry</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Integration_of_Health_Services" title="Committee on Integration of Health Services">Committee on Integration of Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Multi_Purpose_Health_Workers_under_Health_and_Family_Welfare_Programmes" title="Committee on Multi Purpose Health Workers under Health and Family Welfare Programmes">Committee on Multi Purpose Health Workers under Health and Family Welfare Programmes</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_to_Review_Staffing_Pattern_and_Financial_Provision_under_Family_Planning_Programme" title="Committee to Review Staffing Pattern and Financial Provision under Family Planning Programme">Committee to Review Staffing Pattern and Financial Provision under Family Planning Programme</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Consultative_Committee_of_Experts_to_Determine_Alternate_Strategies_under_National_Malaria_Eradication_Programme" title="Consultative Committee of Experts to Determine Alternate Strategies under National Malaria Eradication Programme">Consultative Committee of Experts to Determine Alternate Strategies under National
                            Malaria Eradication Programme</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Expert_Committee_on_Health_Manpower_Planning,_Production_and_Management" title="Expert Committee on Health Manpower Planning, Production and Management">Expert
                            Committee on Health Manpower Planning, Production and Management</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>E cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Expert_Committee_on_the_Public_Health_System" title="Expert Committee on the Public Health System">Expert Committee on the Public Health System</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Group_on_Medical_Education_and_Support_Manpower" title="Group on Medical Education and Support Manpower">Group on Medical Education and Support Manpower</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Development_Committee" title="Health Survey and Development Committee">Health Survey and Development Committee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Planning_Committee" title="Health Survey and Planning Committee">Health Survey and Planning Committee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=High_Power_Committee_on_Nursing_and_Nursing_Profession" title="High Power Committee on Nursing and Nursing Profession">High Power Committee on Nursing and Nursing
                            Profession</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research" title="Indian Council for Medical Research">Indian Council for Medical Research</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Council_for_Social_Science_Research" title="Indian Council for Social Science Research">Indian Council for Social Science Research</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Medical_Council_of_India" title="Medical Council of India">Medical Council of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medical_Education_Review_Committee" title="Medical Education Review Committee">Medical Education Review Committee</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Commission_on_Macroeconomics_and_Health" title="National Commission on Macroeconomics and Health">National Commission on Macroeconomics and Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Human_Rights_Commission" title="National Human Rights Commission">National Human Rights Commission</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Special_Committee_for_the_Preparation_of_the_Entry_of_National_Malaria_Eradication_Programme_into_Maintainence_Phase" title="Special Committee for the Preparation of the Entry of National Malaria Eradication Programme into Maintainence Phase">Special Committee for the Preparation of the Entry of National Malaria Eradication
                            Programme into Maintainence Phase</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sub-Committee_on_National_Health" title="Sub-Committee on National Health">Sub-Committee on National Health</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Task_Force_on_Conservation_and_Sustainable_Use_of_Medicinal_Plants" title="Task Force on Conservation and Sustainable Use of Medicinal Plants">Task Force on
                            Conservation and Sustainable Use of Medicinal Plants</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Health_For_All_by_2000_AD" title="Working Group on Health For All by 2000 AD">Working Group on Health For All by 2000 AD</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Population_Policy" title="Working Group on Population Policy">Working Group on Population Policy</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Government_committees_and_councils&amp;oldid=806">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Government_committees_and_councils&amp;oldid=806</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>