<!--
title: Category:Primary health care
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Primary health care</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Main article: <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">Primary health care</a></p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Primary health care"</h2>

              <p>The following 3 pages are in this category, out of 3 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>P</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">Primary health care</a></li>
                </ul>

                <h3>Q</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Questioning_The_Solution" title="Questioning The Solution">Questioning The Solution</a></li>
                </ul>

                <h3>R</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Revitalising_Health_for_All_-_Learning_from_Comprehensive_Primary_Health_Care_Experiences_research_project" title="Revitalising Health for All - Learning from Comprehensive Primary Health Care Experiences research project">Revitalising Health for All - Learning from Comprehensive Primary Health Care Experiences research
                    project</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Primary_health_care&amp;oldid=316">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Primary_health_care&amp;oldid=316</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Topics&amp;action=edit&amp;redlink=1" title="Category:Topics (page does not exist)">Topics</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>