<!--
title: Category:Academic institutions
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Academic institutions</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Academic institutions</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has the following 2 subcategories, out of 2 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>F</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Foreign_academic_institutions" title="Category:Foreign academic institutions">Foreign academic institutions</a></li>
                </ul>

                <h3>M</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>
                </ul>
              </div>
            </div>

            <div id="mw-pages">
              <h2>Pages in category "Academic institutions"</h2>

              <p>The following 32 pages are in this category, out of 32 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Achutha_Menon_Centre_for_Health_Science_Studies" title="Achutha Menon Centre for Health Science Studies">Achutha Menon Centre for Health Science Studies</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Birla_Institute_of_Technology_and_Sciences" title="Birla Institute of Technology and Sciences">Birla Institute of Technology and Sciences</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Public_Policy" title="Centre for Public Policy">Centre for Public Policy</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana" title="Christian Medical College, Ludhiana">Christian Medical College, Ludhiana</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Delhi" title="Indian Institute of Public Health, Delhi">Indian Institute of Public Health, Delhi</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Gandhinagar" title="Indian Institute of Public Health, Gandhinagar">Indian Institute of Public Health, Gandhinagar</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Hyderabad" title="Indian Institute of Public Health, Hyderabad">Indian Institute of Public Health, Hyderabad</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>I cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Health_Management_Research,_Jaipur" title="Institute of Health Management Research, Jaipur">Institute of Health Management Research, Jaipur</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Medical_Sciences,_Banaras_Hindu_University" title="Institute of Medical Sciences, Banaras Hindu University">Institute of Medical Sciences, Banaras Hindu
                            University</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health,_Bangalore" title="Institute of Public Health, Bangalore">Institute of Public Health, Bangalore</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health,_KLE_University" title="Institute of Public Health, KLE University">Institute of Public Health, KLE University</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Interdisciplinary_School_of_Health_Sciences" title="Interdisciplinary School of Health Sciences">Interdisciplinary School of Health Sciences</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jawaharlal_Institute_of_Post-Graduate_Medical_Education_and_Research" title="Jawaharlal Institute of Post-Graduate Medical Education and Research">Jawaharlal
                            Institute of Post-Graduate Medical Education and Research</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences" title="Kempegowda Institute of Medical Sciences">Kempegowda Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies" title="Madras Institute of Development Studies">Madras Institute of Development Studies</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences" title="Mahatma Gandhi Institute of Medical Sciences">Mahatma Gandhi Institute of Medical Sciences</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Communicable_Diseases" title="National Institute of Communicable Diseases">National Institute of Communicable Diseases</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Epidemiology" title="National Institute of Epidemiology">National Institute of Epidemiology</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Welfare" title="National Institute of Health and Family Welfare">National Institute of Health and Family Welfare</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences" title="National Institute of Mental Health and Neuro Sciences">National Institute of Mental Health and Neuro
                            Sciences</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research" title="Post Graduate Institute of Medical Education and Research">Post Graduate Institute of Medical
                            Education and Research</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Public_Health_Foundation_of_India" title="Public Health Foundation of India">Public Health Foundation of India</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Rajagiri_School_of_Social_Sciences" title="Rajagiri School of Social Sciences">Rajagiri School of Social Sciences</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=School_of_Public_Health,_SRM_University" title="School of Public Health, SRM University">School of Public Health, SRM University</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=St._John%27s_Medical_College" title="St. John's Medical College">St. John's Medical College</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a></li>
                        </ul>

                        <h3>Y</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Yashwantrao_Chavan_Maharashtra_Open_University" title="Yashwantrao Chavan Maharashtra Open University">Yashwantrao Chavan Maharashtra Open University</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Academic_institutions&amp;oldid=292">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Academic_institutions&amp;oldid=292</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>