<!--
title: Category:Puducherry
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Puducherry</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>States</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Puducherry"</h2>

              <p>The following 2 pages are in this category, out of 2 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>J</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Jawaharlal_Institute_of_Post-Graduate_Medical_Education_and_Research" title="Jawaharlal Institute of Post-Graduate Medical Education and Research">Jawaharlal Institute of
                    Post-Graduate Medical Education and Research</a></li>
                </ul>

                <h3>V</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Vector_Control_Research_Centre" title="Vector Control Research Centre">Vector Control Research Centre</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Puducherry&amp;oldid=969">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Puducherry&amp;oldid=969</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:States" title="Category:States">States</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>