<!--
title: Category:Communicable diseases
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Communicable diseases</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Communicable diseases</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has the following 7 subcategories, out of 7 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Diarrhoeal_diseases" title="Category:Diarrhoeal diseases">Diarrhoeal diseases</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:HIV/AIDS" title="Category:HIV/AIDS">HIV/AIDS</a></li>
                        </ul>

                        <h3>K</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Kala-azar" title="Category:Kala-azar">Kala-azar</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Leprosy" title="Category:Leprosy">Leprosy</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Malaria" title="Category:Malaria">Malaria</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Poliomyelitis" title="Category:Poliomyelitis">Poliomyelitis</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Category:Tuberculosis" title="Category:Tuberculosis">Tuberculosis</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Communicable_diseases&amp;oldid=1100">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Communicable_diseases&amp;oldid=1100</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>