<!--
title: Category:People
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:People</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>People</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "People"</h2>

              <p>The following 36 pages are in this category, out of 36 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Abhay_Shukla" title="Abhay Shukla">Abhay Shukla</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Amar_Jesani" title="Amar Jesani">Amar Jesani</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Anurag_Bhargav" title="Anurag Bhargav">Anurag Bhargav</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Binayak_Sen" title="Binayak Sen">Binayak Sen</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Bishwaroop_Chatterjee" title="Bishwaroop Chatterjee">Bishwaroop Chatterjee</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=C._Sathyamala" title="C. Sathyamala">C. Sathyamala</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Carl_Taylor" title="Carl Taylor">Carl Taylor</a></li>
                        </ul>

                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Dhruv_Mankad" title="Dhruv Mankad">Dhruv Mankad</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=H._Sudarshan" title="H. Sudarshan">H. Sudarshan</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Helen_Lambert" title="Helen Lambert">Helen Lambert</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jennifer_Liang" title="Jennifer Liang">Jennifer Liang</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=John_Vattamattan" title="John Vattamattan">John Vattamattan</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=M._Geyanand" title="M. Geyanand">M. Geyanand</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Mira_Shiva" title="Mira Shiva">Mira Shiva</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=N._Girish" title="N. Girish">N. Girish</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Noshir_Antia" title="Noshir Antia">Noshir Antia</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Padma_Prakash" title="Padma Prakash">Padma Prakash</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Padmini_Swaminathan" title="Padmini Swaminathan">Padmini Swaminathan</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Biographies" title="Portal: Biographies">Portal: Biographies</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement" title="Portal: People within the community health movement">Portal: People within the community health
                            movement</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prabir_Chatterjee" title="Prabir Chatterjee">Prabir Chatterjee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Raju_Narzary" title="Raju Narzary">Raju Narzary</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Raman_Kataria" title="Raman Kataria">Raman Kataria</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>R cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Ramani_Atkuri" title="Ramani Atkuri">Ramani Atkuri</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Ravi_D%27Souza" title="Ravi D'Souza">Ravi D'Souza</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Ravi_Duggal" title="Ravi Duggal">Ravi Duggal</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Sarah_Hodges" title="Sarah Hodges">Sarah Hodges</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sebastian_Ouseperambil" title="Sebastian Ouseperambil">Sebastian Ouseperambil</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Shyam_Ashtekar" title="Shyam Ashtekar">Shyam Ashtekar</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sunil_Kaul" title="Sunil Kaul">Sunil Kaul</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Thelma_Narayan" title="Thelma Narayan">Thelma Narayan</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Veena_Shatrugna" title="Veena Shatrugna">Veena Shatrugna</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Vulimuri_Ramalingaswami" title="Vulimuri Ramalingaswami">Vulimuri Ramalingaswami</a></li>
                        </ul>

                        <h3>Y</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Yogesh_Jain" title="Yogesh Jain">Yogesh Jain</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:People&amp;oldid=77">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:People&amp;oldid=77</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>