<!--
title: Category:West Bengal
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:West Bengal</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>West Bengal</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "West Bengal"</h2>

              <p>The following 5 pages are in this category, out of 5 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>A</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a></li>
                </ul>

                <h3>C</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Child_In_Need_Institute" title="Child In Need Institute">Child In Need Institute</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=Community_Development_Medical_Unit" title="Community Development Medical Unit">Community Development Medical Unit</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases" title="National Institute of Cholera and Enteric Diseases">National Institute of Cholera and Enteric Diseases</a></li>
                </ul>

                <h3>P</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Prabir_Chatterjee" title="Prabir Chatterjee">Prabir Chatterjee</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:West_Bengal&amp;oldid=972">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:West_Bengal&amp;oldid=972</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:States" title="Category:States">States</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>