<!--
title: Category:Hospitals
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Hospitals</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Hospitals</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Hospitals"</h2>

              <p>The following 7 pages are in this category, out of 7 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Harriet_Benson_Memorial_Hospital" title="Harriet Benson Memorial Hospital">Harriet Benson Memorial Hospital</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Lady_Willingdon_Hospital" title="Lady Willingdon Hospital">Lady Willingdon Hospital</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Padhar_Hospital" title="Padhar Hospital">Padhar Hospital</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Shaheed_Hospital" title="Shaheed Hospital">Shaheed Hospital</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Wanless_Hospital,_Miraj_Medical_Centre" title="Wanless Hospital, Miraj Medical Centre">Wanless Hospital, Miraj Medical Centre</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Hospitals&amp;oldid=365">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Hospitals&amp;oldid=365</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>