<!--
title: Category:Films
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Films</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Films</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Films"</h2>

              <p>The following 11 pages are in this category, out of 11 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=As_The_Call,_So_The_Echo_(2005)" title="As The Call, So The Echo (2005)">As The Call, So The Echo (2005)</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=ASHA_WORKERS_SPEAK_AT_DUBLIN_(2017)" title="ASHA WORKERS SPEAK AT DUBLIN (2017)">ASHA WORKERS SPEAK AT DUBLIN (2017)</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Barefoot_Doctors" title="Barefoot Doctors">Barefoot Doctors</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_Matters" title="Health Matters">Health Matters</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>H cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Hospital_(1970)" title="Hospital (1970)">Hospital (1970)</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Living_with_AIDS_(2006)" title="Living with AIDS (2006)">Living with AIDS (2006)</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Films_on_health" title="Portal: Films on health">Portal: Films on health</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Sicko_(2007)" title="Sicko (2007)">Sicko (2007)</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>S cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Smile_Pinki_(2009)" title="Smile Pinki (2009)">Smile Pinki (2009)</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=The_Human_Question_(2006)" title="The Human Question (2006)">The Human Question (2006)</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Titicut_Follies_(1967)" title="Titicut Follies (1967)">Titicut Follies (1967)</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Films&amp;oldid=627">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Films&amp;oldid=627</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>