<!--
title: Category:Diarrhoeal diseases
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Diarrhoeal diseases</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Diarrhoeal diseases</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Diarrhoeal diseases"</h2>

              <p>The following 2 pages are in this category, out of 2 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>D</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Diarrhoea" title="Diarrhoea">Diarrhoea</a></li>
                </ul>

                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases" title="National Institute of Cholera and Enteric Diseases">National Institute of Cholera and Enteric Diseases</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Diarrhoeal_diseases&amp;oldid=1104">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Diarrhoeal_diseases&amp;oldid=1104</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Communicable_diseases" title="Category:Communicable diseases">Communicable diseases</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>