<!--
title: Category:Tuberculosis
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Tuberculosis</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Tuberculosis</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Tuberculosis"</h2>

              <p>The following 3 pages are in this category, out of 3 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>N</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=National_Tuberculosis_Institute" title="National Tuberculosis Institute">National Tuberculosis Institute</a></li>
                </ul>

                <h3>R</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Revised_National_Tuberculosis_Control_Programme" title="Revised National Tuberculosis Control Programme">Revised National Tuberculosis Control Programme</a></li>
                </ul>

                <h3>T</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre" title="Tuberculosis Research Centre">Tuberculosis Research Centre</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Tuberculosis&amp;oldid=1099">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Tuberculosis&amp;oldid=1099</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Communicable_diseases" title="Category:Communicable diseases">Communicable diseases</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>