<!--
title: Category:Textbooks and manuals
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Textbooks and manuals</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Textbooks and manuals on <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a>.</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Textbooks and manuals"</h2>

              <p>The following 7 pages are in this category, out of 7 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Fiona:_A_Manual_For_The_Managers_Of_Community_Based_Primary_Health_Care_Projects" title="Fiona: A Manual For The Managers Of Community Based Primary Health Care Projects">Fiona: A Manual For The Managers Of Community Based Primary Health Care Projects</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Global_Health:_An_Introductory_Textbook" title="Global Health: An Introductory Textbook">Global Health: An Introductory Textbook</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Joyful_Learning_Series" title="Joyful Learning Series">Joyful Learning Series</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Manual_For_Community_Health_Workers" title="Manual For Community Health Workers">Manual For Community Health Workers</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Park%27s_Textbook_of_Preventive_and_Social_Medicine" title="Park's Textbook of Preventive and Social Medicine">Park's Textbook of Preventive and Social Medicine</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=People%27s_Initiatives_in_Primary_Health_Care" title="People's Initiatives in Primary Health Care">People's Initiatives in Primary Health Care</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=The_Primary_Health_Worker" title="The Primary Health Worker">The Primary Health Worker</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Textbooks_and_manuals&amp;oldid=908">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Textbooks_and_manuals&amp;oldid=908</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>