<!--
title: Category:Glossary
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Glossary</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Glossary</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Glossary"</h2>

              <p>The following 29 pages are in this category, out of 29 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Autonomy" title="Autonomy">Autonomy</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Clinical_trials" title="Clinical trials">Clinical trials</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Common_Good" title="Common Good">Common Good</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community" title="Community">Community</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">Community health</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Equity" title="Equity">Equity</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Food" title="Food">Food</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Gender" title="Gender">Gender</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health" title="Health">Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>H cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For All movement</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Promotion" title="Health Promotion">Health Promotion</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_system" title="Health system">Health system</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Immunisation" title="Immunisation">Immunisation</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Non-governmental_organisation" title="Non-governmental organisation">Non-governmental organisation</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Peoples_Health_Assembly" title="Peoples Health Assembly">Peoples Health Assembly</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Politics_and_Health" title="Politics and Health">Politics and Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Poverty" title="Poverty">Poverty</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">Primary health care</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Public_health" title="Public health">Public health</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Right_to_Health" title="Right to Health">Right to Health</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Sanitation" title="Sanitation">Sanitation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sexual_assault" title="Sexual assault">Sexual assault</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Social_Capital" title="Social Capital">Social Capital</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Social_determinants_of_health" title="Social determinants of health">Social determinants of health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Social_Support" title="Social Support">Social Support</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Solidarity" title="Solidarity">Solidarity</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Structural_violence" title="Structural violence">Structural violence</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Violence" title="Violence">Violence</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Glossary&amp;oldid=73">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Glossary&amp;oldid=73</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>