<!--
title: Category:People's Health Movement
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:People's Health Movement</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The main article in this category is <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a>.</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has only the following subcategory.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>J</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks" title="Category:Jan Swasthya Abhiyan national networks">Jan Swasthya Abhiyan national networks</a></li>
                </ul>
              </div>
            </div>

            <div id="mw-pages">
              <h2>Pages in category "People&#39;s Health Movement"</h2>

              <p>The following 40 pages are in this category, out of 40 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=All_India_Democratic_Women%E2%80%99s_Association" title="All India Democratic Women’s Association">All India Democratic Women’s Association</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network" title="All India Drug Action Network">All India Drug Action Network</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_People%E2%80%99s_Science_Network" title="All India People’s Science Network">All India People’s Science Network</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Asian_Community_Health_Action_Network" title="Asian Community Health Action Network">Asian Community Health Action Network</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Association_for_India%27s_Development" title="Association for India's Development">Association for India's Development</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Bharat_Gyan_Vigyan_Samiti" title="Bharat Gyan Vigyan Samiti">Bharat Gyan Vigyan Samiti</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Breastfeeding_Promotion_Network_of_India" title="Breastfeeding Promotion Network of India">Breastfeeding Promotion Network of India</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India" title="Catholic Health Association of India">Catholic Health Association of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Enquiry_into_Health_and_Allied_Themes" title="Centre for Enquiry into Health and Allied Themes">Centre for Enquiry into Health and Allied Themes</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India" title="Christian Medical Association of India">Christian Medical Association of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Cuenca_Declaration_(2005)" title="Cuenca Declaration (2005)">Cuenca Declaration (2005)</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Drug_Action_Forum_%E2%80%93_Karnataka" title="Drug Action Forum – Karnataka">Drug Action Forum – Karnataka</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Federation_of_Medical_Representative_Associations_of_India" title="Federation of Medical Representative Associations of India">Federation of Medical Representative
                            Associations of India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Forum_for_Creche_and_Child_Care_Services" title="Forum for Creche and Child Care Services">Forum for Creche and Child Care Services</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book" title="Health For All Now! A People's Health Resource Book">Health For All Now! A People's Health Resource
                            Book</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_Revive_Alma_Ata" title="Health For All Now! Revive Alma Ata">Health For All Now! Revive Alma Ata</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)" title="Indian People's Health Charter (2000)">Indian People's Health Charter (2000)</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka" title="Janaarogya Andolana - Karnataka">Janaarogya Andolana - Karnataka</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Mumbai_Declaration_(2004)" title="Mumbai Declaration (2004)">Mumbai Declaration (2004)</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Alliance_of_People%27s_Movements" title="National Alliance of People's Movements">National Alliance of People's Movements</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>N cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=National_Federation_of_Indian_Women" title="National Federation of Indian Women">National Federation of Indian Women</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)" title="People’s Charter for Health (2000)">People’s Charter for Health (2000)</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Pha-ncc_discussion_group" title="Pha-ncc discussion group">Pha-ncc discussion group</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement" title="Portal: People's Health Movement">Portal: People's Health Movement</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prayas" title="Prayas">Prayas</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Ramakrishna_Mission" title="Ramakrishna Mission">Ramakrishna Mission</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Sama_-_Resource_Group_for_Women_and_Health" title="Sama - Resource Group for Women and Health">Sama - Resource Group for Women and Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets" title="Second National Health Assembly booklets">Second National Health Assembly booklets</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health
                            Awareness, Research and Action</a></li>
                        </ul>

                        <h3>V</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India" title="Voluntary Health Association of India">Voluntary Health Association of India</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement&amp;oldid=296">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement&amp;oldid=296</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>