<!--
title: Category:Health education
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Health education</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Health education</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Health education"</h2>

              <p>This category contains only the following page.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Health_education&amp;oldid=319">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Health_education&amp;oldid=319</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>