<!--
title: Category:Public health legislation
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Public health legislation</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Public health legislation</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Public health legislation"</h2>

              <p>The following 62 pages are in this category, out of 62 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Air_(Prevention_and_Control_of_Pollution)_Act,_1981" title="Air (Prevention and Control of Pollution) Act, 1981">Air (Prevention and Control of Pollution) Act,
                            1981</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences_Act,_1956" title="All India Institute of Medical Sciences Act, 1956">All India Institute of Medical Sciences Act, 1956</a></li>
                        </ul>

                        <h3>B</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Beedi_and_Cigar_Workers_(Conditions_of_Employment)_Act,_1966" title="Beedi and Cigar Workers (Conditions of Employment) Act, 1966">Beedi and Cigar Workers (Conditions
                            of Employment) Act, 1966</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Beedi_Workers_Welfare_Cess_Act,_1976" title="Beedi Workers Welfare Cess Act, 1976">Beedi Workers Welfare Cess Act, 1976</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Beedi_Workers_Welfare_Fund_Act,_1976" title="Beedi Workers Welfare Fund Act, 1976">Beedi Workers Welfare Fund Act, 1976</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Birth,_Deaths_and_Marriages_Registration_Act,_1886" title="Birth, Deaths and Marriages Registration Act, 1886">Birth, Deaths and Marriages Registration Act, 1886</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Bonded_Labour_System_(Abolition)_Act,_1976" title="Bonded Labour System (Abolition) Act, 1976">Bonded Labour System (Abolition) Act, 1976</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Census_Act,_1948" title="Census Act, 1948">Census Act, 1948</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Child_Labour_(Prohibition_and_Regulation)_Act,_1986" title="Child Labour (Prohibition and Regulation) Act, 1986">Child Labour (Prohibition and Regulation) Act,
                            1986</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Cigarettes_(Regulation_of_Production,_Supply_and_Distribution)_Act,_1975" title="Cigarettes (Regulation of Production, Supply and Distribution) Act, 1975">Cigarettes
                            (Regulation of Production, Supply and Distribution) Act, 1975</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Cigarettes_and_other_Tobacco_Products_(Prohibition_of_Advertisement_and_Regulation_of_Trade_and_Commerce,_Production,_Supply_and_Distribution)_Act,_2003" title="Cigarettes and other Tobacco Products (Prohibition of Advertisement and Regulation of Trade and Commerce, Production, Supply and Distribution) Act, 2003">Cigarettes and other Tobacco Products
                            (Prohibition of Advertisement and Regulation of Trade and Commerce, Production, Supply and Distribution) Act, 2003</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Commissions_for_Protection_of_Child_Rights_Act,_2005" title="Commissions for Protection of Child Rights Act, 2005">Commissions for Protection of Child Rights Act,
                            2005</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Consumer_Protection_Act,_1986" title="Consumer Protection Act, 1986">Consumer Protection Act, 1986</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Contract_Labour_(Regulation_and_Abolition)_Act,_1970" title="Contract Labour (Regulation and Abolition) Act, 1970">Contract Labour (Regulation and Abolition) Act,
                            1970</a></li>
                        </ul>

                        <h3>D</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Dentists_Act,_1948" title="Dentists Act, 1948">Dentists Act, 1948</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Destructive_Insects_and_Pests_Act,_1914" title="Destructive Insects and Pests Act, 1914">Destructive Insects and Pests Act, 1914</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Disaster_Management_Act,_2005" title="Disaster Management Act, 2005">Disaster Management Act, 2005</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Drugs_(Control)_Act,_1950" title="Drugs (Control) Act, 1950">Drugs (Control) Act, 1950</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Drugs_and_Cosmetics_Act,_1940" title="Drugs and Cosmetics Act, 1940">Drugs and Cosmetics Act, 1940</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Drugs_and_Magic_Remedies_(Objectionable_Advertisements)_Act,_1954" title="Drugs and Magic Remedies (Objectionable Advertisements) Act, 1954">Drugs and Magic Remedies
                            (Objectionable Advertisements) Act, 1954</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Employees%27_State_Insurance_Act,_1948" title="Employees' State Insurance Act, 1948">Employees' State Insurance Act, 1948</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>E cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Employment_of_Manual_Scavengers_and_Construction_of_Dry_Latrines_(Prohibition)_Act,_1993" title="Employment of Manual Scavengers and Construction of Dry Latrines (Prohibition) Act, 1993">Employment of Manual Scavengers and Construction of Dry Latrines (Prohibition) Act, 1993</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Epidemic_Diseases_Act,_1897" title="Epidemic Diseases Act, 1897">Epidemic Diseases Act, 1897</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Equal_Remuneration_Act,_1976" title="Equal Remuneration Act, 1976">Equal Remuneration Act, 1976</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Homeopathy_Central_Council_Act,_1973" title="Homeopathy Central Council Act, 1973">Homeopathy Central Council Act, 1973</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Immoral_Traffic_(Prevention)_Act,_1956" title="Immoral Traffic (Prevention) Act, 1956">Immoral Traffic (Prevention) Act, 1956</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Medical_Council_Act,_1956" title="Indian Medical Council Act, 1956">Indian Medical Council Act, 1956</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Medical_Degrees_Act,_1916" title="Indian Medical Degrees Act, 1916">Indian Medical Degrees Act, 1916</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Nursing_Council_Act,_1947" title="Indian Nursing Council Act, 1947">Indian Nursing Council Act, 1947</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Indian_Red_Cross_Society_Act,_1920" title="Indian Red Cross Society Act, 1920">Indian Red Cross Society Act, 1920</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Industrial_Disputes_Act,_1947" title="Industrial Disputes Act, 1947">Industrial Disputes Act, 1947</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Infant_Milk_Substitutes,_Feeding_Bottles_and_Infant_Foods_(Regulation_of_Production,_Supply_and_Distribution)_Act,_1992" title="Infant Milk Substitutes, Feeding Bottles and Infant Foods (Regulation of Production, Supply and Distribution) Act, 1992">Infant Milk Substitutes, Feeding Bottles and Infant Foods (Regulation of
                            Production, Supply and Distribution) Act, 1992</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Insecticides_Act,_1968" title="Insecticides Act, 1968">Insecticides Act, 1968</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Maternity_Benefit_Act,_1961" title="Maternity Benefit Act, 1961">Maternity Benefit Act, 1961</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medical_Termination_of_Pregnancy_Act,_1971" title="Medical Termination of Pregnancy Act, 1971">Medical Termination of Pregnancy Act, 1971</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Minimum_Wages_Act,_1948" title="Minimum Wages Act, 1948">Minimum Wages Act, 1948</a></li>
                        </ul>

                        <h3>N</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Narcotic_Drugs_and_Psychotropic_Substances_Act,_1985" title="Narcotic Drugs and Psychotropic Substances Act, 1985">Narcotic Drugs and Psychotropic Substances Act,
                            1985</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Environment_Tribunal_Act,_1995" title="National Environment Tribunal Act, 1995">National Environment Tribunal Act, 1995</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Institute_of_Pharmaceutical_Education_and_Research_Act,_1998" title="National Institute of Pharmaceutical Education and Research Act, 1998">National
                            Institute of Pharmaceutical Education and Research Act, 1998</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=National_Trust_for_Welfare_of_Persons_with_Autism,_Cerebral_Palsy,_Mental_Retardation_and_Multiple_Disabilities_Act,_1999" title="National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities Act, 1999">National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental
                            Retardation and Multiple Disabilities Act, 1999</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Payment_of_Wages_Act,_1936" title="Payment of Wages Act, 1936">Payment of Wages Act, 1936</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Personal_Injuries_(Compensation_Insurance)_Act,_1963" title="Personal Injuries (Compensation Insurance) Act, 1963">Personal Injuries (Compensation Insurance) Act,
                            1963</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Persons_With_Disabilities_(Equal_Opportunities,_Protection_of_Rights_and_Full_Participation)_Act,_1995" title="Persons With Disabilities (Equal Opportunities, Protection of Rights and Full Participation) Act, 1995">Persons With Disabilities (Equal Opportunities, Protection of Rights and Full Participation) Act,
                            1995</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Pharmacy_Act,_1948" title="Pharmacy Act, 1948">Pharmacy Act, 1948</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Public_health_legislation" title="Portal: Public health legislation">Portal: Public health legislation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research,_Chandigarh,_Act._1966" title="Post Graduate Institute of Medical Education and Research, Chandigarh, Act. 1966">Post Graduate Institute of Medical Education and Research, Chandigarh, Act. 1966</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Pre-conception_and_Pre-natal_Diagnostic_Techniques_(Prohibition_of_Sex_Selection)_Act,_1994" title="Pre-conception and Pre-natal Diagnostic Techniques (Prohibition of Sex Selection) Act, 1994">Pre-conception and Pre-natal Diagnostic Techniques (Prohibition of Sex Selection) Act, 1994</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Pre-natal_Diagnostic_Techniques_(Regulation_and_Prevention_of_Misuse)_Amendment_Act,_2002" title="Pre-natal Diagnostic Techniques (Regulation and Prevention of Misuse) Amendment Act, 2002">Pre-natal Diagnostic Techniques (Regulation and Prevention of Misuse) Amendment Act, 2002</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prevention_of_Food_Adulteration_Act,_1954" title="Prevention of Food Adulteration Act, 1954">Prevention of Food Adulteration Act, 1954</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Prevention_of_Illicit_Traffic_in_Narcotic_Drugs_and_Psychotropic_Substances_Act,_1988" title="Prevention of Illicit Traffic in Narcotic Drugs and Psychotropic Substances Act, 1988">Prevention of Illicit Traffic in Narcotic Drugs and Psychotropic Substances Act, 1988</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Protection_of_Women_from_Domestic_Violence_Act,_2005" title="Protection of Women from Domestic Violence Act, 2005">Protection of Women from Domestic Violence Act,
                            2005</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Registration_of_Births_and_Deaths_Act,_1969" title="Registration of Births and Deaths Act, 1969">Registration of Births and Deaths Act, 1969</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Rehabilitation_Council_of_India_Act,_1992" title="Rehabilitation Council of India Act, 1992">Rehabilitation Council of India Act, 1992</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Slum_Areas_(Improvement_and_Clearance)_Act,_1956" title="Slum Areas (Improvement and Clearance) Act, 1956">Slum Areas (Improvement and Clearance) Act, 1956</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Spirituous_Preparations_(Inter_State_Trade_and_Commerce)_Control_(Repeal)_Act,_2006" title="Spirituous Preparations (Inter State Trade and Commerce) Control (Repeal) Act, 2006">Spirituous Preparations (Inter State Trade and Commerce) Control (Repeal) Act, 2006</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=The_Food_Safety_and_Standards_Act,_2006" title="The Food Safety and Standards Act, 2006">The Food Safety and Standards Act, 2006</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Tobacco_Board_Act,_1975" title="Tobacco Board Act, 1975">Tobacco Board Act, 1975</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Trade_Unions_Act,_1926" title="Trade Unions Act, 1926">Trade Unions Act, 1926</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Transplantation_of_Human_Organs_Act,_1994" title="Transplantation of Human Organs Act, 1994">Transplantation of Human Organs Act, 1994</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Water_(Prevention_and_Control_of_Pollution)_Act,_1974" title="Water (Prevention and Control of Pollution) Act, 1974">Water (Prevention and Control of Pollution) Act,
                            1974</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Workmen%27s_Compensation_Act,_1923" title="Workmen's Compensation Act, 1923">Workmen's Compensation Act, 1923</a></li>
                        </ul>

                        <h3>Y</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Young_Persons_(Harmful_Publications)_Act,_1956" title="Young Persons (Harmful Publications) Act, 1956">Young Persons (Harmful Publications) Act, 1956</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Public_health_legislation&amp;oldid=477">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Public_health_legislation&amp;oldid=477</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>