<!--
title: Category:Books
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Books</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Books</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-subcategories">
              <h2>Subcategories</h2>

              <p>This category has the following 2 subcategories, out of 2 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>D</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
                </ul>

                <h3>T</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Category:Textbooks_and_manuals" title="Category:Textbooks and manuals">Textbooks and manuals</a></li>
                </ul>
              </div>
            </div>

            <div id="mw-pages">
              <h2>Pages in category "Books"</h2>

              <p>The following 60 pages are in this category, out of 60 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <table style="width: 100%;">
                  <tbody>
                    <tr style="vertical-align: top;">
                      <td style="width: 33.3%;">
                        <h3>A</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Health_Care" title="Alternative Approaches To Health Care">Alternative Approaches To Health Care</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries" title="Alternative Approaches To Meeting Basic Health Needs In Developing Countries">Alternative Approaches To Meeting Basic Health Needs In Developing Countries</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=An_Analysis_of_Health_Policies_and_Programmes_in_India_in_the_Eighties" title="An Analysis of Health Policies and Programmes in India in the Eighties">An Analysis of
                            Health Policies and Programmes in India in the Eighties</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Anubhav_Series" title="Anubhav Series">Anubhav Series</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Appropriate_Technology_For_Primary_Health_Care" title="Appropriate Technology For Primary Health Care">Appropriate Technology For Primary Health Care</a></li>
                        </ul>

                        <h3>C</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Ayurvedic_Research_Evaluation" title="Committee on Ayurvedic Research Evaluation">Committee on Ayurvedic Research Evaluation</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Basic_Health_Services" title="Committee on Basic Health Services">Committee on Basic Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Drugs_and_Pharmaceutical_Industry" title="Committee on Drugs and Pharmaceutical Industry">Committee on Drugs and Pharmaceutical Industry</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Committee_on_Integration_of_Health_Services" title="Committee on Integration of Health Services">Committee on Integration of Health Services</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Community_Participation_in_Health_and_Family_Welfare:_Innovative_Experiences_In_India" title="Community Participation in Health and Family Welfare: Innovative Experiences In India">Community Participation in Health and Family Welfare: Innovative Experiences In India</a></li>
                        </ul>

                        <h3>E</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Evaluation_Of_Primary_Health_Care_Programmes" title="Evaluation Of Primary Health Care Programmes">Evaluation Of Primary Health Care Programmes</a></li>
                        </ul>

                        <h3>F</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Fiona:_A_Manual_For_The_Managers_Of_Community_Based_Primary_Health_Care_Projects" title="Fiona: A Manual For The Managers Of Community Based Primary Health Care Projects">Fiona: A Manual For The Managers Of Community Based Primary Health Care Projects</a></li>
                        </ul>

                        <h3>G</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Global_Health:_An_Introductory_Textbook" title="Global Health: An Introductory Textbook">Global Health: An Introductory Textbook</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Group_on_Medical_Education_and_Support_Manpower" title="Group on Medical Education and Support Manpower">Group on Medical Education and Support Manpower</a></li>
                        </ul>

                        <h3>H</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_and_Family_Planning_Services_in_India" title="Health and Family Planning Services in India">Health and Family Planning Services in India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_By_The_People" title="Health By The People">Health By The People</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Care:_Which_Way_To_Go%3F" title="Health Care: Which Way To Go?">Health Care: Which Way To Go?</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book" title="Health For All Now! A People's Health Resource Book">Health For All Now! A People's Health Resource
                            Book</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_Revive_Alma_Ata" title="Health For All Now! Revive Alma Ata">Health For All Now! Revive Alma Ata</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>H cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Health_for_All_Series" title="Health for All Series">Health for All Series</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy" title="Health For All: An Alternative Strategy">Health For All: An Alternative Strategy</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Development_Committee" title="Health Survey and Development Committee">Health Survey and Development Committee</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Health_Survey_and_Planning_Committee" title="Health Survey and Planning Committee">Health Survey and Planning Committee</a></li>
                        </ul>

                        <h3>I</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=In_Search_Of_Diagnosis" title="In Search Of Diagnosis">In Search Of Diagnosis</a></li>
                        </ul>

                        <h3>J</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Jamkhed" title="Jamkhed">Jamkhed</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Joyful_Learning_Series" title="Joyful Learning Series">Joyful Learning Series</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Just_and_Lasting_Change" title="Just and Lasting Change">Just and Lasting Change</a></li>
                        </ul>

                        <h3>L</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Learning_From_The_Rural_Poor" title="Learning From The Rural Poor">Learning From The Rural Poor</a></li>
                        </ul>

                        <h3>M</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Manual_For_Community_Health_Workers" title="Manual For Community Health Workers">Manual For Community Health Workers</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medical_Education_Re-Examined" title="Medical Education Re-Examined">Medical Education Re-Examined</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Medical_Nemesis:_The_Expropriation_of_Health" title="Medical Nemesis: The Expropriation of Health">Medical Nemesis: The Expropriation of Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Moving_Closer_To_The_Rural_Poor" title="Moving Closer To The Rural Poor">Moving Closer To The Rural Poor</a></li>
                        </ul>

                        <h3>P</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Park%27s_Textbook_of_Preventive_and_Social_Medicine" title="Park's Textbook of Preventive and Social Medicine">Park's Textbook of Preventive and Social Medicine</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Pathologies_of_Power" title="Pathologies of Power">Pathologies of Power</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=People%27s_Health_in_People%27s_Hands" title="People's Health in People's Hands">People's Health in People's Hands</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=People%27s_Initiatives_in_Primary_Health_Care" title="People's Initiatives in Primary Health Care">People's Initiatives in Primary Health Care</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Health_Committee_and_Commission_Reports" title="Portal: Health Committee and Commission Reports">Portal: Health Committee and Commission Reports</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health" title="Portal: Reading about community health">Portal: Reading about community health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Poverty,_Class_And_Health_Culture" title="Poverty, Class And Health Culture">Poverty, Class And Health Culture</a></li>
                        </ul>
                      </td>

                      <td style="width: 33.3%;">
                        <h3>P cont.</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Practising_Health_For_All" title="Practising Health For All">Practising Health For All</a></li>
                        </ul>

                        <h3>Q</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Questioning_The_Solution" title="Questioning The Solution">Questioning The Solution</a></li>
                        </ul>

                        <h3>R</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change" title="Rakku's Story: Structures of Ill-Health and the Source of Change">Rakku's Story: Structures
                            of Ill-Health and the Source of Change</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Reaching_India%27s_Poor:_Non-governmental_Approaches_to_Community_Health" title="Reaching India's Poor: Non-governmental Approaches to Community Health">Reaching
                            India's Poor: Non-governmental Approaches to Community Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Report_of_the_Independent_Commission_on_Health_in_India" title="Report of the Independent Commission on Health in India">Report of the Independent Commission on
                            Health in India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Rural_Development:_Putting_The_Last_First" title="Rural Development: Putting The Last First">Rural Development: Putting The Last First</a></li>
                        </ul>

                        <h3>S</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets" title="Second National Health Assembly booklets">Second National Health Assembly booklets</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Social_Sciences_and_Health_Service_Development_in_India" title="Social Sciences and Health Service Development in India">Social Sciences and Health Service
                            Development in India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Special_Committee_for_the_Preparation_of_the_Entry_of_National_Malaria_Eradication_Programme_into_Maintainence_Phase" title="Special Committee for the Preparation of the Entry of National Malaria Eradication Programme into Maintainence Phase">Special Committee for the Preparation of the Entry of National Malaria Eradication
                            Programme into Maintainence Phase</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=State_of_India%27s_Health" title="State of India's Health">State of India's Health</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Sub-Committee_on_National_Health" title="Sub-Committee on National Health">Sub-Committee on National Health</a></li>
                        </ul>

                        <h3>T</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Taking_Sides:_The_Choices_Before_The_Health_Worker" title="Taking Sides: The Choices Before The Health Worker">Taking Sides: The Choices Before The Health Worker</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Task_Force_on_Conservation_and_Sustainable_Use_of_Medicinal_Plants" title="Task Force on Conservation and Sustainable Use of Medicinal Plants">Task Force on
                            Conservation and Sustainable Use of Medicinal Plants</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=The_Politics_of_Health_in_India" title="The Politics of Health in India">The Politics of Health in India</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=The_Primary_Health_Worker" title="The Primary Health Worker">The Primary Health Worker</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Towards_Equity,_Quality_and_Integrity_in_Health_%E2%80%93_Task_Force_on_Health_and_Family_Welfare,_Govt._of_Karnataka._2001" title="Towards Equity, Quality and Integrity in Health – Task Force on Health and Family Welfare, Govt. of Karnataka. 2001">Towards Equity, Quality and Integrity in Health – Task Force on Health and Family
                            Welfare, Govt. of Karnataka. 2001</a></li>
                        </ul>

                        <h3>U</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Under_The_Lens:_Health_and_Medicine" title="Under The Lens: Health and Medicine">Under The Lens: Health and Medicine</a></li>
                        </ul>

                        <h3>W</h3>

                        <ul>
                          <li><a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Health_For_All_by_2000_AD" title="Working Group on Health For All by 2000 AD">Working Group on Health For All by 2000 AD</a></li>

                          <li><a href="/~commun26/wiki/index.php?title=Working_Group_on_Population_Policy" title="Working Group on Population Policy">Working Group on Population Policy</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Books&amp;oldid=74">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Books&amp;oldid=74</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>