<!--
title: Category:Professional associations
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Category:Professional associations</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Professional associations</p>
 
          <div dir="ltr" lang="en">
            <div id="mw-pages">
              <h2>Pages in category "Professional associations"</h2>

              <p>The following 6 pages are in this category, out of 6 total.</p>

              <div class="mw-content-ltr" dir="ltr" lang="en">
                <h3>C</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Community_Practice_on_Accountability_and_Social_Action_in_Health" title="Community Practice on Accountability and Social Action in Health">Community Practice on
                    Accountability and Social Action in Health</a></li>
                </ul>

                <h3>I</h3>

                <ul>
                  <li><a href="/~commun26/wiki/index.php?title=Indian_Association_of_Occupational_Health" title="Indian Association of Occupational Health">Indian Association of Occupational Health</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=Indian_Association_of_Preventive_and_Social_Medicine" title="Indian Association of Preventive and Social Medicine">Indian Association of Preventive and Social Medicine</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=Indian_Clinical_epidemiology_Network" title="Indian Clinical epidemiology Network">Indian Clinical epidemiology Network</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=Indian_Public_Health_Association" title="Indian Public Health Association">Indian Public Health Association</a></li>

                  <li><a href="/~commun26/wiki/index.php?title=International_Christian_Medical_and_Dental_Association" title="International Christian Medical and Dental Association">International Christian Medical and Dental
                    Association</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Professional_associations&amp;oldid=297">http://www.communityhealth.in/~commun26/wiki/index.php?title=Category:Professional_associations&amp;oldid=297</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Organisations_and_networks" title="Category:Organisations and networks">Organisations and networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>