<!--
title: Catholic Health Association of India
description: 
published: true
date: 2023-06-26T05:38:25.735Z
tags: communityhealth.in, public health information sources, civil society institutions and networks
editor: ckeditor
dateCreated: 2023-01-29T17:06:10.343Z
-->

<h1>Catholic Health Association of India</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p>The <strong>Catholic Health Association of India</strong> (CHAI) is a network of thousands of Catholic medical institutions spread across India. CHAI is one of the world’s largest non-governmental organisations in the health sector with nearly 3,226 member institutions, which include big, medium and small hospitals, health centres and diocesan social service societies. The members of the association are located in various parts of the country – urban, semi-urban, rural and tribal settlements and are predominantly engaged in providing curative care and extending health care facilitates to the poor and marginalised.</p>
<p>CHAI is a member of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan">Jan Swasthya Abhiyan</a> coalition.&nbsp;</p>
<p>Catholic Health Association of India is charitable, voluntary, non-profit Catholic Christian organization working with a commitment for Health For All. It promotes community health as a process of enabling the people to be collectively responsible to attain and maintain their health and demand health as a right&nbsp; while ensuring availability of health care of reasonable quality at reasonable cost.&nbsp;</p>
<figure class="image"><img src="/chai-logo.jpg"></figure>
<p><br><br>&nbsp;</p>
<h2>External links</h2>
<ul>
  <li><a href="http://www.chai-india.org">www.chai-india.org</a> - Catholic Health Association of India website</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India&amp;oldid=279">http://www.communityhealth.in/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India&amp;oldid=279</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement">People's Health Movement</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks">Jan Swasthya Abhiyan national networks</a></li>
</ul>
