<!--
title: Centre for Research in Medical Entomology
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Centre for Research in Medical Entomology</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Centre for Research in Medical Entomology</b> was established in 1985, with the aim to undertake studies on the behaviour, distribution and control of insects which act as vectors of disease with particular emphasis
            on the vectors of viral encephalitis.</p>

          <p>The Centre has extensively worked on the epidemiology of <a class="new" href="/~commun26/wiki/index.php?title=Japanese_encephalitis&amp;action=edit&amp;redlink=1" title="Japanese encephalitis (page does not exist)">Japanese
            encephalitis</a> and the vector control technologies.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Centre for Research in Medical Entomology, Post Box No.11, 4-Sarojini Street, Chinna Chokkikulam, Madurai - 625002</p>

          <p><b>Tel. No:</b> +91 - 452 2650281,2530746</p>

          <p><b>Fax No.:</b> +91- 452 - 2530660</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icmr.nic.in/pinstitute/crme.htm" rel="nofollow">www.icmr.nic.in/pinstitute/crme.htm</a> - Centre for Research in Medical Entomology website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Centre_for_Research_in_Medical_Entomology&amp;oldid=1095">http://www.communityhealth.in/~commun26/wiki/index.php?title=Centre_for_Research_in_Medical_Entomology&amp;oldid=1095</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>