<!--
title: Chingari Trust
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Chingari Trust</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Chingari Trust is a non-profit, non-political organization which supports marginalized sections of society.The Trust was a blueprint for utilizing the funds of The Goldman Environmental Award received by Rashida Bee and
            Champa Devi Shukla for the welfare of gas victims.The activities include educating gas victims about their rights and creating awareness about various programmes started by government for them. The trust also provides
            rehabilitation to the children of gas victims born with birth defects, disabilities due to the ongoing pollution and contamination of their environment.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <p><a class="external text" href="http://www.chingaritrustbhopal.com/" rel="nofollow">The Chingari trust</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Chingari_Trust&amp;oldid=2049">http://www.communityhealth.in/~commun26/wiki/index.php?title=Chingari_Trust&amp;oldid=2049</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Madhya_Pradesh" title="Category:Madhya Pradesh">Madhya Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>