<!--
title: Christian Medical Journal of India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Christian Medical Journal of India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:CMJI_Mar04.jpg"><img alt="" class="thumbimage" height="239" src="/~commun26/wiki/images/thumb/e/ef/CMJI_Mar04.jpg/180px-CMJI_Mar04.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:CMJI_Mar04.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Christian Medical Journal of India</div>
            </div>
          </div>
          The <b>Christian Medical Journal of India</b> is the quarterly journal of the <a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India" title="Christian Medical Association of India">Christian Medical
          Association of India</a>. It is currently edited by <a class="new" href="/~commun26/wiki/index.php?title=Liela_Caleb_Varkey&amp;action=edit&amp;redlink=1" title="Liela Caleb Varkey (page does not exist)">Liela Caleb Varkey</a>.
          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Christian Medical Association of India, Plot No. 2. A-3 Local Shopping Centre, Janakpuri, New Delhi - 110 058 <b>Phone:</b> 011-25599991</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cmai.org" rel="nofollow">www.cmai.org</a> - Christian Medical Association of India website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Journal_of_India&amp;oldid=852">http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Journal_of_India&amp;oldid=852</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>