<!--
title: Christian Medical College, Ludhiana
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Christian Medical College, Ludhiana</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cmcludhiana.org/" rel="nofollow">www.cmcludhiana.org</a> - Website of Christian Medical College, Ludhiana</li>

            <li> <a class="external text" href="http://cmcludhiana.in/" rel="nofollow">www.cmcludhiana.in</a> - Website of Christian Medical College Hospital, Ludhiana</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Christian_Medical_College,_Ludhiana" title="wikipedia:Christian Medical College, Ludhiana">Wikipedia: Christian Medical College, Ludhiana</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana&amp;oldid=973">http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana&amp;oldid=973</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Uttar_Pradesh" title="Category:Uttar Pradesh">Uttar Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>