<!--
title: Christian Medical College, Vellore
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Christian Medical College, Vellore</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cmcvellore.ac.in" rel="nofollow">www.cmcvellore.ac.in</a> - CMC Vellore website</li>

            <li> <a class="external text" href="http://www.cmch-vellore.edu" rel="nofollow">www.cmch-vellore.edu</a> - Another CMC Vellore website</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Christian_Medical_College_%26_Hospital" title="wikipedia:Christian Medical College &amp; Hospital">Wikipedia: Christian Medical College &amp; Hospital</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore&amp;oldid=964">http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore&amp;oldid=964</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>