<!--
title: Christian Medical Association of India
description: 
published: true
date: 2023-06-26T05:41:29.991Z
tags: civil society institutions and networks, communityhealth.in, public health information sources
editor: ckeditor
dateCreated: 2023-01-29T17:06:47.957Z
-->

<h1>Christian Medical Association of India</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p><strong>Christian Medical Association of India</strong> is a fellowship of Christian health professionals and health institutions serving churches in the ministry of health, healing and wholeness. It is a registered voluntary society which is the official health arm of the National Council of Churches in India (NCCI). It consists of over 350 institutional members - hospitals, health centres, community health programmes and 2 medical colleges as well as over 5000 individual members - doctors, nurses, allied health professionals, health administrators and chaplains.</p>
<p>CMAI is a member of the <a href="/~commun26/wiki/index.php?title=International_Christian_Medical_and_Dental_Association">International Christian Medical and Dental Association</a> (ICMDA) and the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan">Jan Swasthya Abhiyan</a> coalition.</p>
<p>It publishes the <a href="/~commun26/wiki/index.php?title=Christian_Medical_Journal_of_India">Christian Medical Journal of India</a>.</p>
<figure class="image"><img src="/cmai-logo.png"></figure>
<p><br><br>&nbsp;</p>
<h2>External links</h2>
<ul>
  <li><a href="http://www.cmai.org">Christian Medical Association of India website</a></li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India&amp;oldid=798">http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India&amp;oldid=798</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement">People's Health Movement</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks">Jan Swasthya Abhiyan national networks</a></li>
</ul>
