<!--
title: CMAI
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Christian Medical Association of India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=CMAI&amp;redirect=no" title="CMAI">CMAI</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Christian Medical Association of India</b> is a fellowship of Christian health professionals and health institutions serving churches in the ministry of health, healing and wholeness. It is a registered voluntary society
            which is the official health arm of the National Council of Churches in India (NCCI). It consists of over 350 institutional members - hospitals, health centres, community health programmes and 2 medical colleges as well as over
            5000 individual members - doctors, nurses, allied health professionals, health administrators and chaplains.</p>

          <p>CMAI is a member of the <a href="/~commun26/wiki/index.php?title=International_Christian_Medical_and_Dental_Association" title="International Christian Medical and Dental Association">International Christian Medical and
            Dental Association</a> (ICMDA) and the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> coalition.</p>

          <p>It publishes the <a href="/~commun26/wiki/index.php?title=Christian_Medical_Journal_of_India" title="Christian Medical Journal of India">Christian Medical Journal of India</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cmai.org" rel="nofollow">Christian Medical Association of India website</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India&amp;oldid=798">http://www.communityhealth.in/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India&amp;oldid=798</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks" title="Category:Jan Swasthya Abhiyan national networks">Jan Swasthya Abhiyan national networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>