<!--
title: communityhealth.in:General disclaimer
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">communityhealth.in:General disclaimer</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <div class="noarticletext">There is currently no text in this page, you can <a href="/~commun26/wiki/index.php?title=Special:Search/General_disclaimer" title="Special:Search/General disclaimer">search for this page title</a>
              in other pages or <a class="external text" href="http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:General_disclaimer&amp;action=edit" rel="nofollow" title="http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:General_disclaimer&amp;action=edit">edit this page</a>.</div>

            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:General_disclaimer">http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:General_disclaimer</a>"</div>

            <div class="visualClear"></div>
          </div>
        </div>