<!--
title: Community Health Reading List
description: 
published: true
date: 2023-05-25T09:29:36.885Z
tags: 
editor: ckeditor
dateCreated: 2023-05-25T09:27:48.916Z
-->

<p><strong>a. Regional Disparities and inequalities – Trends</strong></p>
<ol>
  <li>Kurian, NJ (2007). ‘Widening Economic and Social disparities: Implications for India’, Indian Journal of Medical Research’, 126, October 2007, pp 374-380</li>
  <li>Government of Karnataka (2001). ‘Study on health and health disparities in Health and Health care services Karnataka’ in ‘Karnataka towards Equity, Quality and Integrity in Health</li>
</ol>
<p>- Final report of the Task Force on Health and Family Welfare’, Bangalore, April 2001</p>
<p><strong>Recommended</strong></p>
<ol>
  <li>1. Braveman, P. (2006). Health Disparities and Health Equity: Concepts and Measurement&amp;#39;. Annual review of Public Health, 2006; 27; pp167-94</li>
</ol>
<p><strong>b. Issues of Access- Availability, Accessibility, Affordability, Acceptability and Quality in Health Care</strong></p>
<ol>
  <li>Dilip T. Extent of inequity in access to health care services in India. Rev Health Care India.</li>
</ol>
<p>2005;247–68. (for data presentation)</p>
<ol>
  <li>Jacobs B, Ir P, Bigdeli M, Annear PL, Van Damme W. Addressing access barriers to health services: an analytical framework for selecting appropriate interventions in low-income Asian countries. Health Policy and Planning. 2012;27(4):288–300.</li>
</ol>
<p><strong>c. Right to Health</strong></p>
<ol>
  <li>Health is a Fundamental Right in The Evoluation of Alma Ata Declaration. The People&amp;#39;s</li>
</ol>
<p>Health Source Book.pp74</p>
<p>Movies:</p>
<ol>
  <li>Public Hearing on Right to Health Care. Vol. 1 - 4</li>
  <li>Left Out</li>
  <li>Report on Binayak Sen’s Arrest under POTA Act</li>
  <li>Constitutional and legal aspects of health</li>
</ol>
<p><strong>Ethics of health and health care</strong></p>
<ol>
  <li>Medical Ethics, Medical Education and Health Care. The People&amp;#39;s Health Source</li>
</ol>
<p>Book.pp332-357</p>
<p>Movies:</p>
<ol>
  <li>Ship of Thesus</li>
</ol>
<p><strong>d. Equity in Health</strong></p>
<p><strong>Promoting community mental health and intervention</strong></p>
<ol>
  <li>Mental Health in India – An Overview. Defending the Health of the Marginalised. pp40-50</li>
</ol>
<p>Movies:</p>
<ol>
  <li>Lalaeppa - A Journey from Mental Illness to Recovery</li>
</ol>
<p><strong>Understanding Social Exclusion/ Marginalisation including stigma and discrimination</strong></p>
<p><strong>Social Exclusion as a determinant of Health</strong></p>
<ol>
  <li>The Marginalised and the Vulnerable.The People&amp;#39;s Health Resource Book.pp198-203</li>
  <li>Nayar, K. R., &amp;amp; others. (2007). Social exclusion, caste &amp;amp; health: a review based on the social determinants framework. Indian Journal of Medical Research, 126(4), 355.</li>
  <li>Health For Dalit Communities. Defending the Health of the Marginalised. pp7-20</li>
</ol>
<p><strong>People with Disability</strong></p>
<ol>
  <li>We are the Differently Abled! The People&amp;#39;s Health Resource Book.pp253-257</li>
</ol>
<p>Movies:</p>
<ol>
  <li>Oonam un kannil (Disability in your eyes)</li>
  <li>Disability is not inability</li>
</ol>
<p><strong>e. Social Determinants of Health and Social Action&nbsp;</strong></p>
<p><strong>Social Determinants of Health, action on determinants and social vaccine</strong></p>
<ol>
  <li>Rakku’s Story. Rakku’s Story Structures of Ill-health and the Source of Change.pp19-41</li>
  <li>Making Life Worth Living! The People&amp;#39;s Health Resource Book.pp132-196</li>
  <li>The Economic Base of Ill=Health. Rakku&amp;#39;s Story Structures of Ill-health and the Source of Change.pp47-59</li>
  <li>Kerala: A Beginning. Rakku’s Story Structures of Ill-health and the Source of Change.pp174-</li>
</ol>
<p>181</p>
<ol>
  <li>Towards The Concept Of A Social Vaccine. Background paper for Double Plenary Session on</li>
  <li>‘Social Vaccine’ at Forum 10 Cairo, 30th October, 2006&amp;quot;</li>
  <li>Baum F et al. Social vaccines to resist and change unhealthy social and economic structures: a useful metaphor for health promotion. Health Promotion International, Vol. 24 No. 4</li>
  <li>Towards a Broader Understanding of Social Vaccine: A Discussion Paper. Social Justice in</li>
  <li>Health Multiple pathways towards Health for ALL. pp130-134</li>
</ol>
<p><strong>Environmental Sanitation and Community led total sanitation</strong></p>
<ol>
  <li>Prahlad IM. Environmental Sanitation: &amp;quot;Reflections from Practice&amp;quot;- A Module for</li>
</ol>
<p>Community Health Practitioners.</p>
<p>Movies:</p>
<ol>
  <li>Faecal Attraction - Political Economy of Defecation</li>
</ol>
<p><strong>Understanding the scope of environment, ecology and health</strong></p>
<p>AV Material</p>
<ol>
  <li>Rajagopalan R. “Drink Coffee in the US and make the Song Bird Vanish in South</li>
</ol>
<p>America”, In: From Crisis To Cure. Oxford University Press.</p>
<ol>
  <li>Rajagopalan R. “Connections – get rid of Malaria and invite Plague”. In: From Crisis</li>
</ol>
<p>to Cure. Oxford University Press.</p>
<p>Movies</p>
<ol>
  <li>Water Gives life - A film on Participatory Watershed Development</li>
  <li>Water of the People</li>
  <li>Rajagopalan R. Is there a global crisis? In: From Crisis To Cure. Oxford University</li>
</ol>
<p>Press.</p>
<p><strong>Understanding environment as a determinant of health</strong></p>
<p>AV Material</p>
<ol>
  <li>Sprays of Misery, film by SOCHARA</li>
  <li>The killing fields - programme on Pesticides</li>
  <li>Case Studies file-book/print-outs</li>
</ol>
<p>Pradyumna A. The Endosulfan Tragedy of Kasargod (Unpublished). CHLP Resource Material. SOCHARA.</p>
<p>Reading list:</p>
<ol>
  <li>Transect walk notes compiled by Adithya Pradyumna.</li>
  <li>Conant J and Fadem P. Promoting Community Environmental Health (Chpater 1).</li>
</ol>
<p>In: A Community Guide to Environmental Health. Hesparian.</p>
<ol>
  <li>Bhopal Gas Tragedy – The Call for Justice, film by The Other Media and ICJB</li>
</ol>
<p><strong>Understanding developmental models and its impacts on equity, environment and</strong></p>
<p><strong>Health; o Understanding about resource exploitation, industry, energy, products, consumerism,</strong></p>
<p><strong>Pollution; and o</strong> Understanding about urban and rural issues in the context of environmental health</p>
<p>AV Material:</p>
<ol>
  <li>Iron-ore mining in Bellary (Kannada), film by Sakhi</li>
  <li>Documentary based on Plachimada and water as a resource</li>
  <li>Nagara Nyrmalya (Kannada), film by ESG</li>
</ol>
<p>Case Studies</p>
<ol>
  <li>Rajagopalan R. “Too many people, too few resources”. In: From Crisis To</li>
</ol>
<p>Cure. Oxford University Press.</p>
<ol>
  <li>Excerpts from “Everybody Loves a Good Drought” by Sainath P, titled</li>
</ol>
<p>“Development induced displacement”. Compiled by Adithya Pradyumna.</p>
<ol>
  <li> Sainath P. Extracts from The Khariar Bull case, In: Everybody Loves a</li>
</ol>
<p>Good Drought.</p>
<p>Reading list:</p>
<ol>
  <li>ESG. Bangalore’s Toxic Legacy: Investigating Mavallipura’s illegal landfills. Online.</li>
  <li>Cotton For My Shroud, a film by Nandan Saxena and Kavita Bahl</li>
</ol>
<p><strong>Understanding the science, politics and implications of climate change on health, and the potential solutions to the problem at various levels, keeping an India focus</strong></p>
<p>AV Material:</p>
<ol>
  <li>Short movies by WOTR on climate change</li>
  <li>Changing climate: The politics</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>WOTR. Health Vulnerability Assessment: A Manual.</li>
  <li>An Inconvenient Truth, a film by Al Gore</li>
</ol>
<p><strong>Understanding about the environmental movement in India and abroad, and the impact it has had on policy, practice and general conscience</strong></p>
<p>AV Material:</p>
<ol>
  <li>Case Study: Hesparian. The Green Belt Movement. In: A Community Guide To Environmental Health.</li>
  <li>Our School on a Watershed, film by WOTR</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>Doob – a film on Narmada Bachao Andholan, by Initiatives: Women in Development</li>
  <li>Pradyumna A. Environment Movement – Countervailing Power. In: Social Justice in</li>
</ol>
<p>Health. SOCHARA.</p>
<p><strong>To learn about community health processes in monitoring health and environment; To learn about the Community Health and Environmental Survey Skill-share (CHESS) initiative</strong></p>
<p>AV Material:</p>
<ol>
  <li>Powerpoint presentation</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>SACEM. Chemical Odour Incidents in SIPCOT Industrial Area, Cuddalore. The</li>
</ol>
<p>Other Media. 2004.</p>
<ol>
  <li>Pradyumna A and Narayan R. Story of CHESS. In: Examining Environment and</li>
</ol>
<p>Health Interactions. SOCHARA. 2012.</p>
<p><strong>To understand about the concepts and process in conducting a Health Impact Assessment (HIA), and how it is important in decision making processes in environmental health</strong></p>
<p>Reading list:</p>
<ol>
  <li>Pradyumna A. Health aspects of the environmental impact assessment process in India. EPW. 19th Feb 2015.</li>
</ol>
<p><strong>To understand about environmental health policy; To familiarise with key issues in environmental ethics</strong></p>
<p>Material:</p>
<ol>
  <li>Poison on my platter, film on GM Foods by Mahesh Bhat</li>
  <li>Story of Stuff, film by Annie Leonard</li>
</ol>
<p>Case Study:</p>
<ol>
  <li>Rajagopalan R. “Inspiration: From Crisis to Success Story”. In: From Crisis to Cure. Oxford University Press.</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>Conant J and Fadem P. Environmental Rights and Justice (Chapter 4). In: A Community Guide to Environmental Health. Hesparian.</li>
</ol>
<p><strong>f. Understanding Community Health/ Public Health - Principles and Axioms and Primary Health Care</strong></p>
<p><strong>Community Health, Public Health, Community Medicine, Preventive and Social Medicine</strong></p>
<p>Reading List:</p>
<ol>
  <li>Community Health in India. Community Health In Search of Alternate Processes.pp18- 31</li>
  <li>Community health as the quest for an alternative. Community Health In Search of</li>
</ol>
<p>Alternate Processes.pp71-82</p>
<ol>
  <li>The Medical Model of Health in Sources of Legitimation. Rakku&amp;#39;s Story Structures of Ill-</li>
</ol>
<p>health and the Source of Change.pp130-134</p>
<ol>
  <li>Community Health: Search for a New Paradigm- Dr. Ravi Narayan, Health Action Vol.</li>
</ol>
<p>12, No.11, November 1999 p 5-31</p>
<ol>
  <li>Emerging Concepts and Paradigms. Social Justice in Health Multiple pathways towards</li>
</ol>
<p>Health for ALL. pp41-42</p>
<p>Movies:</p>
<ol>
  <li>Community Health - Search for a people oriented paradigm</li>
</ol>
<p>7. Community health: A Search for a New Paradigm</p>
<p><strong>Social, economic, political, cultural, ecological determinants of health and their inter relationships and dynamics</strong></p>
<p>Reading List:</p>
<ol>
  <li>Community Health: The Political Dimension! in A Continuing Dialogue:Key Responses to the Red Book. Community Health In Search of Alternate Processes.pp96</li>
  <li>The Economic and Political Order. Rakku’s Story Structures of Ill-health and the Source of Change.pp116-124</li>
</ol>
<p><strong>Axioms and principles of Community Health</strong></p>
<p>Reading List:</p>
<ol>
  <li>Axioms of Community Health. Community Health In Search of Alternate Processes.pp44-48</li>
</ol>
<p><strong>History and relevance of comprehensive primary health care and strategy / approach towards health for all&nbsp;</strong></p>
<p>Reading List:</p>
<ol>
  <li>Health System in India: Crisis &amp;amp; Alternatives</li>
</ol>
<p>First Edition : October 2006</p>
<ol>
  <li>http://www.nhp.gov.in/</li>
  <li>Health For All, NOW – The People’s Health Sourcebook – JSA</li>
  <li>Alternative Approaches to Health Care; ICMR and ICSSR</li>
  <li>Evaluation of Primary Health Care Programmes; ICMR 1980</li>
  <li>Health and Family Planning Services in India, D. R. Banerji 1985</li>
  <li>Central Bureau of Health Intelligence – National Health Profile</li>
</ol>
<p><strong>Learning from community health initiatives and action for health</strong></p>
<p>Reading List:</p>
<ol>
  <li>Mallur health cooperative (Community Medicine Department of St. Johns Medical College),</li>
</ol>
<p>Mallur, Karnataka. Alternative Approaches to Health Care.</p>
<ol>
  <li>Towards a people oriented health care system. Community Health In Search of Alternate</li>
</ol>
<p>Processes.pp83-94</p>
<ol>
  <li>Anubhav Series</li>
</ol>
<p><strong>g. Occupational Health and Urban Health</strong></p>
<p><strong>Occupational health of workers – organized and unorganized</strong></p>
<p><strong>Understanding the perceptions of the fellows with respect to occupation; Understanding the linkages of occupation to caste, class and gender</strong></p>
<ol>
  <li>Chatterjee P, Dasgupta J, Rangamani S, Patel J. Work, health and rights. Mfc Bull. 2013</li>
</ol>
<p>Feb;352-354:1-5.</p>
<ol>
  <li>Pradyumna A. Perceptions of conservancy workers and manual scavengers on their</li>
</ol>
<p>occupation and health – a qualitative preliminary study [Internet]. 2012 [cited 2013 Oct 23].</p>
<p>Available from:</p>
<p>http://www.academia.edu/4405844/Perceptions_of_conservancy_workers_and_manual_sc</p>
<p>avengers_on_their_occupation_and_health_-_a_qualitative_preliminary_study</p>
<p><strong>Understanding the two major categories of work</strong></p>
<p>AV Material:</p>
<ol>
  <li>Movie on Manual Scavenging, by Jeeva</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>Dasgupta J. A short note on the unorganised sector in India. Mfc Bull. 2013 Feb;352-354:13–4.</li>
  <li>Srivatsan R. Informal labour - elementary aspects. Mfc Bull. 2013 Feb;352-354:10–2.</li>
</ol>
<p><strong>Understanding the impact of workplace on health; Understanding the meaning of the terms hazards, exposure and outcomes</strong></p>
<p>Movies</p>
<ol>
  <li>Short film on Silicosis (Hindi), by Shilpi Kendra</li>
  <li>Short film on agriculture and climate, by WOTR</li>
</ol>
<p>Reading list:</p>
<ol>
  <li>Gupta A, Nidhi A, Wadkar N. Silicosis - action research. Mfc Bull. 2013 Feb;352-354:23–5</li>
  <li>Cotton for my shroud, movie by Nandan Saxena and Kavita Bahl</li>
</ol>
<p><strong>Understanding about the special situation of women and work</strong></p>
<p>Case studies</p>
<ol>
  <li>“Doctors do not always have the answers”, taken from Conant and Fadem, A Community Guide to Environmental Health. Hesparian.</li>
</ol>
<p>Powerpoint presentation (SOCHARA policy)</p>
<p>Reading list:</p>
<ol>
  <li>Dasgupta J. Maternity and Women Wage Workers in the Informal sector. Mfc Bull. 2013</li>
</ol>
<p>Feb;352-354:26–30.</p>
<ol>
  <li>Swaminathan P. Revisiting the theme of Women as Workers and Women’s Work. Mfc Bull.</li>
</ol>
<p>2013 Feb;352-354:31–2.</p>
<ol>
  <li>Khanna R. Women</li>
</ol>
<p><strong>Understanding the laws to protect the vulnerable in occupational health settings - Child labour as case study, social protection schemes such as ESI</strong></p>
<p><strong>Understand about the efforts being made by NGOs, peoples movements and trade unions</strong></p>
<p><strong>in improving occupational health -&nbsp;</strong> CHESS</p>
<p>Reading list:</p>
<ol>
  <li>Pradyumna A, Narayan R. Examining Environment and Health Interactions: Responding</li>
</ol>
<p>with communities to the challenges of our times [Internet]. Bangalore, India: SOCHARA;</p>
<p>2012</p>
<ol>
  <li>Patel J. Legal Provisions for Protection of Health and Safety. Mfc Bull. 2013 Feb;352-</li>
</ol>
<p>354:47–50.</p>
<ol>
  <li>Jana S, Ray P. Strategising occupational health and safety in sex work. Mfc Bull. 2013</li>
</ol>
<p>Feb;352-354:18–22.</p>
<p>&nbsp;</p>
<p><strong>Social security and social protection and occupational safety</strong></p>
<p>Reading List:</p>
<p>1. Securing People&amp;#39;s Livelohoods. The People&amp;#39;s Health Resource Book.p177-191</p>
<p><strong>Urbanization and urban health challenges</strong></p>
<p>Reading List:</p>
<p>1. Health of The Urban Poor. Defending the Health of the Marginalised. pp21-29</p>
<p>Movies:</p>
<p>2. From the margins: Do nadolan; concerned city; citi&amp;#39;s edge; fish tales; kahani pani ki</p>
<p>3. Bangalored in Bengaluru</p>
<p>4. Bombay our city</p>
<p>5. Urban Health</p>
<p><strong>h. Health Policy</strong></p>
<p><strong>Understanding health policy process</strong></p>
<ol>
  <li>Walt G, Gilson L. Reforming the health sector in developing countries: the central role of policy analysis. Health Policy Plan. 1994;9(4):353–70.</li>
  <li>Brugha R, Varvasovszky Z. Stakeholder analysis: a review. Health Policy Plan. 2000;15(3):239–46.</li>
  <li>Russell J, Greenhalgh T, Byrne E, McDonnell J. Recognizing rhetoric in health care policy analysis. J Health Serv Res Policy. 2008;13(1):40–6.</li>
  <li>Parkhurst JO, Vulimiri M. Cervical cancer and the global health agenda: insights from multiple policy-analysis frameworks. Glob Public Health. 2013;8(10):1093–108.</li>
  <li>Morgan-Trimmer S. Policy is political; our ideas about knowledge translation must be too. J</li>
</ol>
<p>Epidemiol Community Health. 2014;jech-2014.</p>
<p><strong>Understanding health policy history and current situation</strong></p>
<ol>
  <li>A Promise of Better Healthcare Service for the Poor- NRHM, A summary of Community</li>
</ol>
<p>Entitlements and Mechanisms for Community Participation and Ownership for Community Leaders by Community Monitoring of NRHM, First Phase, 2007</p>
<ol>
  <li>Dentralized Health Planning in What is to be done?The People&amp;#39;s Health Source Book.pp97-100</li>
  <li>Mission Document- I, National Rural Health Mission (2005 – 2012) - Ministry of Health and Family Welfare, Government of India, 2006</li>
</ol>
<p><strong>Primary Health Care and Health For All</strong></p>
<ol>
  <li>Health System in India: Crisis &amp;amp; Alternatives</li>
</ol>
<p>First Edition : October 2006</p>
<ol>
  <li>http://www.nhp.gov.in/</li>
  <li>Health For All, NOW – The People’s Health Sourcebook – JSA</li>
  <li>Alternative Approaches to Health Care; ICMR and ICSSR</li>
  <li>Evaluation of Primary Health Care Programmes; ICMR 1980</li>
  <li>Health and Family Planning Services in India, D. R. Banerji 1985</li>
  <li>Central Bureau of Health Intelligence – National Health Profile</li>
  <li>Public Health and Primary Health Care. Chapter 5, Karnataka: Towards Equity, Quality</li>
</ol>
<p>and Integrity in Health, Final Report of the Task Force on Health and Family Welfare,</p>
<p>GoK, April 2001. Page 52-57</p>
<ol>
  <li>Local Planning Needs an Effective Health Information System. The People&amp;#39;s Health</li>
</ol>
<p>Resource Book.pp84-92</p>
<p><strong>Universal Health Coverage</strong></p>
<p>1. medico friend circle bulletin. Medico Friend Circ. 2011 Jul;345–347.</p>
<p><strong>i. Special Competencies – I</strong></p>
<p><strong>Leadership</strong></p>
<ol>
  <li>Topic 13. How to lead and build a Health Team?. A hand out from the project on “Integrated</li>
</ol>
<p>anagement of public health programmes at district level.</p>
<p><strong>Governance and Decentralization</strong></p>
<p><strong>Partnership and Advocacy</strong></p>
<ol>
  <li>Topic 14. How to promote, communicate and advocate for health?. A hand out from the project on “Integrated management of public health programmes at district level.</li>
  <li>Topic 16. How to build and sustain partnerships?. A hand out from the project on “Integrated management of public health programmes at district level.</li>
</ol>
<p><strong>j. Special Competencies – II</strong></p>
<p><strong>Communication including informatics</strong></p>
<p><strong>Monitoring and Evaluation</strong></p>
<ol>
  <li>Topic 12. How to Monitor and Evaluate? A hand out from the project on “Integrated management of public health programmes at district level.</li>
</ol>
<p><strong>k. Public Health Management</strong></p>
<p><strong>Understanding Systems and Management Principles</strong></p>
<p>1. Topic 1: Public Health management at District level: Concepts and Values. A hand out from the project on “Integrated management of public health programmes at district level.</p>
<p><strong>Public Health Management at community and district levels</strong></p>
<ol>
  <li>Topic 2. A New Frame Work For Public Health Management: Roles, Skills and Challenges. A hand&nbsp; out from the project on “Integrated management of public health programmes at district level.</li>
</ol>
<p><strong>Managing partnerships with community and other sectors</strong></p>
<ol>
  <li>Topic 16. How to build and sustain partnerships? A hand out from the project on “Integrated</li>
</ol>
<p>management of public health programmes at district level.</p>
<p><strong>l. Research- I – Measuring Health and Disease</strong></p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health</li>
</ol>
<p>systems research projects. Vol. 1. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health</li>
</ol>
<p>systems research projects. Vol. 2. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</p>
<p><strong>m. Research-II</strong></p>
<p><strong>Basic Epidemiology - What / Who/ When/ Where/ Why/ How</strong></p>
<p><strong>Historical context of epidemiology – the John Snow case study</strong></p>
<ol>
  <li>John Snow and Cholera – A case study. Adapted for Bangalore-CHLP by Adithya Pradyumna</li>
</ol>
<p><strong>Descriptive and analytical epidemiology; Populations, Exposures, Outcomes, Controls, Interventions</strong></p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 1. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 2. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
</ol>
<p><strong>Epidemiological perspective and understanding data</strong></p>
<p><strong>Epidemiology in community health practice</strong></p>
<p><strong>Steps in Research</strong></p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 1. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 2. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
</ol>
<p><strong>Understanding steps of research</strong></p>
<p><strong>Approach to Research in Community Health – a note for fellows taking up a research study as part of the CHLP Fellowship</strong></p>
<ol>
  <li>Allende, J. (2012). Rigor – The essence of scientific work. Electronic Journal of Biotechnology,</li>
</ol>
<p>7(1).</p>
<ol>
  <li>People’s Health Movement. (2005). Research for People’s Health: A Researcher’s Encounter.</li>
</ol>
<p><strong>Research Ethics</strong></p>
<ol>
  <li>Research for People’s Health – A Researcher’s Encounter at the Second People’s Health</li>
</ol>
<p>Assembly of the People’s Health Movement, Cuenca, Equador, 2005</p>
<ol>
  <li>Ethical guidelines for Social Science Research in Health by National Committee For</li>
</ol>
<p>Ethics In Social Science Research In Health (NCESSRH), November 2000</p>
<ol>
  <li>Ethical Guidelines for Biomedical Research on Human Subjects, ICMR, 2000</li>
  <li>The Tuskegee Syphilis Trial 1932-1972</li>
  <li>Nuremberg Code 1946</li>
  <li>Helsinki Declaration of 1964</li>
  <li>The Belmont Report 1979</li>
</ol>
<p><strong>n. Research- III</strong></p>
<p><strong>Qualitative Methods in research</strong></p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 1. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 2. Amsterdam: KIT Publushers/IDRC/AFRO; 2003 3. Mack N, Woodsong C, MacQueen KM, Guest G, Namey E. Qualitative research methods: a data collectors field guide. North Carolina: Family Health International; 2005</li>
</ol>
<p><strong>Quantitative Methods in research</strong></p>
<ol>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 1. Amsterdam: KIT Publushers/IDRC/AFRO; 2003</li>
  <li>Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 2. Amsterdam: KIT Publushers/IDRC/AFRO; 2003.</li>
</ol>
<p><strong>o. Research IV</strong></p>
<p><strong>Participatory Action Research</strong></p>
<ol>
  <li>Loewenson R, Laurell AC, Hogstedt C, D’Ambruoso L, Shroff Z. Participatory action research in health systems: a methods reader. TARSC, AHPSR, WHO, IDRC Canada, EQUINET, Harare; 2014</li>
</ol>
<p><strong>Knowledge Translation and Advocacy</strong></p>
<ol>
  <li>1. Varkevisser CM, Pathmanathan I, Brownlee AT. Designing and conducting health systems research projects. Vol. 2. Amsterdam: KIT Publishers/IDRC/AFRO; 2003</li>
</ol>
<p><strong>p. Health Technology and Innovation</strong></p>
<p><strong>Understanding rational drug policy and prescription, pharmaceutical policy</strong></p>
<ol>
  <li>Rational Medical Care in Confronting Commercialization of Health Care. The People’s Health</li>
</ol>
<p>Sourcebook. The National Coordination Committee, Jan Swasthya Abhiyan. New Delhi: 2004</p>
<ol>
  <li>Medical Ethics, Medical Education and Health Care in Confronting Commercialization of Health Care. The People’s Health Sourcebook. The National Coordination Committee, Jan Swasthya bhiyan. New Delhi: 2004</li>
</ol>
<p><strong>Immunization challenges, policy and action</strong></p>
<p><strong>Appropriate Technology and innovation</strong></p>
<ol>
  <li>Appropriate Technology for Primary Health Care. Proceedings of the National Workshop on</li>
</ol>
<p>Appropriate Technology for Primary Health Care held at the Indian Council of Medical Research, New Delhi: 1981</p>
<ol>
  <li>New Technologies in Public Health – Who pays and who benefits? The National Coordination</li>
</ol>
<p>Committee, Jan Swasthya Abhiyan. 2007</p>
<p><strong>q. Situation Analysis Of Health And Health Care In India</strong></p>
<p><strong>Situation Analysis of Health and Health Determinants in India</strong></p>
<ol>
  <li>DLHS, NFHS, AHS fact sheets</li>
</ol>
<p><strong>Regional Disparities and inequalities, trends</strong></p>
<ol>
  <li>Kurian, NJ (2007). ‘Widening Economic and Social disparities: Implications for India’, Indian Journal of Medical Research’, 126, October 2007, pp 374-380</li>
  <li>Government of Karnataka (2001). ‘Study on health and health disparities in Health and Health care services Karnataka’ in ‘Karnataka towards Equity, Quality and Integrity in Health - Final report of the Task Force on Health and Family Welfare’, Bangalore, April 2001</li>
  <li>Braveman, P. (2006). &amp;#39;Health Disparities and Health Equity: Concepts and Measurement. Annual review of Public Health, 2006; 27; pp167-94</li>
</ol>
<p><strong>Understanding Health care sectors - public, private, voluntary tradition, people sector and local health tradition – strengthens / weaknesses</strong></p>
<ol>
  <li>Private Health Sector in India: A Critical Review.The People&amp;#39;s Health Resource</li>
</ol>
<p>Book.pp309-330</p>
<p><strong>r. Building Blocks for Fellowship – Learning Together</strong></p>
<p><strong>Understanding oneself - intra personal and Inter personal skills Inside learning, outside learning,&nbsp;</strong></p>
<p><strong>learning skills, social skills and self-learning</strong></p>
<p>1. John Staley. Looking Inwards in People in Development.</p>
<p><strong>What is Health? Physical, Mental, Social, Economic, Political, Cultural, Ecological. Differentiating Health and Medical Paradigms</strong></p>
<ol>
  <li>Emerging Concepts and Paradigms. Social Justice in Health Multiple pathways towards Health for ALL. pp41-2</li>
</ol>
<p><strong>s. Health Economics</strong></p>
<p><strong>Health Equity and Universal Health Coverage</strong></p>
<p>1. Kurian, NJ (2007). ‘Widening Economic and Social disparities: Implications for India’,</p>
<p>Indian Journal of Medical Research’, 126, October 2007, pp 374-380</p>
<p>2. Government of Karnataka (2001). ‘Study on health and health disparities in Health and</p>
<p>Health care services Karnataka’ in ‘Karnataka towards Equity, Quality and Integrity in</p>
<p>Health - Final report of the Task Force on Health and Family Welfare’, Bangalore, April</p>
<p>2001</p>
<p><strong>Basics of Health Economics including Health Financing, Budget analysis</strong></p>
<p>1. What Every Indian Should Know About the Financing of Health Care in India. The</p>
<p>People&amp;#39;s Health Source Book.pp37-45</p>
<p>2. Anexure 1 and 2.The People&amp;#39;s Health Source Book.pp358-361</p>
<p><strong>Movies:</strong></p>
<p>1. Sick around the world</p>
<p>2. Sicko</p>
<p><strong>Community Financing and Insurance</strong></p>
<p>1. Devadasan N, Ranson K, Van Damme W, Acharya A, Criel B. The landscape of</p>
<p>community health insurance in India: An overview based on 10 case studies. Health</p>
<p>Policy 2006; 78_224-34</p>
<p><strong>t. Communicable Diseases – Community Health Responses</strong></p>
<p><strong>TB/HIV/AIDS</strong></p>
<ol>
  <li>The Rediscovery of Tuberculosis in Case Study: Strategies for Tuberculosis Control. The</li>
</ol>
<p>People&amp;#39;s Health Resource Book.pp123-126</p>
<ol>
  <li>Educational approaches in Tuberculosis control: Building on the Social Paradigm, Tuberculosis: An interdisciplinary perspective, Thelma Narayan and Ravi Narayan,Editors: John D. H. Porter and John M. Grange, Imperial College Press, London, 1999. P 489-509</li>
  <li>Alternative Approaches for Tubercuosis Control in Case Study: Strategies for Tuberculosis Control The People&amp;#39;s Health Resource Book.pp126-128</li>
</ol>
<p>Movies:</p>
<p>1. Ananta - a film on AIDS</p>
<p>2. TB / HIV - the dual epidemic</p>
<p>3. Sankalp ESI project</p>
<p>4. Saheli - a friend in need</p>
<p><strong>u. Water Borne Diseases</strong></p>
<ol>
  <li>The Community Health Paradigm in Diarrhoeal Diseases Control by Dr. Ravi Narayan. Chapter selected from the book ‘Diarrhoeal Diseases: Current Status, Research Trends and Field Studies. Edited by D. Raghunath and R Nayak. The Third Sir Dorabji Tata Symposium, Bangalore. P299-304</li>
</ol>
<p><strong>Vector borne diseases – Malaria, Dengue, Filaria and other diseases</strong></p>
<p>1. Case Study: The War Against Malaria. The People&amp;#39;s Health Resource Book.pp110-118</p>
<p>Movies:</p>
<ol>
  <li>Fighting Malaria</li>
  <li>Manmade malaria</li>
  <li>Community participation in malaria control</li>
  <li>Antibiotic Resistance for Idiots</li>
</ol>
<p><strong>v. Health Systems and Health Policy</strong></p>
<p><strong>Health systems and health policy in India - history and evolution</strong></p>
<p>1. Introduction. The People&amp;#39;s Health Source Book.pp264-272</p>
<p>2. The Health Care System. Rakku’s Story Structures of Ill-health and the Source of Change.pp80-98</p>
<p><strong>Health system at different levels – local, district, state, central</strong></p>
<p>1. Indian Public Health Standards</p>
<p><strong>Issues of access acceptability, affordability, availability, quality</strong></p>
<ol>
  <li>Dilip T. Extent of inequity in access to health care services in India. Rev Health Care India.</li>
</ol>
<p>2005;247–68. (for data presentation)</p>
<ol>
  <li>Jacobs B, Ir P, Bigdeli M, Annear PL, Van Damme W. Addressing access barriers to health services: an analytical framework for selecting appropriate interventions in low-income Asian countries. Health Policy and Planning. 2012;27(4):288–300.</li>
  <li>The Economic Base of Ill=Health. Rakku&amp;#39;s Story Structures of Ill-health and the Source</li>
</ol>
<p>of Change.pp47-59</p>
<p>Movie</p>
<ol>
  <li>Ramakka’s Story</li>
</ol>
<p><strong>w. Understanding Community/ Society / Development And Health</strong></p>
<p><strong>What is community, society, family, collective, cooperative</strong></p>
<ol>
  <li>Chapter 3 of Community Tool Box: Section 2. Understanding and Describing the Community</li>
</ol>
<p>(http://ctb.ku.edu/en/table-of-contents/assessment/assessing-community-needs-and-resources/describe-the-community/main)</p>
<ol>
  <li>Community Organisation in Community Health in India. Community Health In Search of Alternate Processes.pp25-26</li>
  <li>Community Participation in Community Health in India. Community Health In Search of Alternate Processes.pp25</li>
</ol>
<p><strong>Class, caste, gender, social exclusion, marginalization</strong></p>
<p><strong>Caste and Social exclusion</strong></p>
<ol>
  <li>Nayar, K. R., &amp;amp; others. (2007). Social exclusion, caste &amp;amp; health: a review based on the social determinants framework. Indian Journal of Medical Research, 126(4), 355.</li>
  <li>A World Where We Matter! The People&amp;#39;s Health Source Book.pp198-262.</li>
</ol>
<p>Moviews</p>
<ol>
  <li>Lesser Human</li>
</ol>
<p><strong>Gender and Health</strong></p>
<ol>
  <li>Engendering health by Dr. Sundari Ravindran –seminar web collection</li>
  <li>gendered vulnerabilities: women’s health and access to healthcare in India- Ms. Manasee Mishra, Ph.d, The Centre for Enquiry into Health and Allied Themes (CEHAT),</li>
</ol>
<p>Mumbai quarterly news letter by Asian Pacific Resource and Research Centre, Malaysia&nbsp;</p>
<ol>
  <li>Women and Health, Today evidence-Tomorrows agenda , executive summary of WHO report</li>
  <li>5. Womens Health. The People&amp;#39;s Health Resource Book.pp203-224</li>
</ol>
<p><strong>Structures, stratification, power dynamics, conflicts, transitions</strong></p>
<p><strong>Understanding dalit issue; adivasi issue; agrarian distress</strong></p>
<ol>
  <li>The Marginalised and the Vulnerable. The People&amp;#39;s Health Resource Book.pp198-199</li>
  <li>Health for Dalit Communities. Defending the Health of the Marginalised. pp7-20</li>
</ol>
<p><strong>x. Nutrition and Women and Children’s Health</strong></p>
<p><strong>Understanding Nutrition &amp;amp; Food Security</strong></p>
<ol>
  <li>Globalisation and Food Security. The People&amp;#39;s Health Source Book.pp53-60</li>
  <li>Supplementary Feeding and Early Childhood Care in Her Name is Today. The People’s</li>
</ol>
<p>Health Source Book.pp241-43</p>
<ol>
  <li>3. Recommendations on ICDS in Her Name is Today. The People&amp;#39;s Health Source</li>
</ol>
<p>Book.pp247</p>
<ol>
  <li>Dev SM, Sharma AN. Food security in India: Performance, challenges and policies. 2010;</li>
  <li>Gross R, Schoeneberger H, Pfeifer H, Preuss H. The four dimensions of food and nutrition security: definitions and concepts. SCN News. 2000;20:20–5.</li>
</ol>
<p>Movies:</p>
<ol>
  <li>Assassination - Starvation deaths and rights to food campaign in India</li>
</ol>
<p><strong>Understanding Women’s Health (beyond RCH)</strong></p>
<ol>
  <li>Women&amp;#39;s Health. The People&amp;#39;s Health Resource Book.pp203-224</li>
</ol>
<p>Movies:</p>
<ol>
  <li>Abortion &amp;quot;MTP Act&amp;quot;</li>
  <li>Antenatal clinic (ANC) at Health Post (SHC)</li>
  <li>Burnt not defeated</li>
  <li>Count down maternal deaths: A documentary film on maternal health</li>
  <li>Fine imbalance - Sex determination</li>
  <li>How to organize maternity wing at peripheral hospital (PHC/CHC</li>
  <li>India&amp;#39;s daughter</li>
  <li>The Holy Wives</li>
  <li>Traditional Birth Attendant - Training</li>
</ol>
<p><strong>Understanding child health</strong></p>
<ol>
  <li>Her Name is Today. The People&amp;#39;s Health Resource Book.</li>
  <li>And they call us children!. The People&amp;#39;s Health Resource Book</li>
</ol>
<p><strong>y. Non-Communicable Diseases – Community Health Responses</strong></p>
<p><strong>Heart Disease/ Stroke/ Diabetes</strong></p>
<ol>
  <li>Schmidt LA, Mäkelä P, Rehm J, Room R. Alcohol: equity and social determinants. Equity Soc</li>
</ol>
<p>Determinants Public Health Programme. 2010;11.</p>
<ol>
  <li>Mendis S, Banerjee A. Cardiovascular disease: equity and social determinants. Equity Soc</li>
</ol>
<p>Determinants Public Health Programme. 2010;31.</p>
<ol>
  <li>Whiting D, Unwin N, Roglic G. Diabetes: equity and social determinants. Equity Soc Determinants Public Health Programme. 2010;77.</li>
</ol>
<p><strong>Mental Health and Substance abuse</strong></p>
<p><strong>An introduction to Mental Health, Mental Illness, and to Community Mental Health and Development</strong></p>
<ol>
  <li>Patel V, Lund C, Hatherill S, Plagerson S, Corrigall J, Funk M, et al. Mental disorders:</li>
</ol>
<p>equity and social determinants. Equity Soc Determinants Public Health Programme.</p>
<p>2010;115.</p>
<p>Movies:</p>
<ol>
  <li>Samatha</li>
  <li>Exploring madness series</li>
  <li>Reshma’s ‘A Drop of Sunshine’</li>
  <li>Perspectives on Mental Health</li>
</ol>
<p><strong>Substance Abuse</strong></p>
<ol>
  <li>David A, Esson K, Perucic A-M, Fitzpatrick C. Tobacco use: equity and social determinants. Equity Soc Determinants Public Health Programme. 2010;199.</li>
</ol>
<p>Movies</p>
<ol>
  <li>India Inhales</li>
  <li>Safer Healthier Alternatives to Tobacco</li>
  <li>Tobacco the Devil</li>
</ol>
<p><strong>Cancer/ Accidents etc</strong></p>
<ol>
  <li>Roberts H, Meddings D. Violence and unintentional injury: equity and social</li>
</ol>
<p>determinants. Equity Soc Determinants Public Health Programme. 2010;243.</p>
<p><strong>Risk reduction, life style change, prevention and promotion</strong></p>
<p>Movies:</p>
<ol>
  <li>The 6th Global Conference on Health promotion 7-11 Aug. 2005</li>
</ol>
