<!--
title: Community health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Community health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:402px;"><a class="image" href="/~commun26/wiki/index.php?title=File:Communitybuilding.jpg"><img alt="Communitybuilding.jpg" class="thumbimage" height="318" src="/~commun26/wiki/images/thumb/4/4d/Communitybuilding.jpg/400px-Communitybuilding.jpg" width="400"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:Communitybuilding.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
              </div>
            </div>
          </div>
          <b>Community health</b> is a process of enabling people to exercise collectively their responsibility for their own <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and to demand health as their
          right. It involves the increasing of the individual, family and community autonomy over health and over organisations, means, opportunities, knowledge, skills and supportive structures that make health possible. <sup class="reference" id="cite_ref-chindia_1-0"><a href="#cite_note-chindia-1">[1]</a></sup>
          <p>The components of community health action include <sup class="reference" id="cite_ref-chindia_1-1"><a href="#cite_note-chindia-1">[1]</a></sup></p>

          <ul>
            <li> Integrating curative with preventive, promotive and rehabilitative activities.</li>

            <li> Experimenting with low-cost, effective, appropriate technology.</li>

            <li> Involving local, indigenous health knowledge, resources and personnel.</li>

            <li> Training village based health workers.</li>

            <li> Initiating and supporting community organisations in all aspects of health planning and management.</li>

            <li> Generating community support by mobilising financial resources, labour skills and manpower resources from the community.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://ctb.ku.edu/en" rel="nofollow">www.ctb.ku.edu</a> - The Community Tool Box: the world's largest resource for free information on essential skills for building healthy communities.</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Community_health" title="wikipedia:Community health">Wikipedia: Community health</a></li>

            <li> <a class="external text" href="http://www.enotes.com/public-health-encyclopedia/community-health" rel="nofollow">Community Health: Encyclopedia of Public Health - eNotes.com</a></li>

            <li> <a class="external text" href="http://www.communityhealthglobal.net/Default.aspx" rel="nofollow">www.communityhealthglobal.net</a> - Community Health Global Network website</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Notes">Notes</span></h2>

          <ol class="references">
            <li id="cite_note-chindia-1"><span class="mw-cite-backlink">↑ <sup><a href="#cite_ref-chindia_1-0">1.0</a></sup> <sup><a href="#cite_ref-chindia_1-1">1.1</a></sup></span> <span class="reference-text"> The Community
              Health Cell Team (July 1989). Community Health in India. <i>Health Action</i> Vol.2 No.7</span></li>
          </ol>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Community_health&amp;oldid=654">http://www.communityhealth.in/~commun26/wiki/index.php?title=Community_health&amp;oldid=654</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>