<!--
title: Community Health Cell
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Community Health Cell</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Community Health Cell</b> (CHC) is a Bangalore based policy, research and training center that works with people movements, civil societies, state and national governments, and international health agencies in promoting
            a social/community/rights based paradigm of health and health care. It is a functional unit of the <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness, Research and Action</a>.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness, Research
              and Action</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Thelma_Narayan" title="Thelma Narayan">Thelma Narayan</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Community Health Cell, Society for Community Health Awareness, Research and Action (SOCHARA), 85/2, Ist Main, Maruthi Nagara, Madiwala, Bengaluru - 560068, Karnataka, India</p>

          <p><b>Telephone:</b> +91-080-25531518</p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.sochara.org" rel="nofollow">www.sochara.org</a> - The Community Health Cell website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Community_Health_Cell&amp;oldid=332">http://www.communityhealth.in/~commun26/wiki/index.php?title=Community_Health_Cell&amp;oldid=332</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>