<!--
title: Community Practice on Accountability and Social Action in Health -COPASAH  
description: 
published: true
date: 2023-06-26T09:17:20.800Z
tags: public health information sources, social networks in public health in india and related
editor: ckeditor
dateCreated: 2023-06-26T09:17:20.800Z
-->

<p style="text-align:justify;">COPASAH is a community of practitioners who share an interest and passion for community monitoring on accountability in health, they exchange experiences and lessons, share resources, capacities and methods; in the towards strengthening and in networking and capacity building among member organizations for accountability and social action in health. This Community of practitioners was established as result of a three day 'Practitioners Convening on Community Monitoring for Accountability in Health' organized by the Accountability and Monitoring in Health Initiative (AMHI) of the Open Society’s Public Health Program in July 2011.</p>
<figure class="image"><img src="/copasah-logo.jpg"></figure>
<p style="text-align:justify;">&nbsp;</p>
