<!--
title: Communityhealth.in:Community Portal
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Communityhealth.in:Community Portal</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>communityhealth.in is a wiki mass collaboration project. That means it will become bigger and better only if <b>you</b> get involved.</p>

          <h2> <span class="mw-headline" id="Join_the_team"> Join the team </span></h2>

          <ul>
            <li> In order to be a comprehensive resource on community health in India communityhealth.in depends on a <a href="/~commun26/wiki/index.php?title=Special:ListUsers" title="Special:ListUsers"> community of voluntary
              editors</a> who create, edit and organise information related to community health in India. If you feel you have information and the willingness to share it with others then you should be involved.</li>
          </ul>

          <ul>
            <li> If you feel confident about your wiki editing skills then you can start getting involved in content creation. Before you start you will need a user name and password which can be obtained by contacting <a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan"> Lalit Narayan</a> with a short write up about yourself.</li>
          </ul>

          <ul>
            <li> During this initial period we will be concentrating on creating content centred around a few thematic areas that are listed on the Main page. However feel free to create articles in other relevant fields of interest as
              well. In addition articles can be created in categories such as <a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Category: Glossary</a>, and <a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">Category: People</a>.</li>
          </ul>

          <h2> <span class="mw-headline" id="Learn_to_wiki"> Learn to wiki </span></h2>

          <ul>
            <li> Creating and editing information on wiki websites may seem a little daunting at first but the basics can be learned quite easily within a few hours. Thousands of ordinary people contribute regularly to sites such as <a class="external text" href="http://wikipedia.org" rel="nofollow">wikipedia.org</a>. Since this site uses the exact same technology becoming a part of the communityhealth.in team requires more or less the the same skills and
              knowledge.</li>
          </ul>

          <ul>
            <li> Before starting to edit content on this site you will have to familiarise yourself with the basics of using wiki websites. The <a class="external text" href="http://en.wikipedia.org/wiki/Help:Contents" rel="nofollow">Help Section</a> at the Wikipedia website is a good place to start for the uninitiated.</li>
          </ul>

          <ul>
            <li> The <a class="external text" href="http://meta.wikimedia.org/wiki/Help:Contents" rel="nofollow">MediaWiki Handbook</a> on meta.wikimedia.org is another good resource to familiarise yourself on the basics of using
              MediaWiki, the program which runs this site.</li>
          </ul>

          <h2> <span class="mw-headline" id="Keep_in_touch"> Keep in touch </span></h2>

          <ul>
            <li> Join our <a class="external text" href="http://groups.google.com/group/communityhealthin-announce" rel="nofollow">communityhealth.in-announce</a> mailing list to keep up to date with the communityhealth.in project. This
              is an open, low traffic announcement list and we promise to send you not more than 3-4 emails a month.</li>
          </ul>

          <ul>
            <li> Join our <a class="external text" href="http://groups.google.com/group/communityhealthin-discuss" rel="nofollow">communityhealth.in-discuss</a> mailing list for unmoderated discussion on the project. This is an
              invitation only list for communityhealth.in editors and other project members.</li>
          </ul>

          <ul>
            <li> The communityhealth.in project core team has a blog at <a class="external text" href="http://communicatinghealth.wordpress.com" rel="nofollow">communicatinghealth.wordpress.com</a> where you can keep track of the latest
              developments and challenges that this fledgling initiative faces. We also hope to use the space to further the discussion regarding the use of new digital media technologies within the <a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For All movement</a> and build community among Health For All communicators.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal&amp;oldid=340">http://www.communityhealth.in/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal&amp;oldid=340</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>