<!--
title: communityhealth.in:About
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">communityhealth.in:About</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <div class="thumb tright">
              <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=Image:LogoBlack.jpg" title="The communityhealth.in logo is from an old cartoon by Community Health Cell. It signifies us coming together to work for health."><img alt="The communityhealth.in logo is from an old cartoon by Community Health Cell. It signifies us coming together to work for health." border="0" class="thumbimage" height="114" src="/~commun26/wiki/images/thumb/c/cf/LogoBlack.jpg/180px-LogoBlack.jpg" width="180"></img></a>
                <div class="thumbcaption">
                  <div class="magnify" style="float:right"><a class="internal" href="/~commun26/wiki/index.php?title=Image:LogoBlack.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                  The communityhealth.in logo is from an old cartoon by <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a>. It signifies us coming together to work for
                  health.</div>
              </div>
            </div>
            <b>communityhealth.in</b> is a collaborative project aimed at creating a comprehensive resource on <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> and the <a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For All movement</a> in <a class="new" href="/~commun26/wiki/index.php?title=India&amp;action=edit" title="India">India</a> put together by people actually working in the field
            <p>The site is a <a class="external text" href="http://en.wikipedia.org/wiki/Wiki" rel="nofollow" title="http://en.wikipedia.org/wiki/Wiki">Wiki</a> website similar to <a class="external text" href="http://www.wikipedia.org" rel="nofollow" title="http://www.wikipedia.org">Wikipedia</a> and consists of a number of interlinked encyclopaedia format articles, images and PDF documents as well as links to numerous other webpages and websites.</p>

            <p>The site has been created by <a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan"> Lalit Narayan</a> and hopes to evolve into a mass collaborative effort of a<a href="/~commun26/wiki/index.php?title=Special:Listusers" title="Special:Listusers"> number of voluntary scholars</a> with experience and expertise in a variety of disciplines including grassroots community health
              organising, medicine, public health, epidemiology, social sciences, political economy and history representing a variety of voices and realities from the local to the global level.</p>

            <p>This website aims at bringing together fragmentary facts, <a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary"> concepts</a> and analysis in order to create an integrated understanding of
              the <a href="/~commun26/wiki/index.php?title=Health_system" title="Health system">health system</a> in <a class="new" href="/~commun26/wiki/index.php?title=India&amp;action=edit" title="India">India</a>. We hope to focus
              on previously undescribed areas within a health system especially on the community of <a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People"> individuals</a>, organisations and networks who have
              the power to significantly affect health in India.</p>

            <p>We hope not to merely reflect the existing ground reality of <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> in India but also be part of the process of working towards <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> through the creation of a number useful resources for practical use in the struggle for a healthier nation and world.</p>

            <p>If you feel you would like to get involved with this project please visit the <a href="/~commun26/wiki/index.php?title=communityhealth.in:Community_Portal" title="communityhealth.in:Community Portal"> Community portal</a>
              or contact <a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan"> Lalit Narayan</a></p>

            <p>The <a href="/~commun26/wiki/index.php?title=Special:Listusers" title="Special:Listusers"> communityhealth.in team</a> has a blog at <a class="external text" href="http://communicatinghealth.wordpress.com" rel="nofollow" title="http://communicatinghealth.wordpress.com">communicatinghealth.wordpress.com</a> where you can keep track of the latest developments and challenges that this fledgling initiative faces. We also hope to use the space
              to further the discussion regarding the use of new digital media technologies within the <a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For All movement</a> and
              build community among Health For All communicators.</p>

            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:About">http://www.communityhealth.in/~commun26/wiki/index.php?title=communityhealth.in:About</a>"</div>

            <div class="visualClear"></div>
          </div>
        </div>