<!--
title: Comprehensive Rural Health Programme, Jamkhed
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Comprehensive Rural Health Project, Jamkhed</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Programme,_Jamkhed&amp;redirect=no" title="Comprehensive Rural Health Programme, Jamkhed">Comprehensive Rural Health
          Programme, Jamkhed</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_Also">See Also</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Rajnikant_Arole&amp;action=edit&amp;redlink=1" title="Rajnikant Arole (page does not exist)">Rajnikant Arole</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mabel_Arole&amp;action=edit&amp;redlink=1" title="Mabel Arole (page does not exist)">Mabel Arole</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Jamkhed" title="Jamkhed">Jamkhed</a> (book)</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.jamkhed.org" rel="nofollow">www.jamkhed.org</a> - Website of the Comprehensive Rural Health Project, Jamkhed</li>

            <li> <a class="external text" href="http://apps.facebook.com/causes/88129/4553233?m=e56504ed" rel="nofollow">CRHP Jamkhed Facebook page</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed&amp;oldid=862">http://www.communityhealth.in/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed&amp;oldid=862</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>