<!--
title: Comprehensive Rural Health Project, Hanur
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Holy Cross Comprehensive Rural Health Project</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Hanur&amp;redirect=no" title="Comprehensive Rural Health Project, Hanur">Comprehensive Rural Health Project,
          Hanur</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HCCRHP1.JPG"><img alt="" class="thumbimage" height="135" src="/~commun26/wiki/images/thumb/4/41/HCCRHP1.JPG/180px-HCCRHP1.JPG" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HCCRHP1.JPG" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Holy Cross Comprehensive Rural Health Project compound</div>
            </div>
          </div>
          The <b>Holy Cross Comprehensive Rural Health Project</b> (HCCRHP) is a <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> programme based in the village of Hanur in the
          Kollegal Taluk of the Chamarajnagar district of <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a>. It is a <a href="/~commun26/wiki/index.php?title=Non-governmental_organisation" title="Non-governmental organisation">non-governmental organisation</a> run by Catholic nuns of the Holy Cross congregation.
          <p>HCCRHP is involved in a number of health promotion activities including training and support of community health volunteers from 80 surrounding villages, running mobile health clinics in villages with limited access to health
            care, economic empowerment through self-help groups, alternative livelihood activities, animal husbandry and novel farming methods, watershed development and improvement of education through establishment of evening schools.
            The project also runs a residential school for bonded labour children and school dropouts.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="References"> References </span></h2>

          <ul>
            <li> Community Health Cell,(2008), <i>Glimpses of Activities 2007-08</i>,</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Holy_Cross_Comprehensive_Rural_Health_Project&amp;oldid=437">http://www.communityhealth.in/~commun26/wiki/index.php?title=Holy_Cross_Comprehensive_Rural_Health_Project&amp;oldid=437</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>