<!--
title: Course in Sustainable Community Health & Development
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Course in Sustainable Community Health &amp; Development</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="Learning_Opportunities_on_Sustainable_Community_Health_and_Development"><b>Learning Opportunities on Sustainable Community Health and Development </b></span></h2>

          <p>at the Jamkhed International Institute, India</p>

          <p>Comprehensive Rural Health Project (CRHP), Jamkhed, India</p>

          <p>Jamkhed International Institute for Training &amp; Research</p>

          <p>in Sustainable Community Health &amp; Development</p>

          <p><a class="new" href="/~commun26/wiki/index.php?title=Www.jamkhed.org/training&amp;action=edit&amp;redlink=1" title="Www.jamkhed.org/training (page does not exist)">www.jamkhed.org/training</a></p>

          <p><br></br>
          </p>

          <p>Participate in the global revitalization of primary health care (PHC)!</p>

          <p>by learning from a program that pioneered CBPHC principles &amp; practice,</p>

          <p>and whose experience informed the AlmaAta Declaration (1978)</p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Come_and_learn_.21.21.21"> <b>Come and learn&#160;!!!</b> </span></h2>

          <p>about the principles and practice of comprehensive community-based primary health care</p>

          <p>(CBPHC) at a sustainable program that is an international model,</p>

          <p>from the staff and villagers who pioneered this transforming experience,</p>

          <p>through the principles of equity, integration, empowerment,</p>

          <p>bringing health and well-being to their communities for almost 50 years.</p>

          <p><br></br>
          </p>

          <p><b>Communities ‘Health’ Themselves</b></p>

          <p>Transforming Lives – Individuals, Communities!</p>

          <p><br></br>
          </p>

          <p>CRHP’s <b>Jamkhed International Institute for Training &amp; Research in Community Health &amp; Development</b> - learn from village people and CRHP staff who have experienced the transformative process. Since 1970 CRHP has
            pioneered the principles (equity, integration, empowerment) and practice (building community capacity, sustainability, social &amp; behavior change, intersectionality, etc) of CBPHC.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Here_are_some_opportunities_for_2018:"> Here are some opportunities for 2018: </span></h2>

          <p><b>PRACTITIONERS</b> (e.g. project managers, community organizers, social workers, medical personnel)</p>

          <p><b>Course in Sustainable Community Health &amp; Development,</b> (2 months – Aug &amp; Sept or Feb) – cost $3,000 (scholarships are available especially for people from South Asia)</p>

          <p>(mainly for people from various disciplines working with an organization in communities)</p>

          <p><b>Customized Short Course for an organization</b> (1-2 weeks) - by arrangement</p>

          <p><br></br>
          </p>

          <p><b>STUDENTS</b> (e.g. medical, public health, allied health, social work, development):</p>

          <p><b>Practicum/Experiential Course</b> on Sustainable Development, (3 weeks in July) - cost: $1700</p>

          <p>(mainly for undergraduates in various disciplines)</p>

          <p><b>Internship/Practicum,</b> e.g. public health, social work (4-6 weeks, or longer) - by arrangement</p>

          <p><br></br>
          </p>

          <p><b>Other learning experiences</b> for individuals and groups - by arrangement</p>

          <p>(e.g. undergraduate or graduate class with its faculty, donor or church group, CCIH member group)</p>

          <p><br></br>
          </p>

          <p><b>NOTE:</b> If there is enough interest, we can develop a session for health and development professionals, e.g. for NGOs/FBOs, for 1- 2 weeks.</p>

          <p>Please let Connie Gates know if you would be interested, and when more than 5 respond, she will arrange it.</p>

          <p><br></br>
          </p>

          <p><b>Internships and Workshops also available in the US.</b></p>

          <p><br></br>
          </p>

          <p><b>Contact in North America: Others contact CRHP:</b> info@jamkhed.org</p>

          <p>Connie Gates, Jamkhed International – N.America</p>

          <p>PO Box 1418, Carrboro, NC 27510 information on web: www.jamkhed.org/training</p>

          <p>Tel. 919-270-5977 (cell), Email: jina@jamkhed.org</p>

          <p><br></br>
          </p>

          <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>

          <p><b>Comprehensive Rural Health Project (CRHP), Jamkhed, Maharashtra, India</b></p>

          <p>is a successful, sustainable, comprehensive, community-based primary health care (CBPHC) program, initiated by Drs Raj and Mabelle Arole in 1970. Based on their commitment to serve the poorest of the poor in rural India, they
            worked in a mission hospital and soon realized that the western medical model of clinic/hospital-based curative care was not having an impact on the health of the poor and marginalized, especially women and children. They were
            motivated to develop a new approach that would focus on health and on the community. With belief in the potential of every person, especially the poor and marginalized, they developed this approach for sustainable health and
            well-being of villages by the community members themselves.</p>

          <p>CRHP’s mission is to facilitate the empowerment of communities, especially poor, women and marginalized people, to attain health in its totality. CRHP’s values-based approach transforms villages into capable and caring
            communities that work together to improve the health and well-being of everyone. The project’s role is to enable and support building the capacity of the communities, especially through the role of village health workers and
            community groups. Villagers can assess their own problems (and resources), analyze causes, and develop appropriate action to solve them – a sustainable process.</p>

          <p>CRHP has been a pioneer since its beginning in developing the philosophy, principles and practice of comprehensive CBPHC. The “Jamkhed model” has become internationally known as a successful, sustainable approach of building
            the capacity of communities to address their own health needs, through empowerment, equity, addressing root causes/social determinants (e.g. poverty, women's status, caste system), etc. There is a significant impact on health
            indicators (e.g. infant/child and maternal health, communicable and chronic diseases). The improvements are sustainable, by the community. CRHP has been used globally as a model for other NGOs, churches, international NGOs and
            government programs, including UNICEF, WHO, Govt of India - and its experience informed the AlmaAta Declaration (1978). It continues to be involved in the global revitalization of PHC.</p>

          <p>In 1992 CRHP established the Jamkhed International Institute for Training &amp; Research in Sustainable Community Health &amp; Development, where people (students, professionals &amp; community members; from government, NGOs
            &amp; churches; national &amp; international) from all over the world come to learn from the staff and villagers about this approach. The learning experiences at Jamkhed will enable you to understand the principles &amp;
            practice of CBPHC and to be able to incorporate these into your own work.</p>

          <p><br></br>
            <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India" title="Portal: Community health internships and medical electives in India">Portal: Community health internships and
            medical electives in India</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Course_in_Sustainable_Community_Health_%26_Development&amp;oldid=2129">http://www.communityhealth.in/~commun26/wiki/index.php?title=Course_in_Sustainable_Community_Health_%26_Development&amp;oldid=2129</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Current_events&amp;action=edit&amp;redlink=1" title="Category:Current events (page does not exist)">Current events</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>