<!--
title: Cuenca Declaration (2005)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Cuenca Declaration (2005)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <a class="new" href="/~commun26/wiki/index.php?title=Second_People%E2%80%99s_Health_Assembly&amp;action=edit&amp;redlink=1" title="Second People’s Health Assembly (page does not exist)">Second People’s Health Assembly</a> (PHA2) was held in Cuenca, Ecuador from 17 to 22 July <a class="new" href="/~commun26/wiki/index.php?title=2005&amp;action=edit&amp;redlink=1" title="2005 (page does not exist)">2005</a> and was attended by 1492
            representatives from over 82 countries. The <b>Cuenca Declaration</b> is the consensus document that arose from this Assembly. It reaffirms the continuing importance of the <a class="new" href="/~commun26/wiki/index.php?title=People%27s_Charter_for_Health_(2000)&amp;action=edit&amp;redlink=1" title="People's Charter for Health (2000) (page does not exist)">People's Charter for Health (2000)</a> and endorses a
            vision of a socially and economically just world in which peace prevails; a world in which all people, are respected, are able to claim their right to health and celebrate life, nature, and diversity.</p>

          <p><br></br>
          </p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Preamble"><span class="tocnumber">1</span> <span class="toctext">Preamble</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Solidarity_with_struggles_in_Ecuador"><span class="tocnumber">2</span> <span class="toctext">Solidarity with struggles in Ecuador</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#The_global_health_reality"><span class="tocnumber">3</span> <span class="toctext">The global health reality</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Establish_the_Right_to_health_in_an_era_of_hegemonic_globalization"><span class="tocnumber">4</span> <span class="toctext">Establish the Right to health in an era of
                      hegemonic globalization</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Promote_health_in_an_intercultural_context"><span class="tocnumber">5</span> <span class="toctext">Promote health in an intercultural context</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Advance_the_right_to_health_for_all_in_the_context_of_gender_and_personal_diversity"><span class="tocnumber">6</span> <span class="toctext">Advance the right to health
                      for all in the context of gender and personal diversity</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#Ensure_workers.27_health_and_safety_by_defending_and_extending_existing_rights"><span class="tocnumber">7</span> <span class="toctext">Ensure workers' health and safety
                      by defending and extending existing rights</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#Support_the_growth_of_PHM"><span class="tocnumber">8</span> <span class="toctext">Support the growth of PHM</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Preamble">Preamble</span></h2>

          <p>Coming from 82 countries around the world, 1492 people met at the Second People's Health Assembly in Cuenca, Ecuador from 17th to 22nd July 2005, to analyse global health problems and to develop strategies to promote Health
            for all.</p>

          <p>Overwhelmingly we reaffirmed the continuing importance of the <a class="new" href="/~commun26/wiki/index.php?title=People%27s_Charter_for_Health_(2000)&amp;action=edit&amp;redlink=1" title="People's Charter for Health (2000) (page does not exist)">People's Charter for Health (2000)</a> and saw it as a rallying document for the ongoing struggles of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a> globally and within countries.</p>

          <p>The vision endorsed at PHA2 is for a socially and economically just world in which peace prevails; a world in which all people, whatever their social and economic condition, gender, cultural identity and ability, are
            respected, are able to claim their right to health and celebrate life, nature, and diversity.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Solidarity_with_struggles_in_Ecuador"> Solidarity with struggles in Ecuador </span></h2>

          <p>Here in the heart of the Andes we have learned much from the hospitality, living cultural heritage, and current struggles of our Ecuadoran sisters and brothers. We join them in solidarity to oppose the signing of the Free
            Trade Agreement imposed by the government of the United States and the <a class="new" href="/~commun26/wiki/index.php?title=International_financial_institutions&amp;action=edit&amp;redlink=1" title="International financial institutions (page does not exist)">international financial institutions</a>. This agreement will increase corporate profits, impoverish the workers, campesinos and indigenous peoples of the
            Andes, negatively influence their living and working conditions and impede their access to health care and enjoyment of health. We also join our Andean partners in opposing Plan Colombia, the name for the biological warfare
            carried out against them by the United States, which is poisoning their land and water, and militarising their border regions.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="The_global_health_reality"> The global health reality </span></h2>

          <p>We deplore the worsening conditions of health experienced by many of the world's people and we denounce their cause - <a class="new" href="/~commun26/wiki/index.php?title=Neoliberalism&amp;action=edit&amp;redlink=1" title="Neoliberalism (page does not exist)">neoliberalism</a>. Neo-liberal polices imposed by the G8, transfer wealth from the South to the North, from the poor to the rich, and from the public to the private sector.
            Corporate profits increase while poor people, indigenous peoples and the victims of war and occupation, suffer.</p>

          <p>Economically and politically generated health inequalities have increased, yet these root causes of avoidable disease and death are not effectively addressed by current policies or programs. The spirit of Alma Ata has been
            betrayed by most official health systems, though it has been kept alive in the face of adversity by health activists and health workers in community projects all over the world. <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Comprehensive_primary_health_care" title="Comprehensive primary health care">Comprehensive primary health care</a> is implemented in very few places, and the provision of health services
            is rarely seen as a collective social responsibility. Under neoliberalism there is no <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Right_to_health" title="Right to health">right to health</a>, racism is
            nurtured, women's oppression deepens, social exclusion increases, environmental degradation becomes the norm, workers' rights are non-existent, and war serves the profit seeking of big corporations. Governments, IFIs, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>, multilateral and bilateral agencies are strongly influenced by the agendas of these corporations.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Establish_the_Right_to_health_in_an_era_of_hegemonic_globalization"> Establish the Right to health in an era of hegemonic globalization </span></h2>

          <p>PHM calls on the peoples of the world to mobilize against the denial of the <a href="/~commun26/wiki/index.php?title=Right_to_Health" title="Right to Health">Right to Health</a>. The global economic framework of
            neoliberalism, privatization and "free trade," made operational through the WTO and international financial institutions, has played a determinant role in the transfer to the corporate sector of the control of the determinants
            of health. This leads to environmental destruction, toxic pollution, denial of rights to water, food, and life itself. The human right to health and health care must take precedence over the profits of corporations, especially
            the profiteering of pharmaceutical companies. The <a class="new" href="/~commun26/wiki/index.php?title=WTO&amp;action=edit&amp;redlink=1" title="WTO (page does not exist)">WTO</a> operates as a de facto world government even
            though it is unelected, unrepresentative and unaccountable. Responsibility for international trade and development must be returned to the people through reappropriation of relevant UN bodies such as <a class="new" href="/~commun26/wiki/index.php?title=UNCTAD&amp;action=edit&amp;redlink=1" title="UNCTAD (page does not exist)">UNCTAD</a>. Unless it is massively reformed to operate democratically, the WTO must be dismantled as it is a
            major source of massive human rights violations and injustice and a key mechanism of corporate control of life on earth.</p>

          <p>The right to health will be achieved through large scale popular mobilization. PHM will initiate or support struggles related to the right to water, food security and food sovereignty, a healthy environment, dignified work,
            safe housing, universal education and gender equity, since people's health depends on the fulfillment of these basic rights. PHM will launch a comprehensive campaign to achieve the "Global Right to Health and Health Care" at
            the local, national and international levels, to defend health and social security (including health care) systems, and to document and oppose health inequities and denial of the right to health. PHM will defend health workers
            in their opposition to the privatization of health services by building broad multi-sectoral alliances.</p>

          <p>PHM will campaign to end <a class="new" href="/~commun26/wiki/index.php?title=TRIPS&amp;action=edit&amp;redlink=1" title="TRIPS (page does not exist)">TRIPS</a>, remove it from the WTO, and oppose bilateral Free Trade
            Agreements and TRIPS+. We call upon governments to use the <a class="new" href="/~commun26/wiki/index.php?title=Doha_Agreement&amp;action=edit&amp;redlink=1" title="Doha Agreement (page does not exist)">Doha Agreement</a> to
            provide people with affordable <a class="new" href="/~commun26/wiki/index.php?title=Generic_drugs&amp;action=edit&amp;redlink=1" title="Generic drugs (page does not exist)">generic drugs</a>. We oppose public-private
            partnerships because the private sector has no place in public health policy making. PHM will continue to monitor and provide inputs for the <a class="new" href="/~commun26/wiki/index.php?title=WHO_Commission_on_the_Social_Determinants_of_Health&amp;action=edit&amp;redlink=1" title="WHO Commission on the Social Determinants of Health (page does not exist)">WHO Commission on the
            Social Determinants of Health</a> to ensure that it effectively addresses the political and socio-economic causes of poverty, ill health and health inequity and engages in meaningful dialogue with civil society as much as
            possible. PHM will work with allied movements to coordinate common international actions against privatization and inequitable trade regimes.</p>

          <h2> <span class="mw-headline" id="Promote_health_in_an_intercultural_context"> Promote health in an intercultural context </span></h2>

          <p>PHM recognises that interculturality is a fundamental element to promote social equity and build a fair health system. <a href="/~commun26/wiki/index.php?title=Equity" title="Equity">Equity</a> in access to health
            information is a fundamental human right. It is essential in the struggle for indigenous people's health. People's knowledge should be incorporated into the development of culturally based equitable health services; culturally
            sensitive prevention programs; the training of health workers in intercultural skills; achieving fair conditions of work; food security; and a healthy ecosystem. PHM will incorporate key issues such as the struggle against
            trade agreements, land reform and indigenous people's land restoration, protection against piracy of traditional knowledge as a fundamental defence of social security, cultural identity and nutritional security. The many useful
            aspects of traditional medicine and culture must be valued and included as part of a people-oriented society and health system.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Advance_the_right_to_health_for_all_in_the_context_of_gender_and_personal_diversity"> Advance the right to health for all in the context of gender and personal diversity </span></h2>

          <p>The health of women, men and people of diverse sexual orientation is severely damaged by the dominance of a patriarchal culture with social and gender inequities and discrimination that affects their integrity. The social,
            health, sexual and reproductive rights of women are often denied. PHM commits to mainstreaming gender and feminist perspectives in all its work and action plans. Men and women of PHM commit themselves to deconstruct patriarchal
            relations in private and public life. This Assembly demands the dismantling of neoliberal policies that have increased gender inequality. To do so it will support international, regional and local campaigns for sexual and
            reproductive rights; strengthen communication and work relations with networks and other movements; and work to ensure safe abortion for all women and girls. PHM firmly denounces all forms of violence including that against
            women, such as femicide, and demands government action to prevent it, to prosecute perpetrators and to provide all necessary support for people affected by violence.</p>

          <p>People with disabilities and older people should be treated with respect and their right to appropriate health care should be ensured. PHM supports a new UN convention protecting and promoting the rights of persons with
            disabilities, promotes rehabilitation services as part of PHC, and urges the Commission on Social Determinants of Health to develop more focus on people with disabilities. PHM argues for the inclusion of people with
            disabilities in all aspects of life, and recommends that disability be addressed in a similar way as gender among donor agencies so that inclusive development is ensured. Protect the right to health in the context of
            environmental degradation</p>

          <p>PHM calls upon the people of the world to support action to end imperialist control of the earth's natural resources and create and maintain a healthy environment for all. Natural resources essential to health are global
            commons. We call for a worldwide campaign for a UN Treaty on the Right to Water, ensuring that commodification and privatization of this vital resource - life itself - is both reversed and prevented. Guided by evidence of
            devastating damage and by the precautionary principle, we demand a moratorium on extractive mining and petroleum exploration/extraction, a ban on patenting of life forms and processes, research on nanotechnology, release into
            the environment of GMOs, and on development and use of all biochemical weapons. Governments are accountable to people not transnational corporations and must guarantee rights relating to health and the environment through
            enforceable laws and regulations. Governments, IFIs and the WHO must cease to be accomplices to TNCs and imperialism. Dow, Monsanto and other companies must be forced to provide reparations to the thousands of uncompensated
            victims of disasters such as Bhopal and Agent Orange. Knowledge and science must be reclaimed for the public good and freed from corporate control.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Ensure_workers.27_health_and_safety_by_defending_and_extending_existing_rights"> Ensure workers' health and safety by defending and extending existing rights </span></h2>

          <p>PHM calls upon the people of the world to demand the implementation of international treaties that protect workers' health and safety, recognize workers' health as a universal human right and a responsibility of the state,
            involve workers in the decision and policy-making process on working and health conditions and ban child labour. We support social arrangements to ensure the right to regular, meaningful and adequately remunerated work, with
            equal pay for equal work for men and women; protection of historical achievements attained by trade unions in the formal sector, renewal and strengthening of trade union, workers' and anti-globalization movements and their
            links to other movements; protection of the health of informal sector workers and migrants as they are more exposed to occupational health hazards; and universal health coverage through national health systems and insurance.
            Defend the right to health in the face of war, militarization and violence</p>

          <p>PHM calls on the people of the world to oppose war and militarization as the most blatant attacks on people's health, especially the health of women and the poor. While the terror attacks in New York, Madrid and London caused
            unjustifiable damage, the US-led "war on terror" has generated an even more terrible, unjustifiable and endless war on defenseless populations in order to control their natural resources. At the same time, wars that have
            claimed millions of lives are unacknowledged as the UN system and our governments allow them to continue unabated.</p>

          <p>PHM will continue to participate in the global movement to end the US occupation of Iraq and Afghanistan. Foreign troops should be removed immediately and reparations paid for damage caused by the US-led war. PHM calls for an
            investigation into the use of torture by US soldiers and medical personnel at Guantanamo Bay, in Iraq and Afghanistan, and an immediate end to the detention of foreign nationals held without trial at Guantanamo Bay. We demand
            that medical personnel refuse to participate in illegal detention and torture. The US and its allies must be charged with violations of the Geneva Conventions for their attacks on civilian populations, particularly medical
            personnel and institutions in Iraq.</p>

          <p>PHM calls upon the United Nations and humanitarian agencies to intervene effectively in the "hidden wars" in the Congo, Sudan, Chechnya and many other places to foster lasting peace through political reconciliation and
            economic and social development programs that transform the social and economic conditions that give rise to these wars.</p>

          <p>PHM opposes the Israeli occupation of Palestine and the efforts to isolate and ghettoize the Palestinian people behind the illegal separation wall. Denial of Palestinian health rights on the West Bank and Gaza has reached
            emergency proportions.</p>

          <p>PHM supports the steps toward democracy and self-determination made by the indigenous people of southern Mexico, and calls for an end to the low-intensity conflict waged against them by the Mexican government.</p>

          <p>PHM denounces the biological warfare called Plan Colombia currently being waged against the peoples of Colombia, Ecuador and Peru under the guise of drug control. These actions contravene international conventions, and
            irreversibly damage environmental and human health in the region.</p>

          <p>PHM calls upon the United States to take responsibility for and compensate victims of Agent Orange in Vietnam, and the toxic contamination left by US military bases in the Philippines and elsewhere. Struggle for comprehensive
            primary health care and sustainable, quality, local and national health systems</p>

          <p>PHM recognises that neo-liberal policies have resulted in disinvestments in public sector health services; the promotion of a limited number of mostly curative technical interventions selected solely on the basis of a very
            narrow and often inappropriate application of cost effectiveness analysis, the corresponding neglect of broader environmental actions; the accelerated migration of health workers from public to private sectors and thence to
            wealthy countries; and the continuing spread of HIV/AIDS especially in Africa, with the collapse of public health services in many countries.</p>

          <p>PHM calls upon governments to:</p>

          <ul>
            <li> Implement comprehensive community-based Primary Health Care initiatives that enroll or involve relevant sectors and are supported by legislation.</li>

            <li> Provide healthy living and working environments in order to respect and guarantee the health rights of all.</li>

            <li> Establish and fully implement universal health care financing mechanisms at national level in all countries (public health expenditure being at least 15% of the overall budget, especially in African countries) in order to
              provide protection for the whole population.</li>

            <li> Address the crisis of human resources for health (HRH) by: improving working conditions, training, support and supervision for health workers; implementing an International code of practice on ethical recruitment,
              financial compensation to exporting countries, return and reorientation of health workers in the diaspora through incentives, and establishing a global fund for HRH.</li>

            <li> Ensure widespread knowledge on HIV status; access to opportunities for voluntary testing; equitable, and sustainable access to ARVs with emphasis on prevention; comprehensive home-based care including health and social
              services.</li>
          </ul>

          <p>PHM calls upon the WHO to support and promote the above as national government responsibilities and to advocate for the removal of economic and political obstacles at global, regional and national levels, that adversely
            affect national governments' social policies.</p>

          <p>PHM will continue to raise awareness among communities on policies, policy-making processes and financial issues to enable them to monitor government performance, increase accountability and address health equity issues. PHM
            commits to gathering from within its movement, positive experiences of comprehensive PHC to build up the evidence base that supports such an approach, and to undertake concerted advocacy for its revitalization.</p>

          <p>Finally, PHM salutes and supports the strong social justice approach to health in Venezuela and Cuba which inspires and encourages us towards Health for All.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Support_the_growth_of_PHM"> Support the growth of PHM </span></h2>

          <p>The People's Health Movement is both a network and a movement that takes as its mission the strengthening of the much wider movement of individuals and organisations around the world fighting for the Right to Health. PHM is
            bound by a commitment to the People's Charter for Health and includes country circles, issue circles and affiliates which are actively involved in advancing the work of the PHM. Beyond this core of PHM activists are the friends
            of PHM and organisational partners at all levels. Another world is possible - these are our strategies to achieve it!</p>

          <p>This declaration urges health activists around the world to organise, influence, advocate, analyse and educate to advance global people's health.</p>

          <p>The People's Health Movement -</p>

          <ul>
            <li> will pursue work on the human right to health that includes both individual and community rights.</li>

            <li> will continue to struggle for improved ways of working by strengthening its regional as well as its global coordination. It will continue to develop participatory and transparent decision making so that activists at all
              levels know that their views are valued.</li>

            <li> celebrates the inauguration of the International People's Health University, a university for health activists with courses presented in association with local PHMs and selected universities around the world.</li>

            <li> will engage with formal training institutions and challenge the dominance of the biomedical paradigm of health care. It will incorporate diverse strategies for reorienting health worker education to comprehensive PHC,
              keeping people in communities at the centre.</li>

            <li> will become a forum within which intellectuals can support local activists in their action and struggle.</li>

            <li> will challenge the media to disseminate its perspectives and publicize its activities.</li>

            <li> will strengthen its communications strategy to reach communities at the grassroots.</li>

            <li> will translate as many of its communications as possible into two or more languages; will establish a mix of central and regional/national websites; the PHM newsletter will continue quarterly publication and will be
              translated into other languages.</li>
          </ul>

          <p>As a summary of PHM´s strategy for the next three years:</p>

          <ul>
            <li> PHM will be linking the local, the national and the global by passing on and giving guidance to its geographical circles on the issues on which to concentrate tactically.</li>

            <li> PHM will document, analyze and disseminate research findings on key issues pertaining to the principles in its Charter, including gathering, analyzing and disseminating key evidence for its constituency of the efficacy
              and sustainability of initiatives in comprehensive primary health care.</li>

            <li> PHM will create awareness about the burning health issues of the day and will delegitimize and demystify false claims, prescriptions and slogans used by the Establishment.</li>

            <li> PHM will work with grassroots organizations and communities trying to understand their issues, building partnerships and supporting their activists in their struggle.</li>

            <li> PHM will adopt an approach of strengthening rights, and will support initiatives to achieve the Right to Health and Health Care at the local, national and international levels.</li>

            <li> PHM will work tirelessly to build international solidarity with the oppressed and with those affected by natural disasters and civil strife,</li>

            <li> PHM will confront powerful forces of oppression in the struggle for economic justice, in particular through support for cancellation of debt, the end of economic conditionalities and the establishment of a fair
              international tax regime.</li>

            <li> PHM will incorporate cultural and spiritual practices in all aspects of its work.</li>

            <li> PHM will advocate with national governments, UN and other national and international agencies to influence their decision-making.</li>
          </ul>

          <p>The power of the People's Health Movement can change the world. Another World, which includes Health for All, is possible. We must all demand and struggle towards a world in which health is a right, and is not subject to the
            forces of neo-liberalism.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)" title="People’s Charter for Health (2000)">People’s Charter for Health (2000)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)" title="Indian People's Health Charter (2000)">Indian People's Health Charter (2000)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Mumbai_Declaration_(2004)" title="Mumbai Declaration (2004)">Mumbai Declaration (2004)</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Cuenca_Declaration_(2005)&amp;oldid=105">http://www.communityhealth.in/~commun26/wiki/index.php?title=Cuenca_Declaration_(2005)&amp;oldid=105</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>