<!--
title: Current events
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Current events</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#March_2017"><span class="tocnumber">1</span> <span class="toctext">March 2017</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Previous_years"><span class="tocnumber">2</span> <span class="toctext">Previous years</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#November_2010"><span class="tocnumber">3</span> <span class="toctext">November 2010</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#February_2010"><span class="tocnumber">4</span> <span class="toctext">February 2010</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#January_2010"><span class="tocnumber">5</span> <span class="toctext">January 2010</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#October_2009"><span class="tocnumber">6</span> <span class="toctext">October 2009</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#September_2009"><span class="tocnumber">7</span> <span class="toctext">September 2009</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#March_2009"><span class="tocnumber">8</span> <span class="toctext">March 2009</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#January_2009"><span class="tocnumber">9</span> <span class="toctext">January 2009</span></a></li>

                    <li class="toclevel-1 tocsection-10"><a href="#July_2008"><span class="tocnumber">10</span> <span class="toctext">July 2008</span></a></li>

                    <li class="toclevel-1 tocsection-11"><a href="#March_2008"><span class="tocnumber">11</span> <span class="toctext">March 2008</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="March_2017"> March 2017 </span></h2>

          <ul>
            <li> Medico Friends Circle - Chennai first meeting on the evening of March 4th, 2017 in Saturday 5.30 pm to 7.30 pm @ Spaces, 1, Elliot's Beach Road, Besant Nagar, Chennai.agenda (1) Welcome and introductions Intoduction to
              mfc and objectives of the Chennai chapter (2) Study on clinical trials in India – Participants' expereinces and issues related to accessibility and affordability of drugs– Presentation by Sarojini N, Sama, New Delhi, followed
              by discussion (3) Presentation of the report of the fact finding on health effects of oil spill at Ennore followed by discussion (4) Suggestions for way forward.Welcome All.</li>
          </ul>

          <h2> <span class="mw-headline" id="Previous_years"> Previous years </span></h2>

          <h2> <span class="mw-headline" id="November_2010"> November 2010 </span></h2>

          <ul>
            <li> <b>3rd National Bioethics Conference</b> on the theme Governance in Healthcare, Ethics, Equity and Justice to held at All India Institute of Medical Sciences, New Delhi between 18 - 20 November, 2010.</li>
          </ul>

          <h2> <span class="mw-headline" id="February_2010"> February 2010 </span></h2>

          <ul>
            <li> <b>Seminar on Pharmaceutical Policy in India: Challenges for the Campaign for Access</b> organised by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=JSA" title="JSA">JSA</a> and <a href="/~commun26/wiki/index.php?title=Community_Development_Medical_Unit" title="Community Development Medical Unit">Community Development Medical Unit</a> at Kolkota between 19 - 20 February 2010.</li>
          </ul>

          <h2> <span class="mw-headline" id="January_2010"> January 2010 </span></h2>

          <ul>
            <li> <b>Health and Human Rights Course</b> organised by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=CEHAT" title="CEHAT">CEHAT</a> and <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a> from 18 - 27 January 2010 at FIAMC Bio-Medical Ethics Centre, St. Pius
              College, Mumbai. For more details visit <a class="external text" href="http://www.esocialsciences.com/opportunities/workshops/workshopDetails.aspx?workshopid=227" rel="nofollow">www.esocialsciences.com/opportunities/workshops/workshopDetails.aspx?workshopid=227</a></li>
          </ul>

          <ul>
            <li> <b>3rd South Asian Regional Symposium on Evidence Informed Healthcare</b> organised by Christian Medical College, Vellore, Indian Council of Medical Research and the South Asian Cochrane Network &amp; Centre at Vellore
              from 11- 14 January 2010. For more details visit <a class="external text" href="http://www.cochrane-sacn.org/Symposium2010/Index.htm" rel="nofollow">www.cochrane-sacn.org/Symposium2010/Index.htm</a>.</li>
          </ul>

          <ul>
            <li> <b>Medico Friend Circle Annual Meet</b> organised by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a> at Wardha from 8 - 9 January 2010.</li>
          </ul>

          <h2> <span class="mw-headline" id="October_2009"> October 2009 </span></h2>

          <ul>
            <li> <b>National Symposium on Medical And Health Science Education in India</b> organised by Peoples Council of Education and Homi Bhabha Centre for Science Education as part of the Second People's Education Congress in
              Mumbai from 5 - 8 October 2009. See <a class="external text" href="http://www.hbcse.tifr.res.in/second-peoples-education-congress" rel="nofollow">www.hbcse.tifr.res.in/second-peoples-education-congress</a> for more details.
            </li>
          </ul>

          <h2> <span class="mw-headline" id="September_2009"> September 2009 </span></h2>

          <ul>
            <li> <b>National Conference on Emerging Health Care models: Engaging the Private Health Sector</b> organised by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=CEHAT" title="CEHAT">CEHAT</a> on 25 - 26
              September 2009. See <a class="external text" href="http://www.cehat.org/go/PPP/News" rel="nofollow">www.cehat.org/go/PPP/News</a> for more details.</li>
          </ul>

          <ul>
            <li> <b>Training course on Health and Equity</b> organised by <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's
              Health University</a> in association with <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a>, <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a> and <a href="/~commun26/wiki/index.php?title=Prayas" title="Prayas">Prayas</a> at Bangalore from 1-9
              September, 2009. See <a class="external text" href="http://www.phmovement.org/iphu/en/bangalore/announcement" rel="nofollow">www.phmovement.org/iphu/en/bangalore/announcement</a> for more details.</li>
          </ul>

          <h2> <span class="mw-headline" id="March_2009"> March 2009 </span></h2>

          <ul>
            <li> <b>JAAK Public Hearing on Health</b> organised by <a href="/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka" title="Janaarogya Andolana - Karnataka">Janaarogya Andolana - Karnataka</a> at Sir M.
              Puttannachetty Town Hall in Bangalore on 31 March, 2009 from 10.30am onwards.</li>
          </ul>

          <h2> <span class="mw-headline" id="January_2009"> January 2009 </span></h2>

          <ul>
            <li> <b>Medico Friend Circle Annual Meet</b> on the theme 'Forced Displacement and Health' organised by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>
              at Bongaigaon, Assam from 16 - 17 January, 2009.</li>
          </ul>

          <h2> <span class="mw-headline" id="July_2008"> July 2008 </span></h2>

          <ul>
            <li> <b>Medico Friend Circle Mid Annual Meet</b> organised by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a> at Sevagram, Wardha from 4 - 5 July, 2008.</li>
          </ul>

          <ul>
            <li> <b>All India Drug Action Network Meeting</b> organised by <a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network" title="All India Drug Action Network">All India Drug Action Network</a> at Sevagram,
              Wardha on 3 July, 2008</li>
          </ul>

          <h2> <span class="mw-headline" id="March_2008"> March 2008 </span></h2>

          <ul>
            <li> <b>Equity and Health Rights- A training program for health activists</b> organised by the <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a> at Jaipur from 15 to 21 March 2008. See <a class="external free" href="http://phmovement.org/iphu/en/jaipur" rel="nofollow">http://phmovement.org/iphu/en/jaipur</a> for more details.</li>
          </ul>

          <ul>
            <li> <b>52nd National Conference of the <a href="/~commun26/wiki/index.php?title=Indian_Public_Health_Association" title="Indian Public Health Association">Indian Public Health Association</a></b> at New Delhi from 7 - 9
              March, 2008. See <a class="external free" href="http://www.iphaconference.mamc.ac.in" rel="nofollow">http://www.iphaconference.mamc.ac.in</a> for more details.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Current_events&amp;oldid=2100">http://www.communityhealth.in/~commun26/wiki/index.php?title=Current_events&amp;oldid=2100</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>