<!--
title: SOP for Digitizing SOCHARA's resources
description: This guide should allow for volunteers or interns to find a methods to organize, digitize, annotate and repeat the process for all of sochara's library and archival resources to make it more accessable to people, irrespective of boundaries.
published: true
date: 2023-07-08T12:41:10.371Z
tags: archives, digitization, library
editor: ckeditor
dateCreated: 2023-07-08T12:40:13.513Z
-->

<p style="text-align:center;"><span class="text-big"><i><strong>SOP on Digitizing Community Health Resources</strong></i></span></p>
<p>Welcome to the Digital Humanities section of SOCHARA! It is a pleasure to have someone aboard our journey to democratize knowledge on community health and make it easily accessible to everyone, irrespective of their background. As a result of this vision, we have drawn from a wide variety of sources to build our library and are trying to ensure that we have an intersectional approach to community health and wellbeing. Because in our understanding, if Health doesn’t include everyone in the community, then it probably isn’t the right idea of Health.&nbsp;</p>
<p>To further our goal of making learning material on community health and wellbeing more accessible, we have begun digitizing our resources and books and hope that your journey in this endeavor would also enrich your understanding of community health.&nbsp; We've partnered with #ServantsOfKnowledge of Sanchi Foundation to digitize our library and resources. While of course the desire is to scan every possible book and upload online - in which case, the matter would be very simple -- "start from a rack, take books till the end of the rack, then go to the next rack, and repeat till the end of all racks"; it is not as straightforward as this. As volunteers / interns, you are involved with the process of digitizing and annotating either the library or the archives, both of which have their unique coding schemes and systems of their own for selection of material for digitizing.&nbsp; Outlined below is the system of preparing the material for digitizing from the library section under SOCHARA:</p>
<p><strong>&nbsp; &nbsp; &nbsp;1. Selection of material for digitization:</strong></p>
<p>The resources in SOCHARA’s library are thematically grouped and arranged alphabetically. The books being sent to #ServantsOfKnowledge are going to be selected according to the theme, going in an alphabetical order. For example, starting with A - Agriculture, Applied bio-tech, then to B - Bhopal Gas Tragedy, then to C- and so on.&nbsp;</p>
<p>The number of books in each lot can go up to 100 books, plus or minus 10 books to try to fit in entire topics in each lot such that the digitization can be done topic-wise, making the annotation and creating metadata easy.&nbsp;</p>
<p><strong>&nbsp; &nbsp; 2. Filtering the Material</strong></p>
<p>We can scan most of the books without any issue. But a rough filter is like this:</p>
<p><strong>&gt; </strong>If the publisher is someone like Oxford, Sage, etc, we will have to skip those books due to copyright issues.</p>
<p><strong>&gt; </strong>If the publisher is someone else, we have to see if the publisher / author&nbsp; is currently around, and whether the book is being printed currently.</p>
<p><strong>&gt; </strong>If a book is being printed currently we can skip that.</p>
<p><strong>&gt; </strong>If a book is not being printed and the publisher is defunct, we can digitize.</p>
<p><strong>&gt; </strong>If a book is not being printed, but the publisher is active, we will have to mail the author and let them know our intention to scan (The format of the mail can be checked with John or Swamy)&nbsp; and then scan it unless we receive a veto</p>
<p><strong>&nbsp; &nbsp; &nbsp;3. Sending the Material</strong></p>
<p>After this process of selection and filtering is complete, the books will be sent to #ServantsOfKnowledge from Sanchi Foundation. The current way of sending and receiving material to them is through bulk courier.&nbsp;</p>
<p><strong>&nbsp; &nbsp; 4. Annotated Bibliographies, Summaries, Metadata</strong></p>
<p>While the books are being sent for scanning, the previous lot of books that have been scanned would have to be checked for annotated bibliographies and if absent, you would have to complete it. For books that we cannot digitize due to copyright issues or other unforeseen circumstances, you would have to write a short, yet&nbsp; comprehensive summary about the details of the work, which SOCHARA would add to the digital collection when it comes entirely under us.</p>
<p>In addition to this, the metadata for the scanned books would require keywords from the resources that would make looking up the resource easier, this would require you to skim through the material to quickly grasp what are the main themes being discussed in the work and adding it to the metadata.</p>
<p><strong>&nbsp; &nbsp; &nbsp;4.1. Editing the Metadata:</strong></p>
<p>Editing the metadata is fairly simple. If you have been given access to edit the items on archive.org, you will be allowed to edit the upload when you click on the book. It will be as follows:&nbsp;</p>
<figure class="image image_resized" style="width:509px;"><img src="https://lh4.googleusercontent.com/EqzYfxLJCyAdj_Ds06jENrN-XXuqAljBw5uBrlGVtFRmBC8dKhRykhF1E5T6VKLTy4uWhf6MgEceVeML1g8wGTmiR9mF34nBGKYLLwIT28v0PDBiIkuvzyERCF9gtN-wvbkZF1VvjNx9JCpaMtIuk28"></figure>
<p>Post this, you will have to specify that you want to edit the metadata, which will be displayed as follows:&nbsp;</p>
<figure class="image image_resized" style="width:36.73%;"><img src="https://lh4.googleusercontent.com/F6bYtG6Kz0_19ZdvZYGSFUtEemBmgqlqzgDFdPQioqWhLfbIDyvygMtKRxYDjOg9_nGOvm8WXHGOjBtEkkXmRYomDfXR1lsmPA1DQXlQLH_R953c6H2_pg3sx9aRDE7jBKDdJXCerEywwKU0MtXgat8"></figure>
<p>After selecting this option, simply edit the fields and add the necessary tags where required, according to the book. If there does not exist an option to add tags, refer to the article attached at the end of the SOP for a more detailed guide on doing the same.&nbsp;</p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;5. Preparing the next batch for digitization:&nbsp;</strong></p>
<p>While the current batch of books are being digitized, you would have to create metadata as well as bibliographies and summaries for the previous lot. In addition to this, the process of selecting and filtering books for the next lot needs to take place. This would ensure a smoother and quicker process of digitizing.&nbsp;</p>
<p>It is natural that approaching this task of sorting, filtering and annotating materials would overwhelm anyone, and that is why we encourage you to freely reach out to the other team members of the Digital Humanities. This is an evolving process and we would be delighted to share and learn new methods of getting the job done.&nbsp;</p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; Helpful Links / Contact details:</strong></p>
<ol>
  <li><a href="https://help.archive.org/help/managing-and-editing-your-items-a-basic-guide/"><u>https://help.archive.org/help/managing-and-editing-your-items-a-basic-guide/</u></a></li>
  <li>Mahadevswamy - <a href="mailto:clic@sochara.org"><u>clic@sochara.org</u></a></li>
  <li>John Clarence - <a href="mailto:john@sochara.org"><u>john@sochara.org</u></a></li>
  <li>Akshay Dinesh - <a href="mailto:akshay@sochara.org"><u>akshay@sochara.org</u></a></li>
</ol>
