<!--
title: Diseasesurveillance discussion group
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Diseasesurveillance discussion group</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>diseasesurveillance discussion group</b> is a electronic discussion group for exchange of knowledge and experience in the field of disease surveillance and public health practice in India. It was started by <a class="new" href="/~commun26/wiki/index.php?title=Rajan_Patil&amp;action=edit&amp;redlink=1" title="Rajan Patil (page does not exist)">Rajan Patil</a> in 2004.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://health.groups.yahoo.com/group/diseasesurveillance/" rel="nofollow">health.groups.yahoo.com/group/diseasesurveillance</a> - diseasesurveillance Yahoo! Groups page</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Diseasesurveillance_discussion_group&amp;oldid=381">http://www.communityhealth.in/~commun26/wiki/index.php?title=Diseasesurveillance_discussion_group&amp;oldid=381</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups">Mailing lists and discussion groups</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>