<!--
title: Drug Action Forum-Karnataka
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Drug Action Forum – Karnataka</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Drug_Action_Forum-Karnataka&amp;redirect=no" title="Drug Action Forum-Karnataka">Drug Action Forum-Karnataka</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Drug Action Forum - Karnataka</b> (DAF-K) is a non-profit voluntary organisation that campaigns for rational drug policy. The organisation is headed by <a class="new" href="/~commun26/wiki/index.php?title=Gopal_Dabade&amp;action=edit&amp;redlink=1" title="Gopal Dabade (page does not exist)">Gopal Dabade</a>.</p>

          <p>DAF-K is a member of <a class="new" href="/~commun26/wiki/index.php?title=Health_Action_International_Asia_Pacific&amp;action=edit&amp;redlink=1" title="Health Action International Asia Pacific (page does not exist)">Health
            Action International Asia Pacific</a>, <a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network" title="All India Drug Action Network">All India Drug Action Network</a>, and <a href="/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka" title="Janaarogya Andolana - Karnataka">Janaarogya Andolana - Karnataka</a>, the Karnataka circle of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.daf-k.cjb.net/" rel="nofollow">www.daf-k.cjb.net</a> - Drug Action Forum - Karnataka website</li>

            <li> <a class="external text" href="http://wiki.inrud.org/mediawiki/index.php?title=Karnataka%2C_India" rel="nofollow">DAF-K profile on INRUDWiki</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Drug_Action_Forum_–_Karnataka&amp;oldid=359">http://www.communityhealth.in/~commun26/wiki/index.php?title=Drug_Action_Forum_–_Karnataka&amp;oldid=359</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Rational_drug_use" title="Category:Rational drug use">Rational drug use</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>