<!--
title: Evaluation Of Primary Health Care Programmes
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Evaluation Of Primary Health Care Programmes</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:EvaluationOfPHCProg.jpg"><img alt="" class="thumbimage" height="242" src="/~commun26/wiki/images/thumb/e/e1/EvaluationOfPHCProg.jpg/180px-EvaluationOfPHCProg.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:EvaluationOfPHCProg.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Evaluation Of Primary Health Care Programmes</div>
            </div>
          </div>
          Indian Council of Medical Research organised The National Conference on Evaluation of Primary Health Care Programme, following the International Conference on Primary Health Care, which accepted the concept of primary health care
          as a key approach for attainment of <b>Health For All</b>. This Conference brought together the organizations which were working out alternative approaches for fulfilling the basic needs of the populations, even before Alma
          ata. The conference was held at ICMR New Delhi during 21-23 April 1980.
          <p>The conference was structured to present the evaluation of Comprehensive approach to Primary Health Care, Community participation; Health Man power; Components of Primary health care and linkages within health systems with
            other sectors; and evaluation methodologies.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Evaluation_Of_Primary_Health_Care_Programmes&amp;oldid=1904">http://www.communityhealth.in/~commun26/wiki/index.php?title=Evaluation_Of_Primary_Health_Care_Programmes&amp;oldid=1904</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>