<!--
title: Federation of Medical Representatives Association of India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Federation of Medical Representatives Associations of India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Federation_of_Medical_Representatives_Association_of_India&amp;redirect=no" title="Federation of Medical Representatives Association of India">Federation of Medical Representatives Association of India</a>)<br></br>
          Redirect page</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="redirectMsg"><img alt="#REDIRECT" src="/~commun26/wiki/skins/common/images/redirectltr.png"></img><span class="redirectText"><a href="/~commun26/wiki/index.php?title=Federation_of_Medical_Representative_Associations_of_India" title="Federation of Medical Representative Associations of India">Federation of Medical Representative Associations of India</a></span></div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Federation_of_Medical_Representatives_Associations_of_India&amp;oldid=1184">http://www.communityhealth.in/~commun26/wiki/index.php?title=Federation_of_Medical_Representatives_Associations_of_India&amp;oldid=1184</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>