<!--
title: Food and Drug Toxicology Research Centre
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Food and Drug Toxicology Research Centre</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.ninindia.org/fdtrc.htm" rel="nofollow">www.ninindia.org/fdtrc.htm</a> - Food and Drug Toxicology Research Centre website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Food_and_Drug_Toxicology_Research_Centre&amp;oldid=1061">http://www.communityhealth.in/~commun26/wiki/index.php?title=Food_and_Drug_Toxicology_Research_Centre&amp;oldid=1061</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Nutrition&amp;action=edit&amp;redlink=1" title="Category:Nutrition (page does not exist)">Nutrition</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh">Andhra Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>