<!--
title: Forum for Medical Ethics Society
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Forum for Medical Ethics Society</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Forum for Medical Ethics Society</b> (FMES) is a voluntary, non profit organisation registered in Mumbai. It was born out of an effort by a group of concerned doctors to focus attention on the need for ethical norms and
            practices in health care in India. It owns and publishes the <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Medical_Ethics" title="Indian Journal of Medical Ethics">Indian Journal of Medical Ethics</a>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Forum_for_Medical_Ethics_Society&amp;oldid=266">http://www.communityhealth.in/~commun26/wiki/index.php?title=Forum_for_Medical_Ethics_Society&amp;oldid=266</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_ethics" title="Category:Medical ethics">Medical ethics</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>