<!--
title: Foundation for Research in Community Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Foundation for Research in Community Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Foundation for Research in Community Health</b> (FRCH) was established in 1975 as a non-profit voluntary organization in the field of health care. FRCH carries out field studies and conceptual studies primarily in
            rural India to gain a better understanding of the factors, which affect health and health services. FRCH works to evolve, support and promote alternate models of health and medical care that are in keeping with the social,
            economic and cultural realities and can be implemented widely. FRCH’s larger aim is to create a people’s health movement. With staff from backgrounds ranging from medicine, nursing, sciences, social sciences, economics,
            management, documentation and administration, and a force of primary-educated health trainers and health workers, all its projects seek to demystify medicine and emphasize the people’s role in their own health care. The major
            themes underlying all the work of FRCH are:</p>

          <ul>
            <li> Dissemination of information and training for health and development at grassroots levels</li>

            <li> Strategies for effective and affordable health care within decentralized governance (Panchayati Raj)</li>

            <li> Empowerment of women through health care services</li>

            <li> Research and analysis of India’s public health policies and programmes</li>

            <li> Studying non-government efforts in health care</li>

            <li> Influencing the country’s health policy reforms and</li>

            <li> Forming a nation wide network for health and health care of the majority of the population of the country.</li>
          </ul>

          <p>FRCH has an accredited Resource and Training Center at Parinche in rural Maharashtra, for training health workers across the country. Its field experiments, inspired by the 1981 <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICSSR" title="ICSSR">ICSSR</a>/<a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a> Report entitled '<a href="/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy" title="Health For All: An Alternative Strategy">Health For All: An Alternative Strategy</a>', have yielded a model for a Community Health Care
            System (CHCS) currently being implemented at Ralegan Siddhi in Maharashtra, with comprehensive research and documentation components. The CHCS model is replicable and it has also been successfully put into operation in
            different parts of Western Maharashtra, Orissa, Jharkhand and Gujarat. FRCH has advocated this people’s approach in non-government (NGO) , government and academic circles, and most significantly in rural communities .</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.frchindia.org" rel="nofollow">www.frchindia.org</a> - Foundation for Research in Community Health website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Foundation_for_Research_in_Community_Health&amp;oldid=1040">http://www.communityhealth.in/~commun26/wiki/index.php?title=Foundation_for_Research_in_Community_Health&amp;oldid=1040</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>