<!--
title: Foundation for Revitalisation of Local Health Traditions
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Foundation for Revitalisation of Local Health Traditions</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Foundation for Revitalisation of Local Health Traditions</b> (FRLHT) is a registered <a class="new" href="/~commun26/wiki/index.php?title=Public_Trust_and_Charitable_Society&amp;action=edit&amp;redlink=1" title="Public Trust and Charitable Society (page does not exist)">Public Trust and Charitable Society</a>, which started in March 1993 and is based in <a class="new" href="/~commun26/wiki/index.php?title=Bangalore&amp;action=edit&amp;redlink=1" title="Bangalore (page does not exist)">Bangalore</a>. Its mission is to demonstrate the contemporary relevance of Indian medical heritage by
            designing and implementing innovative programmes related to exposition of the theory &amp; practice of traditional systems of medicine, conservation of the natural resources used by Indian systems of medicine and revitalisation
            of social processes for transmission of the heritage on a size and scale that will have societal impact.</p>

          <p>The <a class="new" href="/~commun26/wiki/index.php?title=Ministry_of_Science_%26_Technology&amp;action=edit&amp;redlink=1" title="Ministry of Science &amp; Technology (page does not exist)">Ministry of Science &amp;
            Technology</a> recognizes FRLHT as a scientific and research organization. The <a class="new" href="/~commun26/wiki/index.php?title=Ministry_of_Environment_and_Forests&amp;action=edit&amp;redlink=1" title="Ministry of Environment and Forests (page does not exist)">Ministry of Environment and Forests</a> has designated FRLHT as a National Center of Excellence for medicinal plants and traditional knowledge.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Darshan_Shanker&amp;action=edit&amp;redlink=1" title="Darshan Shanker (page does not exist)">Darshan Shanker</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.frlht.org.in/" rel="nofollow">www.frlht.org.in</a> - Foundation for Revitalisation of Local Health Traditions website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions&amp;oldid=1234">http://www.communityhealth.in/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions&amp;oldid=1234</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Traditional_medicine" title="Category:Traditional medicine">Traditional medicine</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>