<!--
title: Gender
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Gender</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Gender</b>is generally understood as simply a matter of difference between men and women in society. In community health /public health gender is a more complex value construct that looks at roles, status and power
            relationships between the sexes in the context of society and access to systems and services.</p>

          <p>“Gender is used to ‘describe the characteristics, roles and responsibilities’ of women and men, boys and girls, ‘which are socially constructed’. ‘Gender is related to how we are perceived and expected to think and act as
            women and men because of the way society is organized, not because of our biological differences”.</p>

          <p><b>Gender and Health</b></p>

          <p>"Society prescribes to women and men different roles in different social contexts. There are also differences in the opportunities and resources available to women and men, and in their ability to make decisions and exercise
            their human rights, including those related to protecting health and seeking care in case of ill health. Gender roles and unequal gender relations interact with other social and economic variables, resulting in different and
            sometimes inequitable patterns of exposure to health risk, and in differential access to and utilization of health information, care and services. These differences, in turn have clear impact on health outcomes".</p>

          <p><b>How does Gender influence Health/ health systems?</b></p>

          <p>‘In almost all cultures and settings around the world and across social groups, women have less access to and control over resources than most men, and are denied equal access to facilities like education and training.
            However, what it means to be a man or a woman varies across cultures, races and classes’</p>

          <p><b>How does Gender influence health status?</b></p>

          <p>Gender influences health status in the following ways</p>

          <pre>    • exposure, risk or vulnerability
    • nature, severity or frequency of health problems
    • ways in which symptoms are perceived
    • health seeking behaviour
    • access to health services
    • ability to follow prescribed treatments
    • long term social and health consequences.
</pre>

          <p><br></br>
            <b>Compiled from</b></p>

          <p>1.World Health Organization, Gender and Health a technical paper, WHO/FRH/WHD/98.16, Geneva, World Health Organization, 1998, 2.World Health Organization, Integrating Gender Perspectives in the work of WHO -WHO Gender Policy,
            Geneva, World Health Organization, 2002.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Gender&amp;oldid=1995">http://www.communityhealth.in/~commun26/wiki/index.php?title=Gender&amp;oldid=1995</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>