<!--
title: Global Health: An Introductory Textbook
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Global Health: An Introductory Textbook</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Global Health: An Introductory Textbook</b> by Hans Rosling et al, Studentlitteratur (2006)</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:GlobalHealth-Rosling.png"><img alt="" class="thumbimage" height="235" src="/~commun26/wiki/images/thumb/1/14/GlobalHealth-Rosling.png/180px-GlobalHealth-Rosling.png" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:GlobalHealth-Rosling.png" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Global Health: An Introductory Textbook</div>
            </div>
          </div>
          This is an introductory textbook on the global health situation written by teachers and researchers in International Health at the Karolinska Institute, Sweden. It is written from a public health perspective showing how closely
          linked health is with social realities, money and the environment.
          <p>The book starts with a critical review of the concept of human development and the factors that determine the health of the population in different countries. Thereafter, the limitations and merits of the most used indicators
            of health are discussed and the sources of global health statistics and demographic data are presented. Past, present and future changes in the disease panorama are explained within the chapter on 'health transition'.
            Subsequent chapters describe the diseases that cause the most human suffering, grouped into communicable diseases, nutritional disorders, non-communicable diseases, injuries and reproductive health. Changes in health and
            fertility that affect world population, health policy and health systems and the growing number of international organisations promoting global health are discussed in the final chapters.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://books.google.co.in/books?id=oS6sOwAACAAJ&amp;dq=Global+health+An+introductory+textbook+Rosling&amp;cd=1" rel="nofollow">Global Health: An Introductory Textbook on Google Books</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Global_Health:_An_Introductory_Textbook&amp;oldid=906">http://www.communityhealth.in/~commun26/wiki/index.php?title=Global_Health:_An_Introductory_Textbook&amp;oldid=906</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Textbooks_and_manuals" title="Category:Textbooks and manuals">Textbooks and manuals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>