<!--
title: Grassroots Research And Advocacy Movement- GRAAM
description: 
published: true
date: 2023-06-15T11:43:07.510Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-14T09:47:39.000Z
-->

<p style="text-align:justify;">GRAAM is an organization based in Mysore, it researches issues faced by communities, and advocates the research outcomes to ensure relevant and sound public policy. GRAAM aims to enrich the interaction between primary players — the community, the state, the NGO sector, &amp; the private sector — to ensure sustained development at the grassroots level.&nbsp;</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="http://www.graam.org.in/ ">http://www.graam.org.in/ </a>(last checked on 15/06/23)</p>
<figure class="image"><img src="/maxresdefault.jpg">
  <figcaption>Glassroots Research and Advocacy Movement</figcaption>
</figure>
