<!--
title: H. Sudarshan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">H. Sudarshan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Hanumappa Sudarshan</b> is a physician, social worker and tribal rights activist from <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a>. He is the founder of the <a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a> and the <a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a>. He is well known for his work with the Soligas and other forest dwelling tribes in the <a class="new" href="/~commun26/wiki/index.php?title=Chamarajanagar_district&amp;action=edit&amp;redlink=1" title="Chamarajanagar district (page does not exist)">Chamarajanagar district</a> of Karnataka in the areas of <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a>, <a class="new" href="/~commun26/wiki/index.php?title=Education&amp;action=edit&amp;redlink=1" title="Education (page does not exist)">education</a>
            and livelihood. He is a recipient of the <a class="new" href="/~commun26/wiki/index.php?title=Right_Livelihood_Award&amp;action=edit&amp;redlink=1" title="Right Livelihood Award (page does not exist)">Right Livelihood Award</a> and the <a class="new" href="/~commun26/wiki/index.php?title=Padma_Shri&amp;action=edit&amp;redlink=1" title="Padma Shri (page does not exist)">Padma Shri</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Hanumappa_Sudarshan" title="wikipedia:Hanumappa Sudarshan">Wikipedia: Hanumappa Sudarshan</a></li>

            <li> <a class="external text" href="http://www.vgkk.org" rel="nofollow">www.vgkk.org</a> - Vivekananda Girijana Kalyana Kendra website</li>

            <li> <a class="external text" href="http://www.karunatrust.org" rel="nofollow">www.karunatrust.org</a> - Karuna Trust website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=H._Sudarshan&amp;oldid=1025">http://www.communityhealth.in/~commun26/wiki/index.php?title=H._Sudarshan&amp;oldid=1025</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>