<!--
title: Health and Family Planning Services in India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health and Family Planning Services in India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HealthAndFamilyPlanningServices-Banerji.jpg"><img alt="" class="thumbimage" height="267" src="/~commun26/wiki/images/thumb/f/fb/HealthAndFamilyPlanningServices-Banerji.jpg/180px-HealthAndFamilyPlanningServices-Banerji.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HealthAndFamilyPlanningServices-Banerji.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Health And Family Planning Services in India</div>
            </div>
          </div>
          This Book presents an analytical account of the growth and development of health services in India and a discussion of the factors influencing their availability and accessibility to different segments of the population. The
          subject is presented on 6 parts, dealing with: (1) a broad cultural, social and political analysis of the factors which have shaped the basic elements of the health services; (2) programmes for communicable diseases; (3)
          population growth and family planning; (4) formation of primary health care services; (5) aspects of intersectoral programmes for health; and (6) health planning and alternative approaches.
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_and_Family_Planning_Services_in_India&amp;oldid=1867">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_and_Family_Planning_Services_in_India&amp;oldid=1867</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>