<!--
title: Health for All Series
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health for All Series</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The International Conference on Primary health Care was held in Alma-Ata, Kazakhstan, from 6-12 September 1978. The conference declared that “Primary Health Care is the key to attaining this target as a part of development in
            the spirit of Social Justice” and called on all the governments to formulate national strategies and plans of action to make primary health care as a part of comprehensive National health systems which would work in
            coordination with other sectors .</p>

          <p>To make “Health for All” by 2000 AD, a reality WHO formulated Global strategies based on national strategies, Development of Indicators, managerial process for health development, programme evaluation, Plan of action for
            implementation, and general programme of work which would help in achieving the minimum level of health. The essential documentation for all the process towards achieving Health for all has been published as special “Health For
            All Series”.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Series_No_1._Alma-Ata_1978.2C_Primary_Health_Care_-_report_of_the_International_Conference_on_Primary_Health_Care.2C_Alma_Ata_USSR_6-12_September_1978_.E2.80.93_.281978.29_WHO."><span class="tocnumber">1</span> <span class="toctext">Series No 1. Alma-Ata 1978, Primary Health Care - report of the International Conference on Primary Health Care, Alma Ata USSR 6-12 September 1978 – (1978) WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Series_No_2._Formulating_Strategies_for_the_Health_for_All_by_the_year_2000-.281979.29_WHO."><span class="tocnumber">2</span> <span class="toctext">Series No 2.
                      Formulating Strategies for the Health for All by the year 2000-(1979) WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Series_No_3._Global_Strategy_for_Health_for_All_by_the_year_2000-_.281981.29_WHO"><span class="tocnumber">3</span> <span class="toctext">Series No 3. Global Strategy
                      for Health for All by the year 2000- (1981) WHO</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Series_No_4._Development_of_Indicators_for_monitoring_progress_towards_Health_For_All_by_the_year_2000-.281981.29_WHO."><span class="tocnumber">4</span> <span class="toctext">Series No 4. Development of Indicators for monitoring progress towards Health For All by the year 2000-(1981) WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Series_No_5.Managerial_Process_for_National_Health_Development.E2.80.9D-_.281981.29.2C_WHO."><span class="tocnumber">5</span> <span class="toctext">Series No
                      5.Managerial Process for National Health Development”- (1981), WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Series_No_6.Health_Programme_Evaluation-_.281981.29.2C_WHO."><span class="tocnumber">6</span> <span class="toctext">Series No 6.Health Programme Evaluation- (1981),
                      WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#Series_No_7.Plan_of_Action_for_Implementing_the_Global_Strategy_for_Health_for_All._.281982.29.2C_WHO."><span class="tocnumber">7</span> <span class="toctext">Series No
                      7.Plan of Action for Implementing the Global Strategy for Health for All. (1982), WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#Series_No_8.Seventh_General_Programme_of_Work_Covering_The_period_1984-1989._.281982.29.2C_WHO."><span class="tocnumber">8</span> <span class="toctext">Series No
                      8.Seventh General Programme of Work Covering The period 1984-1989. (1982), WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#Series_No_9._Glossary_of_terms_used_in_Health_for_All-.281984.29.2C_WHO."><span class="tocnumber">9</span> <span class="toctext">Series No 9. Glossary of terms used in
                      Health for All-(1984), WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-10"><a href="#Series_No_10.Eight_general_Programme_of_work_covering_the_period_1990-1995.2C-_.281987.29.2C_WHO."><span class="tocnumber">10</span> <span class="toctext">Series No
                      10.Eight general Programme of work covering the period 1990-1995,- (1987), WHO.</span></a></li>

                    <li class="toclevel-1 tocsection-11"><a href="#Series_No_11._Ninth_General_Programme_of_work_covering_the_period_1995-2001.E2.80.9D.2C-.281994.29.2C_WHO."><span class="tocnumber">11</span> <span class="toctext">Series No 11. Ninth General Programme of work covering the period 1995-2001”,-(1994), WHO.</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Series_No_1._Alma-Ata_1978.2C_Primary_Health_Care_-_report_of_the_International_Conference_on_Primary_Health_Care.2C_Alma_Ata_USSR_6-12_September_1978_.E2.80.93_.281978.29_WHO.">Series No 1.
            Alma-Ata 1978, Primary Health Care - report of the International Conference on Primary Health Care, Alma Ata USSR 6-12 September 1978 – (1978) WHO.</span></h2>

          <p>The first book of the series contains the Alma Ata Declaration, Report of the International Conference on Primary Health Care and the Joint Report of Director-General of WHO and The Joint Report of Executive Director of
            UNICEF.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/4/4c/Primary_health_care_report_of_the_International_Conference_on_Primary_Health_Care%2C_Alma-Ata%2C_USSR%2C_6-12_September_1978.pdf" rel="nofollow">Download Conference report(2.98MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_2._Formulating_Strategies_for_the_Health_for_All_by_the_year_2000-.281979.29_WHO.">Series No 2. Formulating Strategies for the Health for All by the year 2000-(1979) WHO.</span></h2>

          <p>It emphasizes essential issues for strategy formulation for evolving health policies of a country as a part of and in the light of its own problems and possibilities, particular circumstances, social and economic structures
            and political and administrative mechanisms.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/d/d5/Formulating_strategies_for_health_for_all_by_the_year_2000.pdf" rel="nofollow">Download Formulating Strategies(2.34MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_3._Global_Strategy_for_Health_for_All_by_the_year_2000-_.281981.29_WHO">Series No 3. Global Strategy for Health for All by the year 2000- (1981) WHO</span></h2>

          <p>This document outlines situation analysis of world health and related socio-economic problems and trends, and emphasizes on health policies and development of health systems based on primary health care. The book also
            explains how to generate and mobilize resources for them; to ensure the inter country co-operation required; to monitor and evaluate health strategies; and how WHO can provide appropriate support.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/f/fc/Global_strategy_for_health_for_all_by_the_year_2000.pdf" rel="nofollow">Download Global Strategies(3.31MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_4._Development_of_Indicators_for_monitoring_progress_towards_Health_For_All_by_the_year_2000-.281981.29_WHO.">Series No 4. Development of Indicators for monitoring progress towards
            Health For All by the year 2000-(1981) WHO.</span></h2>

          <p>It proposes 4 four categories of indicators; Health policy indicators; social and economic indicators; indicators for provision of health care; and indicators of health status. It Emphasizes information requirements for
            various indicators, principal and alternative methods of data collection and its analysis.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/a/a1/Development_of_indicators_for_monitoring_progress_towards_Health_for_All_by_the_Year_2000.pdf" rel="nofollow">Download Development of
              Indicators for HFA (4.25MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_5.Managerial_Process_for_National_Health_Development.E2.80.9D-_.281981.29.2C_WHO.">Series No 5.Managerial Process for National Health Development”- (1981), WHO.</span></h2>

          <p>Managerial Process for National Health Development document sets out guiding principles for the application of a managerial process towards the national health development. It describes components like formulation of national
            health policies, Programme programme budgeting; broad programming; the master plan of action; detailed programming; Implementation; evaluation; reprogramming as common features of managerial process and the interrelationships
            as well as mechanisms required for national health systems development.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/e/e4/Primary_and_Community_Health_Care_HFA_S5.pdf" rel="nofollow">Download Managerial Process for National Health Development(2.6MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_6.Health_Programme_Evaluation-_.281981.29.2C_WHO.">Series No 6.Health Programme Evaluation- (1981), WHO.</span></h2>

          <p>The 6th Document of the series sets out guiding principles for the application of evaluation as part of the managerial process for national health development. It also stresses on use of indicators to measure changes and use
            of valid relevant and sensitive information to support evaluation.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/b/b9/Primary_and_Community_Health_Care_HFA_S6.pdf" rel="nofollow">Download Health Programme Evaluation(1.58MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_7.Plan_of_Action_for_Implementing_the_Global_Strategy_for_Health_for_All._.281982.29.2C_WHO.">Series No 7.Plan of Action for Implementing the Global Strategy for Health for All.
            (1982), WHO.</span></h2>

          <p>This document contains plan of action for implementing the global health strategy for Health for all All by 2000 also contains an index to the first 7 seven Volumes.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/d/d3/Primary_and_Community_Health_Care_HFA_S7.pdf" rel="nofollow">Download Plan of Action for HFA(1.78MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_8.Seventh_General_Programme_of_Work_Covering_The_period_1984-1989._.281982.29.2C_WHO.">Series No 8.Seventh General Programme of Work Covering The period 1984-1989. (1982), WHO.</span></h2>

          <p>The first work programme contains work of the world health organization’s agenda that will cover for the period until the target date of the year 2000.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/c/c4/Primary_and_Community_Health_Care_HFA_S8.pdf" rel="nofollow">Download 7th Programme of Work</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_9._Glossary_of_terms_used_in_Health_for_All-.281984.29.2C_WHO.">Series No 9. Glossary of terms used in Health for All-(1984), WHO.</span></h2>

          <p>It defines a set of 90 terms commonly used/ referred to in the health Health for all All series.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/4/43/Glossary_of_terms_used_in_the_Health_for_All_series.pdf" rel="nofollow">Download Glossary(2.2MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_10.Eight_general_Programme_of_work_covering_the_period_1990-1995.2C-_.281987.29.2C_WHO.">Series No 10.Eight general Programme of work covering the period 1990-1995,- (1987),
            WHO.</span></h2>

          <p>Stresses on Optimal use of resources, determination of Priorities, Programme Implementation monitoring and evaluation.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/8/8e/Primary_and_Community_Health_Care_HFA_S10_Part1.pdf" rel="nofollow">Download 8th Programme of Work Part1(4.54MB)</a>|<a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/4/48/Primary_and_Community_Health_Care_HFA_S10_Part2.pdf" rel="nofollow">Download 8th Programme of Work Part2(5.54MB)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Series_No_11._Ninth_General_Programme_of_work_covering_the_period_1995-2001.E2.80.9D.2C-.281994.29.2C_WHO.">Series No 11. Ninth General Programme of work covering the period
            1995-2001”,-(1994), WHO.</span></h2>

          <p>The third general programme establishes the global health policy framework for action by the world health community worldwide. The listed goals and targets indicate the minimum to be achieved by through global health action.</p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/5/56/Primary_and_Community_Health_Care_HFA_S11.pdf" rel="nofollow">Download 9th general programme of work</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_for_All_Series&amp;oldid=1829">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_for_All_Series&amp;oldid=1829</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Health_For_All&amp;action=edit&amp;redlink=1" title="Category:Health For All (page does not exist)">Health For All</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>