<!--
title: Health For All
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health For All</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Health For All</b> is a concept that was popularised in the 1970s by the <a href="/~commun26/wiki/index.php?title=World_Health_Organisation" title="World Health Organisation">World Health Organisation</a>.</p>

          <p><a class="new" href="/~commun26/wiki/index.php?title=Halfdan_Mahler&amp;action=edit&amp;redlink=1" title="Halfdan Mahler (page does not exist)">Halfdan Mahler</a>, Director General (1973-1983) of the <a href="/~commun26/wiki/index.php?title=World_Health_Organisation" title="World Health Organisation">World Health Organisation</a> defined "Health For All" as follows <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup></p>

          <blockquote></blockquote>
        </div>
      </div>
    </div>