<!--
title: Health Systems Research India- Initiative-HSRII
description: 
published: true
date: 2023-06-26T09:20:52.162Z
tags: public health information sources, social networks in public health in india and related
editor: ckeditor
dateCreated: 2023-06-26T09:20:52.162Z
-->

<p style="text-align:justify;">HSRII is a network of public health professionals which works towards collating and assimilating health knowledge to strengthen health system development.&nbsp; HSRII engages experts in the field of public health, epidemiology and social science, law etc, who would help towards managing or initiating challenging tasks that would benefit population at large. They intend to put together a team of young and experienced people drawn from diverse background with hands on working knowledge in health.&nbsp;</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://hsrii.org/">https://hsrii.org/ </a>(Last Checked on 26/06/2023)</p>
<figure class="image image_resized" style="width:53.87%;"><img src="/hsrii_logo.jpg"></figure>
