<!--
title: Health For All: An Alternative Strategy
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health For All: An Alternative Strategy</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Health For All: An Alternative Strategy</b> by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a> and <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICSSR" title="ICSSR">ICSSR</a>. Published by Indian Institute of Education (1981).</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HFA-ICMR-ICSSR.jpg"><img alt="" class="thumbimage" height="252" src="/~commun26/wiki/images/thumb/c/c8/HFA-ICMR-ICSSR.jpg/180px-HFA-ICMR-ICSSR.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HFA-ICMR-ICSSR.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Health For All: An Alternative Strategy</div>
            </div>
          </div>
          The book is a report of the study group jointly set up by the <a href="/~commun26/wiki/index.php?title=Indian_Council_for_Social_Science_Research" title="Indian Council for Social Science Research">Indian Council for Social
          Science Research</a> and the <a href="/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research" title="Indian Council for Medical Research">Indian Council for Medical Research</a>. It is the third report of the
          joint venture between these two organisations. The study group was constituted by the ICSSR under its programme of studies on 'Alternatives in Health' under the chairmanship of Dr. <a class="new" href="/~commun26/wiki/index.php?title=V._Ramalingaswami&amp;action=edit&amp;redlink=1" title="V. Ramalingaswami (page does not exist)">V. Ramalingaswami</a>. It brought together specialists in the field of medicine, nursing and
          health care to study various aspects of delivery systems and to suggest changes to improve the health status of the Indian population.
          <p>The report presents an alternative model of health care services with a 20 year perspective to ensure <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> by the year 2000. The
            alternative model - democratic, decentralised, participatory and economical - seeks to integrate preventive and curative functions and to combine the best elements in the tradition and culture of the people of India with modern
            science and technology. In focusing on a comprehensive national policy of health and a new operational strategy, the report is intended to be a basic document to initiate a nation-wide debate on the subject as well as positive
            action towards certain radical changes to correct the imbalances in the health care system.</p>

          <p>The report was set in the context the failures of the imported, top heavy, centralised, elite-oriented model of health care delivery that characterised the first 30 years of Indian independence. It was a move beyond merely
            reproducing Western social institutions, services and values in the area of health to creating a health care delivery system that was more relevant to India.</p>

          <h2> <span class="mw-headline" id="Availability">Availability</span></h2>

          <p>Health For All: An Alternative Strategy is out of print and only available in select libraries.</p>

          <h2> <span class="mw-headline" id="Download">Download</span></h2>

          <p><b><a class="external text" href="http://www.communityhealth.in/~commun26/files/HFA_An_Alternate_Strategy.pdf" rel="nofollow">Download the complete text of Health For All: An Alternative Strategy (25.7 MB)</a></b></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy&amp;oldid=1980">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy&amp;oldid=1980</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>