<!--
title: Health Care: Which Way To Go?
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health Care: Which Way To Go?</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:MFC-HealthCareWhichWayToGo.jpg"><img alt="" class="thumbimage" height="295" src="/~commun26/wiki/images/thumb/1/11/MFC-HealthCareWhichWayToGo.jpg/180px-MFC-HealthCareWhichWayToGo.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:MFC-HealthCareWhichWayToGo.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Health Care: Which Way To Go?</div>
            </div>
          </div>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Download_book"> Download book </span></h2>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/e/e5/MFC_Health_care_which_way_to_go.pdf" title="MFC Health care which way to go.pdf"> Download Health Care: Which Way To Go?</a></li>
          </ul>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.<a class="new" href="/~commun26/wiki/index.php?title=Category;_Digitized_publications&amp;action=edit&amp;redlink=1" title="Category; Digitized publications (page does not exist)">Category; Digitized
            publications</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Care:_Which_Way_To_Go%3F&amp;oldid=1721">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Care:_Which_Way_To_Go%3F&amp;oldid=1721</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>