<!--
title: Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Health</b> is a term that often eludes a comprehensive universal definition and is probably better represented by a series of definitions each relevant to a particular political and social context.</p>

          <p><i>‘A state of complete physical, mental and social well-being, not merely the absence of <a class="new" href="/~commun26/wiki/index.php?title=Disease&amp;action=edit&amp;redlink=1" title="Disease (page does not exist)">disease</a> or infirmity.’</i> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a> (1946)</p>

          <p><i>‘The nearest approach to health is a physical and mental state fairly free of discomfort and <a class="new" href="/~commun26/wiki/index.php?title=Pain&amp;action=edit&amp;redlink=1" title="Pain (page does not exist)">pain</a>, which permits the person concerned to function as effectively and as long as possible in the <a class="new" href="/~commun26/wiki/index.php?title=Environment&amp;action=edit&amp;redlink=1" title="Environment (page does not exist)">environment</a> where chance or choice has placed him.’</i> Dubos</p>

          <p><i>‘According to Indian philosophy, the universe consists of five gross elements – earth, water, fire, air and the ethereal parts of the sky – and the same factors constitute the basic elements of the human body. However, in
            a human body, life does not depend only on these five bodily components but also on the presence of normally functioning sense organs and of the mind and soul. Thus <a class="new" href="/~commun26/wiki/index.php?title=Sushruta&amp;action=edit&amp;redlink=1" title="Sushruta (page does not exist)">Sushruta</a> defined the healthy person as follows: “He is the healthy man who possesses the balance of body
            hormones, proper functioning of all the body elements and who has the pleasant disposition of mind, soul and sense organs.”’</i> Valupa (1975)</p>

          <p><i>‘Health is a social and political issue and above all a fundamental <a class="new" href="/~commun26/wiki/index.php?title=Human_right&amp;action=edit&amp;redlink=1" title="Human right (page does not exist)">human right</a>.’</i> <a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)" title="People’s Charter for Health (2000)">People’s Charter for Health (2000)</a></p>

          <p><b>Health as a Right</b> <a class="new" href="/~commun26/wiki/index.php?title=The_constitution_of_the_World_Health_Organization&amp;action=edit&amp;redlink=1" title="The constitution of the World Health Organization (page does not exist)">The constitution of the World Health Organization</a> adopted in July 1946, by 61 states and which came into force on 7th April 1948 clearly
            states that ‘the enjoyment of the highest attainable standards of health is one of the fundamental rights of every human being without distinction of race, religion, political belief, economic and social condition’. <a class="new" href="/~commun26/wiki/index.php?title=The_Alma_Ata_Declaration&amp;action=edit&amp;redlink=1" title="The Alma Ata Declaration (page does not exist)">The Alma Ata Declaration</a> of 1978 reaffirms this fundamental
            right and further specifies that “The attainment of highest possible level of health is a most important worldwide social goal”16 whose realization requires the action of many other social and economic sectors in addition to
            health sector.</p>

          <p><b>Right to Health</b> This has been “legally defined as rights of citizens and responsibilities of government and other actors and creates health claims for citizens that provide recourse when obligations are not met. The
            right to the highest attainable level of health is instrumental in assuring that services are responsive to people’s needs, that there is accountability in the health system, and that PHC is quality-oriented, achieving maximum
            efficiency and effectiveness while minimizing harm.”</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="extiw" href="http://en.wikipedia.org/wiki/Health" title="wikipedia:Health">Wikipedia: Health</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health&amp;oldid=1989">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health&amp;oldid=1989</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>