<!--
title: Health Matters
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health Matters</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Health Matters</b> is a documentary by Shikha Jhingan that takes a panoramic look at health care in India through the everyday experiences of patients in both public and private hospitals, covering a range of rural and
            urban locations.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <p>Economic reforms since the 90s have led to unprecedented changes in the Indian health care system. The retreat of the state from public health has paved the way for unfettered privitisation making India an important
            destination for <a class="new" href="/~commun26/wiki/index.php?title=Medical_tourism&amp;action=edit&amp;redlink=1" title="Medical tourism (page does not exist)">medical tourism</a> on the global map. Stories of a retired
            mill worker, a domestic help, a daily wage labourer and some woman barefoot doctors are woven together with fictional explorations, prosthetic bodies and narrative texts. As market forces start driving the 'health industry',
            words like healing and accountability acquire new meaning.</p>

          <h2> <span class="mw-headline" id="Details">Details</span></h2>

          <ul>
            <li> Duration: 72 mins</li>

            <li> Language: Hindi/Marathi/English with English subtitles</li>

            <li> Contact Shikha Jhingan at shikha.jhingan[at]gmail.com</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Matters&amp;oldid=1477">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Matters&amp;oldid=1477</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>