<!--
title: Health By The People
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health By The People</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>"Health By The People" is a <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a> publication edited by Kenneth Newell and published in 1975. The book served as an important document in the
            run up to the 1978 <a class="new" href="/~commun26/wiki/index.php?title=Declaration_of_Alma_Ata&amp;action=edit&amp;redlink=1" title="Declaration of Alma Ata (page does not exist)">Declaration of Alma Ata</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Synopsis"> Synopsis </span></h2>

          <p><b>From the WHO website</b> - A stimulating analysis, based on country studies, of innovative methods of delivering primary health care to populations, particularly in rural areas. The book has ten chapters. The first
            describes the approach taken in India to integrating a traditional system of medicine, the Ayurveda system, into the health services as a whole. The remaining chapters fall into three groups. Chapters in the first group
            consider experiences in countries characterized by far-reaching changes at the national level, as in China, Cuba, and Tanzania. The second group, which includes Iran, Niger, and Venezuela, shows how changes have been made
            through an extension of the existing system. The final group is characterized by community development in limited local areas of Guatemala, India, and Indonesia</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Download_publication"> Download publication </span></h2>

          <ul>
            <li> <a class="external text" href="http://apps.who.int/iris/handle/10665/40514" rel="nofollow">Download publication from WHO website</a></li>

            <li> <a class="internal" href="/~commun26/wiki/images/c/ca/Newell_HealthByThePeople.pdf" title="Newell HealthByThePeople.pdf"> Download publication from communityhealth.in</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_By_The_People&amp;oldid=1783">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_By_The_People&amp;oldid=1783</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>