<!--
title: Health For All Now! A People's Health Resource Book
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health For All Now! A People's Health Resource Book</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HFANowcover.gif"><img alt="" class="thumbimage" height="278" src="/~commun26/wiki/images/thumb/3/34/HFANowcover.gif/180px-HFANowcover.gif" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HFANowcover.gif" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of the first edition</div>
            </div>
          </div>
          <b>Health for All Now! A People's Health Resource Book</b> is a compilation of five booklets which were prepared by the National Coordination Committee of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> as part of the nationwide mobilisation for the <a class="new" href="/~commun26/wiki/index.php?title=First_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="First People's Health Assembly (page does not exist)">First People's Health Assembly</a> held in December 2000. As of now they have been translated into 9 languages and over 35000 copies have been distributed.
          <p>The books cover the major issues in <a class="new" href="/~commun26/wiki/index.php?title=Health_care&amp;action=edit&amp;redlink=1" title="Health care (page does not exist)">health care</a> and provision of basic needs that
            face India today and look at how <a class="new" href="/~commun26/wiki/index.php?title=Structural_adjustment&amp;action=edit&amp;redlink=1" title="Structural adjustment (page does not exist)">structural adjustment</a> and the
            policies of <a class="new" href="/~commun26/wiki/index.php?title=Globalisation&amp;action=edit&amp;redlink=1" title="Globalisation (page does not exist)">globalisation</a> have led to a worsening of the health status. They
            also look at a number of people's initiatives and how these form a model for changes that are possible with the right set of policies.</p>

          <p>The books are written in an easy to understand format and is intended primarily for lay, non-academic audiences.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Book_1:_What_Globalisation_Does_To_People.27s_Health"><span class="tocnumber">1</span> <span class="toctext">Book 1: What Globalisation Does To People's Health</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Book_2:_Whatever_Happened_To_Health_For_All_By_2000_AD.3F"><span class="tocnumber">2</span> <span class="toctext">Book 2: Whatever Happened To Health For All By 2000
                      AD?</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Book_3:_Making_Life_Worth_Living.21"><span class="tocnumber">3</span> <span class="toctext">Book 3: Making Life Worth Living!</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Book_4:_A_World_Where_We_Matter.21"><span class="tocnumber">4</span> <span class="toctext">Book 4: A World Where We Matter!</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Book_5:_Confronting_Commercialisation_Of_Health_Care"><span class="tocnumber">5</span> <span class="toctext">Book 5: Confronting Commercialisation Of Health Care</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Availability"><span class="tocnumber">6</span> <span class="toctext">Availability</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Book_1:_What_Globalisation_Does_To_People.27s_Health">Book 1: What Globalisation Does To People's Health</span></h2>

          <p>The first book is a brief introduction to what was meant by <a class="new" href="/~commun26/wiki/index.php?title=Globalisation&amp;action=edit&amp;redlink=1" title="Globalisation (page does not exist)">globalisation</a> and
            why such a phenomenon has occurred. It explains how this affects the lives of the poor especially their health status. The book also looks at issues of <a class="new" href="/~commun26/wiki/index.php?title=Health_financing&amp;action=edit&amp;redlink=1" title="Health financing (page does not exist)">health financing</a>, <a class="new" href="/~commun26/wiki/index.php?title=Food_security&amp;action=edit&amp;redlink=1" title="Food security (page does not exist)">food security</a> and pharmaceutical production consequent to the <a class="new" href="/~commun26/wiki/index.php?title=Structural_reforms&amp;action=edit&amp;redlink=1" title="Structural reforms (page does not exist)">structural reforms</a> associated with globalisation.</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/7/71/NHA1_What_Globalization_Does_to_Peoples_Health.pdf" title="NHA1 What Globalization Does to Peoples Health.pdf"> <b>Download What Globalization Does To Peoples
              Health</b></a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Book_2:_Whatever_Happened_To_Health_For_All_By_2000_AD.3F">Book 2: Whatever Happened To Health For All By 2000 AD?</span></h2>

          <p>The second book is an introduction to the concept of <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> and the reasons why this came to be accepted by all
            nations as the main strategy for achieving <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a>. The book goes on to show why and how the spirit of the <a class="new" href="/~commun26/wiki/index.php?title=Alma_Ata_Declaration&amp;action=edit&amp;redlink=1" title="Alma Ata Declaration (page does not exist)">Alma Ata Declaration</a> was undermined and explains the difference between the
            concept of primary health care and the existing primary health centre network and the disease control programmes we have.</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/2/27/NHA1_Whatever_happened_to_Health_For_All_by_2000_AD.pdf" title="NHA1 Whatever happened to Health For All by 2000 AD.pdf"> <b>Download Whatever Happened To Health For
              All By 2000 AD?</b></a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Book_3:_Making_Life_Worth_Living.21">Book 3: Making Life Worth Living!</span></h2>

          <p>The third book deals with the inter-sectoral interfaces of primary health care - <a class="new" href="/~commun26/wiki/index.php?title=Drinking_water&amp;action=edit&amp;redlink=1" title="Drinking water (page does not exist)">drinking water</a>, <a href="/~commun26/wiki/index.php?title=Sanitation" title="Sanitation">sanitation</a>, <a class="new" href="/~commun26/wiki/index.php?title=Education&amp;action=edit&amp;redlink=1" title="Education (page does not exist)">education</a>, livelihoods and so on. It highlights a number of success stories to show how the basic needs of all citizens could have been met</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Book_4:_A_World_Where_We_Matter.21">Book 4: A World Where We Matter!</span></h2>

          <p>The fourth book discusses the health care issues of the marginalised. In particular, it deals with women's health issues and <a class="new" href="/~commun26/wiki/index.php?title=Population_control&amp;action=edit&amp;redlink=1" title="Population control (page does not exist)">population control</a> policies, child health and health problems of <a class="new" href="/~commun26/wiki/index.php?title=Street_children&amp;action=edit&amp;redlink=1" title="Street children (page does not exist)">street children</a> and the physically disabled.</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/d/d7/NHA1_A_World_Where_We_Matter.pdf" title="NHA1 A World Where We Matter.pdf"> <b>Download A World Where We Matter</b></a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Book_5:_Confronting_Commercialisation_Of_Health_Care">Book 5: Confronting Commercialisation Of Health Care</span></h2>

          <p>The fifth book deals with issues of rational drugs and diagnostics, <a class="new" href="/~commun26/wiki/index.php?title=Medical_education&amp;action=edit&amp;redlink=1" title="Medical education (page does not exist)">medical education</a> and ethics and presents an overview of the issues involved in regulating the private sector.</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/2/21/NHA1_Confronting_Commercialization_of_Health_Care.pdf" title="NHA1 Confronting Commercialization of Health Care.pdf"> <b>Download Confronting Commercialisation Of
              Health Care</b></a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Availability">Availability</span></h2>

          <p>Health For All Now! A People's Health Resource Book is currently out of print. You can download PDF versions of 4 of the booklets from the links on this page. Hard copies may be obtained by contacting <a class="new" href="/~commun26/wiki/index.php?title=Balaji_Sampath&amp;action=edit&amp;redlink=1" title="Balaji Sampath (page does not exist)">Balaji Sampath</a> or <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book&amp;oldid=1717">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book&amp;oldid=1717</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>