<!--
title: Health For All movement
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health For All movement</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HFAactivists.jpg"><img alt="" class="thumbimage" height="194" src="/~commun26/wiki/images/thumb/9/9e/HFAactivists.jpg/300px-HFAactivists.jpg" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HFAactivists.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Health For All activists</div>
            </div>
          </div>
          The <b> Health For All movement</b> refers to the social movement that addresses health issues from a <a href="/~commun26/wiki/index.php?title=Social_determinants_of_health" title="Social determinants of health"> social
          determinants</a> and rights based perspective and promotes comprehensive <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a>.
          <p>The movement has been referred to by a number of names in the past, including, the <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> movement, the <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> movement, the <a href="/~commun26/wiki/index.php?title=Right_to_Health" title="Right to Health">Right to Health</a>
            movement or simply the <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> movement. Each name reflects the issues, concerns, strategies and politics of a particular period. The term '<a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a>' is used almost universally by all members of the movement irrespective of their personal and organisational ideologies and
            analysis and hence is probably the easiest name to use to refer to the movement.</p>

          <p>The underlying value framework of the Health For All movement is that of <a class="new" href="/~commun26/wiki/index.php?title=Social_justice&amp;action=edit&amp;redlink=1" title="Social justice (page does not exist)">social
            justice</a>. Activists work towards a world where there is a socially just distribution of health, a world where there is 'Health For All'. Such an effort is to be seen in the context of other movements that work for socially
            just distribution of food, water, land, livelihood opportunities, human dignity, political rights and legal justice. Each initiative is connected with the others and often activists find that the same forces are responsible for
            different kinds of deprivation.</p>

          <p>The Health For All movement is predominantly a grassroots level movement, one that is built on praxis. There is no central authority and hence no central definition of key terms and concepts. However, there seems to be a
            broad consensus on the analysis and approach of the movement that can be summed up in two points.</p>

          <ul>
            <li> An understanding of health that is rooted in a social determinants paradigm. Working to ensure better health is not the same as working to merely ensure better health care or coming up with new technology. Rather it
              involves engaging with a wide number of social, cultural, political and economic issues that are intrinsically connected to the health.</li>
          </ul>

          <ul>
            <li> A belief in collective, participatory action that provides people with the power to affect change in their lives and the lives of others. The movement seeks to create 'community' at all levels among those working toward
              Health For All. It looks closely at the power hierarchy associated with any process and differentiates efforts that are merely charitable from those that are truly empowering.</li>
          </ul>

          <p>Such an understanding allows one to differentiate between health initiatives at the periphery of the movement, that while providing charitable health and other social services, do not address the underlying causes of ill
            health and powerlessness, from those at the core of the Health For All movement that go beyond providing for immediate health needs to seeking to enable people to exercise collectively their responsibility for their own health
            and to demand health as their right.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.phmovement.org" rel="nofollow">www.phmovement.org</a> - People's Health Movement: world's largest network of Health For All activists</li>

            <li> <a class="external text" href="http://www.phmovement.org/en/node/2621" rel="nofollow">A video of Health For All activists in Latin America explaining the movement</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All_movement&amp;oldid=1482">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_For_All_movement&amp;oldid=1482</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>