<!--
title: Health Survey and Planning Committee
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health Survey and Planning Committee</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Health Survey and Planning Committee</b>, popularly known as the <b>Mudaliar Committee</b> was set up towards the close of the <a class="new" href="/~commun26/wiki/index.php?title=Second_Five_Year_Plan&amp;action=edit&amp;redlink=1" title="Second Five Year Plan (page does not exist)">Second Five Year Plan</a> in 1959 to survey the progress made in the field of
            health since sublission of the <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Bhore_Committee" title="Bhore Committee">Bhore Committee</a> report and to make recommendations for future development and expansion
            of health services.</p>

          <p>The Mudaliar Committee found the quality of services provided by the primary health centres inadequate and advised strengthening of the existing primary health centres before new centres were established. It also advised
            strengthening of subdivisional and district hospitals so that they could effectively function as referral centres.</p>

          <p>The main recommendations of the Mudaliar Committee were:</p>

          <ul>
            <li> Consolidation of advances made in the first two five year plans.</li>

            <li> Strengthening of the <a class="new" href="/~commun26/wiki/index.php?title=District_hospital&amp;action=edit&amp;redlink=1" title="District hospital (page does not exist)">district hospital</a> with specialist services
              to serve as central base of regional services.</li>

            <li> Creation of regional organisations in each state between the headquarters organisation and the district which were to be placed in charge of a Regional Deputy or Assistant Director.</li>

            <li> Each <a class="new" href="/~commun26/wiki/index.php?title=Primary_health_centre&amp;action=edit&amp;redlink=1" title="Primary health centre (page does not exist)">primary health centre</a> to serve not more than 40000
              population.</li>

            <li> Quality of care provided by primary health centres to be improved.</li>

            <li>Medical and health services to be integrated as recommended by the Bhore Committee.</li>

            <li> The constitution of an <a class="new" href="/~commun26/wiki/index.php?title=All_India_Health_Service&amp;action=edit&amp;redlink=1" title="All India Health Service (page does not exist)">All India Health Service</a> on
              the pattern of the Indian Administrative Service.</li>
          </ul>

          <h2> <span class="mw-headline" id="References"> References </span></h2>

          <ul>
            <li> Park, K. (2002) Park's Textbook of Preventive and Social Medicine, 17th edition, Banarsidas Bhanot Publishers</li>
          </ul>

          <h2> <span class="mw-headline" id="Download_the_Mudaliar_Committee_report"> Download the Mudaliar Committee report </span></h2>

          <ul>
            <li> <a class="external text" href="http://nrhm-mis.nic.in/ui/who/PDF/A%20Lakshmanaswami%20Mudaliar%20committee%201959.pdf" rel="nofollow">Download PDF version from nrhm-mis.nic.in</a></li>

            <li> <a class="external text" href="http://www.scribd.com/doc/25195259/Mudaliar-Committee-Report-1961" rel="nofollow">Download PDF version from scribd.com</a></li>

            <li> <a class="external text" href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:Mudaliar_Committee_report_1961.PDF.pdf" rel="nofollow">Download PDF version at communityhealth.in</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Survey_and_Planning_Committee&amp;oldid=1764">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Survey_and_Planning_Committee&amp;oldid=1764</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils">Government committees and councils</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>