<!--
title: Health for all
description: 
published: true
date: 2023-12-31T05:03:39.303Z
tags: 
editor: ckeditor
dateCreated: 2023-11-22T10:57:37.297Z
-->

<p style="text-align:center;"><span class="text-big" style="font-family:'Times New Roman', Times, serif;"><strong>The Impact of Primary Healthcare on Population Health in Low- and Middle-Income Countries</strong></span></p>
<p style="text-align:center;"><span style="font-family:'Times New Roman', Times, serif;">James Macinko, PhD; Barbara Starfield, MD, MPH; Temitope Erinosho, PhD&nbsp;</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Abstract:</strong> This article looks at 36 scientific studies about primary healthcare (PHC) and how it affects people's health in poorer countries. The studies were checked based on where they were done, how they were designed, who they studied, what they measured, and what they found.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The results show that most of the evidence supports the idea that PHC is good for babies and children. It also suggests that PHC can have a positive impact on the overall health of the population over time. While there aren't many very detailed studies, a few well-done ones and consistent findings show that an approach that combines different aspects of primary care can make people healthier.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The article suggests that in the future, we should study PHC better by coming up with clearer ways to measure it. We should also look into whether it's better to provide a comprehensive PHC or just some parts of it. And we need more studies that test how primary care on its own affects health over time. Lastly, we should have a clear plan for how we evaluate PHC and how different pieces of data relate to each other.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Introduction:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The World Health Organization (WHO) has been committed to something called "primary healthcare" (PHC) since 1978. They believed it was crucial for achieving the goal of "Health for All" and improving health worldwide.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Over the years, many countries, especially poorer ones, have undergone significant changes like becoming more democratic, opening up their economies, changing the role of their governments, and reforming healthcare. These reforms were meant to make healthcare more efficient and local. But not all of these changes have necessarily made primary healthcare better, or improved health and fairness for everyone.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In richer countries, having a strong primary care system has been proven to save money, provide the right kind of care, and lead to better health for most people. But in countries where specialty care is emphasized, the results may not be as good.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Now, after 30 years since the Alma Ata meeting, and because health challenges are changing in developing countries, there's a lot of interest in making primary healthcare more effective and up-to-date. This review looks at research to find out what has worked in the past and suggests ways to make primary healthcare even better.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Methods:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">They did a research study by looking at lots of articles about primary healthcare. They searched in big databases and even on the internet. They found over 10,000 potential articles in 2008!</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">From this huge number, they threw out articles that were just opinions or not reviewed by experts. They also didn't look at articles about healthcare in rich countries. They then looked at the abstracts and how the studies were designed to find articles that talked about how well primary healthcare programs worked and how they affected people's health. In the end, they found 36 important articles.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">They made a list with the main goals of the studies, how they were done, what they found, and other important information. They use the terms "selective" for programs that focus on one health problem, like diarrhea, and "integrated" for programs that try to improve health in general. This way, they could talk about how well primary healthcare worked for different health problems and overall health.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Results:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Studies on Specific PHC tasks:&nbsp;</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Several studies looked at how primary healthcare (PHC) tasks are related to health outcomes. For example, one study in Latin American countries found that lower child mortality was mainly influenced by women's literacy, vaccination coverage, and oral rehydration therapy.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Another study in East African countries suggested that many child deaths could be prevented through services like antenatal care, immunizations, and clean water. In addition, another research in African countries showed that countries with more comprehensive PHC policies had better outcomes for conditions like infant mortality compared to those with less coherent policies, even if they had higher income.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">A group of experts estimated that many child deaths worldwide could be prevented with tasks like oral rehydration therapy, immunization, and nutrition support, most of which should be provided by a PHC system.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Integrated management of childhood illness (IMCI) is an approach that combines different interventions for children's health. Evaluations in several countries showed that while IMCI was more effective than individual interventions, it faced challenges like limited access and weak healthcare systems.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Some countries that implemented comprehensive PHC, like Thailand and Cuba, saw significant health improvements. In contrast, countries with more selective PHC approaches had less progress in health, especially for conditions that require ongoing and coordinated care.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In simple terms, these studies show that comprehensive primary healthcare with a reliable referral system can lead to better health outcomes, especially for conditions that need continuous care.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Studies of specific primary care programs:</strong></span></p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The Navrongo experiment in Ghana was a study where different villages received various healthcare interventions: professional community nurses, voluntary community health workers (CHWs), a combination of both, or nothing (control). In areas with professional nurses, child mortality decreased by 14% over five years, while in villages with only volunteers, child mortality increased by 14%. This nurse intervention cost an extra $2 per person on top of the $6.80 budgeted for primary healthcare.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In the Gambia, a 15-year study compared communities with and without primary care. Places with primary care services had a steeper decline in child mortality. However, when these services were stopped due to lack of funds, infant mortality increased even more than in areas without primary care.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In Benin, regular contact with village health workers (VHWs) and measles vaccinations before the first birthday were linked to lower child mortality.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In Haiti, an integrated local health system based on primary healthcare resulted in much lower infant and child mortality compared to similar regions. This was achieved with fewer doctors but more nurses, CHWs, and community support, costing about $19 per person.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Other studies showed that comprehensive primary healthcare, especially focusing on families and community health workers, reduced child mortality in Bangladesh and India. In some cases, these interventions led to significant reductions in infant and child deaths, even in comparison to areas without primary care.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In summary, these studies demonstrate that primary healthcare, when well-implemented, can significantly reduce child mortality and improve overall community health.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Studies of countrywide PHC experiences:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Costa Rica:</strong> By 1985, Costa Rica had high life expectancy and low infant mortality rates compared to other countries. This improvement was due to various factors, including the development of a universal social security system, better education, improved sanitation, and increased access to primary healthcare. These primary healthcare improvements reduced infant mortality by a significant percentage.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Brazil: </strong>Brazil has a large primary healthcare system called the Family Health Program (FHP). This program provides comprehensive care through community-based teams, including doctors, nurses, and community health workers. Research shows that increasing FHP coverage is linked to lower infant mortality rates.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Cuba</strong>: Cuba has a universal primary healthcare program that uses family doctors and nurses to provide care to specific areas. Over the years, this approach has led to a substantial decrease in infant mortality, likely due to a focus on prevention and integrated care.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Mexico:</strong> Mexico's strategy to reduce child mortality includes disease-specific programs and comprehensive primary care. Studies found that characteristics like access to primary care, continuity of care, and being seen by the same healthcare provider significantly reduce a child's risk of dying.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Thailand:</strong> Thailand saw a significant decrease in child mortality after implementing primary care reforms, including health centers for rural villages and a medical welfare scheme.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Indonesia:</strong> Indonesia experienced a 20% reduction in infant mortality in the early 1990s, largely attributed to improvements in primary healthcare. However, when primary care spending decreased in the later 1990s, infant mortality increased.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>World Health Report</strong>: The 2008 World Health Report emphasized the importance of developing and strengthening primary healthcare based on various case studies, although it did not provide a systematic review of the evidence.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In summary, these examples show that investing in and improving primary healthcare can lead to better health outcomes, especially for children and infants.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Studies finding little or no impact of PHC on health outcomes:</strong></span></p>
<p><span style="font-family:'Times New Roman', Times, serif;"><strong>Niger:</strong> In Niger, a study found that having a "village health team" didn't significantly improve child survival rates. However, having a local healthcare center did reduce the chances of a child dying by 32%. This suggests that more comprehensive healthcare services may be needed instead of single interventions.</span></p>
<p><span style="font-family:'Times New Roman', Times, serif;"><strong>Philippines:</strong> In the Philippines, a project offering low-cost primary healthcare services to 400,000 people for 5 years didn't significantly reduce infant mortality. Possible reasons include poor-quality healthcare, a focus on family planning (which did improve), and overworked or poorly trained staff.</span></p>
<p><span style="font-family:'Times New Roman', Times, serif;"><strong>The Gambia:</strong> In a study in The Gambia, villages with volunteer health workers (VHWs) didn't show a significant difference in child mortality compared to villages without them. This lack of impact could be due to different healthcare preferences and patterns and the VHWs not fully fulfilling primary care functions.</span></p>
<p><span style="font-family:'Times New Roman', Times, serif;"><strong>Brazil:</strong> A study in Brazil found that participation in the Family Health Program (FHP) didn't significantly improve child health in areas with high FHP coverage compared to those with low or no coverage. Infant mortality decreased in both groups, but the difference was not significant. The study might not have considered variables related to the quality of care and accessibility.</span></p>
<p><span style="font-family:'Times New Roman', Times, serif;"><strong>Systematic Review</strong>: A systematic review looked at the "comprehensiveness" of primary care in developing countries, focusing on how well it addresses common healthcare issues. The review found it challenging to draw overall conclusions because of poor study quality, inadequate recording of outcomes, and variations in how integration was defined and measured in different studies.</span></p>
<p><span style="font-family:'Times New Roman', Times, serif;">In summary, these studies faced challenges in showing the direct impact of specific healthcare interventions on child health due to various factors like the quality of care and the way primary care was provided and measured.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Discussion:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">This review looked at studies about primary healthcare (PHC) and its impact on people's health in low-income countries. They found that many studies showed that PHC improved health, especially for infants, but some had weak methods.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">For instance, reductions in infant mortality due to PHC ranged from 0% to 71%, and comprehensive PHC programs cost about $10 to $35 per person each year.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">However, many studies didn't consistently evaluate PHC, and they often focused on parts of healthcare assumed to be PHC. The definition of PHC also varied a lot, making it hard to figure out how these approaches work.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Also, some successful PHC experiences were not published in scientific journals, so they weren't included in this review. Plus, there's not enough evidence on how PHC affects adult health in poorer countries because most studies only looked at infant and child mortality.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Studies that found no effect of PHC on health mostly looked at selective PHC tasks, not the whole picture. This suggests that a comprehensive approach to PHC is important.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">To make future studies better, they suggest:</span></p>
<ul>
  <li><span style="font-family:'Times New Roman', Times, serif;">1.Clearly defining what primary care means, including things like first-contact access and coordination.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">2. Starting with a plan that explains how they'll study primary care and its relationship to health. Being specific about what they mean by the PHC system, like its structure and how services are provided.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">3.Using better research methods, like comparing groups with and without PHC.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">Encouraging more studies on PHC, both successful and unsuccessful ones, so we can learn from them.</span></li>
</ul>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">For now, they suggest using existing studies and surveys to understand PHC better and look at countries going through PHC reforms to learn from their experiences.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Conclusion:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The World Health Organization (WHO) suggests that building stronger healthcare systems based on primary healthcare (PHC) is important to achieve development goals like the Millennium Development Goals. PHC is crucial for dealing with new health problems and improving existing healthcare, especially in fighting diseases like HIV/AIDS, tuberculosis, and chronic illnesses.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">These ideas are also relevant in the United States, where they are trying to improve primary care. They have a concept called the "Patient-Centered Medical Home" (PCMH), which focuses on having a personal doctor, well-organized care, and other important features. However, to make this work, they need to learn from the experiences of PHC in developing countries. This means they should use clear and consistent definitions and measurement tools to see how well primary care works. Without this, the PCMH model might not fully achieve its goal of renewing primary healthcare in the United States.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">As countries and organizations work on improving primary healthcare, it's essential to have clear definitions, standard measurements, and rigorous evaluations to understand how well it works and its impact on fairness in healthcare.</span></p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:center;"><span class="text-big" style="font-family:'Times New Roman', Times, serif;"><strong>Declaration of Alma-Ata International Conference on Primary Health Care, Alma-Ata, USSR, 6-12 September 1978</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">In 1978, there was a conference in Alma-Ata. They said that everyone, including governments, healthcare workers, and the world as a whole, needs to take quick action to keep people all over the world healthy. They made some important points at this conference.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>Declaration:</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>I. </strong>Everyone has the right to be healthy, not just free from sickness, but feeling good in their body, mind, and in how they live socially. Achieving the best health possible is a big goal for the whole world, and it needs help from different parts of society, not just from doctors.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>II.</strong> It's not fair that some people are very healthy while others are not, especially when comparing rich and poor countries or even within the same country. This unfairness is a problem that all countries should care about.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>III.</strong> Making the world better and fairer economically and socially is really important for everyone to be healthy, and it helps close the gap between rich and poor countries. Protecting people's health is vital for lasting progress and a better life for everyone, and it also contributes to world peace.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>IV.</strong> People have the right and responsibility to be part of planning and making decisions about their own healthcare, both on their own and together with others.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>V.</strong>Governments are responsible for keeping their citizens healthy. To do this, they need to provide good healthcare and social support. The big goal for governments, global organizations, and the whole world is to make sure that everyone can be healthy enough to work and live well by the year 2000.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The way to achieve this goal is by focusing on something called "primary health care." This means giving people basic healthcare that they can easily get in their community. It's important because it helps everyone have a fair chance at a healthy life, which is part of making the world a fairer and better place for everyone.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>VI.</strong> Primary health care is basic healthcare that uses practical, scientifically proven methods and technology. It should be available to everyone in a community, and the cost should be reasonable for the community and the country. This type of healthcare is really important because it's at the core of a country's health system, and it's a big part of the community's overall growth and well-being.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">It's the first place where people, families, and communities go when they need healthcare. The goal is to make healthcare easy to access, right where people live and work, and it's the starting point for taking care of people's health in an ongoing way.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>VII</strong></span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">Primary Health care.</span></p>
<ol>
  <li><span style="font-family:'Times New Roman', Times, serif;"><strong>Adapts to the Country:</strong> Primary health care should be shaped by the country's economic, cultural, and political conditions. It should be based on research and previous experiences in healthcare.</span></li>
</ol>
<ul>
  <li><span style="font-family:'Times New Roman', Times, serif;">2.&nbsp;<strong> Addresses Health Problems:</strong> It deals with the most important health issues in the community by offering services to prevent, treat, and rehabilitate people.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">3.<strong> Covers Various Aspects</strong>: It includes things like educating people about health problems, ensuring access to safe food and water, taking care of mothers and children, providing vaccinations, managing local diseases, treating common illnesses and injuries, and supplying essential medicines.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">4. <strong>Involves Many Sectors:</strong> It's not just about healthcare. Other areas like agriculture, education, housing, and transportation also play a part in promoting health, and all these sectors need to work together.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">5. <strong>Encourages Community Participation:</strong> It relies on the community and individuals to actively participate in planning and running healthcare. People should be taught how to take care of their health and be part of decision-making.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">6. <strong>Connects to Other Health Services:</strong> It should connect smoothly to other levels of healthcare, improving healthcare for everyone over time, especially for those who need it most.</span></li>
  <li><span style="font-family:'Times New Roman', Times, serif;">7.<strong> Relies on Trained Health Workers:</strong> Health professionals like doctors, nurses, midwives, and community workers, as well as traditional healers when necessary, should be properly trained and work together to meet the health needs of the community.</span></li>
</ul>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>VIII.</strong> <strong>Government Responsibility:</strong> Every government should create plans and strategies to establish and maintain primary healthcare as part of their overall healthcare system. This requires strong political commitment, proper use of the country's resources, and smart use of external resources.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>IX.</strong> <strong>Global Cooperation:</strong> All countries should work together as partners to ensure that everyone gets primary health care. When one country's people are healthy, it benefits other countries too. The joint report from WHO and UNICEF is a good starting point for this effort.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;"><strong>X.</strong> <strong>Health for All by 2000:</strong> We can achieve good health for everyone in the world by the year 2000 if we use our world's resources better. A lot of money is spent on weapons and conflicts, but if we focus on peace and reducing conflicts, we can free up resources for important things like healthcare. This conference asks everyone to take urgent action to make primary health care a reality, especially in developing countries. It calls on governments, international organizations, health workers, and the global community to work together, provide support, and follow the principles of this declaration.</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman', Times, serif;">The summary of both articles was finished with the help of ChatGPT.</span></p>
