<!--
title: Health Action
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Health Action</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HealthActionNov99.jpg"><img alt="" class="thumbimage" height="245" src="/~commun26/wiki/images/thumb/b/ba/HealthActionNov99.jpg/180px-HealthActionNov99.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HealthActionNov99.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Health Action</div>
            </div>
          </div>
          <b>Health Action</b> is a monthly publication on health, health activism and community development brought out by the <a class="new" href="/~commun26/wiki/index.php?title=Health_Accessories_for_All&amp;action=edit&amp;redlink=1" title="Health Accessories for All (page does not exist)">Health Accessories for All</a> trust of the <a href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India" title="Catholic Health Association of India">Catholic Health Association of India</a>. Started as a in-house bulletin named Catholic Hospital -Medical
          Service evolved into Health Action published under a separate society registered as Health Accessories for all (HAFA) in 1987. Health Action disseminates information on various health topics to enable people to gain adequate
          knowledge of health so that they can take care of their health as well as that of others. It promotes health, health activism and community development and promotes alternative systems of medicine and low-cost therapies
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Health Accessories For All, 157/6, Staff Road, Gunrock Enclave, Secunderabad - 500009</p>

          <p><b>Email:</b> chai@pol.net.in</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Action&amp;oldid=2081">http://www.communityhealth.in/~commun26/wiki/index.php?title=Health_Action&amp;oldid=2081</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>