<!--
title: Health, Nutrition and Development Initiative of Azim Premji University
description: 
published: true
date: 2023-06-15T11:41:29.357Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-14T09:30:21.447Z
-->

<p style="text-align:justify;">The Health, Nutrition and Development Initiative aims to offer a broader and integrated understanding of health by locating it within the larger development narrative and by necessarily engaging with multiple perspectives, approaches and methods. The Initiative comprising of a multi-disciplinary faculty focuses on the creation of new and relevant knowledge through a series of teaching and research activities based at the University.</p>
<p style="text-align:justify;">The teaching program of the Initiative includes a) offering a Specialization on Health, Nutrition and Development within the M.A. Development Program of the University b) training Government officials in public health policies, health management and implementation through collaboration with partner organizations and c) training young professionals in health and development through short courses.&nbsp;Research activities of the Initiative have a broader aim of establishing rigor in health systems research and translating the research knowledge into evidence.&nbsp;</p>
<p style="text-align:justify;">Website Link:&nbsp;</p>
<p style="text-align:justify;"><a href="https://azimpremjiuniversity.edu.in/community-engagement">https://azimpremjiuniversity.edu.in/community-engagement </a>(last checked on 15/06/23)</p>
<figure class="image"><img src="/jazimpremji-1.png">
  <figcaption>Azim Premji University</figcaption>
</figure>
