<!--
title: Help:Contents
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Help:Contents</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>As of now communityhealth.in does not have its own Help Section. However there are a number of useful resources already available online.</p>

          <ul>
            <li> The <a class="external text" href="http://en.wikipedia.org/wiki/Help:Contents" rel="nofollow">Help Section</a> at the Wikipedia website is a good place to start for the uninitiated.</li>
          </ul>

          <ul>
            <li> The <a class="external text" href="http://meta.wikimedia.org/wiki/Help:Contents" rel="nofollow">MediaWiki Handbook</a> on meta.wikimedia.org is another good resource to familiarise yourself on the basics of using
              MediaWiki, the program which runs this site.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Help:Contents&amp;oldid=150">http://www.communityhealth.in/~commun26/wiki/index.php?title=Help:Contents&amp;oldid=150</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>