<!--
title: Hospital (1970)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Hospital (1970)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Hospital (1970)</b> is an award winning film by Frederick Wiseman about the daily activities of the Metropolitan Hospital in New York City, with emphasis on the emergency ward and outpatient clinics.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <p>Director Frederick Wiseman looks at life in New York City's Metropolitan Hospital, detailing how the harried-but-dedicated staff handles stabbings, abused children, dicarded seniors, mental cases, overdoses, and unending
            bureaucracy. The main focus is on the busy emergency ward and outpatient clinic of the hospital. It shows that among the factors involved in the delivery of appropriate health care are medical expertise, organizational
            considerations, availability of resources, and the nature of communications among staff and patients.</p>

          <p>Of the film, Pauline Kael <i>The New Yorker</i> wrote, "It is as open and revealing as filmed experience has ever been. You look misery in the eye..."</p>

          <p>In 1970, this 84-minute film won two Emmys-"Best News Documentary" and "Best Director." In 1994, it was selected by the National Film Preservation Board to be in the National Film Registry.</p>

          <h2> <span class="mw-headline" id="Links">Links</span></h2>

          <ul>
            <li><a class="extiw" href="http://en.wikipedia.org/wiki/Hospital_(1970_film)" title="wikipedia:Hospital (1970 film)">Wikipedia: Hospital (1970 film)</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Hospital_(1970)&amp;oldid=1431">http://www.communityhealth.in/~commun26/wiki/index.php?title=Hospital_(1970)&amp;oldid=1431</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>