<!--
title: ICMR
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Council for Medical Research</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=ICMR&amp;redirect=no" title="ICMR">ICMR</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Indian Council of Medical Research</b> (ICMR), one of the oldest medical research bodies in the world is the premier national agency for the formulation, promotion and conduct of biomedical research in India. The
            Council, set up as the Indian Research Fund Association (IRFA) in 1911 with the specific objective of sponsoring and coordinating medical research in the country, was redesignated as ICMR in 1949 with considerable expanded
            scope of functions. The mandate and policies of the ICMR coincide with national health policies. The Council not only plans and promotes medical research in the current and emerging health problems of the country but also is
            expected to build up strong national cadre of skilled biomedical workers. One of the major mandates of the Council is to augment the national capability strengthening of the institutions involved in both basic and clinical
            sciences in the country.</p>

          <p>The Council promotes biomedical research in the country through intramural research through its Institutes and extramural research through grants-in-aid given to researchers from both ICMR and non-ICMR Institutes. Human
            resource development in biomedical research is encouraged by ICMR through various schemes such as research fellowships, short-term research studentship and various training programmes and workshops conducted by ICMR institutes
            and headquarters.</p>

          <p>Dr. <a class="new" href="/~commun26/wiki/index.php?title=V.M._Katoch&amp;action=edit&amp;redlink=1" title="V.M. Katoch (page does not exist)">V.M. Katoch</a> is the present Director General of Indian Council of Medical
            Research.</p>

          <h2> <span class="mw-headline" id="Institutes_under_ICMR">Institutes under ICMR</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases" title="National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases">National JALMA Institute for
              Leprosy &amp; Other Mycobacterial Diseases</a> (NCJILOMD), Agra</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health" title="National Institute of Occupational Health">National Institute of Occupational Health</a> (NIOH), Ahmedabad</li>

            <li> <a href="/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre" title="Tuberculosis Research Centre">Tuberculosis Research Centre</a> (TRC), Chennai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Epidemiology" title="National Institute of Epidemiology">National Institute of Epidemiology</a> (NIE), Chennai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Malaria_Research" title="National Institute of Malaria Research">National Institute of Malaria Research</a> (NIMR), Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Medical_Statistics" title="National Institute of Medical Statistics">National Institute of Medical Statistics</a> (NIMS), Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a>, Hyderabad (NIN),</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Centre_for_Laboratory_Animal_Science" title="National Centre for Laboratory Animal Science">National Centre for Laboratory Animal Science</a> (NCLAS), Hyderabad</li>

            <li> <a href="/~commun26/wiki/index.php?title=Food_and_Drug_Toxicology_Research_Centre" title="Food and Drug Toxicology Research Centre">Food and Drug Toxicology Research Centre</a> (FDTRC), Hyderabad</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases" title="National Institute of Cholera and Enteric Diseases">National Institute of Cholera and Enteric Diseases</a> (NICED),
              Kolkata</li>

            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Research_in_Medical_Entomology" title="Centre for Research in Medical Entomology">Centre for Research in Medical Entomology</a> (CRME), Madurai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_for_Research_in_Reproductive_Health" title="National Institute for Research in Reproductive Health">National Institute for Research in Reproductive Health</a>
              (NIRRH), Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Immunohaemotology" title="National Institute of Immunohaemotology">National Institute of Immunohaemotology</a> (NIIH), Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Enterovirus_Research_Centre" title="Enterovirus Research Centre">Enterovirus Research Centre</a> (ERC), Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Genetic_Research_Centre" title="Genetic Research Centre">Genetic Research Centre</a>, Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology" title="Institute of Cytology and Preventive Oncology">Institute of Cytology and Preventive Oncology</a> (ICPO), Noida</li>

            <li> <a href="/~commun26/wiki/index.php?title=Rajendra_Memorial_Research_Institute_of_Medical_Sciences" title="Rajendra Memorial Research Institute of Medical Sciences">Rajendra Memorial Research Institute of Medical
              Sciences</a>, Patna</li>

            <li> <a href="/~commun26/wiki/index.php?title=Vector_Control_Research_Centre" title="Vector Control Research Centre">Vector Control Research Centre</a> (VCRC), Puducherry</li>

            <li> <a href="/~commun26/wiki/index.php?title=Microbial_Containment_Complex" title="Microbial Containment Complex">Microbial Containment Complex</a> (MCC), Pune</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Virology" title="National Institute of Virology">National Institute of Virology</a> (NIV), Pune</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_AIDS_Research_Institute" title="National AIDS Research Institute">National AIDS Research Institute</a> (NARI), Pune</li>
          </ul>

          <h2> <span class="mw-headline" id="Contact_details"> Contact details </span></h2>

          <p><b>Address:</b> Indian Council of Medical Research, P.O. Box No. 4911, Ansari Nagar, New Delhi - 110029</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icmr.nic.in/" rel="nofollow">www.icmr.nic.in</a> - Indian Council for Medical Research website</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Indian_Council_for_Medical_Research" title="wikipedia:Indian Council for Medical Research">Wikipedia: Indian Council for Medical Research</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research&amp;oldid=1097">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research&amp;oldid=1097</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils">Government committees and councils</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Research" title="Category:Research">Research</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>