<!--
title: ICSSR
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Council for Social Science Research</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=ICSSR&amp;redirect=no" title="ICSSR">ICSSR</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Indian Council of Social Science Research</b> (ICSSR) was established in the year of 1969 by the Government of India to promote research in social sciences in the country.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details"> Contact details </span></h2>

          <p><b>Address:</b> Indian Council for Social Science Research, Jawarharlal Nehru University Campus, Aruna Asaf Ali Marg, New Delhi 110067 <b>Phone:</b> 011-26179679 <b>Fax:</b> 011-26182109</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links"> External Links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icssr.org/" rel="nofollow">www.icssr.org</a> - Indian Council for Social Science Research website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Council_for_Social_Science_Research&amp;oldid=811">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Council_for_Social_Science_Research&amp;oldid=811</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils">Government committees and councils</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Research" title="Category:Research">Research</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>