<!--
title: Image:THI Sittilingi.jpg
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">Image:THI Sittilingi.jpg</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <ul id="filetoc">
              <li><a href="#file">Image</a></li>

              <li><a href="#filehistory">File history</a></li>

              <li><a href="#filelinks">Links</a></li>

              <li><a href="#metadata">Metadata</a></li>
            </ul>

            <div class="fullImageLink" id="file"><a href="/~commun26/wiki/images/3/32/THI_Sittilingi.jpg"><img alt="Image:THI Sittilingi.jpg" border="0" height="353" src="/~commun26/wiki/images/3/32/THI_Sittilingi.jpg" width="470"></img></a><br></br>
              <small>No higher resolution available.</small><br></br>
              <a href="/~commun26/wiki/images/3/32/THI_Sittilingi.jpg">THI_Sittilingi.jpg</a> (470 × 353 pixel, file size: 53 KB, MIME type: image/jpeg)</div>

            <p>Tribal Hospital, Sittilingi, Dharmapuri district, Tamil Nadu</p>

            <h2 id="filehistory">File history</h2>

            <p>Click on a date/time to view the file as it appeared at that time.</p>

            <table class="filehistory">
              <tbody>
                <tr>
                  <td></td>

                  <th>Date/Time</th>

                  <th>User</th>

                  <th>Dimensions</th>

                  <th class="mw-imagepage-filesize">File size</th>

                  <th>Comment</th>
                </tr>

                <tr>
                  <td>(current)</td>

                  <td><a href="/~commun26/wiki/images/3/32/THI_Sittilingi.jpg">09:20, 11 June 2008</a></td>

                  <td><a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan">LalitNarayan</a> (<a href="/~commun26/wiki/index.php?title=User_talk:LalitNarayan" title="User talk:LalitNarayan">Talk</a> |
                    <a href="/~commun26/wiki/index.php?title=Special:Contributions/LalitNarayan" title="Special:Contributions/LalitNarayan">contribs</a>)</td>

                  <td>470×353</td>

                  <td class="mw-imagepage-filesize">53 KB</td>

                  <td>Tribal Hospital, Sittilingi, Dharmapuri district, Tamil Nadu</td>
                </tr>
              </tbody>
            </table>
            <br></br>

            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Image:THI_Sittilingi.jpg&amp;action=edit&amp;externaledit=true&amp;mode=file" title="Image:THI Sittilingi.jpg">Edit this file using an external application</a>
                <div>
                  <p>See the <a class="external text" href="http://meta.wikimedia.org/wiki/Help:External_editors" rel="nofollow" title="http://meta.wikimedia.org/wiki/Help:External_editors">setup instructions</a> for more information.</p>
                </div>
              </li>
            </ul>

            <h2 id="filelinks">Links</h2>

            <p>The following pages link to this file:</p>

            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Main_Page" title="Main Page">Main Page</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a></li>
            </ul>

            <h2 id="metadata">Metadata</h2>

            <p>This file contains additional information, probably added from the digital camera or scanner used to create or digitize it. If the file has been modified from its original state, some details may not fully reflect the
              modified image.</p>

            <table class="mw_metadata" id="mw_metadata">
              <tbody>
                <tr class="exif-orientation collapsable">
                  <th> Orientation</th>

                  <td> Normal</td>
                </tr>

                <tr class="exif-xresolution collapsable">
                  <th> Horizontal resolution</th>

                  <td> 72 dpi</td>
                </tr>

                <tr class="exif-yresolution collapsable">
                  <th> Vertical resolution</th>

                  <td> 72 dpi</td>
                </tr>

                <tr class="exif-software collapsable">
                  <th> Software used</th>

                  <td> Adobe Photoshop 7.0</td>
                </tr>

                <tr class="exif-datetime collapsable">
                  <th> File change date and time</th>

                  <td> 11:45, 11 June 2008</td>
                </tr>

                <tr class="exif-colorspace collapsable">
                  <th> Color space</th>

                  <td> 65535</td>
                </tr>
              </tbody>
            </table>

            <script src="/~commun26/wiki/skins/common/metadata.js?97" type="text/javascript"></script>
            <script type="text/javascript">attachMetadataToggle('mw_metadata', 'Show extended details', 'Hide extended details');</script>
            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:THI_Sittilingi.jpg">http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:THI_Sittilingi.jpg</a>"</div>

            <div class="visualClear"></div>
          </div>
        </div>