<!--
title: Image:WhereThereIsNoDoctor cover.jpg
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">Image:WhereThereIsNoDoctor cover.jpg</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <ul id="filetoc">
              <li><a href="#file">Image</a></li>

              <li><a href="#filehistory">File history</a></li>

              <li><a href="#filelinks">Links</a></li>
            </ul>

            <div class="fullImageLink" id="file"><a href="/~commun26/wiki/images/4/45/WhereThereIsNoDoctor_cover.jpg"><img alt="Image:WhereThereIsNoDoctor cover.jpg" border="0" height="400" src="/~commun26/wiki/images/4/45/WhereThereIsNoDoctor_cover.jpg" width="304"></img></a><br></br>
              <small>No higher resolution available.</small><br></br>
              <a href="/~commun26/wiki/images/4/45/WhereThereIsNoDoctor_cover.jpg">WhereThereIsNoDoctor_cover.jpg</a> (304 × 400 pixel, file size: 48 KB, MIME type: image/jpeg)</div>

            <h2 id="filehistory">File history</h2>

            <p>Click on a date/time to view the file as it appeared at that time.</p>

            <table class="filehistory">
              <tbody>
                <tr>
                  <td></td>

                  <th>Date/Time</th>

                  <th>User</th>

                  <th>Dimensions</th>

                  <th class="mw-imagepage-filesize">File size</th>

                  <th>Comment</th>
                </tr>

                <tr>
                  <td>(current)</td>

                  <td><a href="/~commun26/wiki/images/4/45/WhereThereIsNoDoctor_cover.jpg">08:02, 8 March 2010</a></td>

                  <td><a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan">LalitNarayan</a> (<a href="/~commun26/wiki/index.php?title=User_talk:LalitNarayan" title="User talk:LalitNarayan">Talk</a> |
                    <a href="/~commun26/wiki/index.php?title=Special:Contributions/LalitNarayan" title="Special:Contributions/LalitNarayan">contribs</a>)</td>

                  <td>304×400</td>

                  <td class="mw-imagepage-filesize">48 KB</td>

                  <td></td>
                </tr>
              </tbody>
            </table>
            <br></br>

            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Image:WhereThereIsNoDoctor_cover.jpg&amp;action=edit&amp;externaledit=true&amp;mode=file" title="Image:WhereThereIsNoDoctor cover.jpg">Edit this file using an external
                application</a>
                <div>
                  <p>See the <a class="external text" href="http://meta.wikimedia.org/wiki/Help:External_editors" rel="nofollow" title="http://meta.wikimedia.org/wiki/Help:External_editors">setup instructions</a> for more information.</p>
                </div>
              </li>
            </ul>

            <h2 id="filelinks">Links</h2>

            <p>The following pages link to this file:</p>

            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Main_Page" title="Main Page">Main Page</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a></li>
            </ul>

            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:WhereThereIsNoDoctor_cover.jpg">http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:WhereThereIsNoDoctor_cover.jpg</a>"</div>

            <div class="visualClear"></div>
          </div>
        </div>