<!--
title: Immunisation
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Immunisation</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Immunization</b> (synonym of vaccination) is the process of protection of susceptible individuals from communicable disease by administration of a living modified agent (as in yellow fever), a suspension of killed
            organisms (as in whooping cough),or an inactivated toxin (as in tetanus).</p>

          <p>The artificial induction of active immunity by introducing into a vulnerable host the specific antigen of a pathogenic organism.</p>

          <p>Immunization is the process of developing immunity by a single or repeated in-apparent asymptomatic infection.</p>

          <p><br></br>
            Complied from Porta M. A Dictionary of Epidemiology. 5th ed. New York, NY: Oxford University Press; 2008.</p>

          <h2> <span class="mw-headline" id="External_Links"> External Links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.vaccineindia.org" rel="nofollow">www.vaccineindia.org</a> - Website run by Dr.Ajay Gambhir and Dr. Akhilesh Singh on immunisation in India.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Immunisation&amp;oldid=2026">http://www.communityhealth.in/~commun26/wiki/index.php?title=Immunisation&amp;oldid=2026</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>