<!--
title: Indian Journal of Medical Ethics
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Journal of Medical Ethics</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:IJME_Dec09.jpg"><img alt="" class="thumbimage" height="239" src="/~commun26/wiki/images/thumb/a/ac/IJME_Dec09.jpg/180px-IJME_Dec09.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:IJME_Dec09.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Indian Journal of Medical Ethics</div>
            </div>
          </div>
          The <b>Indian Journal of Medical Ethics</b> is a quarterly publication on health care ethics with special reference to the problems of developing countries like India. The journal is owned and published by the <a href="/~commun26/wiki/index.php?title=Forum_for_Medical_Ethics_Society" title="Forum for Medical Ethics Society">Forum for Medical Ethics Society</a>.
          <p>The journal was formerly known as Issues in Medical Ethics.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.issuesinmedicalethics.org" rel="nofollow">www.issuesinmedicalethics.org</a> - Indian Journal of Medical Ethics website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Medical_Ethics&amp;oldid=850">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Medical_Ethics&amp;oldid=850</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_ethics" title="Category:Medical ethics">Medical ethics</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>