<!--
title: Indian Institute of Health Management and Research -IIHMR
description: 
published: true
date: 2023-06-15T11:43:52.100Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-14T09:51:44.752Z
-->

<p style="text-align:justify;">IIHMR is dedicated to the improvement in standards of health through better management of health care and related programs. It works extensively on capacity building of health professionals to effectively manage health services at the national, global level and to disseminate latest knowledge and management technology in India and other developing countries. The Institute offers a two-year full-time Postgraduate Program with specialization in Hospital Management and Health Management and very recently also the post graduate diploma in health information technology.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://iihmrbangalore.edu.in/">https://iihmrbangalore.edu.in/ </a>(last checked on 15/06/23)</p>
<figure class="image image_resized" style="width:98.63%;"><img src="/download.png">
  <figcaption>IIHMR Bangalore</figcaption>
</figure>
