<!--
title: Indian Association of preventive and Social Medicine- IAPSM
description: 
published: true
date: 2023-06-26T04:59:44.447Z
tags: public health information sources, professional networks and associations
editor: ckeditor
dateCreated: 2023-06-26T04:59:44.447Z
-->

<p style="text-align:justify;">IAPSM provides a forum for the regular exchange of views &amp; information on education, research, and programs of Community Medicine and is dedicated to the promotion of public health. It works towards improving teaching standards of Preventive and Social Medicine at all levels. They also publish a peer reviewed quarterly journal.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="http://www.iapsm.org">http://www.iapsm.org </a>(Last Checked on 26/06/2023)</p>
<figure class="image image_resized image-style-align-left" style="width:98.56%;"><img src="/iapsm-logo.jpg"></figure>
