<!--
title: Indian Public Health Association-IPHA
description: 
published: true
date: 2023-06-26T05:30:06.822Z
tags: professional networks and associations, public health information sources
editor: ckeditor
dateCreated: 2023-06-26T05:30:06.822Z
-->

<p style="text-align:justify;">IPHA works towards promotion and advancement of public health and allied sciences in India. They hold annual convention and periodic meetings or conferences. They publish a Scientific Journal, specially adapted to the needs of the administrators, programme managers and research workers in the field of public health in India.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://www.iphaonline.org/">https://www.iphaonline.org/ </a>(Last Checked on 26/06/23)</p>
<figure class="image"><img src="/ipha-logo.png"></figure>
