<!--
title: Indian Journal of Community Medicine
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Journal of Community Medicine</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:IJCM_Mar09.jpg"><img alt="" class="thumbimage" height="239" src="/~commun26/wiki/images/thumb/6/6d/IJCM_Mar09.jpg/180px-IJCM_Mar09.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:IJCM_Mar09.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Indian Journal of Community Medicine</div>
            </div>
          </div>
          The <b>Indian Journal of Community Medicine</b> is the official publication of the <a href="/~commun26/wiki/index.php?title=Indian_Association_of_Preventive_and_Social_Medicine" title="Indian Association of Preventive and Social Medicine">Indian Association of Preventive and Social Medicine</a>. It is a peer reviewed journal that is published quarterly.
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.ijcm.org.in" rel="nofollow">www.ijcm.org.in</a> - Indian Journal of Community Medicine website</li>

            <li> <a class="external text" href="http://www.iapsm.org.in" rel="nofollow">www.iapsm.org.in</a> Indian Association of Preventive and Social Medicine website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Community_Medicine&amp;oldid=851">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Community_Medicine&amp;oldid=851</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>