<!--
title: Indian Journal of Public Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Journal of Public Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Indian Journal of Public Health</b> is a peer-reviewed international journal published Quarterly by the Indian Public Health Association. It is indexed by major international indexing systems and allows for free
            access (Open Access) to its contents. The journal’s full text is available online. Its current editor is <a class="new" href="/~commun26/wiki/index.php?title=Dr._Sandip_K._Ray&amp;action=edit&amp;redlink=1" title="Dr. Sandip K. Ray (page does not exist)">Dr. Sandip K. Ray </a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Indian Journal of Public Health, 110, Chittaranjan Avenue, Kolkota - 700 073</p>

          <p><b>Email:</b> ijph2005@yahoo.com,editor @ ijph . in</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external autonumber" href="http://www.ijph.in/" rel="nofollow">[1]</a> - Indian Journal Of Public Health.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Public_Health&amp;oldid=2087">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Public_Health&amp;oldid=2087</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>