<!--
title: Indian Clinical Epidemiology Network – IndiaClen
description: 
published: true
date: 2023-06-26T05:08:07.899Z
tags: professional networks and associations, public health information sources
editor: ckeditor
dateCreated: 2023-06-26T05:08:07.899Z
-->

<p style="text-align:justify;">Indiaclen is a network of Academic Health Care researchers across 135 Medical colleges/Institutions in India including IPEN. It is dedicated to improving the health by promoting clinical practice based on the best evidence of effectiveness and the efficient use of resources.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://inclentrust.org/inclen/indiaclen/">https://inclentrust.org/inclen/indiaclen/ </a>(Last Checked on 26/06/2023)</p>
<figure class="image"><img src="/indiaclen-logo.jpg"></figure>
