<!--
title: Indian Association of Occupational Health
description: 
published: true
date: 2023-06-26T05:03:30.561Z
tags: communityhealth.in
editor: ckeditor
dateCreated: 2023-01-29T17:10:52.243Z
-->

<h1>Indian Association of Occupational Health</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p>The <strong>Indian Association of Occupational Health</strong> is a non-profit professional association of <a href="/~commun26/wiki/index.php?title=Occupational_health&amp;action=edit&amp;redlink=1">occupational health</a> specialists in India.</p>
<p>The association traces its origins back to the <a href="/~commun26/wiki/index.php?title=Society_For_Study_Of_Industrial_Medicine&amp;action=edit&amp;redlink=1">Society For Study Of Industrial Medicine</a> started by three industrial health experts, Lt.<a href="/~commun26/wiki/index.php?title=J.R.Kochar&amp;action=edit&amp;redlink=1">J.R.Kochar</a>, Col.<a href="/~commun26/wiki/index.php?title=Najib_Khan&amp;action=edit&amp;redlink=1">Najib Khan</a> and Maj.<a href="/~commun26/wiki/index.php?title=R_C.Tarapore&amp;action=edit&amp;redlink=1">R C.Tarapore</a> in <a href="/~commun26/wiki/index.php?title=Jamshedpur&amp;action=edit&amp;redlink=1">Jamshedpur</a> in <a href="/~commun26/wiki/index.php?title=1948&amp;action=edit&amp;redlink=1">1948</a>.</p>
<p>It publishes an official journal called <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Occupational_and_Environmental_Medicine">Indian Journal of Occupational and Environmental Medicine</a>.</p>
<figure class="image"><img src="/iaoh-logo.jpg">
  <figcaption>Indian Association of Occupational Health</figcaption>
</figure>
<p><br><br>&nbsp;</p>
<h2>External links</h2>
<ul>
  <li><a href="http://www.iaohindia.com">www.iaohindia.com</a> - Indian Association of Occupational Health website</li>
  <li><a href="http://www.ijoem.com">www.ijoem.com</a> - Indian Journal of Occupational and Environmental Medicine website</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Association_of_Occupational_Health&amp;oldid=278">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Association_of_Occupational_Health&amp;oldid=278</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health">Occupational health</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:Professional_associations">Professional associations</a></li>
</ul>
