<!--
title: Indian Journal of Occupational and Environmental Medicine
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Indian Journal of Occupational and Environmental Medicine</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Indian Journal of Occupational and Environmental Medicine</b> is the official publication of the <a href="/~commun26/wiki/index.php?title=Indian_Association_of_Occupational_Health" title="Indian Association of Occupational Health">Indian Association of Occupational Health</a>. Its current editor is <a class="new" href="/~commun26/wiki/index.php?title=G.K._Kulkarni&amp;action=edit&amp;redlink=1" title="G.K. Kulkarni (page does not exist)">G.K. Kulkarni</a></p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Indian Journal of Occupational and Environmental Medicine, c/o Dr. G.K.Kulkarni, Siemens Ltd., Kalwa Works, Thane-Belapur Road, Thane 400 601</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.ijoem.com" rel="nofollow">www.ijoem.com</a> - Indian Journal of Occupational and Environmental Medicine website</li>

            <li> <a class="external text" href="http://www.iaohindia.com" rel="nofollow">www.iaohindia.com</a> - Indian Association of Occupational Health website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Occupational_and_Environmental_Medicine&amp;oldid=275">http://www.communityhealth.in/~commun26/wiki/index.php?title=Indian_Journal_of_Occupational_and_Environmental_Medicine&amp;oldid=275</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health">Occupational health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals">Newsletters, magazines and journals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>