<!--
title: Injuries
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Injuries</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>In the case of laceration:</p>

          <ul>
            <li>Clean with soap and water</li>

            <li>If the survivor has not been immunized with the Tetanus vaccine, administer 0.5 cc Tetanus Toxoid intravenously</li>

            <li>If the laceration requires suturing, provide hemostasis and refer to the nearest surgical center</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Injuries&amp;oldid=1953">http://www.communityhealth.in/~commun26/wiki/index.php?title=Injuries&amp;oldid=1953</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>