<!--
title: Institute of Cytology and Preventive Oncology
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Institute of Cytology and Preventive Oncology</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Cytology Research Centre established in 1979, was renamed as <b>Institute of Cytology &amp; Preventive Oncology</b> (ICPO) in 1988. The thrust areas of research at ICPO include studies on pre-cancerous &amp; cancerous
            lesions of the uterine cervix and breast. Multi-disciplinary studies involving epidemiological, clinical, colposcopic, cytomorphological, cytogenetic, immunological &amp; ultrastructural aspects are undertaken for cervical
            pre-cancerous lesions.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Institute of Cytology &amp; Preventive Oncology, Maulana Azad Medical College Campus, Bahadur Shah Zafar Marg, New Delhi - 110 002</p>

          <p><b>Tel No.:</b> +91-11-23238950, 23231880</p>

          <p><b>Fax No.:</b> +91-11-23233406</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icpo.org.in/" rel="nofollow">www.icpo.org.in</a> - Institute of Cytology and Preventive Oncology website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology&amp;oldid=1090">http://www.communityhealth.in/~commun26/wiki/index.php?title=Institute_of_Cytology_and_Preventive_Oncology&amp;oldid=1090</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Uttar_Pradesh" title="Category:Uttar Pradesh">Uttar Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>