<!--
title: International Epidemiological Association South East Asia
description: 
published: true
date: 2023-06-26T05:34:31.003Z
tags: professional networks and associations, public health information sources
editor: ckeditor
dateCreated: 2023-06-26T05:34:31.003Z
-->

<p style="text-align:justify;">The International Epidemiological Association (IEA) is a worldwide association with more than 2000 members in over 100 different countries, who follow the aims of the Association to facilitate communication amongst those engaged in research and teaching of epidemiology throughout the world, and to encourage its use in all fields of health including social, community and preventative medicine.</p>
<p style="text-align:justify;">International Epidemiological Association South East Asia’s main objective is to promote the role of epidemiology for public health action and advocate for its application for national program development and management, be it communicable diseases, non-communicable diseases, maternal and child health, environmental health or health system development.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="http://ieaweb.org/IEAWeb/Content/South_East_Asia.aspx">http://ieaweb.org/IEAWeb/Content/South_East_Asia.aspx </a>(Last Checked on 26/06/2023)</p>
<figure class="image"><img src="/ieao-logo.jpg"></figure>
