<!--
title: International Christian Medical and Dental Association
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">International Christian Medical and Dental Association</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>International Christian Medical and Dental Association</b> (ICMDA) is an association of national Christian medical and dental societies. The ICMDA began in 1963 as the 'International Congress of Christian
            Physicians'. Today it consists of about 56 national networks of Christian doctors, dentists and medical and dental students around the globe.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links"> External Links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icmda.net" rel="nofollow">www.icmda.net</a> - ICMDA website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=International_Christian_Medical_and_Dental_Association&amp;oldid=800">http://www.communityhealth.in/~commun26/wiki/index.php?title=International_Christian_Medical_and_Dental_Association&amp;oldid=800</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Professional_associations" title="Category:Professional associations">Professional associations</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>