<!--
title: International Covenant on Economic, Social and Cultural Rights
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">International Covenant on Economic, Social and Cultural Rights</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>International Covenant on Economic, Social and Cultural Rights</b> (ICESCR) is a multilateral treaty adopted by the <a class="new" href="/~commun26/wiki/index.php?title=United_Nations&amp;action=edit&amp;redlink=1" title="United Nations (page does not exist)">United Nations</a> General Assembly on December 16, <a class="new" href="/~commun26/wiki/index.php?title=1966&amp;action=edit&amp;redlink=1" title="1966 (page does not exist)">1966</a>, and in force from January 3, 1976. It commits its parties to work toward the granting of economic, social, and cultural rights (ESCR) to individuals, including labour rights and rights to health, education, and an
            adequate standard of living.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.unhchr.ch/html/menu3/b/a_cescr.htm" rel="nofollow">Complete text of the ICESCR</a></li>

            <li> <a class="external text" href="http://en.wikipedia.org/wiki/International_Covenant_on_Economic,_Social_and_Cultural_Rights" rel="nofollow">Wikipedia: International Covenant on Economic, Social and Cultural Rights</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=International_Covenant_on_Economic,_Social_and_Cultural_Rights&amp;oldid=107">http://www.communityhealth.in/~commun26/wiki/index.php?title=International_Covenant_on_Economic,_Social_and_Cultural_Rights&amp;oldid=107</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>