<!--
title: International People's Health University
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">International People's Health University</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>International People’s Health University</b> (IPHU) is a project of the <a class="new" href="/~commun26/wiki/index.php?title=International_People%27s_Health_Council&amp;action=edit&amp;redlink=1" title="International People's Health Council (page does not exist)">International People's Health Council</a> and is part of the global <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a>. It organises short course opportunities for health activists from around the world but particularly from Third World countries presenting a range of learning
            opportunities, a growing collection of resource materials and a wider network of resource people to progressively enhance its programmes. It also sponsors research into the barriers to <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> and strategies to support the people's struggle for health.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links"> External links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.phmovement.org/iphu" rel="nofollow">www.phmovement.org/iphu</a> - International People's Health University website</li>

            <li> <a class="external text" href="http://iphualumni.blogspot.com/" rel="nofollow">iphualumni.blogspot.com</a> - IPHU alumni blog</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=International_People%27s_Health_University&amp;oldid=376">http://www.communityhealth.in/~commun26/wiki/index.php?title=International_People%27s_Health_University&amp;oldid=376</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Health_education" title="Category:Health education">Health education</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>