<!--
title: Jamkhed
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Jamkhed</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Jamkhed</b> by Rajnikant Arole and Mabel Arole. Published by Macmillian (1994)</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:161px;"><a class="image" href="/~commun26/wiki/index.php?title=File:Jamkhed.jpg"><img alt="" class="thumbimage" height="238" src="/~commun26/wiki/images/4/42/Jamkhed.jpg" width="159"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:Jamkhed.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Jamkhed</div>
            </div>
          </div>
          Jamkhed tells the story of the development of the <a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed" title="Comprehensive Rural Health Project, Jamkhed"> Comprehensive Rural Health Project</a>, a sustainable community - based <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> programme in one of the poorest parts of India. In 1970, the <a class="new" href="/~commun26/wiki/index.php?title=Rajnikant_Arole&amp;action=edit&amp;redlink=1" title="Rajnikant Arole (page does not exist)">Rajnikant Arole</a> and <a class="new" href="/~commun26/wiki/index.php?title=Mabel_Arole&amp;action=edit&amp;redlink=1" title="Mabel Arole (page does not exist)">Mabel Arole</a> were invited by the leaders of Jamkhed to provide health care in their community. What
          started out as a modest service programme grew into the Comprehensive Rural Health Project (CRHP), reaching the poor, the marginalised and especially the previously unreached: women and children. Around Jamkhed, scores of men and
          women have come forward to acquire knowledge and skills in health and development. This empowerment has resulted in a drastic reduction in infant mortality and has improved the quality of village life.
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://books.google.com/books?id=Dzp-AAAACAAJ&amp;dq=Jamkhed&amp;cd=1" rel="nofollow">Jamkhed at Google Books</a></li>

            <li> <a class="external text" href="http://www.jamkhed.org/" rel="nofollow">www.jamkhed.org</a> - Website of the Comprehensive, Rural Health Project, Jamkhed</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Jamkhed&amp;oldid=854">http://www.communityhealth.in/~commun26/wiki/index.php?title=Jamkhed&amp;oldid=854</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>