<!--
title: Jan Swasthya Sahyog
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Jan Swasthya Sahyog</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:JSSGaniyariClinic.jpg"><img alt="" class="thumbimage" height="225" src="/~commun26/wiki/images/thumb/6/63/JSSGaniyariClinic.jpg/300px-JSSGaniyariClinic.jpg" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:JSSGaniyariClinic.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Out patient clinic building at Jss Ganiyari campus</div>
            </div>
          </div>
          <b>Jan Swasthya Sahyog</b> (JSS) is a voluntary, non-profit, registered society founded by a group of health professionals committed to developing a low-cost and effective health programme that provides both preventive and
          curative services in the tribal and rural areas of Bilaspur district of <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh&amp;action=edit&amp;redlink=1" title="Chhattisgarh (page does not exist)">Chhattisgarh</a> state in central <a class="new" href="/~commun26/wiki/index.php?title=India&amp;action=edit&amp;redlink=1" title="India (page does not exist)">India</a>.
          <p>The core team at Jan Swasthya Sahyog consists of a group of doctors, many of whom got together during their post-graduate studies at the <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a>, New Delhi, around <a class="new" href="/~commun26/wiki/index.php?title=1996&amp;action=edit&amp;redlink=1" title="1996 (page does not exist)">1996</a>. The group now consists of an epidemiologist, a research immunochemist, two pediatricians, a physician, a surgeon, a gynaecologist, an ENT specialist, a physician and a medical
            microbiologist. About thirty five other people are also employed by Jan Swasthya Sahyog through temporary research and service related projects as nurses, village health coordinators, laboratory technicians, pharmacist and
            pharmacy assistants and in clerical and general helper functions.</p>

          <p>Jan Swasthya Sahyog has developed a Community Health Programme in 21 tribal villages in Kota block of Bilaspur district. 47 village health workers (VHWs) from these 21 villages have being trained under the Community Health
            Programme to provide primary preventive and curative services for common illnesses such as malaria, diarrhoea, respiratory tract infections, and scabies, which are otherwise major causes of morbidity and mortality in young
            children. Jan Swasthya Sahayog also runs a small referral hospital in the village of Ganiyari close to the Bilaspur town. The hospital has 10 bed ward, two operation theatres, a laboratory and a dispensary. Its runs an
            outpatient clinic three days a week.</p>

          <p>Jan Swasthya Sahayog is also involved in research to develop medical technology which is low-cost, simple and accessible to the peripheral health worker. Such technology is expected to make clinical management more rational
            and less expensive and decrease the misuse of drugs, especially antibiotics. JSS also functions as a training centre for a number of groups involved with health in the state of Chhattisgarh.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Anurag_Bhargav" title="Anurag Bhargav">Anurag Bhargav</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Bishwaroop_Chatterjee" title="Bishwaroop Chatterjee">Bishwaroop Chatterjee</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Raman_Kataria" title="Raman Kataria">Raman Kataria</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Yogesh_Jain" title="Yogesh Jain">Yogesh Jain</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Health Centre:</b> Village &amp; P.O. Ganiyari - 495 112, District Bilaspur, Chhattisgarh, India</p>

          <p><b>Office:</b> I-4, Parijat Colony, Nehru Nagar, Bilaspur-495 001, Chhattisgarh, India</p>

          <p><b>Mailing address (ordinary post only):</b> P.O. Box 39, Bilaspur –495 001, Chhattisgarh, India</p>

          <p><b>Health Centre Phone:</b> +91 – 7753 - 244819</p>

          <p><b>Office Phone:</b> +91 – 7752 - 247966</p>

          <p><b>Fax:</b> +91 - 7752 - 247966 / 221064 (21064 is a PP number. Use only if 247966 does not respond)</p>

          <p><b>E-mail:</b> jss_ganiyari@rediffmail.com</p>

          <h2> <span class="mw-headline" id="External_links"> External links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.jssbilaspur.org" rel="nofollow">www.jssbilaspur.org</a> - Jan Swasthya Sahyog website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog&amp;oldid=1284">http://www.communityhealth.in/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog&amp;oldid=1284</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Hospitals" title="Category:Hospitals">Hospitals</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>