<!--
title: Jan Swasthya Abhiyan
description: 
published: true
date: 2023-06-26T05:54:22.727Z
tags: communityhealth.in, public health information source- networks, public health information sources
editor: ckeditor
dateCreated: 2023-01-29T17:11:48.779Z
-->

<h1>Jan Swasthya Abhiyan</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p>The <strong>Jan Swasthya Abhiyan</strong> is the Indian circle of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement">People's Health Movement</a>, a worldwide network of people’s organisations, civil society organisations, NGOs, social activists, health professionals, academics and researchers working to establish <a href="/~commun26/wiki/index.php?title=Health">health</a> and <a href="/~commun26/wiki/index.php?title=Equitable_development&amp;action=edit&amp;redlink=1">equitable development</a> as top priorities through <a href="/~commun26/wiki/index.php?title=Comprehensive_primary_health_care">comprehensive primary health care</a> and action on the <a href="/~commun26/wiki/index.php?title=Social_determinants_of_health">social determinants of health</a>.</p>
<p>The Jan Swasthya Abhiyan network consists of over 20 networks and 1000 organisations as well as a large number of individuals that endorse the <a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)">Indian People's Health Charter (2000)</a> a consensus document that arose out of the <a href="/~commun26/wiki/index.php?title=First_National_Health_Assembly&amp;action=edit&amp;redlink=1">First National Health Assembly</a> held in December <a href="/~commun26/wiki/index.php?title=2000&amp;action=edit&amp;redlink=1">2000</a> when concerned networks, organisations and individuals met to discuss the <a href="/~commun26/wiki/index.php?title=Health_for_All">Health for All</a> challenge.</p>
<p><br><br>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>
          <h2>Contents</h2>
          <ul>
            <li><a href="#Structure">1 Structure</a></li>
            <li><a href="#Campaigns">2 Campaigns</a></li>
            <li><a href="#See_also">3 See also</a></li>
            <li><a href="#External_links">4 External links</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Structure</h2>
<p>There are 21 major national networks that constitute the National Coordination Committee of Jan Swasthya Abhiyan which is the national decision making body of the network. These national networks have numerous constituent organisations, which implies that a few hundred organisations are involved in the national process. Outside of these networks, several hundred other organisations have been involved at state, district and block level activities across the country.</p>
<p>The 21 major national networks are:</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=All_India_People%E2%80%99s_Science_Network">All India People’s Science Network</a></li>
  <li><a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network">All India Drug Action Network</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Asian_Community_Health_Action_Network">Asian Community Health Action Network</a></li>
  <li><a href="/~commun26/wiki/index.php?title=All_India_Democratic_Women%E2%80%99s_Association">All India Democratic Women’s Association</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Association_for_India%27s_Development">Association for India's Development</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Bharat_Gyan_Vigyan_Samiti">Bharat Gyan Vigyan Samiti</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Breastfeeding_Promotion_Network_of_India">Breastfeeding Promotion Network of India</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India">Catholic Health Association of India</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health">Centre for Social Medicine and Community Health</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Centre_for_Enquiry_into_Health_and_Allied_Themes">Centre for Enquiry into Health and Allied Themes</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India">Christian Medical Association of India</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action">Society for Community Health Awareness, Research and Action</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Forum_for_Creche_and_Child_Care_Services">Forum for Creche and Child Care Services</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Federation_of_Medical_Representative_Associations_of_India">Federation of Medical Representative Associations of India</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle">Medico Friend Circle</a></li>
  <li><a href="/~commun26/wiki/index.php?title=National_Alliance_of_People%27s_Movements">National Alliance of People's Movements</a></li>
  <li><a href="/~commun26/wiki/index.php?title=National_Federation_of_Indian_Women">National Federation of Indian Women</a></li>
  <li><a href="/~commun26/wiki/index.php?title=National_Association_of_Women%E2%80%99s_Organizations&amp;action=edit&amp;redlink=1">National Association of Women’s Organizations</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India">Voluntary Health Association of India</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Sama">Sama</a></li>
</ul>
<h2>Campaigns</h2>
<p>Jan Swasthya Abhiyan aims to support the movement demanding the <a href="/~commun26/wiki/index.php?title=Right_to_Health">Right to Health</a> with three focused campaigns.</p>
<p><strong>People's Rural Health Watch</strong>: People's Rural Health Watch is an initiative to collect information on, assess and analyse the activities under the <a href="/~commun26/wiki/index.php?title=National_Rural_Health_Mission">National Rural Health Mission</a>, both at the state and national levels; communicate and disseminate all such documentation and information through reports and other means; and provide feedback for improvement.</p>
<p><strong>Right to Health Care Campaign</strong>: A nationwide campaign by Jan Swasthya Abhiyan to establish the <a href="/~commun26/wiki/index.php?title=Right_to_Health_Care&amp;action=edit&amp;redlink=1">Right to Health Care</a> as a basic human right for every citizen in India. As part of this campaign Public Hearing on Denial of Health Care have been organised all over India in collaboration with the <a href="/~commun26/wiki/index.php?title=National_Human_Rights_Commission">National Human Rights Commission</a>.</p>
<p><strong>Hunger Watch</strong>: Jan Swasthya Abhiyan has set up a ‘Hunger Watch’ group consisting of public health and nutrition experts to provide assistance to the <a href="/~commun26/wiki/index.php?title=Right_to_Food_Campaign">Right to Food Campaign</a>.</p>
<p><br><br>&nbsp;</p>
<h2>See also</h2>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)">Indian People's Health Charter (2000)</a></li>
  <li><a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)">People’s Charter for Health (2000)</a></li>
  <li><a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement">People's Health Movement</a></li>
</ul>
<figure class="image"><img src="/jsa-logo.webp"></figure>
<p><br><br>&nbsp;</p>
<h2>External links</h2>
<ul>
  <li><a href="http://www.phmindia.org">www.phm-india.org</a> - Jan Swasthya Abhiyan website</li>
  <li><a href="http://www.phmovement.org">www.phmovement.org</a> - Global People's Health Movement website</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan&amp;oldid=2097">http://www.communityhealth.in/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan&amp;oldid=2097</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Category</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement">People's Health Movement</a></li>
</ul>
