<!--
title: Jana Arogya Andolana
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Janaarogya Andolana - Karnataka</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Jana_Arogya_Andolana&amp;redirect=no" title="Jana Arogya Andolana">Jana Arogya Andolana</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Janaarogya Andolana - Karnataka</b> (JAAK) is the <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a> state level circle of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> or <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a> network. It consists of a number of people's organisations, NGOs, social movements, networks and individuals who are committed to working for <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a>.</p>

          <h2> <span class="mw-headline" id="Network_structure"> Network structure </span></h2>

          <p>The current chairperson of JAAK is <a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a>. The network is coordinated by a 10 member Steering Core Committee whose members are chosen from
            organisations that compose the State Coordination Committee.</p>

          <p>The member organisations of the State Coordination Committee are:</p>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=All_India_Janvadi_Mahila_Sanghatane&amp;action=edit&amp;redlink=1" title="All India Janvadi Mahila Sanghatane (page does not exist)">All India Janvadi Mahila
              Sanghatane</a> (AIDWA Karnataka)</li>

            <li> <a href="/~commun26/wiki/index.php?title=Association_for_India%27s_Development" title="Association for India's Development">Association for India's Development</a> (AID Bangalore)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Basic_Needs_India&amp;action=edit&amp;redlink=1" title="Basic Needs India (page does not exist)">Basic Needs India</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Bharat_Gyan_Vigyan_Samiti" title="Bharat Gyan Vigyan Samiti">Bharat Gyan Vigyan Samiti</a> (BGVS)</li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=CISRS&amp;action=edit&amp;redlink=1" title="CISRS (page does not exist)">CISRS</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_Karnataka&amp;action=edit&amp;redlink=1" title="Catholic Health Association of Karnataka (page does not exist)">Catholic Health
              Association of Karnataka</a> (CHA-KA)</li>

            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India" title="Christian Medical Association of India">Christian Medical Association of India</a> (CMAI)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Community_Based_Rehabilitation_Forum&amp;action=edit&amp;redlink=1" title="Community Based Rehabilitation Forum (page does not exist)">Community Based Rehabilitation
              Forum</a> (CBR Forum)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Dalit_Human_Rights_Organisations&amp;action=edit&amp;redlink=1" title="Dalit Human Rights Organisations (page does not exist)">Dalit Human Rights Organisations</a>
              (DHRO)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Drug_Action_Forum_-_Karnataka&amp;action=edit&amp;redlink=1" title="Drug Action Forum - Karnataka (page does not exist)">Drug Action Forum - Karnataka</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Family_Planning_Association_of_India&amp;action=edit&amp;redlink=1" title="Family Planning Association of India (page does not exist)">Family Planning Association of
              India</a> (FPAI)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Federation_of_Voluntary_Organisations_Working_For_Rural_Development_Karnataka&amp;action=edit&amp;redlink=1" title="Federation of Voluntary Organisations Working For Rural Development Karnataka (page does not exist)">Federation of Voluntary Organisations Working For Rural Development Karnataka</a> (FEVORD-K)</li>

            <li> <a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local Health
              Traditions</a> (FRLHT)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Indian_Social_Institute&amp;action=edit&amp;redlink=1" title="Indian Social Institute (page does not exist)">Indian Social Institute</a> (ISI)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Jeevika&amp;action=edit&amp;redlink=1" title="Jeevika (page does not exist)">Jeevika</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Karnataka_State_Medical_and_Sales_Representatives_Association&amp;action=edit&amp;redlink=1" title="Karnataka State Medical and Sales Representatives Association (page does not exist)">Karnataka State Medical and Sales Representatives Association</a> (KSMSRA)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Karnataka_Kolegeri_Nivasigala_Samyuktha_Sanghatane&amp;action=edit&amp;redlink=1" title="Karnataka Kolegeri Nivasigala Samyuktha Sanghatane (page does not exist)">Karnataka Kolegeri Nivasigala Samyuktha Sanghatane</a> (KKNSS)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mahila_Samakhya_-_Karnataka&amp;action=edit&amp;redlink=1" title="Mahila Samakhya - Karnataka (page does not exist)">Mahila Samakhya - Karnataka</a> (MSK)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Alliance_of_Women%27s_Movements&amp;action=edit&amp;redlink=1" title="National Alliance of Women's Movements (page does not exist)">National Alliance of
              Women's Movements</a> (NAWO)</li>

            <li> <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness, Research
              and Action</a> (SOCHARA)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_Karnataka&amp;action=edit&amp;redlink=1" title="Voluntary Health Association of Karnataka (page does not exist)">Voluntary Health
              Association of Karnataka</a> (VHAK)</li>
          </ul>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> JAAK Secretariat, c/o Community Health Cell, 359, Srinivasa Nilaya, 1st main, 1st block Koramangala, Bangalore - 560034</p>

          <p><b>Phone:</b> 080-25531518</p>

          <p><b>Email:</b> jaaksecretariat@gmail.com</p>

          <h2> <span class="mw-headline" id="See_Also">See Also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka&amp;oldid=1299">http://www.communityhealth.in/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka&amp;oldid=1299</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>