<!--
title: Jennifer Liang
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Jennifer Liang</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Jennifer Liang</b> completed her Masters in Social Work from <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a>
            and has been working in the area of health and women’s issues. She the Managing Trustee and a founding trustee of The <a href="/~commun26/wiki/index.php?title=Action_Northeast_Trust" title="Action Northeast Trust">Action
            Northeast Trust</a>. She is also a trustee of <a class="new" href="/~commun26/wiki/index.php?title=Asha_Darshan&amp;action=edit&amp;redlink=1" title="Asha Darshan (page does not exist)">Asha Darshan</a>, Adviser at the <a class="new" href="/~commun26/wiki/index.php?title=Institute_for_Culture_and_Rural_Development&amp;action=edit&amp;redlink=1" title="Institute for Culture and Rural Development (page does not exist)">Institute for Culture and
            Rural Development</a> (I-CARD) and is a trainer at <a class="new" href="/~commun26/wiki/index.php?title=Institute_of_Development_Action&amp;action=edit&amp;redlink=1" title="Institute of Development Action (page does not exist)">Institute of Development Action</a> (IDeA). She is the former Northeast representative of <a class="new" href="/~commun26/wiki/index.php?title=Ashoka_Innovators_for_the_Public&amp;action=edit&amp;redlink=1" title="Ashoka Innovators for the Public (page does not exist)">Ashoka Innovators for the Public</a>.</p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Jennifer_Liang&amp;oldid=1495">http://www.communityhealth.in/~commun26/wiki/index.php?title=Jennifer_Liang&amp;oldid=1495</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam">Assam</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>