<!--
title: John Vattamattan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">John Vattamattan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Fr. John Vattamattan</b> is the Secretary and CEO/Executive Director of <a class="new" href="/~commun26/wiki/index.php?title=Sangamitra&amp;action=edit&amp;redlink=1" title="Sangamitra (page does not exist)">Sangamitra</a>, an organization working in over 150 villages in Medak district of <a class="new" href="/~commun26/wiki/index.php?title=Andhra_Pradesh&amp;action=edit&amp;redlink=1" title="Andhra Pradesh (page does not exist)">Andhra Pradesh</a>. He is a former director of the <a href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India" title="Catholic Health Association of India">Catholic Health Association of India</a>.</p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=John_Vattamattan&amp;oldid=1491">http://www.communityhealth.in/~commun26/wiki/index.php?title=John_Vattamattan&amp;oldid=1491</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh">Andhra Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>