<!--
title: Karnataka Health Promotion Trust 
description: 
published: true
date: 2023-06-15T11:47:50.937Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T06:33:32.788Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>Karnataka Health Promotion Trust&nbsp;</strong></span></p>
<p style="text-align:justify;">Karnataka Health Promotion Trust (KHPT) was set up as a partnership between Karnataka State AIDS prevention Society (KSAPS) and the University of Manitoba, Canada in the year 2003. KHPT focuses on supporting and implementing initiatives related to HIV/ AIDS and reproductive health. KHPT works towards reducing the risk and vulnerability to HIV among high risk groups and building an enabling environment for HIV prevention work.</p>
<p style="text-align:justify;">Website Link:&nbsp;</p>
<p style="text-align:justify;"><a href="https://www.khpt.org/">https://www.khpt.org/ </a>(last checked on 15/06/23)</p>
<p style="text-align:justify;">&nbsp;</p>
<figure class="image"><img src="/khpt-recruitment-2020.png">
  <figcaption>Karnataka Health Promotion Trust (KHPT)</figcaption>
</figure>
