<!--
title: Karnataka Association for Community Health
description: 
published: true
date: 2023-06-15T11:47:05.835Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T05:51:55.916Z
-->

<p><span class="text-big"><strong>Karnataka Association for Community Health</strong></span></p>
<p>The Karnataka Association of Community Health (KACH) is a registered as an association of community health and public health professionals since January 1984. The association was born out of the necessity to nurture and encourage local talent, which would have otherwise got lost in the ocean of national / regional scientific deliberations. Since inception, KACH has regularly conducted annual conferences, which have been hosted by a local medical college along with a local self-government or NGOs.&nbsp;With more than 500 members on its rolls, it is striving to foster and nurture Public Health talent in our state.</p>
<p>The next 26<sup>th </sup>annual conference of KACH on the theme Nutrition and Health: Challenges and Opportunities will be held on 10<sup>th</sup>&amp; 11<sup>th </sup>October, organised by Department of community medicine KLE University’s Jawaharlal Nehru Medical College, Belgaum.</p>
<p>Website Link:</p>
<p><a href="https://kach.org.in/">https://kach.org.in/ (</a>last checked on 15/06/23)</p>
<figure class="image"><img src="/index_01.gif"></figure>
<p>&nbsp;</p>
