<!--
title: Karuna Trust
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Karuna Trust</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Karuna Trust</b> is a <a href="/~commun26/wiki/index.php?title=Public_charitable_trust" title="Public charitable trust">public charitable trust</a> affiliated to the <a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a>, located in BR Hills in <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a>. The trust's main focus areas are <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a>, <a class="new" href="/~commun26/wiki/index.php?title=Education&amp;action=edit&amp;redlink=1" title="Education (page does not exist)">education</a> and livelihoods. It works through public-private partnership initiatives to implement
            replicable and innovative models in these areas. Karuna Trust believes in community based, people oriented, need based, culturally acceptable methods using appropriate technology with minimum cost to the community.</p>

          <p>The trust was instituted in 1986 as a response to the high prevalence of <a class="new" href="/~commun26/wiki/index.php?title=Leprosy&amp;action=edit&amp;redlink=1" title="Leprosy (page does not exist)">leprosy</a> in the
            Yelandur Taluk of <a class="new" href="/~commun26/wiki/index.php?title=Chamarajnagar_district&amp;action=edit&amp;redlink=1" title="Chamarajnagar district (page does not exist)">Chamarajnagar district</a>. Prevalence of
            leprosy dropped from 21.4/1000 population in 1987 to 0.28/1000 in 2005. From working exclusively on leprosy control, Karuna Trust diversified to work on <a class="new" href="/~commun26/wiki/index.php?title=Epilepsy&amp;action=edit&amp;redlink=1" title="Epilepsy (page does not exist)">epilepsy</a>, <a class="new" href="/~commun26/wiki/index.php?title=Mental_health&amp;action=edit&amp;redlink=1" title="Mental health (page does not exist)">mental health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Tuberculosis&amp;action=edit&amp;redlink=1" title="Tuberculosis (page does not exist)">tuberculosis</a>.</p>

          <p>In 1996 the trust was handed over the management of the government <a class="new" href="/~commun26/wiki/index.php?title=Primary_Health_Centre&amp;action=edit&amp;redlink=1" title="Primary Health Centre (page does not exist)">Primary Health Centre</a> at Gumballi. The success of this initiatve led to the trust taking over the management of a further 30 PHCs in <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a>
            and 9 PHCs in <a class="new" href="/~commun26/wiki/index.php?title=Arunachal_Pradesh&amp;action=edit&amp;redlink=1" title="Arunachal Pradesh (page does not exist)">Arunachal Pradesh</a>. The trust also has innovative
            programmes in mental health, education and livelihood and community development.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li><a class="mw-redirect" href="/~commun26/wiki/index.php?title=H._Sudharshan" title="H. Sudharshan">H. Sudharshan</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.karunatrust.org" rel="nofollow">www.karunatrust.org</a> - Karuna Trust website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Karuna_Trust&amp;oldid=439">http://www.communityhealth.in/~commun26/wiki/index.php?title=Karuna_Trust&amp;oldid=439</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>