<!--
title: Kempegowda Institute of Medical Sciences
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Kempegowda Institute of Medical Sciences</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Kempegowda Institute of Medical Sciences</b> (KIMS), is a Bangalore based medical college established in the year <a class="new" href="/~commun26/wiki/index.php?title=1980&amp;action=edit&amp;redlink=1" title="1980 (page does not exist)">1980</a> by the <a href="/~commun26/wiki/index.php?title=Vokkaligara_Sangha" title="Vokkaligara Sangha">Vokkaligara Sangha</a>. It is affiliated to the <a class="new" href="/~commun26/wiki/index.php?title=Rajiv_Gandhi_University_of_Health_Sciences&amp;action=edit&amp;redlink=1" title="Rajiv Gandhi University of Health Sciences (page does not exist)">Rajiv Gandhi University of Health
            Sciences</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.kimsbangalore.edu.in/" rel="nofollow">www.kimsbangalore.edu.in</a> - Kempegowda Institute of Medical Sciences website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences&amp;oldid=1012">http://www.communityhealth.in/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences&amp;oldid=1012</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>