<!--
title: Lady Willingdon Hospital
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Lady Willingdon Hospital</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.manalihospital.com/" rel="nofollow">www.manalihospital.com</a> - Website of Lady Willingdon Hospital, Manali</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Lady_Willingdon_Hospital&amp;oldid=1282">http://www.communityhealth.in/~commun26/wiki/index.php?title=Lady_Willingdon_Hospital&amp;oldid=1282</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Hospitals" title="Category:Hospitals">Hospitals</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Himachal_Pradesh" title="Category:Himachal Pradesh">Himachal Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>