<!--
title: Living with AIDS (2006)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Living with AIDS (2006)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Living With AIDS (2006)</b> is a short documentary film by <a class="new" href="/~commun26/wiki/index.php?title=Jayashree_T.&amp;action=edit&amp;redlink=1" title="Jayashree T. (page does not exist)">Jayashree T.</a>
            that tells the story of young women coping with HIV in the city of Bangalore. The members of <a class="new" href="/~commun26/wiki/index.php?title=Milana&amp;action=edit&amp;redlink=1" title="Milana (page does not exist)">Milana</a> featured in the film are below 30, mostly widows with children, discuss the discrimination and stigma that they face in Indian society. They are not part of any of the classical high risk groups. They try and
            resolve how to live and die in dignity with this <a class="new" href="/~commun26/wiki/index.php?title=HIV/AIDS&amp;action=edit&amp;redlink=1" title="HIV/AIDS (page does not exist)">HIV/AIDS</a> virus.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cultureunplugged.com/play/460/Living-With-AIDS" rel="nofollow">Watch the film at cultureunplugged.com</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Living_with_AIDS_(2006)&amp;oldid=1425">http://www.communityhealth.in/~commun26/wiki/index.php?title=Living_with_AIDS_(2006)&amp;oldid=1425</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:HIV/AIDS" title="Category:HIV/AIDS">HIV/AIDS</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>