<!--
title: M. Geyanand
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">M. Geyanand</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. M. Geyanand</b> is a medical practitioner in the Anantapur district of <a class="new" href="/~commun26/wiki/index.php?title=Andhra_Pradesh&amp;action=edit&amp;redlink=1" title="Andhra Pradesh (page does not exist)">Andhra Pradesh</a> and the President of <a class="new" href="/~commun26/wiki/index.php?title=Jana_Vignyana_Vedika&amp;action=edit&amp;redlink=1" title="Jana Vignyana Vedika (page does not exist)">Jana Vignyana Vedika</a>, a
            people’s science organization functioning in 23 districts of Andhra Pradesh. He is also the Andhra Pradesh State Coordinator for <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Jan_Swasthaya_Abhiyan" title="Jan Swasthaya Abhiyan">Jan Swasthaya Abhiyan</a>. JVV is a partner of JSA.</p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=M._Geyanand&amp;oldid=1487">http://www.communityhealth.in/~commun26/wiki/index.php?title=M._Geyanand&amp;oldid=1487</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh">Andhra Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>