<!--
title: Madras Institute of Development Studies
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Madras Institute of Development Studies</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Madras Institute of Development Studies</b> (MIDS) is a National Institute of Social Science Research which undertakes studies and research pertaining to development problems, with special reference to the agro-rural
            aspects of <a class="new" href="/~commun26/wiki/index.php?title=Tamil_Nadu&amp;action=edit&amp;redlink=1" title="Tamil Nadu (page does not exist)">Tamil Nadu</a> and the socially and economically backward sections of the
            population throughout the country.</p>

          <p>The current director is <a href="/~commun26/wiki/index.php?title=Padmini_Swaminathan" title="Padmini Swaminathan">Padmini Swaminathan</a></p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_Also">See Also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Padmini_Swaminathan" title="Padmini Swaminathan">Padmini Swaminathan</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.mids.ac.in/" rel="nofollow">www.mids.ac.in</a> - Madras Institute of Development Studies website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies&amp;oldid=347">http://www.communityhealth.in/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies&amp;oldid=347</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health">Occupational health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>