<!--
title: Mahatma Gandhi Institute of Medical Sciences
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Mahatma Gandhi Institute of Medical Sciences</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.mgims.ac.in/" rel="nofollow">www.mgims.ac.in</a> - Website of Mahatma Gandhi Institute of Medical Sciences</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Mahatma_Gandhi_Institute_of_Medical_Sciences" title="wikipedia:Mahatma Gandhi Institute of Medical Sciences">Wikipedia: Mahatma Gandhi Institute of Medical Sciences</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences&amp;oldid=965">http://www.communityhealth.in/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences&amp;oldid=965</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>