<!--
title: Main Page
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Main Page</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div id="mainpage"></div>

          <table style="border-spacing:8px; margin:-8px -8px;">
            <tbody>
              <tr>
                <td style="width:100%; border:1px solid #0066FF; background:#f7f3fc; vertical-align:top; color:#000;">
                  <table cellpadding="2" cellspacing="5" style="vertical-align:top; background:#f7f3fc; color:#000">
                    <tbody>
                      <tr>
                        <th>
                          <h2 style="margin:0; background:#9ce4ea; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Welcome_to_communityhealth.in.21">Welcome to communityhealth.in!</span></h2>
                        </th>
                      </tr>

                      <tr>
                        <td style="color:#000; padding: 0 0.5em 0 0.5em;">
                          <p>We are a <b>collaborative project</b> aimed at creating a comprehensive resource on <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> and the <a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For All movement</a> in India. Contributors range from health workers, researchers, activists and others
                            with an interest in community health. Find out more about us at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:About" title="Communityhealth.in:About"> About page</a>. <b>You can help!</b>
                            Find out how you get involved at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community portal</a>. You can also visit our
                            project blog at <a class="external text" href="http://communicatinghealth.wordpress.com" rel="nofollow">communicatinghealth.wordpress.com</a>, join our low traffic announcement email list at <a class="external text" href="http://groups.google.com/group/communityhealthin-announce" rel="nofollow">communityhealth.in-announce</a> and become a <a class="external text" href="http://www.facebook.com/#/pages/communityhealthin/270786162496" rel="nofollow">fan on Facebook</a>. Welcome to the communityhealth.in community! -<a href="/~commun26/wiki/index.php?title=Special:ListUsers" title="Special:ListUsers"> The communityhealth.in team</a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <table style="border-spacing:8px; margin:0px -8px;">
            <tbody>
              <tr>
                <td style="width:48%; border:1px solid #d9f7d4; background:#f6fdf5; vertical-align:top; color:#000;">
                  <table cellpadding="2" cellspacing="5" style="vertical-align:top; background:#f6fdf5;" width="100%">
                    <tbody>
                      <tr>
                        <th>
                          <h2 style="margin:0; background:#d9f7d4; font-size:120%; font-weight:bold; border:1px solid #435c7a; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Health_workforce_in_India">Health workforce in India</span></h2>
                        </th>
                      </tr>

                      <tr>
                        <td style="color:#000;">
                          <h2> <span class="mw-headline" id="Portal:_Medical_education_in_India"><a href="/~commun26/wiki/index.php?title=Portal:_Medical_education_in_India" title="Portal: Medical education in India">Portal: Medical
                            education in India</a></span></h2>

                          <ul>
                            <li><b><a class="new" href="/~commun26/wiki/index.php?title=Medical_education_timeline&amp;action=edit&amp;redlink=1" title="Medical education timeline (page does not exist)">Medical education timeline</a></b></li>
                          </ul>

                          <ul>
                            <li><b><a class="new" href="/~commun26/wiki/index.php?title=Nursing_education&amp;action=edit&amp;redlink=1" title="Nursing education (page does not exist)">Nursing education</a></b></li>
                          </ul>

                          <ul>
                            <li><b><a class="new" href="/~commun26/wiki/index.php?title=Community_health_worker_education&amp;action=edit&amp;redlink=1" title="Community health worker education (page does not exist)">Community health
                              worker education</a></b></li>
                          </ul>

                          <ul>
                            <li><b><a href="/~commun26/wiki/index.php?title=SC/ST_experience_of_Indian_medical_education" title="SC/ST experience of Indian medical education">SC/ST experience of Indian medical education</a></b></li>
                          </ul>

                          <p><br></br>
                          </p>
                        </td>
                      </tr>

                      <tr>
                        <th>
                          <h2 style="margin:0; background:#d9f7d4; font-size:120%; font-weight:bold; border:1px solid #435c7a; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Featured_articles">Featured
                            articles</span></h2>
                        </th>
                      </tr>

                      <tr>
                        <td style="color:#000;">
                          <ul>
                            <li><b><a href="/~commun26/wiki/index.php?title=Treating_survivors_of_rape_and_sexual_assault" title="Treating survivors of rape and sexual assault">Treating survivors of rape and sexual assault</a></b></li>
                          </ul>

                          <ul>
                            <li><b><a href="/~commun26/wiki/index.php?title=Treating_survivors_of_torture" title="Treating survivors of torture">Treating survivors of torture</a></b></li>
                          </ul>

                          <ul>
                            <li><b><a href="/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change" title="Rakku's Story: Structures of Ill-Health and the Source of Change"> Rakku's Story</a></b></li>
                          </ul>

                          <p><br></br>
                          </p>

                          <h2 style="margin:0; background:#d9f7d4; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Digital_archives_project">Digital archives project</span></h2>
                        </td>
                      </tr>

                      <tr>
                        <td style="color:#000; padding: 0 0.5em 0 0.5em;">
                          <p>The Digital Archives Project aims at preserving some of the key publications of the Health For All movement that are currently out of print.</p>

                          <p><b>Publications related to the 1978 <a class="new" href="/~commun26/wiki/index.php?title=Declaration_of_Alma_Ata&amp;action=edit&amp;redlink=1" title="Declaration of Alma Ata (page does not exist)">Declaration of Alma Ata</a></b></p>

                          <ul>
                            <li> <a href="/~commun26/wiki/index.php?title=Health_By_The_People" title="Health By The People">Health By The People</a> edited by Kenneth Newell, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a></li>

                            <li> <a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries" title="Alternative Approaches To Meeting Basic Health Needs In Developing Countries">Alternative Approaches To Meeting Basic Health Needs In Developing Countries</a> (1975) by V. Djukanovic and E.P. Mach, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>
                            </li>

                            <li> <a href="/~commun26/wiki/index.php?title=Manual_For_Community_Health_Workers" title="Manual For Community Health Workers">Manual For Community Health Workers</a> (1977) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=MOHFW" title="MOHFW">MOHFW</a></li>

                            <li> <a href="/~commun26/wiki/index.php?title=Health_for_All_Series" title="Health for All Series">Health for All Series</a> (1978-1984) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a></li>

                            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy" title="Health For All: An Alternative Strategy">Health For All: An Alternative Strategy</a> (1981) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a> and <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICSSR" title="ICSSR">ICSSR</a></li>
                          </ul>

                          <p><b>Publications of the <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a></b></p>

                          <ul>
                            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=In_Search_of_a_Diagnosis" title="In Search of a Diagnosis">In Search of a Diagnosis</a> (1977)</li>

                            <li> <a href="/~commun26/wiki/index.php?title=Health_Care:_Which_Way_To_Go%3F" title="Health Care: Which Way To Go?">Health Care: Which Way To Go?</a> (1983)</li>

                            <li> <a href="/~commun26/wiki/index.php?title=Under_The_Lens:_Health_and_Medicine" title="Under The Lens: Health and Medicine">Under The Lens: Health and Medicine</a> (1986)</li>

                            <li> <a href="/~commun26/wiki/index.php?title=Medical_Education_Re-Examined" title="Medical Education Re-Examined">Medical Education Re-Examined</a> (1991)</li>
                          </ul>

                          <p><b>Publications of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a></b></p>

                          <ul>
                            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book" title="Health For All Now! A People's Health Resource Book">Health For All Now! A People's Health Resource
                              Book</a>, a compilation of 5 booklets prepared for the <a class="new" href="/~commun26/wiki/index.php?title=First_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="First National Health Assembly (page does not exist)">First National Health Assembly</a> in December 2000.</li>

                            <li> <a href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets" title="Second National Health Assembly booklets">Second National Health Assembly booklets</a> compiled for the <a class="new" href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="Second National Health Assembly (page does not exist)">Second National Health
                              Assembly</a> in March 2007.</li>
                          </ul>

                          <p><b><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils"> Reports of Central Government Committees and Councils</a></b></p>

                          <p>If you would like to suggest a book or help out with scanning books that are currently on our list then please contact <a href="/~commun26/wiki/index.php?title=User:SureshDhandapani" title="User:SureshDhandapani"> Suresh Dhandapani</a>.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <p><br></br>
                  </p>
                </td>

                <td style="width:48%; border:1px solid #c9d7f0; background:#f6f9fd; vertical-align:top">
                  <table cellpadding="2" cellspacing="5" style="vertical-align:top; background:#f6f9fd;" width="100%">
                    <tbody>
                      <tr>
                        <th>
                          <h2 style="margin:0; background:#ddcef2; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="New_to_communityhealth.in.3F">New to communityhealth.in?</span></h2>
                        </th>
                      </tr>

                      <tr>
                        <td style="color:#000; padding: 0 0.5em 0 0.5em;">
                          <p>Three quick starting points</p>

                          <ul>
                            <li> Read <b><a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a></b> to learn about strategies for providing grassroots community
                              health services.</li>

                            <li> Read <b><a href="/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change" title="Rakku's Story: Structures of Ill-Health and the Source of Change"> Rakku's
                              Story</a></b> and <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a>'s <a class="internal" href="/~commun26/wiki/images/8/85/JSA_Health_system_in_India.pdf" title="JSA Health system in India.pdf"> <b>booklet on the health system in India</b></a> to learn about the reasons for ill-health in
                              India.</li>

                            <li> Visit the <b><a href="/~commun26/wiki/index.php?title=Portal:_Exploring_community_health" title="Portal: Exploring community health"> Exploring Community Health Portal</a></b> to find out how you can
                              get involved.</li>
                          </ul>

                          <p><br></br>
                          </p>
                        </td>
                      </tr>

                      <tr>
                        <th>
                          <h2 style="margin:0; background:#ddcef2; font-size:120%; font-weight:bold; border:1px solid #7ba06d; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Explore_communityhealth.in">Explore communityhealth.in</span></h2>
                        </th>
                      </tr>

                      <tr>
                        <td style="color:#000;">
                          <h2> <span class="mw-headline" id="People_.7C_Projects_.7C_Books_.7C_Films_.7C_Courses_.7C_Internships"><a href="/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement" title="Portal: People within the community health movement"> People</a> | <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Portal:_Community_based_organisations" title="Portal: Community based organisations"> Projects</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health" title="Portal: Reading about community health"> Books</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Films_on_health" title="Portal: Films on health"> Films</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Postgraduate_education_in_community_health" title="Portal: Postgraduate education in community health"> Courses</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India" title="Portal: Community health internships and medical electives in India"> Internships</a></span></h2>

                          <p><b>Events:</b> <a href="/~commun26/wiki/index.php?title=Current_events" title="Current events">Current events</a> <b>Portals:</b> <a href="/~commun26/wiki/index.php?title=Portal:_Exploring_community_health" title="Portal: Exploring community health"> Exploring community health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement" title="Portal: People within the community health movement"> People within the community health movement</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health" title="Portal: Reading about community health"> Reading about community health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Films_on_health" title="Portal: Films on health"> Films on health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects" title="Portal: Community health projects"> Community health projects</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Postgraduate_education_in_community_health" title="Portal: Postgraduate education in community health"> Postgraduate education in community health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India" title="Portal: Community health internships and medical electives in India"> Community health
                            internships and medical electives in India</a> | <a href="/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement" title="Portal: People's Health Movement"> People's Health Movement</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Health_research_in_India" title="Portal: Health research in India"> Health research in India</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Global_health" title="Portal: Global health"> Global health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Low_cost_healthcare" title="Portal: Low cost healthcare"> Low cost health care</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Traditional_medicine" title="Portal: Traditional medicine"> Traditional medicine</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Language_and_culture_in_the_clinic" title="Portal: Language and culture in the clinic"> Language and culture in the clinic</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Public_health_legislation" title="Portal: Public health legislation"> Public health legislation</a> <b>People:</b> <a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People"> People</a> <b>Glossary:</b> <a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary"> Glossary</a> <b>Organisations and networks:</b> <a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement"> People's Health Movement</a> | <a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs"> NGOs</a> | <a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations"> Community based organisations</a> | <a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions"> Academic
                            institutions</a> | <a href="/~commun26/wiki/index.php?title=Category:Professional_associations" title="Category:Professional associations"> Professional associations</a> | <a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions"> Government institutions</a> | <a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils"> Government committees and councils</a> | <a href="/~commun26/wiki/index.php?title=Category:International_funding_agencies" title="Category:International funding agencies"> International funding agencies</a> <b>Media:</b> <a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books"> Books</a> | <a href="/~commun26/wiki/index.php?title=Category:Newsletters,_magazines_and_journals" title="Category:Newsletters, magazines and journals"> Newsletters, magazines and journals</a> | <a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications"> Digitized publications</a> | <a href="/~commun26/wiki/index.php?title=Category:Websites" title="Category:Websites"> Websites</a> | <a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups"> Mailing lists and discussion groups</a> | <a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films"> Films</a> <b>Topics:</b> <a href="/~commun26/wiki/index.php?title=Category:Communicable_diseases" title="Category:Communicable diseases"> Communicable diseases</a> | <a href="/~commun26/wiki/index.php?title=Category:Environmental_health" title="Category:Environmental health"> Environmental health</a> |
                            <a href="/~commun26/wiki/index.php?title=Category:Medical_ethics" title="Category:Medical ethics"> Medical ethics</a> | <a href="/~commun26/wiki/index.php?title=Category:Mental_health" title="Category:Mental health"> Mental health</a> | <a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health"> Occupational health</a> | <a href="/~commun26/wiki/index.php?title=Category:Primary_health_care" title="Category:Primary health care"> Primary health care</a> | <a href="/~commun26/wiki/index.php?title=Category:Rational_drug_use" title="Category:Rational drug use"> Rational drug use</a> | <a href="/~commun26/wiki/index.php?title=Category:Traditional_medicine" title="Category:Traditional medicine"> Traditional medicine</a> <b>States:</b> <a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh"> Andhra Pradesh</a> | <a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam"> Assam</a> | <a href="/~commun26/wiki/index.php?title=Category:Bihar" title="Category:Bihar"> Bihar</a> | <a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh"> Chhattisgarh</a> | <a href="/~commun26/wiki/index.php?title=Category:Goa" title="Category:Goa"> Goa</a> | <a href="/~commun26/wiki/index.php?title=Category:Gujarat" title="Category:Gujarat"> Gujarat</a> | <a href="/~commun26/wiki/index.php?title=Category:Haryana" title="Category:Haryana"> Haryana</a> | <a href="/~commun26/wiki/index.php?title=Category:Himachal_Pradesh" title="Category:Himachal Pradesh"> Himachal Pradesh</a> | <a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka"> Karnataka</a> | <a href="/~commun26/wiki/index.php?title=Category:Kerala" title="Category:Kerala"> Kerala</a> | <a href="/~commun26/wiki/index.php?title=Category:Madhya_Pradesh" title="Category:Madhya Pradesh"> Madhya
                            Pradesh</a> | <a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra"> Maharashtra</a> | <a href="/~commun26/wiki/index.php?title=Category:New_Delhi" title="Category:New Delhi"> New Delhi</a> | <a href="/~commun26/wiki/index.php?title=Category:Orissa" title="Category:Orissa"> Orissa</a> | <a href="/~commun26/wiki/index.php?title=Category:Puducherry" title="Category:Puducherry"> Puducherry</a> | <a href="/~commun26/wiki/index.php?title=Category:Punjab" title="Category:Punjab"> Punjab</a> | <a href="/~commun26/wiki/index.php?title=Category:Rajasthan" title="Category:Rajasthan"> Rajasthan</a> | <a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu"> Tamil Nadu</a> | <a href="/~commun26/wiki/index.php?title=Category:Uttar_Pradesh" title="Category:Uttar Pradesh"> Uttar Pradesh</a> | <a href="/~commun26/wiki/index.php?title=Category:Uttarakhand" title="Category:Uttarakhand">
                            Uttarakhand</a> | <a href="/~commun26/wiki/index.php?title=Category:West_Bengal" title="Category:West Bengal"> West Bengal</a></p>

                          <p><br></br>
                          </p>

                          <h2 style="margin:0; background:#ddcef2; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Help_out">Help out</span></h2>
                        </td>
                      </tr>

                      <tr>
                        <td style="color:#000; padding: 0 0.5em 0 0.5em;">
                          <div class="thumb tright">
                            <div class="thumbinner" style="width:202px;"><a class="image" href="/~commun26/wiki/index.php?title=File:WhereThereIsNoDoctor_cover.jpg"><img alt="" class="thumbimage" height="263" src="/~commun26/wiki/images/thumb/4/45/WhereThereIsNoDoctor_cover.jpg/200px-WhereThereIsNoDoctor_cover.jpg" width="200"></img></a>
                              <div class="thumbcaption">
                                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:WhereThereIsNoDoctor_cover.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                                Help build up our image library. Start by viewing the <a class="external text" href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Special:Newimages" rel="nofollow">gallery of image files</a> recently uploaded on the site.</div>
                            </div>
                          </div>

                          <p><b>Help us edit:</b> <a href="/~commun26/wiki/index.php?title=Portal:_History_of_community_health_and_public_health" title="Portal: History of community health and public health"> History of community
                            health</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Conflict_in_Chhattisgarh" title="Portal: Conflict in Chhattisgarh"> Conflict in Chhattisgarh</a> | <a href="/~commun26/wiki/index.php?title=Portal:_Biographies" title="Portal: Biographies"> Biographies</a></p>

                          <p>If you are unsure where to start, you could expand some of the recently created articles. (Click the <a href="/~commun26/wiki/index.php?title=Special:RecentChanges" title="Special:RecentChanges">recent
                            changes page</a> in the column to your left, and you will see some articles designated as "stubs" that need to be fleshed out). Or you can use the search box in the upper left column to find other articles to
                            build based on your interests. Please cite sources for any information you add.</p>

                          <p>If you do not yet have an account on communityhealth.in, you can obtain one by contacting <a href="/~commun26/wiki/index.php?title=User:LalitNarayan" title="User:LalitNarayan"> Lalit Narayan</a>. If you
                            would like to help in other ways, write to us on communityhealth.in AT gmail.com</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Main_Page&amp;oldid=2135">http://www.communityhealth.in/~commun26/wiki/index.php?title=Main_Page&amp;oldid=2135</a>"
        </div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>