<!--
title: Malaria
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Malaria</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Malaria" title="wikipedia:Malaria">Wikipedia: Malaria</a></li>

            <li> <a class="external text" href="http://www.malariasite.com/" rel="nofollow">www.malariasite.com</a> - Website on malaria by Dr.B.S. Kakkilaya</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Malaria&amp;oldid=1103">http://www.communityhealth.in/~commun26/wiki/index.php?title=Malaria&amp;oldid=1103</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Malaria" title="Category:Malaria">Malaria</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>