<!--
title: Materials Required
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Materials Required</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Materials Required:</p>

          <ul>
            <li>Paper envelopes</li>

            <li>Sterile swabs and swab guards</li>

            <li>Bags for storing clothes</li>

            <li>Catchment Papers</li>

            <li>Comb</li>

            <li>Nail Cutter</li>

            <li>EDTA vaccutainer</li>

            <li>Plain vaccutainer</li>

            <li>Sodium fluoride vaccutainer</li>

            <li>Syringe and needle</li>

            <li>Distilled water</li>

            <li>Disposable Gloves</li>
          </ul>

          <p>(the above would be part of a RAPE kit or SAFE kit)</p>

          <p>Infrastructural Requirements:</p>

          <ul>
            <li>Torch</li>

            <li>Microscope</li>

            <li>Colposcope</li>

            <li>Disposable Speculum</li>

            <li>2% 30 gm tube of sterile lignocaine jelly</li>

            <li>Cytofix spray</li>

            <li>Surgilube</li>

            <li>Spirit Lamp</li>

            <li>Toluidine Blue</li>

            <li>Polaroid camera</li>

            <li>UPT Kit</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Materials_Required&amp;oldid=1951">http://www.communityhealth.in/~commun26/wiki/index.php?title=Materials_Required&amp;oldid=1951</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>