<!--
title: Mazdoor Kisan Shakti Sangathan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Mazdoor Kisan Shakti Sangathan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><a class="external text" href="http://www.mkssindia.org/-" rel="nofollow">MAZDOOR KISAN SHAKTI SANGATHAN</a>, (MKSS) is a People’s Organisation and part of the growing Non-party political process in India.It was set up to
            strengthen the participatory democratic processes, so that ordinary citizens could live their lives with dignity and justice. The struggle for land rights, minimum wages, transparency and accountability of systems of governance
            are basic to access any right. Overall the organization started to work towards the access of relevant information for ensuring transparency and accountability of the government, and of all bodies that affect public interest.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Mazdoor_Kisan_Shakti_Sangathan&amp;oldid=2045">http://www.communityhealth.in/~commun26/wiki/index.php?title=Mazdoor_Kisan_Shakti_Sangathan&amp;oldid=2045</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Rajasthan" title="Category:Rajasthan">Rajasthan</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>