<!--
title: Medico Friend Circle
description: 
published: true
date: 2023-08-11T14:44:37.646Z
tags: communityhealth.in, public health information source- networks, public health information sources
editor: ckeditor
dateCreated: 2023-01-29T17:13:26.629Z
-->

<h1>Medico Friend Circle</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p><strong>Medico Friend Circle</strong> (mfc) is a nation-wide platform of secular, pluralist, and pro–people, pro-poor health practitioners, scientists and social activists interested in the health problems of the people of India.</p>
<p>The MFC bulletin is a medium to communicate experiences, ideas and information on relevant events and developments relating to health and health care. Importance is given to letters from members. Annual MFC Meet and Mid Mnnual Meets (MAM) are organised usually focusing upon a particular theme.</p>
<figure class="image"><img src="/medico-friend-circle-logo.png">
  <figcaption>MFC</figcaption>
</figure>
<h2><br><br>History&nbsp;</h2>
<blockquote>
  <p><strong>MFC </strong>was an offshoot of a youth movement called Tarun Shanti Sena. In the seventies of the last century there was widespread youth unrest throughout the world. Young people were not happy with the education system, society, political system and what not. In our country the number of educated unemployed was increasing. Many universities were closed. Energy of youth was being wasted in anti-Hindi, anti-English like destructive movements.</p>
  <p>Tarun Shanti Sena (TSS) was born out of an effort to channelise the energy of young people constructively to fight for a just and humane society. It was a group welded to certain values like democracy, national integration, world peace, secularism, social equality &amp; economic justice. One of its main campaigns was a revolution in education. We received good response from all the faculties except medical students who believed that medical education does not require any change.</p>
  <p>In 1973 when Abhay Bang went to a Primary Health Center in rural Maharashtra for his internship, he realized that his medical education had not trained him enough to deal with the health problems of rural India. He apprised me about problems he faced at the PHC. I was National Convener of Tarun Shanti Sena based at Varanasi at that time. In June 1973 we decided to circulate his experience anonymously among the medicos in Tarun Shanti Sena. We received many letters endorsing the views expressed by Abhay. We decided to start a small discussion-cum-action forum on the health problems of rural areas and medical education. That is how the Medico Friend Circle was born.</p>
  <p>It was Abhay who used to prepare material for cyclostyle bulletins (For the young members - cyclostyle was a process like screen printing. You were suppose to cut a stencil sheet on a typewriter and then mount it on a cyclostyle machine and operate it manually to make copies of the typed matter. YouTube video: <a href="https://youtu.be/LyOVzyis2UQ">https://youtu.be/LyOVzyis2UQ</a>) and even covering letters which had my signature. It is by default I became the unofficial Convener of MFC. Recipients of the bulletin suggested names of their friends who will be interested in receiving the bulletin. Mailing list grew with every issue of the bulletin. After some time there were more recipients of the bulletin outside the TSS circle. लोग साथ आते गये, और कारवां बढ़ता गया.</p>
</blockquote>
<p>~ <a href="https://groups.google.com/g/mfccircle/c/eK78sIWNMBc/m/7eDWseFTBgAJ">Ashok Bhargava's email</a></p>
<h2>External Links</h2>
<ul>
  <li><a href="http://www.mfcindia.org">www.mfcindia.org</a> - Medico Friend Circle website</li>
</ul>
<p>&nbsp;</p>
