<!--
title: MFC Bulletins
description: 
published: true
date: 2023-08-11T10:49:23.228Z
tags: 
editor: ckeditor
dateCreated: 2023-08-11T07:25:56.504Z
-->

<h1>Bulletins overview</h1>
<h2>Missing physical copy in SOCHARA</h2>
<ul>
  <li>119C</li>
  <li>260-261</li>
  <li>264-265</li>
  <li>270-71 272-73</li>
  <li>274-275</li>
  <li>278-279 (newly found missing)</li>
  <li>282-283</li>
  <li>284-285</li>
  <li>294-295 (No web copy either!)</li>
  <li>307</li>
  <li>315</li>
  <li>316-317</li>
  <li>330 (newly found missing)</li>
  <li>367-368</li>
  <li>369-370</li>
  <li>371-372</li>
  <li>373-374</li>
  <li>375-376</li>
  <li>377-378</li>
  <li>381</li>
</ul>
<h2>Missing online</h2>
<ul>
  <li>5</li>
  <li>15</li>
  <li>125</li>
  <li>160-161</li>
  <li>294-295 (No physical copy in SOCHARA either)</li>
</ul>
<p>&nbsp;</p>
<h2>Full List</h2>
<p><a href="https://docs.google.com/spreadsheets/d/1b7L9F3CFH-i7FfzufZnSOn_WkpNHIW7KxaRkXaT6pc8/edit?usp=sharing">View in Sheets</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
