<!--
title: Mfriendcircle discussion group
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Mfriendcircle discussion group</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>mfriendcircle discussion group</b> is the discussion group of <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>. Membership requires approval from
            a moderator. Messages from members to the group do not require approval.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://health.groups.yahoo.com/group/mfriendcircle/" rel="nofollow">health.groups.yahoo.com/group/mfriendcircle</a> - mfriendcircle Yahoo! Groups page</li>

            <li> <a class="external text" href="http://www.mfcindia.org" rel="nofollow">www.mfcindia.org</a> - Medico Friend Circle website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Mfriendcircle_discussion_group&amp;oldid=380">http://www.communityhealth.in/~commun26/wiki/index.php?title=Mfriendcircle_discussion_group&amp;oldid=380</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups">Mailing lists and discussion groups</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>