<!--
title: Mira Shiva
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Mira Shiva</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Mira Shiva</b> is the head of the Public Policy Division at <a href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India" title="Voluntary Health Association of India">Voluntary Health Association of
            India</a> and coordinator of the <a href="/~commun26/wiki/index.php?title=All_India_Drug_Action_Network" title="All India Drug Action Network">All India Drug Action Network</a>. Well known both in India and abroad for her
            contribution in areas of social justice in health care, rational drug use, women's health and the survival of the poor in Third World countries, she is the recipient of the <a class="new" href="/~commun26/wiki/index.php?title=Dr._Olle_Hansson_Award&amp;action=edit&amp;redlink=1" title="Dr. Olle Hansson Award (page does not exist)">Dr. Olle Hansson Award</a>.</p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Mira_Shiva&amp;oldid=100">http://www.communityhealth.in/~commun26/wiki/index.php?title=Mira_Shiva&amp;oldid=100</a>"
        </div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>