<!--
title: MOHFW
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">MOHFW</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">Redirect page</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="redirectMsg"><img alt="#REDIRECT" src="/~commun26/wiki/skins/common/images/redirectltr.png"></img><span class="redirectText"><a class="new" href="/~commun26/wiki/index.php?title=Ministry_of_Health_and_Family_Welfare&amp;action=edit&amp;redlink=1" title="Ministry of Health and Family Welfare (page does not exist)">Ministry of Health and Family Welfare</a></span></div>
        </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=MOHFW&amp;oldid=1194">http://www.communityhealth.in/~commun26/wiki/index.php?title=MOHFW&amp;oldid=1194</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>