<!--
title: N. Girish
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">N. Girish</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>N. Girish</b> is a epidemiologist who works as an Assistant Professor at the Department of Epidemiology, <a href="/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences" title="National Institute of Mental Health and Neuro Sciences">National Institute of Mental Health and Neuro Sciences</a> (NIMHANS).</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.nimhans.kar.nic.in/epidemiology/epidem_who.htm#fac" rel="nofollow">Faculty page of Department of Epidemiology, NIMHANS</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=N._Girish&amp;oldid=349">http://www.communityhealth.in/~commun26/wiki/index.php?title=N._Girish&amp;oldid=349</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Epidemiology&amp;action=edit&amp;redlink=1" title="Category:Epidemiology (page does not exist)">Epidemiology</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>