<!--
title: National Institute of Occupational Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute of Occupational Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>National Institute of Occupational Health</b> (NIOH) was established in 1966 and has been designated as <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a> Collaborating Centre for
            occupational health for South-East Asia region and is a lead institute for the <a class="new" href="/~commun26/wiki/index.php?title=International_Programme_on_Chemical_Safety&amp;action=edit&amp;redlink=1" title="International Programme on Chemical Safety (page does not exist)">International Programme on Chemical Safety</a>.</p>

          <p>The NIOH has been carrying out significant studies on various aspects of occupational/industrial health involving studies on epidemiology, air and noise pollution, agricultural and industrial hazards in organized sectors and
            small scale industries, carcinogenesis and pesticide toxicology. The Institute also works for developing appropriate strategies to prevent occupational hazards.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National Institute of Occupational Health, Meghani Nagar, Ahmedabad-380016</p>

          <p><b>Tel No.:</b> +91-79-2686351,2686352</p>

          <p><b>Fax No.:</b> +91-79-2686110</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.nioh.org/" rel="nofollow">www.nioh.org</a> - National Institute of Occupational Health website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health&amp;oldid=1242">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health&amp;oldid=1242</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Environmental_health" title="Category:Environmental health">Environmental health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health">Occupational health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Gujarat" title="Category:Gujarat">Gujarat</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>