<!--
title: National Institute of Mental Health and Neuro Sciences- NIMHANS
description: 
published: true
date: 2023-06-15T11:49:55.220Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T06:42:33.942Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>National Institute of Mental Health and Neuro Sciences- NIMHANS</strong></span></p>
<p style="text-align:justify;">NIMHANS is a multidisciplinary Institute for patient care and academic pursuit in the frontier area of Mental Health and Neuro Sciences. The Institute functions under the direction of Ministry of Health and Family Welfare, Govt. of India and Ministry of Health and Family Welfare, Government of Karnataka. NIMHANS started Centre for Public Health, which run a 2 years masters in public health. This Centre has been established at NIMHANS to address the public health needs in mental health; &nbsp;to bridge the existing gaps and to find solutions together.&nbsp;</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://nimhans.ac.in/">https://nimhans.ac.in/ </a>(last checked on 15/06/23)</p>
<figure class="image"><img src="/-vzvoqn6_400x400.jpg"></figure>
