<!--
title: National Institute of Health and Family Welfare-NIHFW
description: 
published: true
date: 2023-06-15T11:40:00.014Z
tags: public health information sources, public health institutions, organizations and networks outside karnataka
editor: ckeditor
dateCreated: 2023-06-15T11:20:41.576Z
-->

<p><span class="text-big"><strong>National Institute of Health and Family Welfare-NIHFW</strong></span></p>
<p>NIHFW is an autonomous organization, under the Ministry of Health and Family Welfare, Government of India, and acts as an ‘apex technical institute’ to addresses a wide range of issues on health and family welfare from a variety of perspectives through various departments. The Institute offers a range of courses like PhD, certificate courses and teaching programme.</p>
<p>Website Link:</p>
<p><a href="http://www.nihfw.org/">http://www.nihfw.org/</a>(last checked on 15/06/23)</p>
<figure class="image"><img src="/nihfw-logo.png"></figure>
