<!--
title: National Commission on Macroeconomics and Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Commission on Macroeconomics and Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="Download_Report">Download Report</span></h2>

          <ul>
            <li> <a class="external text" href="http://nrhm-mis.nic.in/ui/who/PDF/Report%20of%20the%20National%20Commission%20on%20Macroeconomics%20and%20Health%202005.pdf" rel="nofollow">Download PDF version at nrhm-mis.nic.in</a></li>

            <li> <a class="external text" href="http://www.who.int/macrohealth/action/Report%20of%20the%20National%20Commission.pdf" rel="nofollow">Download PDF version at www.who.int</a></li>

            <li> <a class="external text" href="http://www.scribd.com/doc/25961615" rel="nofollow">Download PDF version at scribd.com</a></li>

            <li> <a class="external text" href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Image:National_Commission_on_Macroeconomics_and_Health_2005.PDF.pdf" rel="nofollow">Download PDF version at
              communityhealth.in</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Commission_on_Macroeconomics_and_Health&amp;oldid=1729">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Commission_on_Macroeconomics_and_Health&amp;oldid=1729</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_committees_and_councils" title="Category:Government committees and councils">Government committees and councils</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>