<!--
title: National Institute of Malaria Research
description: 
published: true
date: 2023-06-15T09:26:55.583Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T06:48:15.982Z
-->

<p><span class="text-big"><strong>National Institute of Malaria Research</strong></span></p>
<p>National Institute of Malaria Research (NIMR) was established in 1977 as 'Malaria Research Centre' NIMR has a network of 10 field units located in various parts of India each one having different ecological and epidemiological paradigm. The institutes works towards short term as well as long term solutions to the problems of malaria through basic, applied and operational field research and also plays a key role in man power resource development through training/workshops and transfer of technology. NIMR has a field unit in Bangalore which focuses particularly on bio-environmental control.</p>
<p>Website Link:</p>
<p><a href="https://nimr.org.in/">https://nimr.org.in/</a></p>
<figure class="image"><img src="/image-ytihxu_iq-transformed.jpeg"></figure>
