<!--
title: National Institute of Epidemiology-NIE
description: 
published: true
date: 2023-06-15T09:38:03.375Z
tags: public health information sources, public health institutions, organizations and networks outside karnataka
editor: ckeditor
dateCreated: 2023-06-15T09:38:03.375Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>National Institute of Epidemiology-NIE</strong></span></p>
<p style="text-align:justify;">National Institute of Epidemiology conducts training programmes annually in bio-statistics, controlled clinical trials and basic epidemiology for medical doctors, PG medical students and para-medical workers. The Institute has expertise in the areas of bio-statistics and epidemiology. The institute has strated a school of public health which offers a range of courses.&nbsp;</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://nie.gov.in/">https://nie.gov.in/</a></p>
<figure class="image"><img src="/logonew.png"></figure>
