<!--
title: National Institute of Cholera and Enteric Diseases
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute of Cholera and Enteric Diseases</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>National Institute of Cholera and Enteric Diseases</b> (NICED) originally known as Cholera Research Centre was established in 1962 and redesignated as NICED in 1979. It was subsequently designated as the <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a> Collaborating Centre for Research and Training in Diarrhoeal Diseases in 1980.</p>

          <p>The Institute is actively engaged in imparting training in research on diarrhoeal diseases as well as to develop teaching modules and methodologies for training of the health care personnel at different levels. It provides
            referral services and extends support to the <a class="new" href="/~commun26/wiki/index.php?title=National_Diarrhoeal_Disease_Control_Programme&amp;action=edit&amp;redlink=1" title="National Diarrhoeal Disease Control Programme (page does not exist)">National Diarrhoeal Disease Control Programme</a>. It also provides research information and expertise for tackling national emergencies caused by
            epidemics of cholera and other diarrhoeal diseases.</p>

          <p>The thrust areas of research include community based studies, molecular epidemiology, immunology, clinical research, biochemistry and molecular biology of diarrhoeal diseases.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National Institute of Cholera and Enteric Diseases, P-33, CIT Road Scheme XM,Post Box No.177, Beliaghata, Kolkata - 700010</p>

          <p><b>Tel. No.:</b> +91-33-23537519</p>

          <p><b>Fax No.:</b> +91-33-23505066</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icmr.nic.in/niced.htm" rel="nofollow">www.icmr.nic.in/niced.htm</a> - National Institute of Cholera and Enteric Diseases website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases&amp;oldid=1083">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Cholera_and_Enteric_Diseases&amp;oldid=1083</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Diarrhoeal_diseases" title="Category:Diarrhoeal diseases">Diarrhoeal diseases</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:West_Bengal" title="Category:West Bengal">West Bengal</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>