<!--
title: National Health Systems Resource Centre
description: 
published: true
date: 2023-06-15T11:28:56.680Z
tags: communityhealth.in
editor: ckeditor
dateCreated: 2023-01-29T17:14:13.582Z
-->

<h1>National Health Systems Resource Centre</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p><strong>National Health Systems Resource Centre (NHSRC)</strong>, is India's Technical Support unit under the Ministry of Health &amp; Family Welfare working across the country through the National Rural Health Mission (NRHM).NHSRC facilitate the attainment of universal access to equitable, affordable and quality healthcare through technical support and capacity building for strengthening public health systems.</p>
<figure class="image"><img src="/hrsc.jpg">
  <figcaption>NHSRC</figcaption>
</figure>
<p><br><br>&nbsp;</p>
<h2>External Links</h2>
<ul>
  <li><a href="http://nhsrcindia.org/">www.nhsrcindia.org</a> - Indian Health Observatory website hosted by the National Health Systems Resource Centre</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Health_Systems_Resource_Centre&amp;oldid=2055">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Health_Systems_Resource_Centre&amp;oldid=2055</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:NGOs">NGOs</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:New_Delhi">New Delhi</a></li>
</ul>
