<!--
title: National Education Policy for Health Sciences (1989)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Education Policy for Health Sciences (1989)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Consultative Group under the Chairmanship of Prof. J.S. Bajaj, Prof of Medicine, AIIMS, New Delhi was appointed in December, 1987, to draft the National Education Policy in Health Sciences.The Group submitted its report in
            June, 1989.The National Education Policy in Health Sciences, however, remained a draft.</p>

          <p>A committee headed by Prof. J.S. Bajaj prepared a draft National Education Policy in Health Sciences and which noted: (1) The changes required to be brought in the curricular contents and training programmes of medical and
            health personnel, at various levels of functioning; (2) Takes into account the need for establishing essential inter-relations between functionaries of various grades; (3) Provides guidelines for the production of health
            personnel on the basis of realistically assessed manpower requirements (4) Seeks to resolve the existing sharp regional imbalances in their availability; and (5) Ensures that personnel at all level are socially motivated
            towards the rendering of community health services.</p>

          <p>Source: Report of the Working group On Medical Education- National Knowledge Commission.</p>

          <p><b><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/9/93/NEPHS1989.pdf" rel="nofollow">Download the Draft copy of National Education Policy in Health Sciences</a></b></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Education_Policy_for_Health_Sciences_(1989)&amp;oldid=1931">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Education_Policy_for_Health_Sciences_(1989)&amp;oldid=1931</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Policy_documents" title="Category:Policy documents">Policy documents</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>