<!--
title: National Institute of Mental Health and Neuro Sciences
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute of Mental Health and Neuro Sciences</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>National Institute of Mental Health and Neuro Sciences</b> (NIMHANS) is a multidisciplinary institute for patient care and academic pursuit in the area of <a class="new" href="/~commun26/wiki/index.php?title=Mental_health&amp;action=edit&amp;redlink=1" title="Mental health (page does not exist)">mental health</a> and neuro sciences based in Bangalore. It functions under the direction of <a class="new" href="/~commun26/wiki/index.php?title=Ministry_of_Health_and_Family_Welfare&amp;action=edit&amp;redlink=1" title="Ministry of Health and Family Welfare (page does not exist)">Ministry of Health and Family
            Welfare</a>, Govt. of India and Ministry of Health and Family Welfare, Government of Karnataka.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.nimhans.kar.nic.in" rel="nofollow">www.nimhans.kar.nic.in</a> - NIMHANS website</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/NIMHANS" title="wikipedia:NIMHANS">Wikipedia: NIMHANS</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences&amp;oldid=354">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Mental_Health_and_Neuro_Sciences&amp;oldid=354</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Mental_health" title="Category:Mental health">Mental health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>