<!--
title: National AIDS Research Institute
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National AIDS Research Institute</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>National AIDS Research Institute</b> was established in 1992 with the mission to provide leadership in biomedical research on <a class="new" href="/~commun26/wiki/index.php?title=HIV/AIDS&amp;action=edit&amp;redlink=1" title="HIV/AIDS (page does not exist)">HIV/AIDS</a> in India and with an aim to compliment and strengthen the <a class="new" href="/~commun26/wiki/index.php?title=National_AIDS_Control_Programme&amp;action=edit&amp;redlink=1" title="National AIDS Control Programme (page does not exist)">National AIDS Control Programme</a>.</p>

          <p>The major areas of research include the studies on epidemiology, public health, cultural anthropology, infectious diseases, biostatistics, basic behavioral and social science research and to develop appropriate HIV preventive
            interventions suitable in India.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National AIDS Research Institute, Plot No.73, Block G, MIDC Complex, Bhosari Pune - 411 026</p>

          <p><b>Tel. No.:</b> +91- 20 - 27121072, 27121280</p>

          <p><b>Fax No.:</b> +91 - 20 - 27121071</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.nari-icmr.res.in/" rel="nofollow">www.nari-icmr.res.in</a> - National AIDS Research Institute website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_AIDS_Research_Institute&amp;oldid=1106">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_AIDS_Research_Institute&amp;oldid=1106</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:HIV/AIDS" title="Category:HIV/AIDS">HIV/AIDS</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>