<!--
title: National Tuberculosis Institute
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Tuberculosis Institute</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://ntiindia.kar.nic.in/" rel="nofollow">ntiindia.kar.nic.in</a> - National Tuberculosis Institute website</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Tuberculosis_Institute&amp;oldid=614">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Tuberculosis_Institute&amp;oldid=614</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tuberculosis" title="Category:Tuberculosis">Tuberculosis</a></li>

              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Infectious_diseases&amp;action=edit&amp;redlink=1" title="Category:Infectious diseases (page does not exist)">Infectious diseases</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>