<!--
title: National Institute of Malaria Research
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute of Malaria Research</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The<b> National Institute of Malaria Research</b>, formerly known as the Malaria Research Centre was established in 1977. The technical programmes of the institute include vector biology and its control, genetics and
            cytogenetics, parasitology, pharmacology and epidemiology of malaria and its vectors. Close linkages and scientific collaborations have been established with <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>, <a class="new" href="/~commun26/wiki/index.php?title=UNDP&amp;action=edit&amp;redlink=1" title="UNDP (page does not exist)">UNDP</a>, <a href="/~commun26/wiki/index.php?title=World_Bank" title="World Bank">World Bank</a> and other national and international laboratories. The Centre also publishes books, monographs, proceedings and the <a class="new" href="/~commun26/wiki/index.php?title=Indian_Journal_of_Malariology&amp;action=edit&amp;redlink=1" title="Indian Journal of Malariology (page does not exist)">Indian Journal of Malariology</a> regularly.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National Institute of Malaria Research, No. 22, Sham Nath Marg Delhi - 110054</p>

          <p><b>Tel. No.:</b> +91-11-22533201</p>

          <p><b>Fax No.:</b> +91-11-22515086</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.mrcindia.org/" rel="nofollow">www.mrcindia.org</a> - National Institute of Malaria Research website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Malaria_Research&amp;oldid=1088">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Malaria_Research&amp;oldid=1088</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Malaria" title="Category:Malaria">Malaria</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:New_Delhi" title="Category:New Delhi">New Delhi</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>