<!--
title: National Institute of Virology
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute of Virology</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Virus Research Centre, established in 1952 was redesignated as <b>National Institute of Virology</b> in 1978. It is the <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>
            collaborating centre for arboviruses and haemorrhagic fever reference and research.</p>

          <p>The major areas of research at the Institute include studies on viral diseases, investigation of outbreaks, development of rapid diagnostic techniques, preparation of epidemiological/ entomological models for prediction of
            probable epidemics and development and evaluation of newer vaccines.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National Institute of Virology, 20-A, Dr. Ambedkar Road, Post Box No.11, Pune - 411 001</p>

          <p><b>Tel. No.:</b> +91-20-6127301</p>

          <p><b>Fax No.:</b> 91-20-6122669,6126399</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.niv.co.in/" rel="nofollow">www.niv.co.in</a> - National Institute of Virology website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Virology&amp;oldid=1082">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_of_Virology&amp;oldid=1082</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>