<!--
title: National Programme for Prevention of Blindness
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div id="content"> <a id="top" name="top"></a>
          <h1 class="firstHeading">National Programme for Prevention of Blindness</h1>

          <div id="bodyContent">
            <h3 id="siteSub">From communityhealth.in</h3>

            <div id="contentSub"></div>

            <div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>

            <p><br></br>
            </p>

            <p><br></br>
            </p>
            <a name="External_Links"></a>
            <h2> <span class="mw-headline">External Links</span></h2>

            <ul>
              <li> <a class="external text" href="http://mohfw.nic.in/default.htm" rel="nofollow" title="http://mohfw.nic.in/default.htm">National Programme for Prevention of Blindness website</a></li>
            </ul>

            <p><br></br>
              <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=communityhealth.in:Community_Portal" title="communityhealth.in:Community Portal"> Community
              Portal</a></i>.</p>

            <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Programme_for_Prevention_of_Blindness">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Programme_for_Prevention_of_Blindness</a>"</div>

            <div id="catlinks">
              <p class="catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>: <span dir="ltr"><a href="/~commun26/wiki/index.php?title=Category:Central_government_programmes" title="Category:Central government programmes">Central government programmes</a></span></p>
            </div>

            <div class="visualClear"></div>
          </div>
        </div>