<!--
title: National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities Act, 1999
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities Act, 1999</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.helplinelaw.com/docs/THE%20NATIONAL%20TRUST%20FOR%20WELFARE%20OF%20PERSONS%20WITH%20AUTISM,%20CEREBRAL%20PALSY,%20MENTAL%20RETARDATION%20AND%20MULTIPLE%20DISABILITIES%20ACT,%201999" rel="nofollow">Complete
              text of Act at www.helplinelaw.com</a></li>

            <li> <a class="external text" href="http://www.commonlii.org/in/legis/num_act/ntfwopwacpramda19991061/" rel="nofollow">Complete text of Act at www.commonlii.org</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Trust_for_Welfare_of_Persons_with_Autism,_Cerebral_Palsy,_Mental_Retardation_and_Multiple_Disabilities_Act,_1999&amp;oldid=588">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Trust_for_Welfare_of_Persons_with_Autism,_Cerebral_Palsy,_Mental_Retardation_and_Multiple_Disabilities_Act,_1999&amp;oldid=588</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Public_health_legislation" title="Category:Public health legislation">Public health legislation</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>