<!--
title: National Centre for Laboratory Animal Science
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Centre for Laboratory Animal Science</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>National Centre for Laboratory Animal Science</b> (NCLAS) is an <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a> institution that breeds and supplies genetically and
            microbiologically defined laboratory animals to different institutions for biomedical research. NCLAS also conducts research in laboratory animal science and develops new animal models from the existing gene pools available in
            the country. It is located within the <a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a> campus.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.icmr.nic.in/nclas.htm" rel="nofollow">www.icmr.nic.in/nclas.htm</a> - National Centre for Laboratory Animal Science website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Centre_for_Laboratory_Animal_Science&amp;oldid=1079">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Centre_for_Laboratory_Animal_Science&amp;oldid=1079</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Andhra_Pradesh" title="Category:Andhra Pradesh">Andhra Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>