<!--
title: National JALMA Institute for Leprosy & Other Mycobacterial Diseases
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases</b> was established in 1977 with a major thrust on studies on leprosy and its control programme. The Institute has contributed significantly towards
            better understanding of disease process by carrying out studies on nerve ectrophysiology, pathology and immunopathology of disease.</p>

          <p>The Centre has developed molecular tools for improving histological diagnosis of leprosy and is actively engaged in experimental evaluation of newer drug regimens. The Centre imparts training on different aspects of leprosy.
            It is serving as a National Repository for Mycobacteria. Recently the Centre has started giving attention to other mycobacterial diseases.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National JALMA Institute for Leprosy &amp; Other Mycobacterial Diseases, Post Box No.101, Dr.M.Miyazaki Marg, Tajganj, Agra - 282001</p>

          <p><b>Tel. No.:</b> +91-562-2331756</p>

          <p><b>Fax No.:</b> +91-562-2331755</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases&amp;oldid=1087">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_JALMA_Institute_for_Leprosy_%26_Other_Mycobacterial_Diseases&amp;oldid=1087</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Leprosy" title="Category:Leprosy">Leprosy</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Uttar_Pradesh" title="Category:Uttar Pradesh">Uttar Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>