<!--
title: National Health Policy (1983)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Health Policy (1983)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:Nhp1983.jpg"><img alt="" class="thumbimage" height="239" src="/~commun26/wiki/images/thumb/4/43/Nhp1983.jpg/180px-Nhp1983.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:Nhp1983.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of National Health Policy 1983</div>
            </div>
          </div>

          <p>The first <b>National Health Policy of 1983</b> was a response to the commitment to the <a class="new" href="/~commun26/wiki/index.php?title=Alma_Ata_Declaration&amp;action=edit&amp;redlink=1" title="Alma Ata Declaration (page does not exist)">Alma Ata Declaration</a> to achieve “<a class="new" href="/~commun26/wiki/index.php?title=Health_for_All_by_2000&amp;action=edit&amp;redlink=1" title="Health for All by 2000 (page does not exist)">Health for All by 2000</a>”. It accepted that health was central to development and had a focus on access to health services, reiterated the resolution of taking health
            services community and ensuring cooperation of the community. It recognizes nutrition, prevention of food adulteration and maintenance of the quality of drugs, water supply and sanitation, environmental protection; immunization
            programme, maternal and child health services, school health programme, and occupational health services as priority attention for inputs required for improved health care. Also calls on for re-orientation of the existing
            health personnel and inclusion of various systems of medicine and health care at the appropriate levels, within specified areas of responsibility and functioning, in the over-all health care delivery system, specially in regard
            to the preventive, promotive and public health objectives.</p>

          <p><br></br>
          </p>

          <ul>
            <li><a class="external text" href="http://www.communityhealth.in/~commun26/wiki/images/6/64/Nhp_1983.pdf" rel="nofollow">Download National Health Policy 1983</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Health_Policy_(1983)&amp;oldid=1926">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Health_Policy_(1983)&amp;oldid=1926</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>