<!--
title: National Institute for Research in Reproductive Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">National Institute for Research in Reproductive Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>National Institute for Research in Reproductive Health</b> (NIRRH) was established in 1970 and is known for its contributions in the field of Reproductive Biology and its pioneering work in Assisted Reproductive
            Techniques in India.</p>

          <p>The Institute's research programmes include basic and clinical studies on immuno-contraception, implantation, reproductive tract infections, clinical genetics, maternal &amp; child health, sexually transmitted diseases and
            enhancing the involvement of men in reproductive health in urban and rural settings/populations. The division of Immunodiagnostics at NIRRH has developed kits for the estimation of various reproductive hormones.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> National Institute for Research in Reproductive Health, Jehangir Merwanji Street, Parel, Mumbai-400 012</p>

          <p><b>Tel No.:</b> +91-22-24137730,24164683</p>

          <p><b>Fax No.:</b> +91-22-24139412</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.nirrh.res.in/" rel="nofollow">www.nirrh.res.in</a> - National Institute for Research in Reproductive Health website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_for_Research_in_Reproductive_Health&amp;oldid=1085">http://www.communityhealth.in/~commun26/wiki/index.php?title=National_Institute_for_Research_in_Reproductive_Health&amp;oldid=1085</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>