<!--
title: National TB Institute Bangalore
description: 
published: true
date: 2023-06-15T09:27:27.223Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T07:34:05.821Z
-->

<p><span class="text-big"><strong>National TB Institute Bangalore</strong></span></p>
<p>The&nbsp; NTI&nbsp;is&nbsp; designated&nbsp; as&nbsp; WHO&nbsp; Collaborating&nbsp;centre&nbsp; for&nbsp; TB&nbsp;research&nbsp; &amp; training since June 1985. The activities as a collaborating centre are as follows: To organise&nbsp; &nbsp;training&nbsp; &nbsp;activities&nbsp;in&nbsp; TB&nbsp; control&nbsp;for medical and paramedical personnel, in policies and Procedures consistent with the WHO-recommended DOTS strategy; to monitor and supervise TB Control programme in the country; to plan,&nbsp; coordinate&nbsp; &nbsp;and&nbsp; &nbsp;execute&nbsp;TB&nbsp; research in epidemiology, surveillance of drug resistance and operations of control strategies relevant to regional and national programme delivery; to augment&nbsp;the&nbsp; dissemination&nbsp; of&nbsp;information&nbsp; on&nbsp; TB and its control by tapping the potentials&nbsp; of the existing Library and Information Dissemination Services.</p>
<p>Website Link:</p>
<p><a href="https://ntiindia.kar.nic.in/">https://ntiindia.kar.nic.in/</a></p>
<figure class="image"><img src="/main.jpg"></figure>
