<!--
title: NetRUM discussion group
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">NetRUM discussion group</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>NetRUM</b> or <b>Network for Rational Use of Medicines</b> is an electronic discussion group which conducts weekly themed discussions on various topics related to the promotion of <a class="new" href="/~commun26/wiki/index.php?title=Rational_use_of_medicines&amp;action=edit&amp;redlink=1" title="Rational use of medicines (page does not exist)">rational use of medicines</a>. It also brings out a monthly newsletter
            containing an editorial, summaries of the month's themed discussions and other news items. The network emerged from a training course promoting rational use of medicines held in collaboration with <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO_SEARO" title="WHO SEARO">WHO SEARO</a> in 2006</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://health.groups.yahoo.com/group/netrum/" rel="nofollow">health.groups.yahoo.com/group/netrum</a> - NetRUM Yahoo! Groups page</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=NetRUM_discussion_group&amp;oldid=236">http://www.communityhealth.in/~commun26/wiki/index.php?title=NetRUM_discussion_group&amp;oldid=236</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Rational_drug_use" title="Category:Rational drug use">Rational drug use</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups">Mailing lists and discussion groups</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>