<!--
title: NGOs
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Non-governmental organisation</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=NGOs&amp;redirect=no" title="NGOs">NGOs</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>A <b>non-governmental organisation</b> is an independent voluntary association of people acting together on a continuous basis, for some common purpose, other than achieving government office, making money or illegal
            activities. <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup></p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="References">References</span></h2>

          <ol class="references">
            <li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1">↑</a></span> <span class="reference-text">Willets, P., (2002), What is a non-governmental organisation? <i>UNESCO Encyclopaedia of Life Support
              Systems</i>. [Online] Available from <a class="external free" href="http://www.staff.city.ac.uk/p.willetts/CS-NTWKS/NGO-ART.HTM" rel="nofollow">http://www.staff.city.ac.uk/p.willetts/CS-NTWKS/NGO-ART.HTM</a> [Accessed on
              16 October 2009]</span></li>
          </ol>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Non-governmental_organisation&amp;oldid=433">http://www.communityhealth.in/~commun26/wiki/index.php?title=Non-governmental_organisation&amp;oldid=433</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>