<!--
title: Padmini Swaminathan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Padmini Swaminathan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Padmini Swaminathan</b> is a professor and director of the <a href="/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies" title="Madras Institute of Development Studies">Madras Institute of
            Development Studies</a> (MIDS), Chennai. She has a PhD in Industrial Economics and has done research work on industrial organisation, labour, <a class="new" href="/~commun26/wiki/index.php?title=Occupational_health&amp;action=edit&amp;redlink=1" title="Occupational health (page does not exist)">occupational health</a>, <a href="/~commun26/wiki/index.php?title=Gender" title="Gender">gender</a> , <a class="new" href="/~commun26/wiki/index.php?title=Education&amp;action=edit&amp;redlink=1" title="Education (page does not exist)">education</a> and skill development.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies" title="Madras Institute of Development Studies">Madras Institute of Development Studies</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.mids.ac.in/padminis.htm" rel="nofollow">Padmini Swaminathan's profile on MIDS website</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Padmini_Swaminathan&amp;oldid=348">http://www.communityhealth.in/~commun26/wiki/index.php?title=Padmini_Swaminathan&amp;oldid=348</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health">Occupational health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>