<!--
title: Peoples Health Assembly
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Peoples Health Assembly</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Peoples Health Assembly marks the coming together of People's organizations, civil society organizations, NGOs, social activists, health professionals, academics and researchers to deliberate on widening gaps in health and
            forces what affect the health particularly those of poor and actions that can make difference to health. The assembly demanded Health for all NOW! seeking to promote the principle of ‘‘Health for All’’ and to advocate greater
            implementation of the Alma Ata Declaration with its principles of primary health care and ‘‘people’s perspective’’.</p>

          <p>The first people’s health assembly took place in Savar Bangladesh in December 2000 with a motto , to ‘‘give voice to the people and make their voices heard in decisions affecting their health and well being.’’ 1453
            participants from 75 countries came together to create and endorse a consensus document called the People's Charter for Health. The charter reflects the vision, goals, principles and calls for action that unite all the members
            of the PHM coalition.</p>

          <p>Complied from <a class="external text" href="http://www.phmovement.org/en/resources/pha" rel="nofollow">People's Health Assembly</a> &amp; McKnee, M, Gilmore A, B., Schwalbe, N., International cooperation and health. Part
            2: making a difference, Journal of Epidemiology and Community Health 2005;59:737–739.</p>

          <h2> <span class="mw-headline" id="External_Link">External Link</span></h2>

          <p><a class="external text" href="http://www.phmovement.org/" rel="nofollow">Peoples Health Movement</a> <a class="external text" href="http://www.youtube.com/watch?v=kgO-NTunXqE-" rel="nofollow">The Video on Health
            Assembly</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Peoples_Health_Assembly&amp;oldid=2035">http://www.communityhealth.in/~commun26/wiki/index.php?title=Peoples_Health_Assembly&amp;oldid=2035</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>