<!--
title: People's Initiatives in Primary Health Care
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">People's Initiatives in Primary Health Care</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:PeoplesInitiativesInPHC45.jpg"><img alt="" class="thumbimage" height="228" src="/~commun26/wiki/images/thumb/9/9b/PeoplesInitiativesInPHC45.jpg/180px-PeoplesInitiativesInPHC45.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:PeoplesInitiativesInPHC45.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Book 4 and 5 of the People's Initiatives in Primary Health Care series</div>
            </div>
          </div>
          .
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=People%27s_Initiatives_in_Primary_Health_Care&amp;oldid=902">http://www.communityhealth.in/~commun26/wiki/index.php?title=People%27s_Initiatives_in_Primary_Health_Care&amp;oldid=902</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Textbooks_and_manuals" title="Category:Textbooks and manuals">Textbooks and manuals</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>