<!--
title: People's Health Movement
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">People's Health Movement</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:PHMlogo.gif"><img alt="" class="thumbimage" height="216" src="/~commun26/wiki/images/thumb/f/f9/PHMlogo.gif/180px-PHMlogo.gif" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:PHMlogo.gif" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                The People's Health Movement logo</div>
            </div>
          </div>
          The <b>People’s Health Movement</b> is a growing network of people’s organisations, civil society organisations, NGOs, social activists, health professionals, academics and researchers working to establish <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Equitable_development&amp;action=edit&amp;redlink=1" title="Equitable development (page does not exist)">equitable development</a> as top priorities through comprehensive <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health
          care</a> and action on the <a href="/~commun26/wiki/index.php?title=Social_determinants_of_health" title="Social determinants of health">social determinants of health</a>.
          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="external text" href="http://www.phmovement.org" rel="nofollow">www.phmovement.org</a> - Global People's Health Movement website</li>

            <li><a class="external text" href="http://www.phm-india.org" rel="nofollow">www.phm-india.org</a> - Jan Swasthya Abhiyan (PHM India)</li>

            <li><a class="external text" href="http://www.phmoz.org" rel="nofollow">www.phmoz.org</a> - PHM Australia</li>

            <li><a class="external text" href="http://www.phm.org.nz" rel="nofollow">www.phm.org.nz</a> - PHM Aotearoa New Zealand</li>

            <li><a class="external text" href="http://www.phm-usa.org" rel="nofollow">www.phm-usa.org</a> - PHM USA</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=People%27s_Health_Movement&amp;oldid=36">http://www.communityhealth.in/~commun26/wiki/index.php?title=People%27s_Health_Movement&amp;oldid=36</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>