<!--
title: Pha-ncc discussion group
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Pha-ncc discussion group</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>pha-ncc discussion group</b> is the main discussion group of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> at the national level.
            Membership requires approval from a moderator. Messages from members to the group do not require approval. The name reflects the origins of the group as the national coordination committee of the <a class="new" href="/~commun26/wiki/index.php?title=First_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="First People's Health Assembly (page does not exist)">First People's Health Assembly</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://groups.yahoo.com/group/pha-ncc/" rel="nofollow">groups.yahoo.com/group/pha-ncc</a> - pha-ncc Yahoo! Groups page</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Pha-ncc_discussion_group&amp;oldid=379">http://www.communityhealth.in/~commun26/wiki/index.php?title=Pha-ncc_discussion_group&amp;oldid=379</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups">Mailing lists and discussion groups</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>