<!--
title: Public Health India Score
description: 
published: true
date: 2023-06-15T06:24:33.842Z
tags: public health india score, phin
editor: ckeditor
dateCreated: 2023-06-15T06:24:33.842Z
-->

<p>The <strong>Public Health India Score</strong> was developed by Dr. <a href="https://wiki.primaryhealthcare.in/index.php?title=Ravi_Narayan">Ravi Narayan</a> of the <a href="https://wiki.primaryhealthcare.in/index.php?title=Centre_for_Public_Health_and_Equity">Centre for Public Health and Equity</a> as a guide for people working in <a href="https://wiki.primaryhealthcare.in/index.php?title=Public_health">public health</a> and <a href="https://wiki.primaryhealthcare.in/index.php?title=Community_health">community health</a> in India. It is a compilation of key documents, reports, publications, experiments, events and initiatives that cover the most important aspects of Public Health Policy and System Development in India since Independence.</p>
<p>&nbsp;</p>
<h2>Policy Documents</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Health_Policy_(1983)">National Health Policy (1983)</a></p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Education_Policy_(1986)">National Education Policy (1986)</a></p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Education_Policy_for_Health_Sciences_(1989)">National Education Policy for Health Sciences (1989)</a></p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Population_Policy_(2000)">National Population Policy (2000)</a></p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Health_Policy_(2002)">National Health Policy (2002)</a></p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Policy_and_Programmes_on_Ayurveda,_Yoga_and_Naturopathy,_Unani,_Siddha_and_Homeopathy_(2002)">National Policy and Programmes on Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (2002)</a></p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Pharmaceutical_Policy_(2002)">National Pharmaceutical Policy (2002)</a></p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=Karnataka_State_Integrated_Health_Policy_(2003)">Karnataka State Integrated Health Policy (2003)</a> <a href="http://stg2.kar.nic.in/healthnew/PDF/STATE%20HEALTH%20POLICY.pdf">PDF</a></p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Rural_Health_Mission">National Rural Health Mission</a> - 2005-2012 <a href="http://stg2.kar.nic.in/healthnew/PDF/NRHM%20MISSION%20DOCUMENT.pdf">PDF</a></p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Knowledge_Commission&amp;action=edit&amp;redlink=1">National Knowledge Commission</a>- Report of the working group on medical education and education for community health. 2007</p>
<p>&nbsp;</p>
<h2>Expert Committee Reports</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_Survey_and_Development_Committee">Health Survey and Development Committee</a> (Bhore Committee), 1946</p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_Survey_and_Planning_Committee">Health Survey and Planning Committee</a> (Mudaliar Committee), 1961</p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=Committee_on_Multi_Purpose_Health_Workers_under_Health_and_Family_Welfare_Programmes">Committee on Multi Purpose Health Workers under Health and Family Welfare Programmes</a> (Kartar Singh Committee), 1973</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=Group_on_Medical_Education_and_Support_Manpower">Group on Medical Education and Support Manpower</a> (Srivastava Committee), 1975</p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Committee_on_Drugs_and_Pharmaceutical_Industry">Committee on Drugs and Pharmaceutical Industry</a> (Hathi Committee), 1975</p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_For_All:_An_Alternative_Strategy">Health For All: An Alternative Strategy</a> (ICSSR- ICMR), 1981)</p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Expert_Committee_on_the_Public_Health_System">Expert Committee on the Public Health System</a> (Bajaj Committee 2), 1996</p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Commission_on_Macroeconomics_and_Health">National Commission on Macroeconomics and Health</a>, 2005</p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Knowledge_Commission&amp;action=edit&amp;redlink=1">National Knowledge Commission</a>, 2007 <a href="http://knowledgecommission.gov.in/downloads/documents/wg_med.pdf">PDF</a></p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=Annual_Report_to_the_People_on_Health&amp;action=edit&amp;redlink=1">Annual Report to the People on Health</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=MOHFW">MOHFW</a>, 2010 <a href="http://www.mohfw.nic.in/Annual%20Report%20to%20the%20People%20on%20Health%20_latest_08%20Nov%202010.pdf">PDF</a></p>
<h2>Key monographs and reference books</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=Alternative_Approaches_To_Health_Care">Alternative Approaches To Health Care</a> – <a href="https://wiki.primaryhealthcare.in/index.php?title=ICMR">ICMR</a>, 1976</p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=Evaluation_Of_Primary_Health_Care_Programmes">Evaluation Of Primary Health Care Programmes</a> – <a href="https://wiki.primaryhealthcare.in/index.php?title=ICMR">ICMR</a>, 1980</p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=Appropriate_Technology_For_Primary_Health_Care">Appropriate Technology For Primary Health Care</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=ICMR">ICMR</a>, 1981</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_and_Family_Planning_Services_in_India">Health and Family Planning Services in India</a> – <a href="https://wiki.primaryhealthcare.in/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1">Debabar Banerji</a>, 1985</p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Jamkhed">Jamkhed</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=Rajnikant_Arole&amp;action=edit&amp;redlink=1">Rajnikant Arole</a> and <a href="https://wiki.primaryhealthcare.in/index.php?title=Mabelle_Arole&amp;action=edit&amp;redlink=1">Mabelle Arole</a>, 1994</p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=State_of_India%27s_Health">State of India's Health</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=VHAI">VHAI</a>, 1992</p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Reaching_India%27s_Poor:_Non-governmental_Approaches_to_Community_Health">Reaching India's Poor: Non-governmental Approaches to Community Health</a> - Saroj Pachauri, 1994</p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=Report_of_the_Independent_Commission_on_Health_in_India">Report of the Independent Commission on Health in India</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=VHAI">VHAI</a>, 1997</p>
<p>9. Towards Equity, Quality and Integrity in Health: Report of the Task Force on Health and Family Welfare, Govt. of Karnataka, 2001 <a href="http://www.whoindia.org/LinkFiles/Health_Sector_Reform_karna-BW.pdf">PDF</a></p>
<p>10. Review of Health Care in India. Leena V Gangolli et al (Ed.). CEHAT. 2005 <a href="http://www.cehat.org/publications/PDf%20files/r51.pdf">PDF</a></p>
<h2>Key publications of the alternative sector</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=Poverty,_Class_And_Health_Culture">Poverty, Class And Health Culture</a> – Debabar Banerji, 1982</p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change">Rakku's Story: Structures of Ill-Health and the Source of Change</a> - Sheila Zurbrigg, 1984</p>
<p>3. Development With People: Experiments with participation and non-formal education - Walter Fernandes, 1985, Indian Social Institute, Delhi</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=Taking_Sides:_The_Choices_Before_The_Health_Worker">Taking Sides: The Choices Before The Health Worker</a> – <a href="https://wiki.primaryhealthcare.in/index.php?title=C._Sathyamala">C. Sathyamala</a></p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_Care:_Which_Way_To_Go%3F">Health Care: Which Way To Go?</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=Mfc">mfc</a></p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=Under_The_Lens:_Health_and_Medicine">Under The Lens: Health and Medicine</a> - <a href="https://wiki.primaryhealthcare.in/index.php?title=Mfc">mfc</a></p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Medical_Education_Re-Examined">Medical Education Re-Examined</a> – 1991 - <a href="https://wiki.primaryhealthcare.in/index.php?title=Mfc">mfc</a></p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=People%27s_Health_in_People%27s_Hands">People's Health in People's Hands</a> – N.H. Antia and Kavita Bhatia, 1993</p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book">Health For All Now! A People's Health Resource Book</a> – <a href="https://wiki.primaryhealthcare.in/index.php?title=JSA">JSA</a>, 2000</p>
<p>10. The Rights Approach to Health and Health Care – Policy brief, JSA <a href="http://www.cehat.org/rthc/policybrief2.pdf">PDF</a></p>
<h2>Projects/experiments of national public health significance</h2>
<p>1. Narangwal Project <a href="http://heapol.oxfordjournals.org/content/2/2/150.full.pdf">PDF</a></p>
<p>2. Najargarh Project <a href="http://www.mohfw.nic.in/kk/95/ib/95ib1701.htm">Project write-up on Ministry website</a></p>
<p>3. Singur Project</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=Gandhigram_Institute_of_Rural_Health_and_Family_Welfare&amp;action=edit&amp;redlink=1">Gandhigram Institute of Rural Health and Family Welfare</a> <a href="http://www.girhfwt.org/">Official website</a></p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Chittaranjan_Mobile_Hospitals&amp;action=edit&amp;redlink=1">Chittaranjan Mobile Hospitals</a> <a href="http://www.education.nic.in/cd50years/12/8i/67/8I670801.htm">No. 139 on this list</a></p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=ROME_Scheme&amp;action=edit&amp;redlink=1">ROME Scheme</a> ( Reorientation of Medical Education ) 1976 <a href="http://cafemedico.net/forums/9-lecture-notes-study-topics/6527-rome-programme.html">Brief on ROME on cafemedico forums</a></p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Expanded_Programme_of_Immunisation&amp;action=edit&amp;redlink=1">Expanded Programme of Immunisation</a></p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=Integrated_Disease_Surveillance_Programme&amp;action=edit&amp;redlink=1">Integrated Disease Surveillance Programme</a> <a href="http://www.whoindia.org/LinkFiles/Public_Health_Laboratory_Networking_IDSP_brief.pdf">PDF</a></p>
<p>9. Community Health Workers – Janata Scheme 1977 <a href="http://www.jstor.org/pss/4368284">JSTOR link</a></p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Rural_Health_Mission">National Rural Health Mission</a> <a href="http://www.nihfw.org/NDC/DocumentationServices/NationalRuralHealthMission.html">NRHM mission document on NIHFW website</a></p>
<h2>National institutes of public health significance</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health">All India Institute of Hygiene and Public Health</a>, Kolkata</p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Health_and_Family_Welfare">National Institute of Health and Family Welfare</a>, New Delhi</p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=Centre_for_Social_Medicine_and_Community_Health">Centre for Social Medicine and Community Health</a>, Jawaharlal Nehru University, New Delhi</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Epidemiology">National Institute of Epidemiology</a>, Chennai</p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Communicable_Diseases">National Institute of Communicable Diseases</a>, New Delhi</p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Tuberculosis_Institute">National Tuberculosis Institute</a>, Bangalore</p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Nutrition">National Institute of Nutrition</a>, Hyderabad</p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Malaria_Research">National Institute of Malaria Research</a>, New Delhi</p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Institute_of_Occupational_Health">National Institute of Occupational Health</a>, Ahmedabad</p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Health_Systems_Resource_Centre">National Health Systems Resource Centre</a>, New Delhi</p>
<p>&nbsp;</p>
<h2>Public health and community health resource centres and networks</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=Medico_Friend_Circle">Medico Friend Circle</a></p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=Voluntary_Health_Association_of_India">Voluntary Health Association of India</a>, New Delhi</p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=Catholic_Health_Association_of_India">Catholic Health Association of India</a>, Secunderabad</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=Christian_Medical_Association_of_India">Christian Medical Association of India</a>, New Delhi / Bangalore</p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action">Society for Community Health Awareness, Research and Action</a>, Bangalore</p>
<p>6. <a href="https://wiki.primaryhealthcare.in/index.php?title=Foundation_for_Research_in_Community_Health">Foundation for Research in Community Health</a>, Mumbai</p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Anusandhan_Trust">Anusandhan Trust</a> (<a href="https://wiki.primaryhealthcare.in/index.php?title=CEHAT">CEHAT</a>, Mumbai; <a href="https://wiki.primaryhealthcare.in/index.php?title=SATHI">SATHI</a>, Pune and <a href="https://wiki.primaryhealthcare.in/index.php?title=CSER&amp;action=edit&amp;redlink=1">CSER</a>, Mumbai)</p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=Jan_Swasthya_Rakshak&amp;action=edit&amp;redlink=1">Jan Swasthya Rakshak</a> and MP Health Missions <a href="http://www.sochara.org/new/index.php?option=com_content&amp;task=view&amp;id=184&amp;Itemid=80">Details from SOCHARA website</a></p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=State_Health_Resource_Centre,_Chhattisgarh">State Health Resource Centre, Chhattisgarh</a></p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=Jan_Swasthya_Abhiyan">Jan Swasthya Abhiyan</a> (People’s Health Movement - India)</p>
<h2>Significant public health events and developments (Mainstream)</h2>
<p>1. Calcutta Declaration – 1999 (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1731556/pdf/v054p00749.pdf">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1731556/pdf/v054p00749.pdf</a>)</p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=Indian_Public_Health_Standards&amp;action=edit&amp;redlink=1">Indian Public Health Standards</a>, NRHM - 2010 (<a href="http://www.mohfw.nic.in/NRHM/iphs.htm">http://www.mohfw.nic.in/NRHM/iphs.htm</a>)</p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=Public_Health_Foundation_of_India">Public Health Foundation of India</a> - 2006</p>
<p>4. <a href="https://wiki.primaryhealthcare.in/index.php?title=South_East_Asia_Public_Health_Education_Information_Network&amp;action=edit&amp;redlink=1">South East Asia Public Health Education Information Network</a>, SEARO - 2003 (www.seaphein.com/document/news/news)</p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Rural_Health_Mission">National Rural Health Mission</a> Task Forces (<a href="http://www.mohfw.nic.in/NRHM/Task_grp/Tg_index.htm">http://www.mohfw.nic.in/NRHM/Task_grp/Tg_index.htm</a>)</p>
<p>6. NRHM – Communitization Policy Initiatives (<a href="http://www.mohfw.nic.in/NRHM/adv_grp.htm">http://www.mohfw.nic.in/NRHM/adv_grp.htm</a> and <a href="http://www.mohfw.nic.in/NRHM/asha.htm">http://www.mohfw.nic.in/NRHM/asha.htm</a>)</p>
<p>7. NRHM - ASHA Mentoring Group (AMG) and Advisory Group for Community Action (AGCA) (<a href="http://www.nrhmcommunityaction.org/">http://www.nrhmcommunityaction.org/</a>)</p>
<p>8. National Consultation on Public Health Workforce 2009 (<a href="http://www.whoindia.org/LinkFiles/Human_Resources_National_consultation_on_PHWF_Report.pdf">http://www.whoindia.org/LinkFiles/Human_Resources_National_consultation_on_PHWF_Report.pdf</a>)</p>
<p>9. Strengthening Epidemiological Principles for Public Health Action – SEARO Initiatives (towards a socio-epidemiology) 2009 (<a href="http://www.searo.who.int/LinkFiles/CDS_Epid_meet_C&amp;R26-27feb09.pdf">http://www.searo.who.int/LinkFiles/CDS_Epid_meet_C&amp;R26-27feb09.pdf</a>)</p>
<p>10. <a href="https://wiki.primaryhealthcare.in/index.php?title=Planning_Commission_Expert_Group_on_Universal_Access_to_Health_Care&amp;action=edit&amp;redlink=1">Planning Commission Expert Group on Universal Access to Health Care</a> (<a href="http://www.thehindu.com/health/policy-and-issues/article838394.ece">http://www.thehindu.com/health/policy-and-issues/article838394.ece</a>)</p>
<p>&nbsp;</p>
<h2>Significant public health events and developments (Civil Society)</h2>
<p>1. <a href="https://wiki.primaryhealthcare.in/index.php?title=Indian_People%27s_Health_Charter_(2000)">Indian People's Health Charter (2000)</a></p>
<p>2. <a href="https://wiki.primaryhealthcare.in/index.php?title=National_Human_Rights_Commission">National Human Rights Commission</a> –Right to Health Initiative including Peoples Health Tribunals <a href="http://www.ghwatch.org/sites/www.ghwatch.org/files/health_tribunals.pdf">PDF</a></p>
<p>3. <a href="https://wiki.primaryhealthcare.in/index.php?title=People%E2%80%99s_Rural_Health_Watch&amp;action=edit&amp;redlink=1">People’s Rural Health Watch</a> <a href="http://phm-india.org/index.php?option=com_content&amp;view=article&amp;id=4:peoples-rural-health-watch&amp;catid=10:jsa-campaigns&amp;Itemid=3">Details on PHD-India website</a></p>
<p>4. Peoples’ Health Manifestos for Indian national election 2004-2009 <a href="http://www.phmovement.org/en/node/2023">Link to PHM website</a></p>
<p>5. <a href="https://wiki.primaryhealthcare.in/index.php?title=Community_Health_Environment_Skill_Shares&amp;action=edit&amp;redlink=1">Community Health Environment Skill Shares</a> (CHESS) <a href="http://www.greenpeace.org/india/Global/india/report/2003/8/status-of-human-health-at-the.doc">p.5 of this document from Greenpeace India</a></p>
<p>6. Community Health Fellowship Schemes in India since 2003 <a href="http://www.sochara.org/new/index.php?option=com_content&amp;task=view&amp;id=48&amp;Itemid=42">Details from SOCHARA website</a></p>
<p>7. <a href="https://wiki.primaryhealthcare.in/index.php?title=Public_Health_Resource_Network">Public Health Resource Network</a></p>
<p>8. <a href="https://wiki.primaryhealthcare.in/index.php?title=Right_to_Food_Campaign">Right to Food Campaign</a></p>
<p>9. <a href="https://wiki.primaryhealthcare.in/index.php?title=Right_to_Water_Campaign&amp;action=edit&amp;redlink=1">Right to Water Campaign </a><a href="http://www.ncasindia.org/right-water-campaign">/ http://www.indiaresource.org/campaigns/coke/2008/cokeimplicatedteri.html Details from ncasindia.org</a></p>
