<!--
title: PHM-Exchange mailing list
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">PHM-Exchange mailing list</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>PHM-Exchange mailing list</b> is the global mailing list of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a>. It is used to
            exchange experiences, share educational materials, do solidarity work and coordinate positions for international meetings and advocacy. It is moderated by <a class="new" href="/~commun26/wiki/index.php?title=Claudio_Schuftan&amp;action=edit&amp;redlink=1" title="Claudio Schuftan (page does not exist)">Claudio Schuftan</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://phm.phmovement.org/listinfo.cgi/phm-exchange-phmovement.org" rel="nofollow">phm.phmovement.org/listinfo.cgi/phm-exchange-phmovement.org</a> - PHM-Exchange webpage</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=PHM-Exchange_mailing_list&amp;oldid=383">http://www.communityhealth.in/~commun26/wiki/index.php?title=PHM-Exchange_mailing_list&amp;oldid=383</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups">Mailing lists and discussion groups</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>