<!--
title: Portal: Low cost healthcare
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Low cost healthcare</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Low_cost_pharmaceuticals"><span class="tocnumber">1</span> <span class="toctext">Low cost pharmaceuticals</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Low_cost_surgery"><span class="tocnumber">2</span> <span class="toctext">Low cost surgery</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Low_cost_obstetric_and_neonatal_care"><span class="tocnumber">3</span> <span class="toctext">Low cost obstetric and neonatal care</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Low_cost_critical_care"><span class="tocnumber">4</span> <span class="toctext">Low cost critical care</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Low_cost_pharmaceuticals"> Low cost pharmaceuticals </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.locostindia.com" rel="nofollow">www.locostindia.com</a> - Low Cost Standard Therapeutics (LOCOST) makes essential medicines for those working with urban and rural poor in India.
            </li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Low_cost_surgery"> Low cost surgery </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.primary-surgery.org" rel="nofollow">www.primary-surgery.org</a> - Primary Surgery is a three part textbook first published by <a class="new" href="/~commun26/wiki/index.php?title=Maurice_King&amp;action=edit&amp;redlink=1" title="Maurice King (page does not exist)">Maurice King</a> together with numerous experts in 1990. The work comprises the volumes
              Non-Trauma, Trauma and Anaesthesia. It was created to supply doctors with basic surgical knowledge to cope with all surgical symptoms, even far away from referral centers. The textbook details a number of surgical practices
              and procedures that are more appropriate in resource poor settings.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://www.arsi-india.org" rel="nofollow">Association of Rural Surgeons of India</a> - This break away association from the Association of Surgeons of India aims to bring together rural
              surgeons in India who work in environments very different to the high-tech settings of urban hospitals.</li>
          </ul>

          <ul>
            <li> Use of sterilised mosquito net for hernia repair.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Low_cost_obstetric_and_neonatal_care">Low cost obstetric and neonatal care</span></h2>

          <ul>
            <li> <a class="external text" href="http://maternova.ne" rel="nofollow">Maternova</a> - Maternova is a website that profile low cost innovations in obstetric and neonatal care, maps health facilities and connects
              professionals involved in maternal and child health work.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Embrace_Infant_Warmer" title="Embrace Infant Warmer">Embrace Infant Warmer</a> - The Embrace Infant Warmer is a product conceived at the Stanford Institute of Design that uses a
              phase-change material in a sleeping bag design to maintain a <a class="new" href="/~commun26/wiki/index.php?title=Neonate&amp;action=edit&amp;redlink=1" title="Neonate (page does not exist)">neonate</a>'s body temperature.
              It costs $25, approximately 1% the cost of a traditional high-tech incubator. The product is being released in India in 2010.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Low_cost_critical_care"> Low cost critical care </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.pneumon.com/" rel="nofollow">Newmon ventilator</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Low_cost_healthcare&amp;oldid=1415">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Low_cost_healthcare&amp;oldid=1415</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Low_cost_health_care" title="Category:Low cost health care">Low cost health care</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>