<!--
title: Portal: People's Health Movement
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: People's Health Movement</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:PHMlogo.gif"><img alt="" class="thumbimage" height="216" src="/~commun26/wiki/images/thumb/f/f9/PHMlogo.gif/180px-PHMlogo.gif" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:PHMlogo.gif" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                The People's Health Movement logo</div>
            </div>
          </div>

          <p><i>Main article: <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a></i></p>

          <p>The <b>People’s Health Movement</b> (PHM) is the largest network of <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> activists in the world. It consists of people’s
            organisations, civil society organisations, NGOs, social activists, health professionals, academics and researchers working to establish <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Equitable_development&amp;action=edit&amp;redlink=1" title="Equitable development (page does not exist)">equitable development</a> as top priorities through universal,
            comprehensive <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> and action on the <a href="/~commun26/wiki/index.php?title=Social_determinants_of_health" title="Social determinants of health">social determinants of health</a>. The network arose from the <a class="new" href="/~commun26/wiki/index.php?title=First_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="First People's Health Assembly (page does not exist)">First People's Health Assembly</a> held in Savar, Bangladesh in December <a class="new" href="/~commun26/wiki/index.php?title=2000&amp;action=edit&amp;redlink=1" title="2000 (page does not exist)">2000</a>.</p>

          <p>The PHM network consists of country and issue based circles. It is coordinated by a global secretariat currently based in <a class="new" href="/~commun26/wiki/index.php?title=South_Africa&amp;action=edit&amp;redlink=1" title="South Africa (page does not exist)">South Africa</a> and headed by <a class="new" href="/~commun26/wiki/index.php?title=Bridget_Lloyd&amp;action=edit&amp;redlink=1" title="Bridget Lloyd (page does not exist)">Bridget
            Lloyd</a>.</p>

          <h2> <span class="mw-headline" id="PHM_Charters">PHM Charters</span></h2>

          <p>Members of the PHM network are united around three main consensus documents at the global level</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)" title="People’s Charter for Health (2000)">People’s Charter for Health (2000)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Mumbai_Declaration_(2004)" title="Mumbai Declaration (2004)">Mumbai Declaration (2004)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Cuenca_Declaration_(2005)" title="Cuenca Declaration (2005)">Cuenca Declaration (2005)</a></li>
          </ul>

          <p>The Jan Swasthya Abhiyan also has a charter that was the initial consensus document at the national level</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)" title="Indian People's Health Charter (2000)">Indian People's Health Charter (2000)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Jan_Swasthya_Abhiyan:_People.27s_Health_Movement_in_India">Jan Swasthya Abhiyan: People's Health Movement in India</span></h2>

          <p><i>Main article: <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a></i></p>

          <p><b>Jan Swasthya Abhiyan</b> (JSA) is the Indian circle of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a>. The network arose from the
            <a class="new" href="/~commun26/wiki/index.php?title=First_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="First National Health Assembly (page does not exist)">First National Health Assembly</a> held in
            Kolkota in December 2000 where 21 major national networks came together to work for <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a>.</p>

          <p>The Jan Swasthya Abhiyan is organised into state level circles:</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Janaarogya_Andolana_-_Karnataka" title="Janaarogya Andolana - Karnataka">Janaarogya Andolana - Karnataka</a> (JAAK) - PHM Karnataka</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Makkal_Nalavalzhu_Iyyakam&amp;action=edit&amp;redlink=1" title="Makkal Nalavalzhu Iyyakam (page does not exist)">Makkal Nalavalzhu Iyyakam</a> (MNI) - PHM Tamil Nadu</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="external text" href="http://www.phmovement.org" rel="nofollow">www.phmovement.org</a> - Global People's Health Movement website</li>

            <li><a class="external text" href="http://www.phm-india.org" rel="nofollow">www.phm-india.org</a> - Jan Swasthya Abhiyan (PHM India)</li>

            <li><a class="external text" href="http://www.phmoz.org" rel="nofollow">www.phmoz.org</a> - PHM Australia</li>

            <li><a class="external text" href="http://www.phm.org.nz" rel="nofollow">www.phm.org.nz</a> - PHM Aotearoa New Zealand</li>

            <li><a class="external text" href="http://www.phmsouthafrica.org" rel="nofollow">www.phmsouthafrica.org</a> - PHM South Africa</li>

            <li><a class="external text" href="http://www.phm-uk.org.uk/" rel="nofollow">www.phm-uk.org.uk</a> - PHM United Kingdom</li>

            <li><a class="external text" href="http://www.phm-usa.org" rel="nofollow">www.phm-usa.org</a> - PHM USA</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement&amp;oldid=327">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement&amp;oldid=327</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>