<!--
title: Portal: Traditional medicine
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Traditional medicine</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Organisations working with traditional healers</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Sambandh" title="Sambandh">Sambandh</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local Health
              Traditions</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Traditional_medicine&amp;oldid=1231">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Traditional_medicine&amp;oldid=1231</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Traditional_medicine" title="Category:Traditional medicine">Traditional medicine</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>