<!--
title: Portal: Community health internships and medical electives in India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Community health internships and medical electives in India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The best way to understand the principles of community health is through lived experience.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Community_health_and_other_rural_internships"><span class="tocnumber">1</span> <span class="toctext">Community health and other rural internships</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Medical_elective_placements_for_foreign_students"><span class="tocnumber">2</span> <span class="toctext">Medical elective placements for foreign students</span></a></li>

                    <li class="toclevel-1"><a href="#Visit_Portal:_Community_health_projects_and_Category:_Community_based_organisations_for_details_of_organisations_profiled_on_this_site."><span class="tocnumber">3</span> <span class="toctext"><b>Visit Portal: Community health projects and Category: Community based organisations for details of organisations profiled on this site.</b></span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-3"><a href="#Organisations_that_facilitate_foreign_student_electives_in_India"><span class="tocnumber">3.1</span> <span class="toctext">Organisations that facilitate foreign
                          student electives in India</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-4"><a href="#Preparation_for_your_internship_.2F_elective"><span class="tocnumber">4</span> <span class="toctext">Preparation for your internship / elective</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Community_health_and_other_rural_internships">Community health and other rural internships</span></h2>

          <ul>
            <li> The <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness,
              Research and Action</a> has a history of working with young people interested in community health. Both it's Bangalore based unit, <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a> and it's Bhopal based unit <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a> offer
              a 9 month paid internship in community health for those interested.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://chirag.org/what-we-do/programmes-for-young-people/swades-ki-khoj" rel="nofollow">Swades ki Khoj</a> - Swades ki Khoj is a programme run by the <a href="/~commun26/wiki/index.php?title=Central_Himalayan_Rural_Action_Group" title="Central Himalayan Rural Action Group">Central Himalayan Rural Action Group</a> (Chirag). It offers graduates under the age of 28 the
              opportunity to spend a year living and working in a rural area to discover rural India and themselves and to use their knowledge and skills to bring about social change.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://gandhifellowship.blogspot.com" rel="nofollow">Gandhi Fellowship</a> - The Gandhi Fellowship is an intensive 2-year programme organised by the <a class="new" href="/~commun26/wiki/index.php?title=Kaivalya_Education_Foundation&amp;action=edit&amp;redlink=1" title="Kaivalya Education Foundation (page does not exist)">Kaivalya Education Foundation</a> that helps talented young
              people develop the leadership skills to cause positive change in society. The Fellowship challenges these young people to support primary school headmasters to turn around their failing schools, thus improving the quality of
              education provided in India’s government schools. By taking on real challenges and solving ‘live’ problems that exist today in schools across India, Fellows learn the generic skills that will allow them to lead change on a
              wide range of issues in other sectors. In the process Fellows are themselves supported to discover what they are passionate about, what they want to do with their lives and how to go about converting their dreams into
              reality.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://icicifellows.org" rel="nofollow">ICICI Fellows</a> - ICICI Fellows is a 2 year intensive, experiential learning programme aimed at training civil society leaders.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Course_in_Sustainable_Community_Health_%26_Development" title="Course in Sustainable Community Health &amp; Development">Course in Sustainable Community Health &amp;
              Development</a> - about the principles and practice of comprehensive community-based primary health care (CBPHC) at a sustainable program that is an international model, from the staff and villagers who pioneered this
              transforming experience, through the principles of equity, integration, empowerment, bringing health and well-being to their communities by Comprehensive Rural Health Project (CRHP), Jamkhed International Institute for
              Training &amp; Research in Sustainable Community Health &amp; Development <a class="new" href="/~commun26/wiki/index.php?title=Www.jamkhed.org/training&amp;action=edit&amp;redlink=1" title="Www.jamkhed.org/training (page does not exist)">www.jamkhed.org/training</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Medical_elective_placements_for_foreign_students">Medical elective placements for foreign students</span></h2>

          <p>There are a number of big city hospitals that offer placements for medical students and others who wish to pursue an elective/ volunteer placement in India. This website however, hopes to focus on placements with community
            based organisations where the opportunity to see <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> work in action is greater.</p>

          <h2 style="margin:0; background:#9ce4ea; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em;"> <span class="mw-headline" id="Visit_Portal:_Community_health_projects_and_Category:_Community_based_organisations_for_details_of_organisations_profiled_on_this_site."><b>Visit <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects" title="Portal: Community health projects">Portal: Community health projects</a> and <a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations"> Category:
            Community based organisations</a> for details of organisations profiled on this site.</b></span></h2>

          <p></p>

          <h3> <span class="mw-headline" id="Organisations_that_facilitate_foreign_student_electives_in_India"> Organisations that facilitate foreign student electives in India </span></h3>

          <ul>
            <li> <a class="external text" href="http://www.medicalstudentelectives.org/" rel="nofollow">Medical Student Electives</a> - The Medical Student Electives (MSE) programme of the UK based Charities Advisory Trust offers
              medical students elective placements at <a class="new" href="/~commun26/wiki/index.php?title=ASHWINI&amp;action=edit&amp;redlink=1" title="ASHWINI (page does not exist)">ASHWINI</a> in Gudalur, Tamil Nadu and <a class="mw-redirect" href="/~commun26/wiki/index.php?title=SYVM" title="SYVM">SYVM</a> in H.D. Kotte, Karnataka.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://www.projects-abroad.co.uk/volunteer-destinations/india" rel="nofollow">Projects Abroad</a> - Projects Abroad is a UK based organisation that arranges volunteer placements mostly
              around the Madurai area in Tamil Nadu.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://83.223.104.6/~medicsaw/index.php/travel/elective/india" rel="nofollow">MedicsAway</a> - Medics Away is a UK based organisation that arranges medical elective placements mostly in
              Kerala.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Preparation_for_your_internship_.2F_elective"> Preparation for your internship / elective </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.uniteforsight.org/international-volunteering/" rel="nofollow">Unite For Sight Volunteer Ethics and Professionalism Online Course</a></li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://www.uniteforsight.org/cultural-competency/" rel="nofollow">Unite For Sight Cultural Competency Online Course</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India&amp;oldid=2123">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India&amp;oldid=2123</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>