<!--
title: Portal: Health research in India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Health research in India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="Government_research_bodies"> Government research bodies </span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_Council_for_Medical_Research" title="Indian Council for Medical Research">Indian Council for Medical Research</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Council_for_Social_Science_Research" title="Indian Council for Social Science Research">Indian Council for Social Science Research</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Department_of_Health_Research&amp;action=edit&amp;redlink=1" title="Department of Health Research (page does not exist)">Department of Health Research</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=MOHFW" title="MOHFW">MOHFW</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="International_research_organisations_and_networks"> International research organisations and networks </span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Global_Forum_for_Health_Research" title="Global Forum for Health Research">Global Forum for Health Research</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Resources"> Resources </span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=OpenMED@NIC" title="OpenMED@NIC">OpenMED@NIC</a></li>

            <li> <a class="external text" href="http://www.indiastat.com" rel="nofollow">www.indiastat.com</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Health_research_in_India&amp;oldid=816">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Health_research_in_India&amp;oldid=816</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Research" title="Category:Research">Research</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>