<!--
title: Portal: Conflict in Chhattisgarh
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Conflict in Chhattisgarh</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The southern districts of <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh&amp;action=edit&amp;redlink=1" title="Chhattisgarh (page does not exist)">Chhattisgarh</a> as well as adjoining districts in
            neighbouring states are the site of an ongoing conflict between the Indian Government and Naxals. The local communities in the region, who are predominantly <a class="new" href="/~commun26/wiki/index.php?title=Adivasis&amp;action=edit&amp;redlink=1" title="Adivasis (page does not exist)">adivasis</a>, bear the brunt of this conflict. An overview of health in Chhattisgarh has to take into
            account this conflict, as it is the biggest determinant of health, especially in the southern districts.</p>

          <p><br></br>
          </p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Adivasis_in_Chhattisgarh_conflict_zone"><span class="tocnumber">1</span> <span class="toctext">Adivasis in Chhattisgarh conflict zone</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Important_politicians_and_political_parties"><span class="tocnumber">2</span> <span class="toctext">Important politicians and political parties</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Big_Industry_in_Chhattisgarh_conflict_zone"><span class="tocnumber">3</span> <span class="toctext">Big Industry in Chhattisgarh conflict zone</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Government_health_and_other_social_programmes"><span class="tocnumber">4</span> <span class="toctext">Government health and other social programmes</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Important_legislation"><span class="tocnumber">5</span> <span class="toctext">Important legislation</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Civil_society_in_Chhattisgarh"><span class="tocnumber">6</span> <span class="toctext">Civil society in Chhattisgarh</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#Naxals_in_Chhattisgarh"><span class="tocnumber">7</span> <span class="toctext">Naxals in Chhattisgarh</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#Anti_naxal_operations"><span class="tocnumber">8</span> <span class="toctext">Anti naxal operations</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#Dantewada_district"><span class="tocnumber">9</span> <span class="toctext">Dantewada district</span></a></li>

                    <li class="toclevel-1 tocsection-10"><a href="#Films_on_the_conflict"><span class="tocnumber">10</span> <span class="toctext">Films on the conflict</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Adivasis_in_Chhattisgarh_conflict_zone">Adivasis in Chhattisgarh conflict zone</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Gond&amp;action=edit&amp;redlink=1" title="Gond (page does not exist)">Gond</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Madiya&amp;action=edit&amp;redlink=1" title="Madiya (page does not exist)">Madiya</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Aboojh_Madiya&amp;action=edit&amp;redlink=1" title="Aboojh Madiya (page does not exist)">Aboojh Madiya</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Dorla&amp;action=edit&amp;redlink=1" title="Dorla (page does not exist)">Dorla</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Halba&amp;action=edit&amp;redlink=1" title="Halba (page does not exist)">Halba</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Bhatra&amp;action=edit&amp;redlink=1" title="Bhatra (page does not exist)">Bhatra</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Koya" title="Koya">Koya</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Important_politicians_and_political_parties">Important politicians and political parties</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Raman_Singh&amp;action=edit&amp;redlink=1" title="Raman Singh (page does not exist)">Raman Singh</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Ajit_Jogi&amp;action=edit&amp;redlink=1" title="Ajit Jogi (page does not exist)">Ajit Jogi</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mahendra_Karma&amp;action=edit&amp;redlink=1" title="Mahendra Karma (page does not exist)">Mahendra Karma</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=P._Chidambaram&amp;action=edit&amp;redlink=1" title="P. Chidambaram (page does not exist)">P. Chidambaram</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_National_Congress" title="Indian National Congress">Indian National Congress</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Bharatiya_Janata_Party" title="Bharatiya Janata Party">Bharatiya Janata Party</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Chhattisgarh_Mukti_Morcha" title="Chhattisgarh Mukti Morcha">Chhattisgarh Mukti Morcha</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Big_Industry_in_Chhattisgarh_conflict_zone">Big Industry in Chhattisgarh conflict zone</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh_Mineral_Policy,_2001&amp;action=edit&amp;redlink=1" title="Chhattisgarh Mineral Policy, 2001 (page does not exist)">Chhattisgarh Mineral Policy, 2001</a>
            </li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh_Mineral_Development_Corporation&amp;action=edit&amp;redlink=1" title="Chhattisgarh Mineral Development Corporation (page does not exist)">Chhattisgarh
              Mineral Development Corporation</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Bailadila_mines&amp;action=edit&amp;redlink=1" title="Bailadila mines (page does not exist)">Bailadila mines</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Vedanta_Aluminium_Limited" title="Vedanta Aluminium Limited">Vedanta Aluminium Limited</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Essar_Steel" title="Essar Steel">Essar Steel</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Tata_Steel" title="Tata Steel">Tata Steel</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Government_health_and_other_social_programmes">Government health and other social programmes</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mitanin_programme&amp;action=edit&amp;redlink=1" title="Mitanin programme (page does not exist)">Mitanin programme</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=National_Rural_Health_Mission_in_Chhattisgarh&amp;action=edit&amp;redlink=1" title="National Rural Health Mission in Chhattisgarh (page does not exist)">National Rural
              Health Mission in Chhattisgarh</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=NREGA_in_Chhattisgarh&amp;action=edit&amp;redlink=1" title="NREGA in Chhattisgarh (page does not exist)">NREGA in Chhattisgarh</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Important_legislation">Important legislation</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh_Special_Public_Security_Act,_2005&amp;action=edit&amp;redlink=1" title="Chhattisgarh Special Public Security Act, 2005 (page does not exist)">Chhattisgarh
              Special Public Security Act, 2005</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Civil_society_in_Chhattisgarh">Civil society in Chhattisgarh</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Rupantar&amp;action=edit&amp;redlink=1" title="Rupantar (page does not exist)">Rupantar</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Vanavasi_Chetna_Ashram&amp;action=edit&amp;redlink=1" title="Vanavasi Chetna Ashram (page does not exist)">Vanavasi Chetna Ashram</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=People%27s_Union_for_Civil_Liberties" title="People's Union for Civil Liberties">People's Union for Civil Liberties</a></li>

            <li> <a class="external text" href="http://www.cgnet.in" rel="nofollow">CGnet.in</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Save_Binayak_Campaign&amp;action=edit&amp;redlink=1" title="Save Binayak Campaign (page does not exist)">Save Binayak Campaign</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Naxals_in_Chhattisgarh">Naxals in Chhattisgarh</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Communist_Party_of_India_(Maoist)&amp;action=edit&amp;redlink=1" title="Communist Party of India (Maoist) (page does not exist)">Communist Party of India (Maoist)</a>
            </li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Krantikari_Adivasi_Mahila_Sangathan&amp;action=edit&amp;redlink=1" title="Krantikari Adivasi Mahila Sangathan (page does not exist)">Krantikari Adivasi Mahila
              Sangathan</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Chetna_Natya_Manch&amp;action=edit&amp;redlink=1" title="Chetna Natya Manch (page does not exist)">Chetna Natya Manch</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Janatana_Sarkar&amp;action=edit&amp;redlink=1" title="Janatana Sarkar (page does not exist)">Janatana Sarkar</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Anti_naxal_operations">Anti naxal operations</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Operation_Green_Hunt&amp;action=edit&amp;redlink=1" title="Operation Green Hunt (page does not exist)">Operation Green Hunt</a></li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Central_Reserve_Police_Force&amp;action=edit&amp;redlink=1" title="Central Reserve Police Force (page does not exist)">Central Reserve Police Force</a> (CRPF)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Commando_Battalion_for_Resolute_Action&amp;action=edit&amp;redlink=1" title="Commando Battalion for Resolute Action (page does not exist)">Commando Battalion for
              Resolute Action</a> (COBRA)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Indo_Tibetan_Border_Police&amp;action=edit&amp;redlink=1" title="Indo Tibetan Border Police (page does not exist)">Indo Tibetan Border Police</a> (ITBP)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Seema_Sahastra_Bal&amp;action=edit&amp;redlink=1" title="Seema Sahastra Bal (page does not exist)">Seema Sahastra Bal</a> (SSB)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Naga_Battalion&amp;action=edit&amp;redlink=1" title="Naga Battalion (page does not exist)">Naga Battalion</a></li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Salwa_Julum&amp;action=edit&amp;redlink=1" title="Salwa Julum (page does not exist)">Salwa Julum</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Special_Police_Officers&amp;action=edit&amp;redlink=1" title="Special Police Officers (page does not exist)">Special Police Officers</a></li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Counter_Terrorism_and_Jungle_Warfare_College&amp;action=edit&amp;redlink=1" title="Counter Terrorism and Jungle Warfare College (page does not exist)">Counter
              Terrorism and Jungle Warfare College</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Dantewada_district">Dantewada district</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Dantewada_district&amp;action=edit&amp;redlink=1" title="Dantewada district (page does not exist)">Dantewada district</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=District_Collector&amp;action=edit&amp;redlink=1" title="District Collector (page does not exist)">District Collector</a> - <a class="new" href="/~commun26/wiki/index.php?title=Reena_Kangale&amp;action=edit&amp;redlink=1" title="Reena Kangale (page does not exist)">Reena Kangale</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Superintendent_of_Police&amp;action=edit&amp;redlink=1" title="Superintendent of Police (page does not exist)">Superintendent of Police</a> - <a class="new" href="/~commun26/wiki/index.php?title=Amresh_Mishra&amp;action=edit&amp;redlink=1" title="Amresh Mishra (page does not exist)">Amresh Mishra</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Deputy_Director_of_Health_Services&amp;action=edit&amp;redlink=1" title="Deputy Director of Health Services (page does not exist)">Deputy Director of Health
              Services</a></li>

            <li> District forestry officer</li>
          </ul>

          <h2> <span class="mw-headline" id="Films_on_the_conflict">Films on the conflict</span></h2>

          <ul>
            <li> When The State Declares War On The People (film) – Gopal Menon</li>

            <li> Tainted Brotherhood (film)</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Conflict_in_Chhattisgarh&amp;oldid=1696">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Conflict_in_Chhattisgarh&amp;oldid=1696</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>