<!--
title: Portal: Community health projects
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Community health projects</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Assam</b></p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Action_Northeast_Trust" title="Action Northeast Trust">Action Northeast Trust</a></li>
          </ul>

          <p><b>Tamil Nadu</b></p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a>, Sittilingi</li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ACCORD" title="ACCORD">ACCORD</a>, Gudalur</li>
          </ul>

          <p><b>Karnataka</b></p>

          <ul>
            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Hanur" title="Comprehensive Rural Health Project, Hanur">Comprehensive Rural Health Project, Hanur</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra" title="Vivekananda Girijana Kalyana Kendra">Vivekananda Girijana Kalyana Kendra</a>, B.R. Hills</li>

            <li> <a href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Youth_Movement" title="Swami Vivekananda Youth Movement">Swami Vivekananda Youth Movement</a>, H.D. Kotte</li>
          </ul>

          <p><b>Maharashtra</b></p>

          <ul>
            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=SEARCH" title="SEARCH">SEARCH</a>, Gadchiroli</li>

            <li> <a href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Jamkhed" title="Comprehensive Rural Health Project, Jamkhed">Comprehensive Rural Health Project, Jamkhed</a></li>
          </ul>

          <p><b>Chhatissgarh</b></p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a>, Bilaspur</li>

            <li> <a href="/~commun26/wiki/index.php?title=Shaheed_Hospital" title="Shaheed Hospital">Shaheed Hospital</a>, Dalli Rajhara</li>
          </ul>

          <p><br></br>
          </p>

          <p>See also <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects_of_historical_importance" title="Portal: Community health projects of historical importance">Portal: Community health projects of historical
            importance</a></p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external autonumber" href="https://maps.google.com/maps/ms?msid=205407262068793737225.0004d21c1317f84b80b22&amp;msa=0&amp;ll=20.591652,80.463867&amp;spn=23.58847,39.506836" rel="nofollow">[1]</a> - Map of
              Community health projects</li>
          </ul>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Community_health_projects&amp;oldid=1861">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Community_health_projects&amp;oldid=1861</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>