<!--
title: Portal: Global health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Global health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>South Asia</b></p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Bangladesh" title="Bangladesh">Bangladesh</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Bhutan" title="Bhutan">Bhutan</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=China" title="China">China</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Myanmar" title="Myanmar">Myanmar</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Nepal" title="Nepal">Nepal</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Sri_Lanka" title="Sri Lanka">Sri Lanka</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Global_health&amp;oldid=1397">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Global_health&amp;oldid=1397</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Global_health" title="Category:Global health">Global health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>