<!--
title: Portal: Reading about community health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Reading about community health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HFAbooks.JPG"><img alt="" class="thumbimage" height="225" src="/~commun26/wiki/images/thumb/a/ab/HFAbooks.JPG/300px-HFAbooks.JPG" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HFAbooks.JPG" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Read about <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Global_health&amp;action=edit&amp;redlink=1" title="Global health (page does not exist)">global health</a>.</div>
            </div>
          </div>

          <p><br></br>
          </p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Top_10_lists"><span class="tocnumber">1</span> <span class="toctext">Top 10 lists</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-2"><a href="#10_must_read_books_on_community_health_in_India"><span class="tocnumber">1.1</span> <span class="toctext">10 must read books on community health in India</span></a></li>

                        <li class="toclevel-2 tocsection-3"><a href="#10_must_read_books_on_the_global_context_of_community_health"><span class="tocnumber">1.2</span> <span class="toctext">10 must read books on the global context of
                          community health</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-4"><a href="#More_books_on_community_health_and_Health_For_All_in_India"><span class="tocnumber">2</span> <span class="toctext">More books on community health and Health For All in
                      India</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Websites"><span class="tocnumber">3</span> <span class="toctext">Websites</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Magazines_and_newsletters"><span class="tocnumber">4</span> <span class="toctext">Magazines and newsletters</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#Journals"><span class="tocnumber">5</span> <span class="toctext">Journals</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#Charters_and_Declarations"><span class="tocnumber">6</span> <span class="toctext">Charters and Declarations</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#Important_reports_on_health_in_India"><span class="tocnumber">7</span> <span class="toctext">Important reports on health in India</span></a></li>

                    <li class="toclevel-1 tocsection-10"><a href="#Manuals_and_textbooks"><span class="tocnumber">8</span> <span class="toctext">Manuals and textbooks</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Top_10_lists">Top 10 lists</span></h2>

          <h3> <span class="mw-headline" id="10_must_read_books_on_community_health_in_India">10 must read books on community health in India</span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_A_People%27s_Health_Resource_Book" title="Health For All Now! A People's Health Resource Book">Health For All Now! A People's Health Resource Book</a>, a
              compilation of 5 booklets prepared for the <a class="new" href="/~commun26/wiki/index.php?title=First_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="First National Health Assembly (page does not exist)">First
              National Health Assembly</a> of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> in December 2000.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Report_of_the_Independent_Commission_on_Health_in_India" title="Report of the Independent Commission on Health in India">Report of the Independent Commission on Health in India</a> (1997) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=VHAI" title="VHAI">VHAI</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Jamkhed" title="Jamkhed">Jamkhed</a> (1994) by <a class="new" href="/~commun26/wiki/index.php?title=Rajnikant_Arole&amp;action=edit&amp;redlink=1" title="Rajnikant Arole (page does not exist)">Rajnikant Arole</a> and <a class="new" href="/~commun26/wiki/index.php?title=Mabel_Arole&amp;action=edit&amp;redlink=1" title="Mabel Arole (page does not exist)">Mabel Arole</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Reaching_India%27s_Poor:_Non-governmental_Approaches_to_Community_Health" title="Reaching India's Poor: Non-governmental Approaches to Community Health">Reaching India's Poor:
              Non-governmental Approaches to Community Health</a> (1994) by <a class="new" href="/~commun26/wiki/index.php?title=Saroj_Pachauri&amp;action=edit&amp;redlink=1" title="Saroj Pachauri (page does not exist)">Saroj Pachauri</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=People%27s_Health_in_People%27s_Hands" title="People's Health in People's Hands">People's Health in People's Hands</a> (1993) by <a class="new" href="/~commun26/wiki/index.php?title=N.H._Antia&amp;action=edit&amp;redlink=1" title="N.H. Antia (page does not exist)">N.H. Antia</a> and <a class="new" href="/~commun26/wiki/index.php?title=Kavita_Bhatia&amp;action=edit&amp;redlink=1" title="Kavita Bhatia (page does not exist)">Kavita Bhatia</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Taking_Sides:_The_Choices_Before_The_Health_Worker" title="Taking Sides: The Choices Before The Health Worker">Taking Sides: The Choices Before The Health Worker</a> (1986) by <a href="/~commun26/wiki/index.php?title=C._Sathyamala" title="C. Sathyamala">C. Sathyamala</a>, <a class="new" href="/~commun26/wiki/index.php?title=Nirmala_Sundharam&amp;action=edit&amp;redlink=1" title="Nirmala Sundharam (page does not exist)">Nirmala Sundharam </a> and <a class="new" href="/~commun26/wiki/index.php?title=Nalini_Bhanot&amp;action=edit&amp;redlink=1" title="Nalini Bhanot (page does not exist)">Nalini Bhanot</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change" title="Rakku's Story: Structures of Ill-Health and the Source of Change">Rakku's Story: Structures of
              Ill-Health and the Source of Change</a> (1984) by <a class="new" href="/~commun26/wiki/index.php?title=Sheila_Zurbrigg&amp;action=edit&amp;redlink=1" title="Sheila Zurbrigg (page does not exist)">Sheila Zurbrigg</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Poverty,_Class_And_Health_Culture" title="Poverty, Class And Health Culture">Poverty, Class And Health Culture</a> (1982) by <a class="new" href="/~commun26/wiki/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1" title="Debabar Banerji (page does not exist)">Debabar Banerji</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All:_An_Alternative_Strategy" title="Health For All: An Alternative Strategy">Health For All: An Alternative Strategy</a> (1981) - A report by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICSSR" title="ICSSR">ICSSR</a> and <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Health_Care" title="Alternative Approaches To Health Care">Alternative Approaches To Health Care</a> (1976) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a>.</li>
          </ul>

          <h3> <span class="mw-headline" id="10_must_read_books_on_the_global_context_of_community_health">10 must read books on the global context of community health</span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Pathologies_of_Power" title="Pathologies of Power">Pathologies of Power</a> (2003) by Paul Farmer.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Just_and_Lasting_Change" title="Just and Lasting Change">Just and Lasting Change</a> (2002) by Daniel Taylor-Ide and Carl Taylor.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a> publications by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=PHM" title="PHM">PHM</a>,
              MedAct and GEGA.</li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Questioning_the_Solution" title="Questioning the Solution">Questioning the Solution</a> (1997) by David Werner and David Sanders.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a> and <a class="new" href="/~commun26/wiki/index.php?title=Helping_Health_Workers_Learn&amp;action=edit&amp;redlink=1" title="Helping Health Workers Learn (page does not exist)">Helping Health Workers Learn</a> by David Werner.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Practising_Health_For_All" title="Practising Health For All">Practising Health For All</a> (1983) by David Morley, Jon Rhode and Glen Williams.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Rural_Development:_Putting_The_Last_First" title="Rural Development: Putting The Last First">Rural Development: Putting The Last First</a> (1983) by Robert Chambers.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Medical_Nemesis:_The_Expropriation_of_Health" title="Medical Nemesis: The Expropriation of Health">Medical Nemesis: The Expropriation of Health</a> (1976) by Ivan Illich.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Health_By_The_People" title="Health By The People">Health By The People</a> (1975) by Kenneth Newell.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Alternative_Approaches_To_Meeting_Basic_Health_Needs_In_Developing_Countries" title="Alternative Approaches To Meeting Basic Health Needs In Developing Countries">Alternative
              Approaches To Meeting Basic Health Needs In Developing Countries</a> (1975) by V. Djukanovic and E.P. Mach, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>.</li>
          </ul>

          <h2> <span class="mw-headline" id="More_books_on_community_health_and_Health_For_All_in_India">More books on community health and Health For All in India</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Health_For_All_Now!_Revive_Alma_Ata" title="Health For All Now! Revive Alma Ata">Health For All Now! Revive Alma Ata</a> (2003) edited by <a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a> and <a class="new" href="/~commun26/wiki/index.php?title=P.V._Unnikrishnan&amp;action=edit&amp;redlink=1" title="P.V. Unnikrishnan (page does not exist)">P.V. Unnikrishnan</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets" title="Second National Health Assembly booklets">Second National Health Assembly booklets</a> compiled for the <a class="new" href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="Second National Health Assembly (page does not exist)">Second National Health Assembly</a> in March 2007.</li>

            <li> <a href="/~commun26/wiki/index.php?title=State_of_India%27s_Health" title="State of India's Health">State of India's Health</a> (1992) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=VHAI" title="VHAI">VHAI</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Medical_Education_Re-Examined" title="Medical Education Re-Examined">Medical Education Re-Examined</a> (1991) by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=An_Analysis_of_Health_Policies_and_Programmes_in_India_in_the_Eighties" title="An Analysis of Health Policies and Programmes in India in the Eighties">An Analysis of Health
              Policies and Programmes in India in the Eighties</a> (1990) by <a class="new" href="/~commun26/wiki/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1" title="Debabar Banerji (page does not exist)">Debabar
              Banerji</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Participation_in_Health_and_Family_Welfare:_Innovative_Experiences_In_India" title="Community Participation in Health and Family Welfare: Innovative Experiences In India">Community Participation in Health and Family Welfare: Innovative Experiences In India</a> (1990) by <a class="new" href="/~commun26/wiki/index.php?title=Ashok_Sahni&amp;action=edit&amp;redlink=1" title="Ashok Sahni (page does not exist)">Ashok Sahni</a> and <a class="new" href="/~commun26/wiki/index.php?title=Sudha_Xirasagar&amp;action=edit&amp;redlink=1" title="Sudha Xirasagar (page does not exist)">Sudha
              Xirasagar</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=The_Politics_of_Health_in_India" title="The Politics of Health in India">The Politics of Health in India</a> (1988) by Roger Jeffery.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Under_The_Lens:_Health_and_Medicine" title="Under The Lens: Health and Medicine">Under The Lens: Health and Medicine</a> (1986) by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Social_Sciences_and_Health_Service_Development_in_India" title="Social Sciences and Health Service Development in India">Social Sciences and Health Service Development in India</a> (1986) by <a class="new" href="/~commun26/wiki/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1" title="Debabar Banerji (page does not exist)">Debabar Banerji</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Health_and_Family_Planning_Services_in_India" title="Health and Family Planning Services in India">Health and Family Planning Services in India</a> (1985) by <a class="new" href="/~commun26/wiki/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1" title="Debabar Banerji (page does not exist)">Debabar Banerji</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Health_Care:_Which_Way_To_Go%3F" title="Health Care: Which Way To Go?">Health Care: Which Way To Go?</a> (1983) by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Learning_From_The_Rural_Poor" title="Learning From The Rural Poor">Learning From The Rural Poor</a> (1982) by <a class="new" href="/~commun26/wiki/index.php?title=Henry_Volken&amp;action=edit&amp;redlink=1" title="Henry Volken (page does not exist)">Henry Volken</a>, <a class="new" href="/~commun26/wiki/index.php?title=Ajoy_Kumar&amp;action=edit&amp;redlink=1" title="Ajoy Kumar (page does not exist)">Ajoy Kumar</a> and <a class="new" href="/~commun26/wiki/index.php?title=Sara_Kaithathara&amp;action=edit&amp;redlink=1" title="Sara Kaithathara (page does not exist)">Sara Kaithathara</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Appropriate_Technology_For_Primary_Health_Care" title="Appropriate Technology For Primary Health Care">Appropriate Technology For Primary Health Care</a> (1981) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Evaluation_Of_Primary_Health_Care_Programmes" title="Evaluation Of Primary Health Care Programmes">Evaluation Of Primary Health Care Programmes</a> (1980) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Moving_Closer_To_The_Rural_Poor" title="Moving Closer To The Rural Poor">Moving Closer To The Rural Poor</a> (1979) by <a class="new" href="/~commun26/wiki/index.php?title=Mobile_Orientation_and_Training_Team&amp;action=edit&amp;redlink=1" title="Mobile Orientation and Training Team (page does not exist)">Mobile Orientation and Training Team</a>.</li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=In_Search_of_a_Diagnosis" title="In Search of a Diagnosis">In Search of a Diagnosis</a> (1977) by <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>.</li>
          </ul>

          <h2> <span class="mw-headline" id="Websites">Websites</span></h2>

          <ul>
            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Communityhealth.in" title="Communityhealth.in">communityhealth.in</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Phmovement.org" title="Phmovement.org">phmovement.org</a> - Global <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's
              Health Movement</a> website. Also includes webpages on the <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health
              University</a>, the <a class="new" href="/~commun26/wiki/index.php?title=First_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="First People's Health Assembly (page does not exist)">First People's Health
              Assembly</a> and the <a class="new" href="/~commun26/wiki/index.php?title=Second_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="Second People's Health Assembly (page does not exist)">Second People's Health
              Assembly</a>.</li>

            <li> <a class="external text" href="http://www.phm-india.org" rel="nofollow">phm-india.org</a> - <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> website.
            </li>

            <li> <a class="external text" href="http://www.who.int" rel="nofollow">who.int</a> - <a href="/~commun26/wiki/index.php?title=World_Health_Organisation" title="World Health Organisation">World Health Organisation</a>
              website.</li>

            <li> <a class="external text" href="http://www.infochangeindia.org/Health" rel="nofollow">infochangeindia.org/Health</a> - InfoChange Health portal.</li>

            <li> <a class="external text" href="http://www.indiatogether.org/health" rel="nofollow">indiatogether.org/health</a> - IndiaTogether Health portal.</li>

            <li> <a class="external text" href="http://www.politicsofhealth.org" rel="nofollow">politicsofhealth.org</a> - <a class="new" href="/~commun26/wiki/index.php?title=Politics_of_Health_Knowledge_Network&amp;action=edit&amp;redlink=1" title="Politics of Health Knowledge Network (page does not exist)">Politics of Health Knowledge Network</a> website.</li>

            <li> <a class="external text" href="http://www.twnside.org.sg" rel="nofollow">twnside.org.sg</a> - <a class="new" href="/~commun26/wiki/index.php?title=Third_World_Network&amp;action=edit&amp;redlink=1" title="Third World Network (page does not exist)">Third World Network</a> website.</li>

            <li> <a class="external text" href="http://www.gapminder.org" rel="nofollow">gapminder.org</a> - Unveiling the beauty of statistics for a fact based world view.</li>

            <li> <a class="external text" href="http://www.rehydrate.org" rel="nofollow">rehydrate.org</a> - Website on oral rehydration therapy.</li>
          </ul>

          <h2> <span class="mw-headline" id="Magazines_and_newsletters">Magazines and newsletters</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Health_Action" title="Health Action">Health Action</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Health_For_The_Millions" title="Health For The Millions">Health For The Millions</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=NRHM_Newsletter" title="NRHM Newsletter">NRHM Newsletter</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=COPASAH-COMMUNIQU%C3%89" title="COPASAH-COMMUNIQUÉ">COPASAH-COMMUNIQUÉ</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Journals">Journals</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Medical_Ethics" title="Indian Journal of Medical Ethics">Indian Journal of Medical Ethics</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Community_Medicine" title="Indian Journal of Community Medicine">Indian Journal of Community Medicine</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Public_Health" title="Indian Journal of Public Health">Indian Journal of Public Health</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Journal_of_Occupational_and_Environmental_Medicine" title="Indian Journal of Occupational and Environmental Medicine">Indian Journal of Occupational and Environmental
              Medicine</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a> bulletin</li>

            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_Journal_of_India" title="Christian Medical Journal of India">Christian Medical Journal of India</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Economic_and_Political_Weekly" title="Economic and Political Weekly">Economic and Political Weekly</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Charters_and_Declarations">Charters and Declarations</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Cuenca_Declaration_(2005)" title="Cuenca Declaration (2005)">Cuenca Declaration (2005)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Mumbai_Declaration_(2004)" title="Mumbai Declaration (2004)">Mumbai Declaration (2004)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=People%E2%80%99s_Charter_for_Health_(2000)" title="People’s Charter for Health (2000)">People’s Charter for Health (2000)</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_People%27s_Health_Charter_(2000)" title="Indian People's Health Charter (2000)">Indian People's Health Charter (2000)</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Declaration_of_Alma_Ata_(1978)&amp;action=edit&amp;redlink=1" title="Declaration of Alma Ata (1978) (page does not exist)">Declaration of Alma Ata (1978)</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Important_reports_on_health_in_India">Important reports on health in India</span></h2>

          <ul>
            <li> Report of the <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Bhore_Committee" title="Bhore Committee">Bhore Committee</a> (1946)</li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Primary_Health_Care:_Report_of_the_International_Conference_on_Primary_Health_Care,_Alma_Ata,_USSR,_6-12_September,_1978&amp;action=edit&amp;redlink=1" title="Primary Health Care: Report of the International Conference on Primary Health Care, Alma Ata, USSR, 6-12 September, 1978 (page does not exist)">Primary Health Care: Report of the International Conference on Primary
              Health Care, Alma Ata, USSR, 6-12 September, 1978</a></li>
          </ul>

          <p>For a complete list of important government reports on health in India visit <a href="/~commun26/wiki/index.php?title=Portal:_Health_Committee_and_Commission_Reports" title="Portal: Health Committee and Commission Reports">Portal: Health Committee and Commission Reports</a>.</p>

          <h2> <span class="mw-headline" id="Manuals_and_textbooks">Manuals and textbooks</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Park%27s_Textbook_of_Preventive_and_Social_Medicine" title="Park's Textbook of Preventive and Social Medicine">Park's Textbook of Preventive and Social Medicine</a> by <a class="new" href="/~commun26/wiki/index.php?title=K._Park&amp;action=edit&amp;redlink=1" title="K. Park (page does not exist)">K. Park</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Where_There_Is_No_Doctor" title="Where There Is No Doctor">Where There Is No Doctor</a> and <a class="new" href="/~commun26/wiki/index.php?title=Helping_Health_Workers_Learn&amp;action=edit&amp;redlink=1" title="Helping Health Workers Learn (page does not exist)">Helping Health Workers Learn</a> by David Werner.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Global_Health:_An_Introductory_Textbook" title="Global Health: An Introductory Textbook">Global Health: An Introductory Textbook</a> by Hans Rosling et.al.</li>

            <li> <a href="/~commun26/wiki/index.php?title=People%27s_Initiatives_in_Primary_Health_Care" title="People's Initiatives in Primary Health Care">People's Initiatives in Primary Health Care</a> by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Bharat_Gyan_Vigyan_Samithi" title="Bharat Gyan Vigyan Samithi">Bharat Gyan Vigyan Samithi</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Joyful_Learning_Series" title="Joyful Learning Series">Joyful Learning Series</a> (1996) by Uma.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Fiona:_A_Manual_For_The_Managers_Of_Community_Based_Primary_Health_Care_Projects" title="Fiona: A Manual For The Managers Of Community Based Primary Health Care Projects">Fiona: A
              Manual For The Managers Of Community Based Primary Health Care Projects</a> by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=CMAI" title="CMAI">CMAI</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=Manual_For_Community_Health_Workers" title="Manual For Community Health Workers">Manual For Community Health Workers</a> (1977) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=MOHFW" title="MOHFW">MOHFW</a>.</li>

            <li> <a href="/~commun26/wiki/index.php?title=The_Primary_Health_Worker" title="The Primary Health Worker">The Primary Health Worker</a> (1980) by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=WHO" title="WHO">WHO</a>.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health&amp;oldid=2105">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health&amp;oldid=2105</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>