<!--
title: Portal: History of community health and public health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: History of community health and public health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <h2> <span class="mw-headline" id="Timelines">Timelines</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=1700_-_1799_timeline" title="1700 - 1799 timeline">1700 - 1799 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1800_-_1899_timeline" title="1800 - 1899 timeline">1800 - 1899 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1900_-_1909_timeline" title="1900 - 1909 timeline">1900 - 1909 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1910_-_1919_timeline" title="1910 - 1919 timeline">1910 - 1919 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1920_-_1929_timeline" title="1920 - 1929 timeline">1920 - 1929 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1930_-_1939_timeline" title="1930 - 1939 timeline">1930 - 1939 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1940_-_1949_timeline" title="1940 - 1949 timeline">1940 - 1949 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1950_-_1959_timeline" title="1950 - 1959 timeline">1950 - 1959 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1960_-_1969_timeline" title="1960 - 1969 timeline">1960 - 1969 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1970_-_1979_timeline" title="1970 - 1979 timeline">1970 - 1979 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1980_-_1989_timeline" title="1980 - 1989 timeline">1980 - 1989 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=1990_-_1999_timeline" title="1990 - 1999 timeline">1990 - 1999 timeline</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=2000_-_2009_timeline" title="2000 - 2009 timeline">2000 - 2009 timeline</a></li>
          </ul>

          <p><br></br>
            See also <a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects_of_historical_importance" title="Portal: Community health projects of historical importance">Portal: Community health projects of historical
            importance</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_History_of_community_health_and_public_health&amp;oldid=1250">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_History_of_community_health_and_public_health&amp;oldid=1250</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:History" title="Category:History">History</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>