<!--
title: Portal: Language and culture in the clinic
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Language and culture in the clinic</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Clinical practice in India is almost always situated in a multi-lingual, multi-cultural environment. In the larger cities it is not unusual for a doctor to encounter patients speaking 5-6 different languages within a single
            day. This portal aims to list resources that help health workers navigate the variety of languages and cultures they encounter in their clinics.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Kannada_resources"><span class="tocnumber">1</span> <span class="toctext">Kannada resources</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Tamil_resources"><span class="tocnumber">2</span> <span class="toctext">Tamil resources</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Punjabi_resources"><span class="tocnumber">3</span> <span class="toctext">Punjabi resources</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Anthropologists_and_sociologists_working_on_health_related_issues_in_India"><span class="tocnumber">4</span> <span class="toctext">Anthropologists and sociologists
                      working on health related issues in India</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Kannada_resources"> Kannada resources</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.kannadakasturi.com/kasturitech/start.asp?groupid=14" rel="nofollow">www.kannadakasturi.com/kasturitech/start.asp?groupid=14</a> - Online English to Kannada medical dictionary.</li>
          </ul>

          <h2> <span class="mw-headline" id="Tamil_resources"> Tamil resources </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.jipmer.edu/tamil-bk.PDF" rel="nofollow">www.jipmer.edu/tamil-bk.PDF</a> - English - Tamil Medical Phrasebook created by students of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=JIPMER" title="JIPMER">JIPMER</a>.</li>
          </ul>

          <ul>
            <li> <a class="external free" href="http://www.lexicool.com/online-dictionary.asp?FSP=A31C25" rel="nofollow">http://www.lexicool.com/online-dictionary.asp?FSP=A31C25</a> - List of glossaries of Tamil words needed in
              different health specialities.</li>
          </ul>

          <ul>
            <li> <a class="external text" href="http://www.treathivglobally.ca/glossary/glossary.asp?FirstLanguageID=8" rel="nofollow">www.treathivglobally.ca/glossary/glossary.asp?FirstLanguageID=8</a> - Glossary of English and Tamil
              terms commonly used in the field of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=HIV-AIDS" title="HIV-AIDS">HIV-AIDS</a>.</li>
          </ul>

          <h2> <span class="mw-headline" id="Punjabi_resources"> Punjabi resources </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.treathivglobally.ca/glossary/glossary.asp?FirstLanguageID=5" rel="nofollow">www.treathivglobally.ca/glossary/glossary.asp?FirstLanguageID=5</a> - Glossary of English and Punjabi
              terms commonly used in the field of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=HIV-AIDS" title="HIV-AIDS">HIV-AIDS</a>.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Anthropologists_and_sociologists_working_on_health_related_issues_in_India">Anthropologists and sociologists working on health related issues in India</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Cecilia_Van_Hollen&amp;action=edit&amp;redlink=1" title="Cecilia Van Hollen (page does not exist)">Cecilia Van Hollen</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Harish_Naraindas&amp;action=edit&amp;redlink=1" title="Harish Naraindas (page does not exist)">Harish Naraindas</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Sarah_Hodges" title="Sarah Hodges">Sarah Hodges</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Helen_Lambert" title="Helen Lambert">Helen Lambert</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Language_and_culture_in_the_clinic&amp;oldid=1461">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Language_and_culture_in_the_clinic&amp;oldid=1461</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>