<!--
title: Portal: Environmental health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Environmental health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Organisations working with environmental health issues</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Thanal" title="Thanal">Thanal</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health" title="National Institute of Occupational Health">National Institute of Occupational Health</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Environment_Support_Group" title="Environment Support Group">Environment Support Group</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Environmental_health&amp;oldid=1238">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Environmental_health&amp;oldid=1238</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Environmental_health" title="Category:Environmental health">Environmental health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>