<!--
title: Portal: Direct Action
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Direct Action</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Direct Action portal</b> lists suggestions for political action for <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> that can be undertaken quickly and immediately.
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Endorse_the_People.27s_Charter_for_Health">Endorse the People's Charter for Health</span></h2>

          <p>The <a class="new" href="/~commun26/wiki/index.php?title=People%27s_Charter_for_Health_(2000)&amp;action=edit&amp;redlink=1" title="People's Charter for Health (2000) (page does not exist)">People's Charter for Health
            (2000)</a> is the largest consensus document on Health For All currently. It was formulated and endorsed by the participants of the <a class="new" href="/~commun26/wiki/index.php?title=First_People%27s_Health_Assembly&amp;action=edit&amp;redlink=1" title="First People's Health Assembly (page does not exist)">First People's Health Assembly</a> held at Dhaka, Bangladesh
            in December <a class="new" href="/~commun26/wiki/index.php?title=2000&amp;action=edit&amp;redlink=1" title="2000 (page does not exist)">2000</a>. You can endorse the charter individually or on behalf of your organisation at
            <a class="external free" href="http://www.phmovement.org/cms/en/resources/charters/peopleshealth" rel="nofollow">http://www.phmovement.org/cms/en/resources/charters/peopleshealth</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Endorse_the_Declaration_of_Solidarity_for_a_Unified_Movement_for_the_Right_to_Health">Endorse the Declaration of Solidarity for a Unified Movement for the Right to Health</span></h2>

          <p>Endorse the Declaration of Solidarity for a Unified Movement for the Right to Health at <a class="external free" href="http://act.pih.org/page/s/declaration" rel="nofollow">http://act.pih.org/page/s/declaration</a></p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Direct_Action&amp;oldid=1456">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Direct_Action&amp;oldid=1456</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>