<!--
title: Portal: Biographies
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Biographies</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>This a portal for community health activists and professionals who have passed on. Their stories form an integral part of the greater story of <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> in India.</p>

          <p><br></br>
          </p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Noshir_Antia" title="Noshir Antia">Noshir Antia</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=C.M._Francis&amp;action=edit&amp;redlink=1" title="C.M. Francis (page does not exist)">C.M. Francis</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Ravi_Kapur&amp;action=edit&amp;redlink=1" title="Ravi Kapur (page does not exist)">Ravi Kapur</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=V._Benjamin&amp;action=edit&amp;redlink=1" title="V. Benjamin (page does not exist)">V. Benjamin</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Mabel_Arole&amp;action=edit&amp;redlink=1" title="Mabel Arole (page does not exist)">Mabel Arole</a></li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Carl_Taylor" title="Carl Taylor">Carl Taylor</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Vulimuri_Ramalingaswami" title="Vulimuri Ramalingaswami">Vulimuri Ramalingaswami</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=J.C._Bhore&amp;action=edit&amp;redlink=1" title="J.C. Bhore (page does not exist)">J.C. Bhore</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Biographies&amp;oldid=1459">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Biographies&amp;oldid=1459</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>