<!--
title: Portal: Postgraduate education in community health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Postgraduate education in community health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#MD_Social_and_Preventive_Medicine_.2F_Community_Medicine"><span class="tocnumber">1</span> <span class="toctext">MD Social and Preventive Medicine / Community
                      Medicine</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Masters_in_Public_Health_.28MPH.29_in_India"><span class="tocnumber">2</span> <span class="toctext">Masters in Public Health (MPH) in India</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#PhD_programmes"><span class="tocnumber">3</span> <span class="toctext">PhD programmes</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Other_programmes"><span class="tocnumber">4</span> <span class="toctext">Other programmes</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-5"><a href="#BSc_in_Public_Health_Management"><span class="tocnumber">4.1</span> <span class="toctext">BSc in Public Health Management</span></a></li>

                        <li class="toclevel-2 tocsection-6"><a href="#MD_Community_Health_Administration"><span class="tocnumber">4.2</span> <span class="toctext">MD Community Health Administration</span></a></li>

                        <li class="toclevel-2 tocsection-7"><a href="#Masters_in_Community_Health"><span class="tocnumber">4.3</span> <span class="toctext">Masters in Community Health</span></a></li>

                        <li class="toclevel-2 tocsection-8"><a href="#Masters_in_Health_Administration"><span class="tocnumber">4.4</span> <span class="toctext">Masters in Health Administration</span></a></li>

                        <li class="toclevel-2 tocsection-9"><a href="#Masters_in_Epidemiology"><span class="tocnumber">4.5</span> <span class="toctext">Masters in Epidemiology</span></a></li>

                        <li class="toclevel-2 tocsection-10"><a href="#Masters_in_Applied_Epidemiology"><span class="tocnumber">4.6</span> <span class="toctext">Masters in Applied Epidemiology</span></a></li>

                        <li class="toclevel-2 tocsection-11"><a href="#Masters_in_Applied_Nutrition"><span class="tocnumber">4.7</span> <span class="toctext">Masters in Applied Nutrition</span></a></li>

                        <li class="toclevel-2 tocsection-12"><a href="#Post_Graduate_Diploma_in_Public_Health_Management"><span class="tocnumber">4.8</span> <span class="toctext">Post Graduate Diploma in Public Health Management</span></a></li>

                        <li class="toclevel-2 tocsection-13"><a href="#Post_Graduate_Diploma_in_Health_Economics.2C_Health_Care_Financing_and_Health_Policy"><span class="tocnumber">4.9</span> <span class="toctext">Post Graduate
                          Diploma in Health Economics, Health Care Financing and Health Policy</span></a></li>

                        <li class="toclevel-2 tocsection-14"><a href="#Post_Graduate_Diploma_in_Biostatistics_and_Data_Management"><span class="tocnumber">4.10</span> <span class="toctext">Post Graduate Diploma in Biostatistics and
                          Data Management</span></a></li>

                        <li class="toclevel-2 tocsection-15"><a href="#Post_Graduate_Diploma_in_District_Health_Management"><span class="tocnumber">4.11</span> <span class="toctext">Post Graduate Diploma in District Health
                          Management</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-16"><a href="#Public_health_and_community_health_education_abroad"><span class="tocnumber">5</span> <span class="toctext">Public health and community health education abroad</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-17"><a href="#Masters_programmes_in_public_health"><span class="tocnumber">5.1</span> <span class="toctext">Masters programmes in public health</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-18"><a href="#Scholarships"><span class="tocnumber">6</span> <span class="toctext">Scholarships</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-19"><a href="#Scholarships_for_studying_in_UK"><span class="tocnumber">6.1</span> <span class="toctext">Scholarships for studying in UK</span></a></li>

                        <li class="toclevel-2 tocsection-20"><a href="#Scholarships_for_studying_in_USA"><span class="tocnumber">6.2</span> <span class="toctext">Scholarships for studying in USA</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="MD_Social_and_Preventive_Medicine_.2F_Community_Medicine">MD Social and Preventive Medicine / Community Medicine</span></h2>

          <p>MD Social and Preventive Medicine / Community Medicine is a three year programme available for those who have completed their MBBS studies. It is offered in over 130 medical colleges in India as an option for post graduate
            studies. Some of the reputed programmes are:</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a>, New Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=St._John%27s_Medical_College" title="St. John's Medical College">St. John's Medical College</a>, Bangalore</li>

            <li> <a href="/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences" title="Mahatma Gandhi Institute of Medical Sciences">Mahatma Gandhi Institute of Medical Sciences</a>, Sevagram, Wardha</li>

            <li> <a href="/~commun26/wiki/index.php?title=Jawaharlal_Institute_of_Post-Graduate_Medical_Education_and_Research" title="Jawaharlal Institute of Post-Graduate Medical Education and Research">Jawaharlal Institute of
              Post-Graduate Medical Education and Research</a>, Puducherry</li>

            <li> <a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research" title="Post Graduate Institute of Medical Education and Research">Post Graduate Institute of Medical Education and
              Research</a>, Chandigarh</li>

            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Ludhiana" title="Christian Medical College, Ludhiana">Christian Medical College, Ludhiana</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Institute_of_Medical_Sciences,_Banaras_Hindu_University" title="Institute of Medical Sciences, Banaras Hindu University">Institute of Medical Sciences, Banaras Hindu University</a>, Varanasi</li>

            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a>, Kolkata</li>
          </ul>

          <p>For a complete list of institutions offering MD Social and Preventive Medicine / Community Medicine courses visit <a class="external text" href="http://www.mciindia.org" rel="nofollow">www.mciindia.org</a>.</p>

          <h2> <span class="mw-headline" id="Masters_in_Public_Health_.28MPH.29_in_India"> Masters in Public Health (MPH) in India </span></h2>

          <p>The Masters in Public Health (MPH) programme is a two year programme available to graduates in medicine, AYUSH, physiotherapy, nursing, pharmacy, nutrition, life sciences and social sciences. The programmes are relatively new
            with the first one starting in 1997.</p>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Achutha_Menon_Centre_for_Health_Science_Studies" title="Achutha Menon Centre for Health Science Studies">Achutha Menon Centre for Health Science Studies</a>, Sree Chitra Tirunal
              Institute for Medical Sciences &amp; Technology, Tiruvananthapuram</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Epidemiology" title="National Institute of Epidemiology">National Institute of Epidemiology</a>, Chennai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Communicable_Diseases" title="National Institute of Communicable Diseases">National Institute of Communicable Diseases</a>, New Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a>, Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Interdisciplinary_School_of_Health_Sciences" title="Interdisciplinary School of Health Sciences">Interdisciplinary School of Health Sciences</a>, Pune</li>

            <li> <a href="/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research" title="Post Graduate Institute of Medical Education and Research">Post Graduate Institute of Medical Education and
              Research</a>, Chandigarh</li>

            <li> <a href="/~commun26/wiki/index.php?title=Institute_of_Public_Health,_KLE_University" title="Institute of Public Health, KLE University">Institute of Public Health, KLE University</a>, Belgaum</li>

            <li> <a href="/~commun26/wiki/index.php?title=School_of_Public_Health,_SRM_University" title="School of Public Health, SRM University">School of Public Health, SRM University</a>, Kanchipuram</li>

            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a>, Kolkata</li>

            <li> <a href="/~commun26/wiki/index.php?title=Birla_Institute_of_Technology_and_Sciences" title="Birla Institute of Technology and Sciences">Birla Institute of Technology and Sciences</a>, Pilani</li>

            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>

            <li> Allahabad Agricultural University, Allahabad</li>

            <li> Annamalai University</li>

            <li> MGR University, Chennai</li>

            <li> Manipal University</li>
          </ul>

          <h2> <span class="mw-headline" id="PhD_programmes"> PhD programmes </span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Achutha_Menon_Centre_for_Health_Science_Studies" title="Achutha Menon Centre for Health Science Studies">Achutha Menon Centre for Health Science Studies</a>, Sree Chitra Tirunal
              Institute for Medical Sciences &amp; Technology, Tiruvananthapuram</li>

            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a>, Kolkata</li>

            <li> <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a>, Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a>, Jawarharlal Nehru
              University, New Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=School_of_Public_Health,_SRM_University" title="School of Public Health, SRM University">School of Public Health, SRM University</a>, Kanchipuram</li>

            <li> Indian Institute of Technology, Chennai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Welfare" title="National Institute of Health and Family Welfare">National Institute of Health and Family Welfare</a>, New Delhi</li>
          </ul>

          <h2> <span class="mw-headline" id="Other_programmes"> Other programmes </span></h2>

          <h3> <span class="mw-headline" id="BSc_in_Public_Health_Management"> BSc in Public Health Management </span></h3>

          <ul>
            <li> Allahabad Agricultural University</li>
          </ul>

          <h3> <span class="mw-headline" id="MD_Community_Health_Administration"> MD Community Health Administration </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Welfare" title="National Institute of Health and Family Welfare">National Institute of Health and Family Welfare</a>, New Delhi</li>
          </ul>

          <h3> <span class="mw-headline" id="Masters_in_Community_Health"> Masters in Community Health </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a>, Jawarharlal Nehru
              University, New Delhi</li>
          </ul>

          <h3> <span class="mw-headline" id="Masters_in_Health_Administration"> Masters in Health Administration </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a>, Mumbai</li>

            <li> <a href="/~commun26/wiki/index.php?title=Institute_of_Health_Management_Research,_Jaipur" title="Institute of Health Management Research, Jaipur">Institute of Health Management Research, Jaipur</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a>, Kolkata</li>
          </ul>

          <h3> <span class="mw-headline" id="Masters_in_Epidemiology"> Masters in Epidemiology </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>

            <li> MGR University, Chennai</li>
          </ul>

          <h3> <span class="mw-headline" id="Masters_in_Applied_Epidemiology"> Masters in Applied Epidemiology </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Epidemiology" title="National Institute of Epidemiology">National Institute of Epidemiology</a>, Chennai</li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Communicable_Diseases" title="National Institute of Communicable Diseases">National Institute of Communicable Diseases</a>, New Delhi</li>
          </ul>

          <h3> <span class="mw-headline" id="Masters_in_Applied_Nutrition"> Masters in Applied Nutrition </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a>, Hyderabad</li>
          </ul>

          <h3> <span class="mw-headline" id="Post_Graduate_Diploma_in_Public_Health_Management"> Post Graduate Diploma in Public Health Management </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Delhi" title="Indian Institute of Public Health, Delhi">Indian Institute of Public Health, Delhi</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Gandhinagar" title="Indian Institute of Public Health, Gandhinagar">Indian Institute of Public Health, Gandhinagar</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Hyderabad" title="Indian Institute of Public Health, Hyderabad">Indian Institute of Public Health, Hyderabad</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=National_Institute_of_Health_and_Family_Welfare" title="National Institute of Health and Family Welfare">National Institute of Health and Family Welfare</a>, New Delhi</li>

            <li> <a href="/~commun26/wiki/index.php?title=Mahatma_Gandhi_Institute_of_Medical_Sciences" title="Mahatma Gandhi Institute of Medical Sciences">Mahatma Gandhi Institute of Medical Sciences</a>, Sevagram, Wardha</li>

            <li> <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Hygiene_and_Public_Health" title="All India Institute of Hygiene and Public Health">All India Institute of Hygiene and Public Health</a>, Kolkata</li>
          </ul>

          <h3> <span class="mw-headline" id="Post_Graduate_Diploma_in_Health_Economics.2C_Health_Care_Financing_and_Health_Policy"> Post Graduate Diploma in Health Economics, Health Care Financing and Health Policy </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Delhi" title="Indian Institute of Public Health, Delhi">Indian Institute of Public Health, Delhi</a></li>
          </ul>

          <h3> <span class="mw-headline" id="Post_Graduate_Diploma_in_Biostatistics_and_Data_Management"> Post Graduate Diploma in Biostatistics and Data Management </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Indian_Institute_of_Public_Health,_Hyderabad" title="Indian Institute of Public Health, Hyderabad">Indian Institute of Public Health, Hyderabad</a></li>
          </ul>

          <h3> <span class="mw-headline" id="Post_Graduate_Diploma_in_District_Health_Management">Post Graduate Diploma in District Health Management</span></h3>

          <ul>
            <li> Distant learning programme offered by <a href="/~commun26/wiki/index.php?title=Public_Health_Resource_Network" title="Public Health Resource Network">Public Health Resource Network</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Public_health_and_community_health_education_abroad"> Public health and community health education abroad </span></h2>

          <h3> <span class="mw-headline" id="Masters_programmes_in_public_health"> Masters programmes in public health </span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=London_School_of_Hygiene_and_Tropical_Medicine" title="London School of Hygiene and Tropical Medicine">London School of Hygiene and Tropical Medicine</a>, London, UK</li>

            <li> <a href="/~commun26/wiki/index.php?title=Liverpool_School_of_Tropical_Medicine" title="Liverpool School of Tropical Medicine">Liverpool School of Tropical Medicine</a>, Liverpool, UK</li>

            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=John_Hopkins_Bloomberg_School_of_Public_Health" title="John Hopkins Bloomberg School of Public Health">John Hopkins Bloomberg School of Public Health</a>,
              Baltimore, USA</li>

            <li> <a href="/~commun26/wiki/index.php?title=Harvard_School_of_Public_Health" title="Harvard School of Public Health">Harvard School of Public Health</a>, Boston, USA</li>

            <li> Karolinska Institute, Stockholm, Sweden</li>

            <li> University of Western Cape, Cape Town, South Africa</li>

            <li> Mahidol University, Bangkok, Thailand</li>
          </ul>

          <h2> <span class="mw-headline" id="Scholarships">Scholarships</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.akdn.org/akf_scholarships.asp" rel="nofollow">Aga Khan Foundation - International Scholarship Programme</a></li>

            <li> <a class="external text" href="http://www.inlaksfoundation.org/Inlaks-Scholarship-Abroad.html" rel="nofollow">Inlaks Scholarships Abroad</a></li>

            <li> <a class="external text" href="http://www.ifpsa.org/" rel="nofollow">Ford Foundation International Fellowships Programme</a></li>

            <li> <a class="external text" href="http://www.phfi.org/careers/ffproramme.html" rel="nofollow">PHFI Future Faculty Programme</a></li>
          </ul>

          <h3> <span class="mw-headline" id="Scholarships_for_studying_in_UK">Scholarships for studying in UK</span></h3>

          <ul>
            <li> <a class="external text" href="http://www.chevening.com/" rel="nofollow">Chevening Scholarships</a></li>

            <li> <a class="external text" href="http://www.csfp-online.org/" rel="nofollow">Commonwealth Scholarships</a></li>
          </ul>

          <h3> <span class="mw-headline" id="Scholarships_for_studying_in_USA">Scholarships for studying in USA</span></h3>

          <ul>
            <li> <a class="external text" href="http://www.usief.org.in/" rel="nofollow">Fulbright Scholarships</a></li>

            <li> <a class="external text" href="http://www.ets.org/toefl/indiascholarships/" rel="nofollow">TOEFL Scholarship Programme for India</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Postgraduate_education_in_community_health&amp;oldid=1465">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Postgraduate_education_in_community_health&amp;oldid=1465</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>