<!--
title: Portal: Exploring community health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Exploring community health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">Community health</a> and the <a href="/~commun26/wiki/index.php?title=Health_For_All_movement" title="Health For All movement">Health For
            All movement</a> in India is a vast and diverse field with a number of interesting personalities, projects, ideas and concepts. The <b>Exploring Community Health</b> portal is an attempt to create a a directory of sources of
            information, contacts and ideas for students and others new to and curious about the field of community health and the Health For All movement in India.</p>

          <p>The first section, <i>Getting Informed</i>, deals mainly with suggestions on how one can get better informed about community health and the Health For All movement in general and the specific issues involved. The second
            section, <i>Take Action</i>, deals with suggestions on how one can get actively involved with the movement based on what one has seen and understood.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Get_informed"><span class="tocnumber">1</span> <span class="toctext">Get informed</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-2"><a href="#Getting_started"><span class="tocnumber">1.1</span> <span class="toctext">Getting started</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-3"><a href="#Meet_people_involved_with_the_movement"><span class="tocnumber">1.1.1</span> <span class="toctext">Meet people involved with the movement</span></a></li>

                            <li class="toclevel-3 tocsection-4"><a href="#Read"><span class="tocnumber">1.1.2</span> <span class="toctext">Read</span></a></li>

                            <li class="toclevel-3 tocsection-5"><a href="#Watch_movies_and_documentaries"><span class="tocnumber">1.1.3</span> <span class="toctext">Watch movies and documentaries</span></a></li>

                            <li class="toclevel-3 tocsection-6"><a href="#Attend_events"><span class="tocnumber">1.1.4</span> <span class="toctext">Attend events</span></a></li>
                          </ul>
                        </li>

                        <li class="toclevel-2 tocsection-7"><a href="#Getting_involved"><span class="tocnumber">1.2</span> <span class="toctext">Getting involved</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-8"><a href="#Join_mailing_lists_and_discussion_groups"><span class="tocnumber">1.2.1</span> <span class="toctext">Join mailing lists and discussion groups</span></a></li>

                            <li class="toclevel-3 tocsection-9"><a href="#Visit_community_based_projects"><span class="tocnumber">1.2.2</span> <span class="toctext">Visit community based projects</span></a></li>

                            <li class="toclevel-3 tocsection-10"><a href="#Enroll_for_workshops_and_short_study_courses"><span class="tocnumber">1.2.3</span> <span class="toctext">Enroll for workshops and short study courses</span></a></li>

                            <li class="toclevel-3 tocsection-11"><a href="#Get_a_degree"><span class="tocnumber">1.2.4</span> <span class="toctext">Get a degree</span></a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-12"><a href="#Take_action"><span class="tocnumber">2</span> <span class="toctext">Take action</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-13"><a href="#Getting_started_2"><span class="tocnumber">2.1</span> <span class="toctext">Getting started</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-14"><a href="#It_only_takes_a_minute"><span class="tocnumber">2.1.1</span> <span class="toctext">It only takes a minute</span></a></li>

                            <li class="toclevel-3 tocsection-15"><a href="#Organise_an_event_for_your_student_group_or_organisation"><span class="tocnumber">2.1.2</span> <span class="toctext">Organise an event for your student group
                              or organisation</span></a></li>

                            <li class="toclevel-3 tocsection-16"><a href="#Contribute_resources"><span class="tocnumber">2.1.3</span> <span class="toctext">Contribute resources</span></a></li>
                          </ul>
                        </li>

                        <li class="toclevel-2 tocsection-17"><a href="#Getting_involved_2"><span class="tocnumber">2.2</span> <span class="toctext">Getting involved</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-18"><a href="#Create_evidence"><span class="tocnumber">2.2.1</span> <span class="toctext">Create evidence</span></a></li>

                            <li class="toclevel-3 tocsection-19"><a href="#Mobilise.21"><span class="tocnumber">2.2.2</span> <span class="toctext">Mobilise!</span></a></li>

                            <li class="toclevel-3 tocsection-20"><a href="#Communicate_the_message"><span class="tocnumber">2.2.3</span> <span class="toctext">Communicate the message</span></a></li>

                            <li class="toclevel-3 tocsection-21"><a href="#Volunteer_or_do_an_internship"><span class="tocnumber">2.2.4</span> <span class="toctext">Volunteer or do an internship</span></a></li>

                            <li class="toclevel-3 tocsection-22"><a href="#Get_involved_with_the_People.27s_Health_Movement"><span class="tocnumber">2.2.5</span> <span class="toctext">Get involved with the People's Health
                              Movement</span></a></li>

                            <li class="toclevel-3 tocsection-23"><a href="#Solidarity_with_other_movements"><span class="tocnumber">2.2.6</span> <span class="toctext">Solidarity with other movements</span></a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Get_informed">Get informed</span></h2>

          <h3> <span class="mw-headline" id="Getting_started">Getting started</span></h3>

          <h4> <span class="mw-headline" id="Meet_people_involved_with_the_movement">Meet people involved with the movement</span></h4>

          <p>Most people involved in community health in India are extremely approachable and are quite willing to take time to speak to students and other newcomers about the work they do and the issues they are involved in.</p>

          <p>Visit <b><a href="/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement" title="Portal: People within the community health movement">Portal: People within the community health movement</a></b> for a comprehensive list of contacts.</p>

          <div class="thumb tright">
            <div class="thumbinner" style="width:202px;"><a class="image" href="/~commun26/wiki/index.php?title=File:HFAbooks.JPG"><img alt="" class="thumbimage" height="150" src="/~commun26/wiki/images/thumb/a/ab/HFAbooks.JPG/200px-HFAbooks.JPG" width="200"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:HFAbooks.JPG" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Read about <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Global_health&amp;action=edit&amp;redlink=1" title="Global health (page does not exist)">global health</a>.</div>
            </div>
          </div>

          <h4> <span class="mw-headline" id="Read">Read</span></h4>

          <p>A good place to start reading about community health is this website. Visit the <a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary"> Glossary</a> section for a quick review of some of the
            common terms you will encounter. Read about the <a href="/~commun26/wiki/index.php?title=Portal:_History_of_community_health_and_public_health" title="Portal: History of community health and public health"> history of
            community health and public health</a> in India, find out about <a href="/~commun26/wiki/index.php?title=Portal:_Global_health" title="Portal: Global health"> global health</a>, the <a href="/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement" title="Portal: People's Health Movement"> People's Health Network</a> network, community health articles related to your <a href="/~commun26/wiki/index.php?title=Category:States" title="Category:States"> state</a> and more.</p>

          <p>There is a large collection of published and gray literature on community health in India. Visit <b><a href="/~commun26/wiki/index.php?title=Portal:_Reading_about_community_health" title="Portal: Reading about community health">Portal: Reading about community health</a></b> for a review of some of the most relevant publications.</p>

          <h4> <span class="mw-headline" id="Watch_movies_and_documentaries">Watch movies and documentaries</span></h4>

          <p>There is a large collection of short films, documentaries and commercial movies that explore health related themes in India. Visit <b><a href="/~commun26/wiki/index.php?title=Portal:_Films_on_health" title="Portal: Films on health">Portal: Films on health</a></b> to find out more.</p>

          <h4> <span class="mw-headline" id="Attend_events">Attend events</span></h4>

          <p>Community health and Health For All related events are a good way to network and find out about new projects and ideas. Find out about upcoming events on the <a href="/~commun26/wiki/index.php?title=Current_events" title="Current events">Current events</a> page or by subscribing to mailing lists mentioned below.</p>

          <h3> <span class="mw-headline" id="Getting_involved">Getting involved</span></h3>

          <h4> <span class="mw-headline" id="Join_mailing_lists_and_discussion_groups">Join mailing lists and discussion groups</span></h4>

          <p>Mailing lists and discussion groups are a good way to keep up to date with new developments and upcoming events. Some of the important groups on community health and Health For All in India are:</p>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=Pha-ncc_discussion_group" title="Pha-ncc discussion group">pha-ncc discussion group</a></li>

            <li><a href="/~commun26/wiki/index.php?title=PHM-Exchange_mailing_list" title="PHM-Exchange mailing list">PHM-Exchange mailing list</a></li>

            <li><a href="/~commun26/wiki/index.php?title=Mfriendcircle_discussion_group" title="Mfriendcircle discussion group">mfriendcircle discussion group</a></li>

            <li><a href="/~commun26/wiki/index.php?title=Diseasesurveillance_discussion_group" title="Diseasesurveillance discussion group">diseasesurveillance discussion group</a></li>

            <li><a href="/~commun26/wiki/index.php?title=NetRUM_discussion_group" title="NetRUM discussion group">NetRUM discussion group</a></li>
          </ul>

          <div class="thumb tright">
            <div class="thumbinner" style="width:202px;"><a class="image" href="/~commun26/wiki/index.php?title=File:THI_Collector.JPG"><img alt="" class="thumbimage" height="150" src="/~commun26/wiki/images/thumb/f/fd/THI_Collector.JPG/200px-THI_Collector.JPG" width="200"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:THI_Collector.JPG" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                The District Collector of Dharmapuri interacts with Lambadi women at <a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a>.</div>
            </div>
          </div>

          <h4> <span class="mw-headline" id="Visit_community_based_projects">Visit community based projects</span></h4>

          <p>A number of community based projects all over India actively encourage visitors to come and experience grassroots level community health work. Visit <b><a href="/~commun26/wiki/index.php?title=Portal:_Community_health_projects" title="Portal: Community health projects">Portal: Community health projects</a></b> for a list of projects in India.</p>

          <h4> <span class="mw-headline" id="Enroll_for_workshops_and_short_study_courses">Enroll for workshops and short study courses</span></h4>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a> short courses</li>

            <li> Community Health Learning Programme by <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a>, Bangalore.</li>
          </ul>

          <h4> <span class="mw-headline" id="Get_a_degree">Get a degree</span></h4>

          <p>There are a number of options for post graduate study in community health related fields in India and abroad. Visit <b><a href="/~commun26/wiki/index.php?title=Portal:_Postgraduate_education_in_community_health" title="Portal: Postgraduate education in community health">Portal: Postgraduate education in community health</a></b> to find out more.</p>

          <h2> <span class="mw-headline" id="Take_action">Take action</span></h2>

          <h3> <span class="mw-headline" id="Getting_started_2">Getting started</span></h3>

          <h4> <span class="mw-headline" id="It_only_takes_a_minute">It only takes a minute</span></h4>

          <p>Sign a petition, send a fax and lend your voice to a number of initiatives that act on immediate concerns of the Health For All movement at <b><a href="/~commun26/wiki/index.php?title=Portal:_Direct_Action" title="Portal: Direct Action">Portal: Direct Action</a></b></p>

          <h4> <span class="mw-headline" id="Organise_an_event_for_your_student_group_or_organisation">Organise an event for your student group or organisation</span></h4>

          <p>Expose your colleagues to the realities of health in India. Most of the people listed at <b><a href="/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement" title="Portal: People within the community health movement">Portal: People within the community health movement</a></b> are willing to spend time talking about their work and the challenges of ensuring <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> in India. Also visit <b><a href="/~commun26/wiki/index.php?title=Portal:_Films_on_health" title="Portal: Films on health">Portal: Films on health</a></b> for ideas on suitable films which can be screened.</p>

          <h4> <span class="mw-headline" id="Contribute_resources">Contribute resources</span></h4>

          <p>There are a number of grassroots level <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Portal:_Community_based_organisations" title="Portal: Community based organisations"> community based organisations</a> in
            India that survive on personal donations. Find out how you can contribute money and other resources at <b><a class="new" href="/~commun26/wiki/index.php?title=Portal:_Making_donations&amp;action=edit&amp;redlink=1" title="Portal: Making donations (page does not exist)">Portal: Making donations</a></b>.</p>

          <h3> <span class="mw-headline" id="Getting_involved_2">Getting involved</span></h3>

          <h4> <span class="mw-headline" id="Create_evidence">Create evidence</span></h4>

          <p>Every student project or graduate thesis has the potential to contribute research findings that make <a href="/~commun26/wiki/index.php?title=Health_For_All" title="Health For All">Health For All</a> a reality. Find
            resources, contacts and ideas for research at <b><a href="/~commun26/wiki/index.php?title=Portal:_Health_research_in_India" title="Portal: Health research in India">Portal: Health research in India</a></b>.</p>

          <div class="thumb tright">
            <div class="thumbinner" style="width:202px;"><a class="image" href="/~commun26/wiki/index.php?title=File:NHA_Bhopal_07.jpg"><img alt="" class="thumbimage" height="150" src="/~commun26/wiki/images/thumb/2/23/NHA_Bhopal_07.jpg/200px-NHA_Bhopal_07.jpg" width="200"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:NHA_Bhopal_07.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Health activists from <a href="/~commun26/wiki/index.php?title=Bangladesh" title="Bangladesh">Bangladesh</a> at the <a class="new" href="/~commun26/wiki/index.php?title=Second_National_Health_Assembly&amp;action=edit&amp;redlink=1" title="Second National Health Assembly (page does not exist)">Second National Health Assembly</a> in Bhopal.</div>
            </div>
          </div>

          <h4> <span class="mw-headline" id="Mobilise.21">Mobilise!</span></h4>

          <p>The democratic process in India allows for the non-violent expression of people's concerns for their <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Development&amp;action=edit&amp;redlink=1" title="Development (page does not exist)">development</a>. Keep track of upcoming rallies, public hearings and other forms of democratic protest
            on the <a href="/~commun26/wiki/index.php?title=Current_events" title="Current events">Current events</a> page or by subscribing to <a href="/~commun26/wiki/index.php?title=Category:Mailing_lists_and_discussion_groups" title="Category:Mailing lists and discussion groups"> mailing lists</a>.</p>

          <h4> <span class="mw-headline" id="Communicate_the_message">Communicate the message</span></h4>

          <p>Volunteer to create communications material for the Health For All movement. Find out how you can get involved at the <a class="external text" href="http://communicatinghealth.wordpess.com" rel="nofollow">communityhealth.in
            project blog</a>.</p>

          <h4> <span class="mw-headline" id="Volunteer_or_do_an_internship">Volunteer or do an internship</span></h4>

          <p>Volunteer to work at a <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Portal:_Community_based_organisations" title="Portal: Community based organisations"> community based organisation</a> in India. Find
            resources and ideas at <b><a href="/~commun26/wiki/index.php?title=Portal:_Community_health_internships_and_medical_electives_in_India" title="Portal: Community health internships and medical electives in India">Portal:
            Community health internships and medical electives in India</a></b>.</p>

          <h4> <span class="mw-headline" id="Get_involved_with_the_People.27s_Health_Movement">Get involved with the People's Health Movement</span></h4>

          <p>The People’s Health Movement is a growing network of people’s organisations, civil society organisations, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=NGOs" title="NGOs">NGOs</a>, social activists, health
            professionals, academics and researchers working to establish health and equitable development as top priorities through comprehensive <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> and action on the <a href="/~commun26/wiki/index.php?title=Social_determinants_of_health" title="Social determinants of health">social determinants of health</a>. Find out more at <b><a href="/~commun26/wiki/index.php?title=Portal:_People%27s_Health_Movement" title="Portal: People's Health Movement">Portal: People's Health Movement</a></b>.</p>

          <h4> <span class="mw-headline" id="Solidarity_with_other_movements">Solidarity with other movements</span></h4>

          <p>Working for the <a href="/~commun26/wiki/index.php?title=Right_to_Health" title="Right to Health">Right to Health</a> health means working for the right to food, clean water, housing, education, human rights and much more.
            Find out about other related <a class="new" href="/~commun26/wiki/index.php?title=Social_movements&amp;action=edit&amp;redlink=1" title="Social movements (page does not exist)">social movements</a> in India that you can get
            involved in.</p>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=Right_to_Food_Movement" title="Right to Food Movement">Right to Food Movement</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Right_to_Information_Movement&amp;action=edit&amp;redlink=1" title="Right to Information Movement (page does not exist)">Right to Information Movement</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Exploring_community_health&amp;oldid=1018">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Exploring_community_health&amp;oldid=1018</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>