<!--
title: Portal: People within the community health movement
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: People within the community health movement</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Most people involved in <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> work in India are quite student friendly and are willing to take time to speak to students and
            other newcomers about the work they do and the issues they are involved in. We are in the process of contacting a number of such individuals to ask their permission to represent them on this website. We will be adding more
            names and contact information in the coming weeks.</p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Andhra_Pradesh"><span class="tocnumber">1</span> <span class="toctext">Andhra Pradesh</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Assam"><span class="tocnumber">2</span> <span class="toctext">Assam</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Chhattisgarh"><span class="tocnumber">3</span> <span class="toctext">Chhattisgarh</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Delhi"><span class="tocnumber">4</span> <span class="toctext">Delhi</span></a></li>

                    <li class="toclevel-1 tocsection-5"><a href="#Goa"><span class="tocnumber">5</span> <span class="toctext">Goa</span></a></li>

                    <li class="toclevel-1 tocsection-6"><a href="#Gujarat"><span class="tocnumber">6</span> <span class="toctext">Gujarat</span></a></li>

                    <li class="toclevel-1 tocsection-7"><a href="#Himachal_Pradesh"><span class="tocnumber">7</span> <span class="toctext">Himachal Pradesh</span></a></li>

                    <li class="toclevel-1 tocsection-8"><a href="#Jharkhand"><span class="tocnumber">8</span> <span class="toctext">Jharkhand</span></a></li>

                    <li class="toclevel-1 tocsection-9"><a href="#Karnataka"><span class="tocnumber">9</span> <span class="toctext">Karnataka</span></a></li>

                    <li class="toclevel-1 tocsection-10"><a href="#Kerala"><span class="tocnumber">10</span> <span class="toctext">Kerala</span></a></li>

                    <li class="toclevel-1 tocsection-11"><a href="#Madhya_Pradesh"><span class="tocnumber">11</span> <span class="toctext">Madhya Pradesh</span></a></li>

                    <li class="toclevel-1 tocsection-12"><a href="#Maharashtra"><span class="tocnumber">12</span> <span class="toctext">Maharashtra</span></a></li>

                    <li class="toclevel-1 tocsection-13"><a href="#Orissa"><span class="tocnumber">13</span> <span class="toctext">Orissa</span></a></li>

                    <li class="toclevel-1 tocsection-14"><a href="#Punjab"><span class="tocnumber">14</span> <span class="toctext">Punjab</span></a></li>

                    <li class="toclevel-1 tocsection-15"><a href="#Rajasthan"><span class="tocnumber">15</span> <span class="toctext">Rajasthan</span></a></li>

                    <li class="toclevel-1 tocsection-16"><a href="#Tamil_Nadu"><span class="tocnumber">16</span> <span class="toctext">Tamil Nadu</span></a></li>

                    <li class="toclevel-1 tocsection-17"><a href="#Uttar_Pradesh"><span class="tocnumber">17</span> <span class="toctext">Uttar Pradesh</span></a></li>

                    <li class="toclevel-1 tocsection-18"><a href="#Uttarakhand"><span class="tocnumber">18</span> <span class="toctext">Uttarakhand</span></a></li>

                    <li class="toclevel-1 tocsection-19"><a href="#West_Bengal"><span class="tocnumber">19</span> <span class="toctext">West Bengal</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Andhra_Pradesh">Andhra Pradesh</span></h2>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=M._Geyanand" title="M. Geyanand">M. Geyanand</a>, <a class="new" href="/~commun26/wiki/index.php?title=Jana_Vignyana_Vedika&amp;action=edit&amp;redlink=1" title="Jana Vignyana Vedika (page does not exist)">Jana Vignyana Vedika</a>, Ananthpur</li>

            <li><a href="/~commun26/wiki/index.php?title=John_Vattamattan" title="John Vattamattan">John Vattamattan</a>, <a class="new" href="/~commun26/wiki/index.php?title=Sangamitra&amp;action=edit&amp;redlink=1" title="Sangamitra (page does not exist)">Sangamitra</a>, Medak</li>

            <li><a href="/~commun26/wiki/index.php?title=Sebastian_Ouseperambil" title="Sebastian Ouseperambil">Sebastian Ouseperambil</a>, <a href="/~commun26/wiki/index.php?title=Catholic_Health_Association_of_India" title="Catholic Health Association of India">Catholic Health Association of India</a>, Secundrabad</li>

            <li><a href="/~commun26/wiki/index.php?title=Veena_Shatrugna" title="Veena Shatrugna">Veena Shatrugna</a>, <a href="/~commun26/wiki/index.php?title=National_Institute_of_Nutrition" title="National Institute of Nutrition">National Institute of Nutrition</a>, Hyderabad</li>
          </ul>

          <h2> <span class="mw-headline" id="Assam">Assam</span></h2>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=Sunil_Kaul" title="Sunil Kaul">Sunil Kaul</a> and <a href="/~commun26/wiki/index.php?title=Jennifer_Liang" title="Jennifer Liang">Jennifer Liang</a>, <a href="/~commun26/wiki/index.php?title=Action_Northeast_Trust" title="Action Northeast Trust">Action Northeast Trust</a>, Bongaigaon</li>

            <li><a href="/~commun26/wiki/index.php?title=Raju_Narzary" title="Raju Narzary">Raju Narzary</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Chhattisgarh">Chhattisgarh</span></h2>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=Anurag_Bhargav" title="Anurag Bhargav">Anurag Bhargav</a>, <a href="/~commun26/wiki/index.php?title=Raman_Kataria" title="Raman Kataria">Raman Kataria</a>, <a href="/~commun26/wiki/index.php?title=Bishwaroop_Chatterjee" title="Bishwaroop Chatterjee">Bishwaroop Chatterjee</a>, <a href="/~commun26/wiki/index.php?title=Yogesh_Jain" title="Yogesh Jain">Yogesh Jain</a>, <a href="/~commun26/wiki/index.php?title=Ravi_D%27Souza" title="Ravi D'Souza">Ravi D'Souza</a> and <a href="/~commun26/wiki/index.php?title=Ramani_Atkuri" title="Ramani Atkuri">Ramani Atkuri</a>, <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a>, Bilaspur</li>

            <li><a href="/~commun26/wiki/index.php?title=Binayak_Sen" title="Binayak Sen">Binayak Sen</a>, <a href="/~commun26/wiki/index.php?title=People%27s_Union_for_Civil_Liberties" title="People's Union for Civil Liberties">People's Union for Civil Liberties</a>, Raipur</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=K.R._Anthony&amp;action=edit&amp;redlink=1" title="K.R. Anthony (page does not exist)">K.R. Anthony</a>, <a href="/~commun26/wiki/index.php?title=Public_Health_Resource_Network" title="Public Health Resource Network">Public Health Resource Network</a>, Raipur</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=V.R._Raman&amp;action=edit&amp;redlink=1" title="V.R. Raman (page does not exist)">V.R. Raman</a>, <a href="/~commun26/wiki/index.php?title=State_Health_Resource_Centre,_Chhattisgarh" title="State Health Resource Centre, Chhattisgarh">State Health Resource Centre, Chhattisgarh</a>, Raipur</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Saibal_Jana&amp;action=edit&amp;redlink=1" title="Saibal Jana (page does not exist)">Saibal Jana</a> and <a class="new" href="/~commun26/wiki/index.php?title=Alpana_Jana&amp;action=edit&amp;redlink=1" title="Alpana Jana (page does not exist)">Alpana Jana</a>, <a href="/~commun26/wiki/index.php?title=Shaheed_Hospital" title="Shaheed Hospital">Shaheed Hospital</a>, Dalli Rajhara</li>
          </ul>

          <h2> <span class="mw-headline" id="Delhi">Delhi</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Abhijit_Dasgupta&amp;action=edit&amp;redlink=1" title="Abhijit Dasgupta (page does not exist)">Abhijit Dasgupta</a>, <a href="/~commun26/wiki/index.php?title=Centre_for_Health_and_Social_Justice" title="Centre for Health and Social Justice">Centre for Health and Social Justice</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Amit_Sengupta&amp;action=edit&amp;redlink=1" title="Amit Sengupta (page does not exist)">Amit Sengupta</a>, <a href="/~commun26/wiki/index.php?title=Delhi_Science_Forum" title="Delhi Science Forum">Delhi Science Forum</a>, New Delhi</li>

            <li><a href="/~commun26/wiki/index.php?title=C._Sathyamala" title="C. Sathyamala">C. Sathyamala</a>, New Delhi</li>

            <li><a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India" title="Christian Medical Association of India">Christian Medical Association of India</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=C.S._Pandav&amp;action=edit&amp;redlink=1" title="C.S. Pandav (page does not exist)">C.S. Pandav</a>, <a href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Sciences" title="All India Institute of Medical Sciences">All India Institute of Medical Sciences</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Debabar_Banerji&amp;action=edit&amp;redlink=1" title="Debabar Banerji (page does not exist)">Debabar Banerji</a>, <a class="new" href="/~commun26/wiki/index.php?title=Nucleus_for_Health_Policies_and_Programmes&amp;action=edit&amp;redlink=1" title="Nucleus for Health Policies and Programmes (page does not exist)">Nucleus for Health Policies and
              Programmes</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Imrana_Quadeer&amp;action=edit&amp;redlink=1" title="Imrana Quadeer (page does not exist)">Imrana Quadeer</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Jean_Dreze&amp;action=edit&amp;redlink=1" title="Jean Dreze (page does not exist)">Jean Dreze</a>, Jawaharlal Nehru University, New Delhi</li>

            <li><a href="/~commun26/wiki/index.php?title=Mira_Shiva" title="Mira Shiva">Mira Shiva</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=K.R._Nayar&amp;action=edit&amp;redlink=1" title="K.R. Nayar (page does not exist)">K.R. Nayar</a>, <a class="new" href="/~commun26/wiki/index.php?title=Mohan_Rao&amp;action=edit&amp;redlink=1" title="Mohan Rao (page does not exist)">Mohan Rao</a>, <a class="new" href="/~commun26/wiki/index.php?title=Ritu_Priya_Mehrotra&amp;action=edit&amp;redlink=1" title="Ritu Priya Mehrotra (page does not exist)">Ritu Priya Mehrotra</a> and <a class="new" href="/~commun26/wiki/index.php?title=Rama_Baru&amp;action=edit&amp;redlink=1" title="Rama Baru (page does not exist)">Rama Baru</a>, <a href="/~commun26/wiki/index.php?title=Centre_for_Social_Medicine_and_Community_Health" title="Centre for Social Medicine and Community Health">Centre for Social Medicine and Community Health</a>, Jawaharlal Nehru University, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=S._Sridhar&amp;action=edit&amp;redlink=1" title="S. Sridhar (page does not exist)">S. Sridhar</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=N.B._Sarojini&amp;action=edit&amp;redlink=1" title="N.B. Sarojini (page does not exist)">N.B. Sarojini</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Sama" title="Sama">Sama</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=T._Sundaraman&amp;action=edit&amp;redlink=1" title="T. Sundaraman (page does not exist)">T. Sundaraman</a>, <a href="/~commun26/wiki/index.php?title=National_Health_Systems_Resource_Centre" title="National Health Systems Resource Centre">National Health Systems Resource Centre</a>, New Delhi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Vandana_Prasad&amp;action=edit&amp;redlink=1" title="Vandana Prasad (page does not exist)">Vandana Prasad</a>, <a href="/~commun26/wiki/index.php?title=Public_Health_Resource_Network" title="Public Health Resource Network">Public Health Resource Network</a>, New Delhi</li>

            <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India" title="Voluntary Health Association of India">Voluntary Health Association of India</a>, New Delhi</li>
          </ul>

          <h2> <span class="mw-headline" id="Goa">Goa</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Vikram_Patel&amp;action=edit&amp;redlink=1" title="Vikram Patel (page does not exist)">Vikram Patel</a>, <a href="/~commun26/wiki/index.php?title=Sangath" title="Sangath">Sangath</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Gujarat">Gujarat</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Ashok_Bhargava&amp;action=edit&amp;redlink=1" title="Ashok Bhargava (page does not exist)">Ashok Bhargava</a> and <a class="new" href="/~commun26/wiki/index.php?title=Latha_Desai&amp;action=edit&amp;redlink=1" title="Latha Desai (page does not exist)">Latha Desai</a>, <a class="new" href="/~commun26/wiki/index.php?title=IDEAL&amp;action=edit&amp;redlink=1" title="IDEAL (page does not exist)">IDEAL</a>, Ahmedabad</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Chinu_Shrinivasan&amp;action=edit&amp;redlink=1" title="Chinu Shrinivasan (page does not exist)">Chinu Shrinivasan</a>, <a href="/~commun26/wiki/index.php?title=LOCOST" title="LOCOST">LOCOST</a>, Vadodara</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Dileep_Mavalankar&amp;action=edit&amp;redlink=1" title="Dileep Mavalankar (page does not exist)">Dileep Mavalankar</a>, Indian Institute of Management, Ahmedabad</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Haneef_Lakdawala&amp;action=edit&amp;redlink=1" title="Haneef Lakdawala (page does not exist)">Haneef Lakdawala</a> and <a class="new" href="/~commun26/wiki/index.php?title=Sheeba_George&amp;action=edit&amp;redlink=1" title="Sheeba George (page does not exist)">Sheeba George</a>, <a href="/~commun26/wiki/index.php?title=Sanchetana" title="Sanchetana">Sanchetana</a>, Ahmedabad</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Mirai_Chatterjee&amp;action=edit&amp;redlink=1" title="Mirai Chatterjee (page does not exist)">Mirai Chatterjee</a>, <a href="/~commun26/wiki/index.php?title=Self_Employed_Women%27s_Association" title="Self Employed Women's Association">Self Employed Women's Association</a>, Ahmedabad</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Nimitta_Bhat&amp;action=edit&amp;redlink=1" title="Nimitta Bhat (page does not exist)">Nimitta Bhat</a> and <a class="new" href="/~commun26/wiki/index.php?title=Ashvin_Patel&amp;action=edit&amp;redlink=1" title="Ashvin Patel (page does not exist)">Ashvin Patel</a>, <a href="/~commun26/wiki/index.php?title=Trust_for_Reaching_the_Unreached" title="Trust for Reaching the Unreached">Trust for Reaching the Unreached</a>, Vadodara</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Renu_Khanna&amp;action=edit&amp;redlink=1" title="Renu Khanna (page does not exist)">Renu Khanna</a>, <a href="/~commun26/wiki/index.php?title=SAHAJ" title="SAHAJ">SAHAJ</a>, Vadodara</li>
          </ul>

          <h2> <span class="mw-headline" id="Himachal_Pradesh">Himachal Pradesh</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Subhash_Mendhupurkar&amp;action=edit&amp;redlink=1" title="Subhash Mendhupurkar (page does not exist)">Subhash Mendhupurkar</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Jharkhand">Jharkhand</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Suranjan_Prasad&amp;action=edit&amp;redlink=1" title="Suranjan Prasad (page does not exist)">Suranjan Prasad</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=CINI" title="CINI">CINI</a>, Ranchi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Sr._Prabha&amp;action=edit&amp;redlink=1" title="Sr. Prabha (page does not exist)">Sr. Prabha</a>, <a class="new" href="/~commun26/wiki/index.php?title=CHABIJ&amp;action=edit&amp;redlink=1" title="CHABIJ (page does not exist)">CHABIJ</a>, Ranchi</li>
          </ul>

          <h2> <span class="mw-headline" id="Karnataka">Karnataka</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Sr._Aquinas&amp;action=edit&amp;redlink=1" title="Sr. Aquinas (page does not exist)">Sr. Aquinas</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Project,_Hanur" title="Comprehensive Rural Health Project, Hanur">Comprehensive Rural Health Project, Hanur</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Balasubramaniam&amp;action=edit&amp;redlink=1" title="Balasubramaniam (page does not exist)">Balasubramaniam</a>, <a href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Youth_Movement" title="Swami Vivekananda Youth Movement">Swami Vivekananda Youth Movement</a>, H.D. Kotte</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=D.K._Srinivasa&amp;action=edit&amp;redlink=1" title="D.K. Srinivasa (page does not exist)">D.K. Srinivasa</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Darshan_Shanker&amp;action=edit&amp;redlink=1" title="Darshan Shanker (page does not exist)">Darshan Shanker</a>, <a href="/~commun26/wiki/index.php?title=Foundation_for_Revitalisation_of_Local_Health_Traditions" title="Foundation for Revitalisation of Local Health Traditions">Foundation for Revitalisation of Local Health Traditions</a>,
              Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Gurumoorthy&amp;action=edit&amp;redlink=1" title="Gurumoorthy (page does not exist)">Gurumoorthy</a>, <a class="new" href="/~commun26/wiki/index.php?title=Prahlad_IMP&amp;action=edit&amp;redlink=1" title="Prahlad IMP (page does not exist)">Prahlad IMP</a>, <a class="new" href="/~commun26/wiki/index.php?title=SOCHARA&amp;action=edit&amp;redlink=1" title="SOCHARA (page does not exist)">SOCHARA</a> - Community Health Cell, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Gopal_Dabade&amp;action=edit&amp;redlink=1" title="Gopal Dabade (page does not exist)">Gopal Dabade</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Drug_Action_Forum-Karnataka" title="Drug Action Forum-Karnataka">Drug Action Forum-Karnataka</a>, Dharwad</li>

            <li><a href="/~commun26/wiki/index.php?title=H._Sudarshan" title="H. Sudarshan">H. Sudarshan</a>, <a href="/~commun26/wiki/index.php?title=Karuna_Trust" title="Karuna Trust">Karuna Trust</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=M.K._Sudharshan&amp;action=edit&amp;redlink=1" title="M.K. Sudharshan (page does not exist)">M.K. Sudharshan</a>, <a href="/~commun26/wiki/index.php?title=Kempegowda_Institute_of_Medical_Sciences" title="Kempegowda Institute of Medical Sciences">Kempegowda Institute of Medical Sciences</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=M.K._Vasundhra&amp;action=edit&amp;redlink=1" title="M.K. Vasundhra (page does not exist)">M.K. Vasundhra</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Mani_Kaliath&amp;action=edit&amp;redlink=1" title="Mani Kaliath (page does not exist)">Mani Kaliath</a> and <a class="new" href="/~commun26/wiki/index.php?title=M._Naidu&amp;action=edit&amp;redlink=1" title="M. Naidu (page does not exist)">M. Naidu</a>, <a class="new" href="/~commun26/wiki/index.php?title=Basic_Needs_India&amp;action=edit&amp;redlink=1" title="Basic Needs India (page does not exist)">Basic Needs India</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=N._Devadasan&amp;action=edit&amp;redlink=1" title="N. Devadasan (page does not exist)">N. Devadasan</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Institute_of_Public_Health" title="Institute of Public Health">Institute of Public Health</a>, Bengaluru</li>

            <li><a href="/~commun26/wiki/index.php?title=N._Girish" title="N. Girish">N. Girish</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=NIMHANS" title="NIMHANS">NIMHANS</a>, Bengaluru</li>

            <li><a href="/~commun26/wiki/index.php?title=Prakash_Rao" title="Prakash Rao">Prakash Rao</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Jana_Arogya_Andolana" title="Jana Arogya Andolana">Jana Arogya
              Andolana</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=E._Premdas&amp;action=edit&amp;redlink=1" title="E. Premdas (page does not exist)">E. Premdas</a> and <a class="new" href="/~commun26/wiki/index.php?title=R._Sukanya&amp;action=edit&amp;redlink=1" title="R. Sukanya (page does not exist)">R. Sukanya</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Saraswathi_Ganapathy&amp;action=edit&amp;redlink=1" title="Saraswathi Ganapathy (page does not exist)">Saraswathi Ganapathy</a>, <a href="/~commun26/wiki/index.php?title=Belaku_Trust" title="Belaku Trust">Belaku Trust</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Shirdi_Prasad_Tekur&amp;action=edit&amp;redlink=1" title="Shirdi Prasad Tekur (page does not exist)">Shirdi Prasad Tekur</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Sukhanth_Singh&amp;action=edit&amp;redlink=1" title="Sukhanth Singh (page does not exist)">Sukhanth Singh</a> and <a class="new" href="/~commun26/wiki/index.php?title=Shoba_Yohan&amp;action=edit&amp;redlink=1" title="Shoba Yohan (page does not exist)">Shoba Yohan</a>, <a href="/~commun26/wiki/index.php?title=Christian_Medical_Association_of_India" title="Christian Medical Association of India">Christian Medical Association of India</a>, Bengaluru</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Swami_Japananda&amp;action=edit&amp;redlink=1" title="Swami Japananda (page does not exist)">Swami Japananda</a>, <a class="new" href="/~commun26/wiki/index.php?title=Swami_Vivekananda_Integrated_Rural_Health_Centre,_Pavagada&amp;action=edit&amp;redlink=1" title="Swami Vivekananda Integrated Rural Health Centre, Pavagada (page does not exist)">Swami
              Vivekananda Integrated Rural Health Centre, Pavagada</a></li>

            <li><a href="/~commun26/wiki/index.php?title=Thelma_Narayan" title="Thelma Narayan">Thelma Narayan</a>, <a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a> and <a class="new" href="/~commun26/wiki/index.php?title=Prasanna_Saligram&amp;action=edit&amp;redlink=1" title="Prasanna Saligram (page does not exist)">Prasanna Saligram</a>, <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a>, Bengaluru</li>
          </ul>

          <h2> <span class="mw-headline" id="Kerala">Kerala</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=B._Ekbal&amp;action=edit&amp;redlink=1" title="B. Ekbal (page does not exist)">B. Ekbal</a>, <a href="/~commun26/wiki/index.php?title=Kerala_Sastra_Sahitya_Parishad" title="Kerala Sastra Sahitya Parishad">Kerala Sastra Sahitya Parishad</a>, Kottayam</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Geo_Jose&amp;action=edit&amp;redlink=1" title="Geo Jose (page does not exist)">Geo Jose</a>, <a href="/~commun26/wiki/index.php?title=National_Alliance_of_People%27s_Movements" title="National Alliance of People's Movements">National Alliance of People's Movements</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Jayan&amp;action=edit&amp;redlink=1" title="Jayan (page does not exist)">Jayan</a>, <a href="/~commun26/wiki/index.php?title=Thanal" title="Thanal">Thanal</a>,
              Thiruvananthapuram</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=P.O._George&amp;action=edit&amp;redlink=1" title="P.O. George (page does not exist)">P.O. George</a>, <a href="/~commun26/wiki/index.php?title=Rajagiri_School_of_Social_Sciences" title="Rajagiri School of Social Sciences">Rajagiri School of Social Sciences</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Rakhal_Gaitonde&amp;action=edit&amp;redlink=1" title="Rakhal Gaitonde (page does not exist)">Rakhal Gaitonde</a> and <a class="new" href="/~commun26/wiki/index.php?title=Subhasri_B&amp;action=edit&amp;redlink=1" title="Subhasri B (page does not exist)">Subhasri B</a>, Thiruvananthapuram</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Raman_Kutty&amp;action=edit&amp;redlink=1" title="Raman Kutty (page does not exist)">Raman Kutty</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=AMCHSS" title="AMCHSS">AMCHSS</a>, Thiruvananthapuram</li>
          </ul>

          <h2> <span class="mw-headline" id="Madhya_Pradesh">Madhya Pradesh</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Ajay_Khare&amp;action=edit&amp;redlink=1" title="Ajay Khare (page does not exist)">Ajay Khare</a>, <a href="/~commun26/wiki/index.php?title=Bharat_Gyan_Vigyan_Samiti" title="Bharat Gyan Vigyan Samiti">Bharat Gyan Vigyan Samiti</a>, Bhopal</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Nidhi_Shukla&amp;action=edit&amp;redlink=1" title="Nidhi Shukla (page does not exist)">Nidhi Shukla</a>, <a class="new" href="/~commun26/wiki/index.php?title=Sayyed_Ali&amp;action=edit&amp;redlink=1" title="Sayyed Ali (page does not exist)">Sayyed Ali</a> and <a href="/~commun26/wiki/index.php?title=Ravi_D%27Souza" title="Ravi D'Souza">Ravi
              D'Souza</a>, <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a>, Bhopal</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Satyanath_Sarangi&amp;action=edit&amp;redlink=1" title="Satyanath Sarangi (page does not exist)">Satyanath Sarangi</a>, <a href="/~commun26/wiki/index.php?title=Sambhavna_Trust" title="Sambhavna Trust">Sambhavna Trust</a>, Bhopal</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Vinod_Raina&amp;action=edit&amp;redlink=1" title="Vinod Raina (page does not exist)">Vinod Raina</a>, <a href="/~commun26/wiki/index.php?title=Eklavya" title="Eklavya">Eklavya</a>, Bhopal</li>
          </ul>

          <h2> <span class="mw-headline" id="Maharashtra">Maharashtra</span></h2>

          <ul>
            <li><a href="/~commun26/wiki/index.php?title=Abhay_Shukla" title="Abhay Shukla">Abhay Shukla</a> and <a class="new" href="/~commun26/wiki/index.php?title=Ananth_Phadke&amp;action=edit&amp;redlink=1" title="Ananth Phadke (page does not exist)">Ananth Phadke</a>, <a href="/~commun26/wiki/index.php?title=SATHI" title="SATHI">SATHI</a>, Pune</li>

            <li><a href="/~commun26/wiki/index.php?title=Amar_Jesani" title="Amar Jesani">Amar Jesani</a>, <a href="/~commun26/wiki/index.php?title=Centre_for_Studies_in_Ethics_and_Rights" title="Centre for Studies in Ethics and Rights">Centre for Studies in Ethics and Rights</a>, Mumbai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Ashok_Dayalchand&amp;action=edit&amp;redlink=1" title="Ashok Dayalchand (page does not exist)">Ashok Dayalchand</a>, <a href="/~commun26/wiki/index.php?title=Institute_of_Health_Management,_Pachod" title="Institute of Health Management, Pachod">Institute of Health Management, Pachod</a></li>

            <li><a href="/~commun26/wiki/index.php?title=Dhruv_Mankad" title="Dhruv Mankad">Dhruv Mankad</a> and <a href="/~commun26/wiki/index.php?title=Shyam_Ashtekar" title="Shyam Ashtekar">Shyam Ashtekar</a>, <a href="/~commun26/wiki/index.php?title=Yashwantrao_Chavan_Maharashtra_Open_University" title="Yashwantrao Chavan Maharashtra Open University">Yashwantrao Chavan Maharashtra Open University</a>, Nashik</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Manisha_Gupte&amp;action=edit&amp;redlink=1" title="Manisha Gupte (page does not exist)">Manisha Gupte</a>, Pune</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Mira_Sadgopal&amp;action=edit&amp;redlink=1" title="Mira Sadgopal (page does not exist)">Mira Sadgopal</a>, <a class="new" href="/~commun26/wiki/index.php?title=Tathapi_Trust&amp;action=edit&amp;redlink=1" title="Tathapi Trust (page does not exist)">Tathapi Trust</a>, Pune</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Nargis_Mistry&amp;action=edit&amp;redlink=1" title="Nargis Mistry (page does not exist)">Nargis Mistry</a>, <a href="/~commun26/wiki/index.php?title=Foundation_for_Research_in_Community_Health" title="Foundation for Research in Community Health">Foundation for Research in Community Health</a>, Pune</li>

            <li><a href="/~commun26/wiki/index.php?title=Padma_Prakash" title="Padma Prakash">Padma Prakash</a>, <a href="/~commun26/wiki/index.php?title=Esocialsciences.com" title="Esocialsciences.com">esocialsciences.com</a>, Mumbai
            </li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Rajnikant_Arole&amp;action=edit&amp;redlink=1" title="Rajnikant Arole (page does not exist)">Rajnikant Arole</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Comprehensive_Rural_Health_Programme,_Jamkhed" title="Comprehensive Rural Health Programme, Jamkhed">Comprehensive Rural Health Programme, Jamkhed</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Rani_Bang&amp;action=edit&amp;redlink=1" title="Rani Bang (page does not exist)">Rani Bang</a> and <a class="new" href="/~commun26/wiki/index.php?title=Abhay_Bang&amp;action=edit&amp;redlink=1" title="Abhay Bang (page does not exist)">Abhay Bang</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=SEARCH" title="SEARCH">SEARCH</a>, Gadchiroli</li>

            <li><a href="/~commun26/wiki/index.php?title=Ravi_Duggal" title="Ravi Duggal">Ravi Duggal</a>, Mumbai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Sashikant_Ahankari&amp;action=edit&amp;redlink=1" title="Sashikant Ahankari (page does not exist)">Sashikant Ahankari</a>, <a href="/~commun26/wiki/index.php?title=HALO_Medical_Foundation" title="HALO Medical Foundation">HALO Medical Foundation</a>, Aurangabad</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Ullas_Jajoo&amp;action=edit&amp;redlink=1" title="Ullas Jajoo (page does not exist)">Ullas Jajoo</a> and <a class="new" href="/~commun26/wiki/index.php?title=S.P._Kalanthri&amp;action=edit&amp;redlink=1" title="S.P. Kalanthri (page does not exist)">S.P. Kalanthri</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=MGIMS" title="MGIMS">MGIMS</a>, Wardha</li>
          </ul>

          <h2> <span class="mw-headline" id="Orissa">Orissa</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Almas_Ali&amp;action=edit&amp;redlink=1" title="Almas Ali (page does not exist)">Almas Ali</a>, <a class="new" href="/~commun26/wiki/index.php?title=Institute_of_Tribal_Health_%26_Social_Sciences&amp;action=edit&amp;redlink=1" title="Institute of Tribal Health &amp; Social Sciences (page does not exist)">Institute of Tribal Health
              &amp; Social Sciences</a>, Bhubaneswar</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Joe_Madiath&amp;action=edit&amp;redlink=1" title="Joe Madiath (page does not exist)">Joe Madiath</a>, <a href="/~commun26/wiki/index.php?title=Gram_Vikas" title="Gram Vikas">Gram Vikas</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Jonny_Oomen&amp;action=edit&amp;redlink=1" title="Jonny Oomen (page does not exist)">Jonny Oomen</a>, <a class="new" href="/~commun26/wiki/index.php?title=Christian_Mission_Hospital,_Bisamcuttack&amp;action=edit&amp;redlink=1" title="Christian Mission Hospital, Bisamcuttack (page does not exist)">Christian Mission Hospital, Bisamcuttack</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Punjab">Punjab</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Rajesh_Kumar&amp;action=edit&amp;redlink=1" title="Rajesh Kumar (page does not exist)">Rajesh Kumar</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=PGIMER" title="PGIMER">PGIMER</a>, Chandigarh</li>
          </ul>

          <h2> <span class="mw-headline" id="Rajasthan">Rajasthan</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Narendra_Gupta&amp;action=edit&amp;redlink=1" title="Narendra Gupta (page does not exist)">Narendra Gupta</a>, <a href="/~commun26/wiki/index.php?title=Prayas" title="Prayas">Prayas</a>, Chittorgarh</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Sharad_Iyengar&amp;action=edit&amp;redlink=1" title="Sharad Iyengar (page does not exist)">Sharad Iyengar</a>, <a href="/~commun26/wiki/index.php?title=Action_Reserach_and_Training_for_Health" title="Action Reserach and Training for Health">Action Reserach and Training for Health</a>, Udaipur</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Shiv_Chandra_Mathur&amp;action=edit&amp;redlink=1" title="Shiv Chandra Mathur (page does not exist)">Shiv Chandra Mathur</a>, Jaipur</li>
          </ul>

          <h2> <span class="mw-headline" id="Tamil_Nadu">Tamil Nadu</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Ameerkhan&amp;action=edit&amp;redlink=1" title="Ameerkhan (page does not exist)">Ameerkhan</a> and <a class="new" href="/~commun26/wiki/index.php?title=Suresh_Dhandapani&amp;action=edit&amp;redlink=1" title="Suresh Dhandapani (page does not exist)">Suresh Dhandapani</a>, <a class="new" href="/~commun26/wiki/index.php?title=SOCHARA_-_Community_Health_Cell_Extension_Unit&amp;action=edit&amp;redlink=1" title="SOCHARA - Community Health Cell Extension Unit (page does not exist)">SOCHARA - Community Health Cell
              Extension Unit</a>, Chennai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Balaji_Sampath&amp;action=edit&amp;redlink=1" title="Balaji Sampath (page does not exist)">Balaji Sampath</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=AID-India" title="AID-India">AID-India</a>, Chennai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Balasubramaniyam&amp;action=edit&amp;redlink=1" title="Balasubramaniyam (page does not exist)">Balasubramaniyam</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=RUWSEC" title="RUWSEC">RUWSEC</a>, Chengalpattu</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Chandra_P&amp;action=edit&amp;redlink=1" title="Chandra P (page does not exist)">Chandra P</a>, <a class="new" href="/~commun26/wiki/index.php?title=D_Arul_Selvi_Community_Based_Rehabilitation&amp;action=edit&amp;redlink=1" title="D Arul Selvi Community Based Rehabilitation (page does not exist)">D Arul Selvi Community Based
              Rehabilitation</a>, Tirupattur,Vellore Dist and Chennai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Kalpana_Balaji&amp;action=edit&amp;redlink=1" title="Kalpana Balaji (page does not exist)">Kalpana Balaji</a>, Indian Institute of Technology, Chennai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=J.P._Muliyul&amp;action=edit&amp;redlink=1" title="J.P. Muliyul (page does not exist)">J.P. Muliyul</a>, <a class="new" href="/~commun26/wiki/index.php?title=Anand_Zachariah&amp;action=edit&amp;redlink=1" title="Anand Zachariah (page does not exist)">Anand Zachariah</a>, <a class="new" href="/~commun26/wiki/index.php?title=Sara_Bhattacharya&amp;action=edit&amp;redlink=1" title="Sara Bhattacharya (page does not exist)">Sara Bhattacharya</a> and <a class="new" href="/~commun26/wiki/index.php?title=K.R._John&amp;action=edit&amp;redlink=1" title="K.R. John (page does not exist)">K.R. John</a>, <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical College, Vellore</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Nandakumar_Menon&amp;action=edit&amp;redlink=1" title="Nandakumar Menon (page does not exist)">Nandakumar Menon</a> and <a class="new" href="/~commun26/wiki/index.php?title=Shyla_Devi_Menon&amp;action=edit&amp;redlink=1" title="Shyla Devi Menon (page does not exist)">Shyla Devi Menon</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ACCORD" title="ACCORD">ACCORD</a>, Gudalur</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Nityanand_Jayaram&amp;action=edit&amp;redlink=1" title="Nityanand Jayaram (page does not exist)">Nityanand Jayaram</a>, Chennai</li>

            <li><a href="/~commun26/wiki/index.php?title=Padmini_Swaminathan" title="Padmini Swaminathan">Padmini Swaminathan</a>, <a href="/~commun26/wiki/index.php?title=Madras_Institute_of_Development_Studies" title="Madras Institute of Development Studies">Madras Institute of Development Studies</a>, Chennai</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Prem_John&amp;action=edit&amp;redlink=1" title="Prem John (page does not exist)">Prem John</a>, <a class="new" href="/~commun26/wiki/index.php?title=Deenabandhu_Trust&amp;action=edit&amp;redlink=1" title="Deenabandhu Trust (page does not exist)">Deenabandhu Trust</a></li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=Regi_George&amp;action=edit&amp;redlink=1" title="Regi George (page does not exist)">Regi George</a> and <a class="new" href="/~commun26/wiki/index.php?title=Lalitha_Regi&amp;action=edit&amp;redlink=1" title="Lalitha Regi (page does not exist)">Lalitha Regi</a>, <a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a>, Sittilingi</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=V.R._Muralidharan&amp;action=edit&amp;redlink=1" title="V.R. Muralidharan (page does not exist)">V.R. Muralidharan</a>, Indian Institute of Technology, Chennai</li>

            <li><a href="/~commun26/wiki/index.php?title=Voluntary_Health_Services" title="Voluntary Health Services">Voluntary Health Services</a>, Chennai</li>
          </ul>

          <h2> <span class="mw-headline" id="Uttar_Pradesh">Uttar Pradesh</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Narendra_Mehrotra&amp;action=edit&amp;redlink=1" title="Narendra Mehrotra (page does not exist)">Narendra Mehrotra</a>, <a class="new" href="/~commun26/wiki/index.php?title=Jeevaniya&amp;action=edit&amp;redlink=1" title="Jeevaniya (page does not exist)">Jeevaniya</a>, Lucknowra</li>
          </ul>

          <h2> <span class="mw-headline" id="Uttarakhand">Uttarakhand</span></h2>

          <ul>
            <li> <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Chirag" title="Chirag">Chirag</a></li>
          </ul>

          <h2> <span class="mw-headline" id="West_Bengal">West Bengal</span></h2>

          <ul>
            <li><a class="new" href="/~commun26/wiki/index.php?title=Amitava_Guha&amp;action=edit&amp;redlink=1" title="Amitava Guha (page does not exist)">Amitava Guha</a>, <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Federation_of_Medical_Representatives_Association_of_India" title="Federation of Medical Representatives Association of India">Federation of Medical Representatives Association of
              India</a></li>

            <li><a href="/~commun26/wiki/index.php?title=Child_In_Need_Institute" title="Child In Need Institute">Child In Need Institute</a>, Kolkota</li>

            <li><a class="new" href="/~commun26/wiki/index.php?title=D.P._Poddar&amp;action=edit&amp;redlink=1" title="D.P. Poddar (page does not exist)">D.P. Poddar</a>, <a class="new" href="/~commun26/wiki/index.php?title=West_Bengal_Voluntary_Health_Association&amp;action=edit&amp;redlink=1" title="West Bengal Voluntary Health Association (page does not exist)">West Bengal Voluntary Health Association</a>, Kolkota</li>

            <li><a href="/~commun26/wiki/index.php?title=Prabir_Chatterjee" title="Prabir Chatterjee">Prabir Chatterjee</a>, Kolkota</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement&amp;oldid=2133">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_People_within_the_community_health_movement&amp;oldid=2133</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>