<!--
title: Portal: Films on health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Portal: Films on health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Films_on_India"><span class="tocnumber">1</span> <span class="toctext">Films on India</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-2"><a href="#Documentaries"><span class="tocnumber">1.1</span> <span class="toctext">Documentaries</span></a></li>

                        <li class="toclevel-2 tocsection-3"><a href="#Feature_films"><span class="tocnumber">1.2</span> <span class="toctext">Feature films</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-4"><a href="#International_films"><span class="tocnumber">2</span> <span class="toctext">International films</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-5"><a href="#Documentaries_2"><span class="tocnumber">2.1</span> <span class="toctext">Documentaries</span></a></li>

                        <li class="toclevel-2 tocsection-6"><a href="#Feature_films_2"><span class="tocnumber">2.2</span> <span class="toctext">Feature films</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Films_on_India">Films on India</span></h2>

          <h3> <span class="mw-headline" id="Documentaries">Documentaries</span></h3>

          <ul>
            <li> [<a class="external text" href="https://youtu.be/Z7wyFh0jLpk" rel="nofollow">ASHA Workers Speaks at DUBLIN (2017)</a>] - Screened on 14th November 2017 at the Fourth Human Resources for Health Global Summit held at
              Dublin, Ireland.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Smile_Pinki_(2009)" title="Smile Pinki (2009)">Smile Pinki (2009)</a> - Oscar winning documentary about the struggle of children with cleft lip deformity.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=The_Final_Inch_(2009)&amp;action=edit&amp;redlink=1" title="The Final Inch (2009) (page does not exist)">The Final Inch (2009)</a> - Oscar nominated documentary on
              the spirit and resilience of frontline workers in India's polio eradication programme.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Living_with_AIDS_(2006)" title="Living with AIDS (2006)">Living with AIDS (2006)</a> - Young women coping with HIV in the city of Bangalore discuss the discrimination and stigma
              that they face in Indian society.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=The_Human_Question_(2006)" title="The Human Question (2006)">The Human Question (2006)</a> - Tracing the story of the global struggle to make HIV/AIDS drugs more affordable and
              available. The film raises key questions of whether private ownership of knowledge can be at the cost of human life</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=The_Sittilingi_Experiment_(2006)&amp;action=edit&amp;redlink=1" title="The Sittilingi Experiment (2006) (page does not exist)">The Sittilingi Experiment (2006)</a> -
              A short documentary on <a href="/~commun26/wiki/index.php?title=Tribal_Health_Initiative" title="Tribal Health Initiative">Tribal Health Initiative</a>, a unique hospital and community health programme in the Dharmapuri
              district of Tamil Nadu.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Something_Like_A_War_(1991)&amp;action=edit&amp;redlink=1" title="Something Like A War (1991) (page does not exist)">Something Like A War (1991)</a> - A documentary
              by Deepa Dhanraj that examines India’s National Family Planning Program from the perspective of women, who are its primary targets.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=In_the_Name_of_Medicine&amp;action=edit&amp;redlink=1" title="In the Name of Medicine (page does not exist)">In the Name of Medicine</a> - A documentary by K.P. Sasi
              that analyses the medical practices in India and the drug industry in particular.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=My_Name_Is_Sister&amp;action=edit&amp;redlink=1" title="My Name Is Sister (page does not exist)">My Name Is Sister</a> - The film captures the moment when in January
              1987, nurses in the hospitals of Delhi went on mass strike to protest on certain basic issues affecting their lives.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Health_Matters" title="Health Matters">Health Matters</a> - A documentary by Shikha Jhingan that takes a panoramic look at health care in India through the everyday experiences
              of patients in both public and private hospitals.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Barefoot_Doctors" title="Barefoot Doctors">Barefoot Doctors</a> - A documentary by Ambarien Al Qadar that attempts to understand the nature of <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> and the role of the community health worker through the exploration of four community health initiatives in India.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Community_Health:_The_search_for_an_alternative_paradigm&amp;action=edit&amp;redlink=1" title="Community Health: The search for an alternative paradigm (page does not exist)">Community Health: The search for an alternative paradigm</a> - HAFA</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Pills,_Policies_and_Profits&amp;action=edit&amp;redlink=1" title="Pills, Policies and Profits (page does not exist)">Pills, Policies and Profits</a> - A short film on
              the health scenario in India.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Ramakka%27s_Story&amp;action=edit&amp;redlink=1" title="Ramakka's Story (page does not exist)">Ramakka's Story</a></li>
          </ul>

          <h3> <span class="mw-headline" id="Feature_films">Feature films</span></h3>

          <ul>
            <li> [<a class="external text" href="http://www.youtube.com/watch?v=COkiCK4G5gA" rel="nofollow">Nishant (1976)</a>] - An awarding winning film by Shyam Benegal that focuses on the power of the rural elite, the sexual
              exploitation of women and the potential of the community to mobilise against such forces.</li>
          </ul>

          <h2> <span class="mw-headline" id="International_films">International films</span></h2>

          <h3> <span class="mw-headline" id="Documentaries_2">Documentaries</span></h3>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Sicko_(2007)" title="Sicko (2007)">Sicko (2007)</a> - A documentary by Micheal Moore that takes a hard look at HMOs and compares the highly profitable American health care
              industry to other nations.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=As_The_Call,_So_The_Echo_(2005)" title="As The Call, So The Echo (2005)">As The Call, So The Echo (2005)</a> - A documentary about the transformative experience of an American
              ENT surgeon, Dr. Alex Moreano, during several weeks he spent as a volunteer physician in a Vietnamese hospital in 2003.</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Hospital_(1970)" title="Hospital (1970)">Hospital (1970)</a> - An award winning film by Frederick Wiseman about the daily activities of the Metropolitan Hospital in New York
              City, with emphasis on the emergency ward and outpatient clinics</li>
          </ul>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Titicut_Follies_(1967)" title="Titicut Follies (1967)">Titicut Follies (1967)</a> - A disturbing documentary film by Frederick Wiseman about the treatment of inmates / patients
              at Bridgewater State Hospital for the Criminally Insane.</li>
          </ul>

          <h3> <span class="mw-headline" id="Feature_films_2">Feature films</span></h3>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Canary_(2009)&amp;action=edit&amp;redlink=1" title="Canary (2009) (page does not exist)">Canary (2009)</a> - An experimental film by Alejandro Adams set in a
              not-so-alternate universe in which organ harvesting is commonplace.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=The_Death_of_Mr._Lazarescu_(2005)&amp;action=edit&amp;redlink=1" title="The Death of Mr. Lazarescu (2005) (page does not exist)">The Death of Mr. Lazarescu (2005)</a>
              - Mr. Lazarescu, a 63 year old lonely man feels sick and calls the ambulance. When it arrives the doctor decides he should take him to the hospital but once there they decide to send him to another hospital and then yet
              another...</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=The_Constant_Gardner_(2005)&amp;action=edit&amp;redlink=1" title="The Constant Gardner (2005) (page does not exist)">The Constant Gardner (2005)</a> - A widower is
              determined to get to the bottom of a potentially explosive secret involving his wife's murder, Big Pharma and corporate corruption.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=The_Insider_(1999)&amp;action=edit&amp;redlink=1" title="The Insider (1999) (page does not exist)">The Insider (1999)</a> - The true story of a research chemist who
              comes under personal and professional attack when he decides to appear in a "60 Minutes" expose on Big Tobacco.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Patch_Adams_(1998)&amp;action=edit&amp;redlink=1" title="Patch Adams (1998) (page does not exist)">Patch Adams (1998)</a> - Fact-based story of Hunter "Patch" Adams,
              a medical student in the 1970's who treated patients, illegally, using humour.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=And_The_Band_Played_On_(1991)&amp;action=edit&amp;redlink=1" title="And The Band Played On (1991) (page does not exist)">And The Band Played On (1991)</a> - The story
              of the discovery of the AIDS epidemic and the political infighting of the scientific community hampering the early fight with it.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=One_Flew_Over_The_Cukkoo%27s_Nest_(1971)&amp;action=edit&amp;redlink=1" title="One Flew Over The Cukkoo's Nest (1971) (page does not exist)">One Flew Over The Cukkoo's
              Nest (1971)</a> - Upon arrival at a mental institution, a brash rebel rallies the patients together to take on the oppressive Nurse Ratched.</li>
          </ul>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Bigger_Than_Life_(1956)&amp;action=edit&amp;redlink=1" title="Bigger Than Life (1956) (page does not exist)">Bigger Than Life (1956)</a> - A seriously ill
              schoolteacher becomes dependent on a "miracle" drug that begins to affect his sanity.</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Films_on_health&amp;oldid=2113">http://www.communityhealth.in/~commun26/wiki/index.php?title=Portal:_Films_on_health&amp;oldid=2113</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Exploring_community_health" title="Category:Exploring community health">Exploring community health</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>