<!--
title: Post Graduate Institute of Medical Education and Research
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Post Graduate Institute of Medical Education and Research</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://pgimer.nic.in/" rel="nofollow">pgimer.nic.in</a> - Website of Post Graduate Institute of Medical Education and Research</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Post_Graduate_Institute_of_Medical_Education_and_Research" title="wikipedia:Post Graduate Institute of Medical Education and Research">Wikipedia: Post Graduate
              Institute of Medical Education and Research</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research&amp;oldid=974">http://www.communityhealth.in/~commun26/wiki/index.php?title=Post_Graduate_Institute_of_Medical_Education_and_Research&amp;oldid=974</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Medical_colleges" title="Category:Medical colleges">Medical colleges</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Punjab" title="Category:Punjab">Punjab</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Haryana" title="Category:Haryana">Haryana</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>