<!--
title: Prayas
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Prayas</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Prayas</b> is a <a class="new" href="/~commun26/wiki/index.php?title=Voluntary_organisation&amp;action=edit&amp;redlink=1" title="Voluntary organisation (page does not exist)">voluntary organisation</a> based in <a class="new" href="/~commun26/wiki/index.php?title=Rajasthan&amp;action=edit&amp;redlink=1" title="Rajasthan (page does not exist)">Rajasthan</a>. Since its inception in 1979 it has been actively working on issues related to
            social, political and economic development of communities. Its work includes evolving a convergent model for <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a>,
            addressing the issues of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Right_to_health" title="Right to health">right to health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Right_to_health_care&amp;action=edit&amp;redlink=1" title="Right to health care (page does not exist)">right to health care</a>, rights of women, children and marginalised groups,
            declining <a class="new" href="/~commun26/wiki/index.php?title=Sex_ratio&amp;action=edit&amp;redlink=1" title="Sex ratio (page does not exist)">sex ratio</a>, violence against women and organising communities to demand better
            livelihoods opportunities. Prayas works with a pro-people and pro- empowerment orientation and attempts to continuously respond to people’s voices and changing circumstances giving priority to concrete experience over conceived
            theory or received dogma.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details"> Contact details </span></h2>

          <p><b>Address:</b> 1/32, Nehru Nagar Housing Board, Senthi, Chittorgarh 312 025, Rajasthan, India</p>

          <p><b>Phone number:</b> +91-1472-243788 / 243674</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links"> External links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.prayaschittor.org/" rel="nofollow">www.prayaschittor.org</a> - Prayas website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Prayas&amp;oldid=238">http://www.communityhealth.in/~commun26/wiki/index.php?title=Prayas&amp;oldid=238</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Rajasthan" title="Category:Rajasthan">Rajasthan</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>