<!--
title: Pre-natal Diagnostic Techniques (Regulation and Prevention of Misuse) Amendment Act, 2002
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Pre-natal Diagnostic Techniques (Regulation and Prevention of Misuse) Amendment Act, 2002</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.commonlii.org/in/legis/num_act/pdtapomaa2002737/" rel="nofollow">Complete text of Act at www.commonlii.org</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Pre-natal_Diagnostic_Techniques_(Regulation_and_Prevention_of_Misuse)_Amendment_Act,_2002&amp;oldid=592">http://www.communityhealth.in/~commun26/wiki/index.php?title=Pre-natal_Diagnostic_Techniques_(Regulation_and_Prevention_of_Misuse)_Amendment_Act,_2002&amp;oldid=592</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Public_health_legislation" title="Category:Public health legislation">Public health legislation</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>