<!--
title: Primary health care
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Primary health care</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Primary health care</b> was a new approach to <a class="new" href="/~commun26/wiki/index.php?title=Health_care&amp;action=edit&amp;redlink=1" title="Health care (page does not exist)">health care</a> that came into
            existence following an international conference in Alma Ata in <a class="new" href="/~commun26/wiki/index.php?title=1978&amp;action=edit&amp;redlink=1" title="1978 (page does not exist)">1978</a> organised by the <a href="/~commun26/wiki/index.php?title=World_Health_Organisation" title="World Health Organisation">World Health Organisation</a> and the <a class="new" href="/~commun26/wiki/index.php?title=UNICEF&amp;action=edit&amp;redlink=1" title="UNICEF (page does not exist)">UNICEF</a>. The <a class="new" href="/~commun26/wiki/index.php?title=Alma_Ata_conference&amp;action=edit&amp;redlink=1" title="Alma Ata conference (page does not exist)">Alma Ata conference</a> defined primary health care as follows:</p>

          <blockquote></blockquote>
        </div>
      </div>
    </div>