<!--
title: Public Health in India
description: 
published: true
date: 2023-06-26T09:24:17.344Z
tags: public health information sources, social networks in public health in india and related
editor: ckeditor
dateCreated: 2023-06-26T09:24:17.344Z
-->

<p style="text-align:justify;">A group of 1000 + members on face book. It is a platform for discussions in Public Health, technical guidance, advocacy and information.</p>
<p style="text-align:justify;">&nbsp;</p>
