<!--
title: Public Health Foundation of India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Public Health Foundation of India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Public Health Foundation of India (PHFI) is a public private initiative that has collaboratively evolved through consultations with multiple constituencies. It is an independent foundation which adopts a broad,
            integrative approach to public health, tailored to Indian conditions. It has Established 5 Institutes of Public health which run Academic Programmes.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.phfi.org/" rel="nofollow">www.phfi.org</a> - Public Health Foundation of India website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Public_Health_Foundation_of_India&amp;oldid=2072">http://www.communityhealth.in/~commun26/wiki/index.php?title=Public_Health_Foundation_of_India&amp;oldid=2072</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a class="new" href="/~commun26/wiki/index.php?title=Category:Public_private_partnerships&amp;action=edit&amp;redlink=1" title="Category:Public private partnerships (page does not exist)">Public private partnerships</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions" title="Category:Academic institutions">Academic institutions</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>