<!--
title: Public Health Resource Network
description: 
published: true
date: 2023-06-26T05:44:22.223Z
tags: civil society institutions and networks, communityhealth.in, public health information sources
editor: ckeditor
dateCreated: 2023-01-29T17:19:42.159Z
-->

<h1>Public Health Resource Network</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p><strong>Public Health Resource Netwrok-PHRN</strong> works through NGO networks and state health societies, to accelerate and consolidate the potential gains from the NRHM. They run module based programme for capacity building which is more informal, open ended participatory learning. This programme complements the official processes of capacity building and is not a substitute for the formal training and certification of public health management.</p>
<figure class="image"><img src="/phrn-logo.gif"></figure>
<p><br><br>&nbsp;</p>
<h2>External Links</h2>
<ul>
  <li><a href="http://www.phrnindia.org/">www.phrnindia.org</a> - Public Health Resource Network website</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Public_Health_Resource_Network&amp;oldid=2054">http://www.communityhealth.in/~commun26/wiki/index.php?title=Public_Health_Resource_Network&amp;oldid=2054</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:NGOs">NGOs</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:New_Delhi">New Delhi</a></li>
</ul>
