<!--
title: Public Health Foundation of India- PHFI 
description: 
published: true
date: 2023-06-15T09:27:50.802Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T08:19:55.356Z
-->

<p><span class="text-big"><strong>Public Health Foundation of India- PHFI&nbsp;(Bangalore Campus)</strong></span></p>
<p>The Public Health Foundation of India (PHFI) is a public private initiative that has collaboratively evolved through consultations with multiple constituencies. It is an independent foundation which adopts a broad, integrative approach to public health, tailored to Indian conditions. It has Established 5 Institutes of Public health which runs Academic Programmes. The Indian Institute of Public Health (IIPH) Hyderabad commenced its activities on July 1, 2008, with a mission to deliver public health education, pursue research and advocacy and support policy development. It lays strong emphasis on pursuing public health policy, practice, training and research, positioning its programmes according to the public health priorities of the state and the nation. The IIPH Hyderabad has now established a Bangalore campus, which conducts one year postgraduate diploma in public health management and also conducts a short course in&nbsp;Field Epidemiology Training Program (FETP).</p>
<p>Website Link:</p>
<p><a href="https://phfi.org/">https://phfi.org/</a></p>
<figure class="image image_resized" style="width:62.96%;"><img src="/phfi.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
