<!--
title: Questioning the Solution: The Politics of Primary Health Care and Child Survival
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Questioning The Solution</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Questioning_the_Solution:_The_Politics_of_Primary_Health_Care_and_Child_Survival&amp;redirect=no" title="Questioning the Solution: The Politics of Primary Health Care and Child Survival">Questioning the Solution: The Politics of Primary Health Care and Child Survival</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Questioning The Solution: The Politics Of Primary Health Care and Child Survival</b> by <a class="new" href="/~commun26/wiki/index.php?title=David_Werner&amp;action=edit&amp;redlink=1" title="David Werner (page does not exist)">David Werner</a> and <a class="new" href="/~commun26/wiki/index.php?title=David_Sanders&amp;action=edit&amp;redlink=1" title="David Sanders (page does not exist)">David Sanders</a>
            with Jason Weston, Steve Babb and Bill Rodriguez, HealthWrights (1997)</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:QTScover.jpg"><img alt="" class="thumbimage" height="236" src="/~commun26/wiki/images/thumb/c/c8/QTScover.jpg/180px-QTScover.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:QTScover.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Questioning The Solution</div>
            </div>
          </div>
          Questioning The Solution is a book about the problems of <a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a> and <a class="new" href="/~commun26/wiki/index.php?title=Child_survival&amp;action=edit&amp;redlink=1" title="Child survival (page does not exist)">child survival</a> in underprivileged countries and communities. Divided into four parts, this
          book focuses on diarrhoeal disease in exploring the complex determinants of child health and quality of life. Part 1 presents a brief historical overview of health services from colonial times until the 1970s. It discusses the
          concept of Primary Health Care as formulated in 1978 at Alma Ata. In Part 2, as a case study, the authors show how marketing <a class="new" href="/~commun26/wiki/index.php?title=Oral_Rehydration_Therapy&amp;action=edit&amp;redlink=1" title="Oral Rehydration Therapy (page does not exist)">Oral Rehydration Therapy</a> as a commercial product has turned this
          potentially life-saving technology into yet another way of exploiting and further impoverishing the poor. Part 3 looks at the determinants of <a class="new" href="/~commun26/wiki/index.php?title=Population_health&amp;action=edit&amp;redlink=1" title="Population health (page does not exist)">population health</a> from a historical and contemporary perspective. Part 4 concludes with
          a few examples of <a href="/~commun26/wiki/index.php?title=Equity" title="Equity">equity</a>-seeking, health-promoting initiatives. These range from programs focusing on specific urgent health problems such as diarrhea and
          undernutrition to comprehensive efforts which place <a class="new" href="/~commun26/wiki/index.php?title=Health_care&amp;action=edit&amp;redlink=1" title="Health care (page does not exist)">health care</a> within the context of
          working toward fairer, healthier social structures.
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links"> External Links </span></h2>

          <ul>
            <li> <a class="external text" href="http://www.healthwrights.org/books/QTSonline.htm" rel="nofollow">www.healthwrights.org/books/QTSonline.htm</a> - Complete PDF text of Questioning The Solution.</li>

            <li> <a class="external text" href="http://books.google.com/books?id=XQ6TJgAACAAJ&amp;dq=Questioning+the+solution" rel="nofollow">Questioning The Solution on Google Books</a></li>

            <li> <a class="external text" href="http://humaninfo.org/aviva/ch43.htm" rel="nofollow">Review of Questioning The Solution by Claudio Schuftan</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Questioning_The_Solution&amp;oldid=710">http://www.communityhealth.in/~commun26/wiki/index.php?title=Questioning_The_Solution&amp;oldid=710</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Primary_health_care" title="Category:Primary health care">Primary health care</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>