<!--
title: Rajendra Memorial Research Institute of Medical Sciences
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Rajendra Memorial Research Institute of Medical Sciences</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Rajendra Memorial Research Institute of Medical Sciences</b> was established by the state of Bihar in 1963 and was subsequently taken over by <a class="mw-redirect" href="/~commun26/wiki/index.php?title=ICMR" title="ICMR">ICMR</a> in 1981. The thrust areas of research at the Institute are the studies on <a class="new" href="/~commun26/wiki/index.php?title=Kala-azar&amp;action=edit&amp;redlink=1" title="Kala-azar (page does not exist)">kala-azar</a> including its diagnosis, epidemiology, vector biology and control.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Rajendra Memorial Research Institute of Medical Sciences, Agam Kuan, Patna - 800 007</p>

          <p><b>Tel. No.:</b> +91- 612- 2631565, 2636651</p>

          <p><b>Fax No.:</b> +91- 612 - 2634379</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.rmrims.org.in/" rel="nofollow">www.rmrims.org.in</a> - Rajendra Memorial Research Institute of Medical Sciences website</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Rajendra_Memorial_Research_Institute_of_Medical_Sciences" title="wikipedia:Rajendra Memorial Research Institute of Medical Sciences">Wikipedia: Rajendra Memorial
              Research Institute of Medical Sciences</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Rajendra_Memorial_Research_Institute_of_Medical_Sciences&amp;oldid=1094">http://www.communityhealth.in/~commun26/wiki/index.php?title=Rajendra_Memorial_Research_Institute_of_Medical_Sciences&amp;oldid=1094</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Kala-azar" title="Category:Kala-azar">Kala-azar</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Bihar" title="Category:Bihar">Bihar</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>