<!--
title: Rajiv Gandhi Institute of Public Health and Centre for Disease Control
description: 
published: true
date: 2023-06-15T09:28:27.899Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T09:08:48.187Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>Rajiv Gandhi Institute of Public Health and Centre for Disease Control</strong></span></p>
<p style="text-align:justify;">The Rajiv Gandhi University of Health Sciences (RGUHS) established the Rajiv Gandhi Institute of Public Health and the Centre for Disease Control (RGIPH&amp;CDC) in July 2013 as its renewed commitment towards strengthening public health capacity and system development in the state, country and region. The University has launched a special post graduate degree - Master of Public Health-(Honours) in the academic year 2014-15, committed to the broad objectives of promoting ‘Right to Health’ and ‘Social Determinants’. Through this course the RGUHS is initiating a new focus&nbsp;which goes much beyond the scope of the current public health courses in the country.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="http://www.rguhs.ac.in/">http://www.rguhs.ac.in/</a></p>
<figure class="image"><img src="/logo_of_rajiv_gandhi_university_of_health_sciences.png"></figure>
