<!--
title: Raju Narzary
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Raju Narzary</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Raju Narzary</b> is a social activist working to promote equitable development in the villages of Bodoland.</p>

          <p>Raju's first introduction to activism was with the student movement in Assam. He went on to obtain a degree in social work from <a href="/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences" title="Tata Institute of Social Sciences">Tata Institute of Social Sciences</a> before returning to work in Assam. He currently works to promote the right of communities in Bodoland to equitable health. He promotes the
            livelihood of women vendors and conducts actionable research for development.</p>

          <p>He is also a member of the <a class="new" href="/~commun26/wiki/index.php?title=People%27s_Right_Forum,_Assam&amp;action=edit&amp;redlink=1" title="People's Right Forum, Assam (page does not exist)">People's Right Forum,
            Assam</a>, <a class="new" href="/~commun26/wiki/index.php?title=National_Campaign_for_Right_to_Food&amp;action=edit&amp;redlink=1" title="National Campaign for Right to Food (page does not exist)">National Campaign for Right
            to Food</a>, the <a class="new" href="/~commun26/wiki/index.php?title=Lower_Assam_NGO_Forum&amp;action=edit&amp;redlink=1" title="Lower Assam NGO Forum (page does not exist)">Lower Assam NGO Forum</a> and the <a href="/~commun26/wiki/index.php?title=Medico_Friend_Circle" title="Medico Friend Circle">Medico Friend Circle</a>.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Hatimata, Kokraihar, Assam - 783370</p>

          <p><b>Phone:</b> 03661-275714</p>

          <p><b>Email:</b> raju.nerswn@gmail.com</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Raju_Narzary&amp;oldid=1224">http://www.communityhealth.in/~commun26/wiki/index.php?title=Raju_Narzary&amp;oldid=1224</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam">Assam</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>