<!--
title: Rakku's Story: Structures of Ill-Health and the Source of Change
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Rakku's Story: Structures of Ill-Health and the Source of Change</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Rakku's Story: Structures of Ill-Health and the Source of Change</b> by <a class="new" href="/~commun26/wiki/index.php?title=Sheila_Zurbrigg&amp;action=edit&amp;redlink=1" title="Sheila Zurbrigg (page does not exist)">Sheila Zurbrigg</a>, Centre for Social Action, Bangalore (1984)</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:RakkusStory.jpg"><img alt="" class="thumbimage" height="274" src="/~commun26/wiki/images/thumb/8/81/RakkusStory.jpg/180px-RakkusStory.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:RakkusStory.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Rakku's Story</div>
            </div>
          </div>
          This book turns the usual approach to health analysis on its head. It begins by looking at continuing ill-health in India through the life of a labouring village woman, exploring the forces which keep her from adequately feeding
          and caring for her children and herself. It probes the source of ill-health, not by focusing on missing nutrients, drugs or skills, but by looking at the way disease and <a class="new" href="/~commun26/wiki/index.php?title=Malnutrition&amp;action=edit&amp;redlink=1" title="Malnutrition (page does not exist)">malnutrition</a> are distributed in society - an approach which necessarily sheds light on the
          distribution of <a href="/~commun26/wiki/index.php?title=Food" title="Food">food</a> and all resources, and thus also, the distribution of power. Inequalities within the existing <a class="new" href="/~commun26/wiki/index.php?title=Healthcare_system&amp;action=edit&amp;redlink=1" title="Healthcare system (page does not exist)">healthcare system</a> thus become a window on the structures and forces operating throughout
          society.
          <p>This study takes ill-health out of the medical realm into the arena of <a href="/~commun26/wiki/index.php?title=Poverty" title="Poverty">poverty</a> and powerlessness. It analyses that poverty within a social and political
            context, not as an immutable or inevitable situation but rather as the result of specific and historical forces in process in the country. It argues that the existing socio-economic order which perpetuates underdevelopment,
            contains within it an inherent ill-health "logic" as well. Such a perspective demands a re-assessment of the relevance of current "<a href="/~commun26/wiki/index.php?title=Primary_health_care" title="Primary health care">primary health care</a>" activities in the country.</p>

          <p>The purpose of the book is to shift the attention and efforts of <a class="new" href="/~commun26/wiki/index.php?title=Health_workers&amp;action=edit&amp;redlink=1" title="Health workers (page does not exist)">health
            workers</a> to the poverty - dependency - ill-health dynamic, and to suggest how issues of ill-health can be used to strengthen the broader struggle by the labouring poor for <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a> and <a class="new" href="/~commun26/wiki/index.php?title=Social_justice&amp;action=edit&amp;redlink=1" title="Social justice (page does not exist)">social justice</a>.</p>

          <h2> <span class="mw-headline" id="Download">Download</span></h2>

          <p><b><a class="external text" href="http://www.communityhealth.in/~commun26/files/ZurbriggRakkusStory.pdf" rel="nofollow">Download complete text of Rakku's Story (38.7 MB)</a></b></p>

          <p>Download the book in parts - <a class="internal" href="/~commun26/wiki/images/7/7b/ZurbriggRakkusStoryPart1.pdf" title="ZurbriggRakkusStoryPart1.pdf"> Part 1 (6MB)</a> | <a class="internal" href="/~commun26/wiki/images/d/d1/ZurbriggRakkusStoryPart2.pdf" title="ZurbriggRakkusStoryPart2.pdf"> Part 2 (10.67MB)</a> | <a class="internal" href="/~commun26/wiki/images/3/39/ZurbriggRakkusStoryPart3.pdf" title="ZurbriggRakkusStoryPart3.pdf"> Part 3 (12.56MB)</a> | <a class="internal" href="/~commun26/wiki/images/d/de/ZurbriggRakkusStoryPart4.pdf" title="ZurbriggRakkusStoryPart4.pdf"> Part 4 (9.72MB)</a><b> </b></p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://books.google.com/books?id=EjV1AAAAIAAJ&amp;dq=inauthor:%22Sheila+Zurbrigg%22" rel="nofollow">Rakku's Story on Google Books</a></li>

            <li> <a class="external text" href="https://youtu.be/C_BbzFO68QM" rel="nofollow">Rukku's Story Video</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change&amp;oldid=2096">http://www.communityhealth.in/~commun26/wiki/index.php?title=Rakku%27s_Story:_Structures_of_Ill-Health_and_the_Source_of_Change&amp;oldid=2096</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Out_of_print_books" title="Category:Out of print books">Out of print books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>