<!--
title: Raman Kataria
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Raman Kataria</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><strong class="selflink">Raman Kataria</strong>, MBBS, MS (General Surgery) M.Ch. (Pediatric Surgery) works as a pediatric surgeon at <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahayog" title="Jan Swasthya Sahayog">Jan Swasthya Sahayog</a> is Bilaspur, <a class="new" href="/~commun26/wiki/index.php?title=Chhattisgarh&amp;action=edit&amp;redlink=1" title="Chhattisgarh (page does not exist)">Chhattisgarh</a>. He has a special interest in developing surgical facilities in rural areas and in innovating low cost equipment and methods for medical care.</p>

          <p>Raman Kataria graduated from <a class="new" href="/~commun26/wiki/index.php?title=All_India_Institute_of_Medical_Studies&amp;action=edit&amp;redlink=1" title="All India Institute of Medical Studies (page does not exist)">All
            India Institute of Medical Studies</a>, New Delhi and went on to specialise in Surgery and then in Pediatric Surgery from the same institution. He also qualified as a Diplomate of the National Board in his field He worked as
            an Associate Professor at the <a class="new" href="/~commun26/wiki/index.php?title=Himalayan_Institute_of_Medical_Sciences&amp;action=edit&amp;redlink=1" title="Himalayan Institute of Medical Sciences (page does not exist)">Himalayan Institute of Medical Sciences</a>, Dehradun before moving down to Bilaspur in February, 2000.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li><a class="mw-redirect" href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahayog" title="Jan Swasthya Sahayog">Jan Swasthya Sahayog</a></li>
          </ul>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.janswasthyasahyog.com" rel="nofollow">www.janswasthyasahyog.com</a> - Jan Swasthya Sahayog website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Raman_Kataria&amp;oldid=322">http://www.communityhealth.in/~commun26/wiki/index.php?title=Raman_Kataria&amp;oldid=322</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>