<!--
title: Ravi D'Souza
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Ravi D'Souza</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Ravi D'souza</b> obtained his MBBS and MD (Community Medicine) degrees from <a href="/~commun26/wiki/index.php?title=Christian_Medical_College,_Vellore" title="Christian Medical College, Vellore">Christian Medical
            College, Vellore</a>. His area of interest has been communicable diseases, especially <a href="/~commun26/wiki/index.php?title=Malaria" title="Malaria">malaria</a> and <a class="new" href="/~commun26/wiki/index.php?title=Leprosy&amp;action=edit&amp;redlink=1" title="Leprosy (page does not exist)">leprosy</a>. Working in <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> for over 20 years, he has also been involved in issues concerning <a class="new" href="/~commun26/wiki/index.php?title=Rational_drug_use&amp;action=edit&amp;redlink=1" title="Rational drug use (page does not exist)">rational drug use</a>, drug policy and increasing awareness among lay persons about the proper use of medicines. Dr. D'souza worked in rural Orissa before moving to
            Chhattisgargh to become part of the group of doctors working at <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Sahyog" title="Jan Swasthya Sahyog">Jan Swasthya Sahyog</a>(JSS), Bilaspur.</p>

          <p><br></br>
            {{stub]]</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_D%27Souza&amp;oldid=1496">http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_D%27Souza&amp;oldid=1496</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Chhattisgarh" title="Category:Chhattisgarh">Chhattisgarh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>