<!--
title: Ravi Duggal
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Ravi Duggal</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Ravi Duggal</b> is an independent health researcher based in Pune. He is associated with the <a class="new" href="/~commun26/wiki/index.php?title=International_Budget_Partnership&amp;action=edit&amp;redlink=1" title="International Budget Partnership (page does not exist)">International Budget Partnership</a> and the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's
            Health Movement</a>. His current areas of interest include <a class="new" href="/~commun26/wiki/index.php?title=Health_policy&amp;action=edit&amp;redlink=1" title="Health policy (page does not exist)">health policy</a> and
            financing, women’s health issues, <a class="new" href="/~commun26/wiki/index.php?title=Private_health_sector&amp;action=edit&amp;redlink=1" title="Private health sector (page does not exist)">private health sector</a>
            regulation, <a class="new" href="/~commun26/wiki/index.php?title=Health_insurance&amp;action=edit&amp;redlink=1" title="Health insurance (page does not exist)">health insurance</a> and <a class="new" href="/~commun26/wiki/index.php?title=Micro_credit&amp;action=edit&amp;redlink=1" title="Micro credit (page does not exist)">micro credit</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://education.vsnl.com/healthpolicy/" rel="nofollow">education.vsnl.com/healthpolicy</a> - Site on health policy created by Ravi Duggal</li>

            <li> <a class="external text" href="http://raviduggalthoughts.blogspot.com/" rel="nofollow">raviduggalthoughts.blogspot.com</a> - Ravi Duggal's personal blog</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_Duggal&amp;oldid=366">http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_Duggal&amp;oldid=366</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra" title="Category:Maharashtra">Maharashtra</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>