<!--
title: Ravi Narayan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Ravi Narayan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Ravi Narayan</b> is a public health professional and health activist who currently works as a Community Health Adviser at <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a>, Bangalore. His main interests include the community paradigm in health and the evolution of health as a social movement.</p>

          <p>Dr. Ravi Narayan is an active member of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a> network. He was the joint convener of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> till December 2002 and later coordinator of the Global Secretariat of People's Health Movement from January
            2003 to July 2006. Currently he is a member of WHO Advocacy Circle of PHM and also part of the PHM Steering Council and Coordinating Council. He is also associated with the <a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a> and a faculty of the <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a>.</p>

          <p>He is a council member of the <a href="/~commun26/wiki/index.php?title=Global_Forum_for_Health_Research" title="Global Forum for Health Research">Global Forum for Health Research</a> and founding governing body member of
            the <a href="/~commun26/wiki/index.php?title=Public_Health_Foundation_of_India" title="Public Health Foundation of India">Public Health Foundation of India</a>. He is a member of the Task Force on Primary Health Care of the
            <a class="new" href="/~commun26/wiki/index.php?title=Planning_Commission_of_India&amp;action=edit&amp;redlink=1" title="Planning Commission of India (page does not exist)">Planning Commission of India</a> and is also closely
            associated with two major initiatives of the Central Ministry of Health, the <a href="/~commun26/wiki/index.php?title=National_Rural_Health_Mission" title="National Rural Health Mission">National Rural Health Mission</a> and
            the <a class="new" href="/~commun26/wiki/index.php?title=AYUSH_and_Public_Health_Initiative&amp;action=edit&amp;redlink=1" title="AYUSH and Public Health Initiative (page does not exist)">AYUSH and Public Health Initiative</a>. He is also a member of the International Advisory Committee and the speciality advisor on public health of the <a href="/~commun26/wiki/index.php?title=British_Medical_Journal" title="British Medical Journal">British
            Medical Journal</a>.</p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness, Research
              and Action</a></li>
          </ul>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Centre for Public Health and Equity, Society for Community Health Awareness, Research and Action (SOCHARA), 359, Srinivasa Nilaya, Jakkasandra 1st Main, 1st Block, Koramangala, Bangalore, Karnataka, India
            560034</p>

          <p><b>Telephone</b> +91-080-41280009</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://narayanblog.blogspot.com" rel="nofollow">narayanblog.blogspot.com</a> - Dr. Ravi Narayan's personal blog</li>

            <li> <a class="external text" href="http://www.sochara.org" rel="nofollow">www.sochara.org</a> - The Society for Community Health Awareness, Research and Action website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_Narayan&amp;oldid=1212">http://www.communityhealth.in/~commun26/wiki/index.php?title=Ravi_Narayan&amp;oldid=1212</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>