<!--
title: Reaching India's Poor: Non-governmental Approaches to Community Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Reaching India's Poor: Non-governmental Approaches to Community Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Reaching India's Poor: Non-governmental Approaches to Community Health</b> by <a class="new" href="/~commun26/wiki/index.php?title=Saroj_Pachauri&amp;action=edit&amp;redlink=1" title="Saroj Pachauri (page does not exist)">Saroj Pachauri</a>. Published by Sage Publications (1994).</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <p>The book attempts to deal with the paucity of in-depth analysis of <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Non-governmental_organisations" title="Non-governmental organisations">non-governmental
            organisations</a> working in <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a>. The first part of the book comprises 12 case studies that were originally published as
            the <a href="/~commun26/wiki/index.php?title=Anubhav_Series" title="Anubhav Series">Anubhav Series</a> commissioned by the <a href="/~commun26/wiki/index.php?title=Ford_Foundation" title="Ford Foundation">Ford Foundation</a> and which portray selected NGOs implementing health and family welfare programmes in various parts of India, serving tribal, rural and urban populations. In the second part of the book, a group of social scientists and <a href="/~commun26/wiki/index.php?title=Public_health" title="Public health">public health</a> specialists have reflected on the historical, organisational and financial aspects of NGOs.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://books.google.com/books?id=U_vaAAAAMAAJ&amp;q=Reaching+India%27s+Poor:+Non-governmental+Approaches+to+Community+Health&amp;dq=Reaching+India%27s+Poor:+Non-governmental+Approaches+to+Community+Health&amp;cd=1" rel="nofollow">Reaching India's Poor: Non-governmental Approaches to Community Health on Google Books</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Reaching_India%27s_Poor:_Non-governmental_Approaches_to_Community_Health&amp;oldid=889">http://www.communityhealth.in/~commun26/wiki/index.php?title=Reaching_India%27s_Poor:_Non-governmental_Approaches_to_Community_Health&amp;oldid=889</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>