<!--
title: Regional Occupational Health Centre
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Regional Occupational Health Centre</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Regional Occupational Health Centre</b> is the southern regional centre of the <a href="/~commun26/wiki/index.php?title=National_Institute_of_Occupational_Health" title="National Institute of Occupational Health">National Institute of Occupational Health</a>. It is located in Bangalore near the International Airport.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Regional_Occupational_Health_Centre&amp;oldid=1343">http://www.communityhealth.in/~commun26/wiki/index.php?title=Regional_Occupational_Health_Centre&amp;oldid=1343</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Environmental_health" title="Category:Environmental health">Environmental health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Occupational_health" title="Category:Occupational health">Occupational health</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>