<!--
title: Regional Occupational Health Centre (Southern) Bengaluru, of the National Institute of Occupational health
description: 
published: true
date: 2023-06-15T09:23:21.404Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T09:18:03.117Z
-->

<p><span class="text-big"><strong>Regional Occupational Health Centre (Southern) Bengaluru, of the National Institute of Occupational health</strong></span></p>
<p style="text-align:justify;">ROCH was instituted in 1977, since inception has been engaged in occupational health research addressing issues of the Southern states - Andhra Pradesh, Karnataka, Tamil Nadu, Kerala and the Union Territory of Pondicherry.</p>
<p>Research studies include occupational hazards of workers in coir, electroplating, grain handlers, ferro alloy, lead battery, tea plantation, catalyst processing, printing press, beedi rolling, latex industry, tyre manufacturing, instrument manufacturing factory, match factories, steel manufacturing plant, waste disposal, sheep wool shearing, road paving, etc. Air pollution studies, in rural and urban areas, PAH in high density traffic areas, steel manufacturing plant and exposure assessment of benzene. Noise in watch industry, diesel engine power plant, national environmental health profile.</p>
<p>Website Links:</p>
<p>ROCH: <a href="https://www.indiascienceandtechnology.gov.in/allstinstitutions/regional-occupational-health-centre-southern-bengaluru">https://www.indiascienceandtechnology.gov.in/allstinstitutions/regional-occupational-health-centre-southern-bengaluru</a></p>
<p>NIOH: <a href="https://www.nioh.org/">https://www.nioh.org/</a></p>
<figure class="image"><img src="/logo.jpg"></figure>
<p>&nbsp;</p>
