<!--
title: Report of the Independent Commission on Health in India
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Report of the Independent Commission on Health in India</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:IndieCommOnHealth.jpg"><img alt="" class="thumbimage" height="251" src="/~commun26/wiki/images/thumb/c/c2/IndieCommOnHealth.jpg/180px-IndieCommOnHealth.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:IndieCommOnHealth.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of the Report of the Independent Commission on Health in India</div>
            </div>
          </div>
          Voluntary Health Association of India (VHAI) facilitated setting up of the Independent Commission on Health in India in 1995. The report of the Report of the Commission was released in 1998 by the Prime Minister and was also
          presented to the President of India. The Report was a summarized version of voluminous reports prepared by the Commission over two years, some of the significant chapters were published as separate monographs.
          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Report_of_the_Independent_Commission_on_Health_in_India&amp;oldid=1862">http://www.communityhealth.in/~commun26/wiki/index.php?title=Report_of_the_Independent_Commission_on_Health_in_India&amp;oldid=1862</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>