<!--
title: Revitalising Health for All - Learning from Comprehensive Primary Health Care Experiences research project
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Revitalising Health for All - Learning from Comprehensive Primary Health Care Experiences research project</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.globalhealthequity.ca/projects/proj_revitalizing/index.shtml" rel="nofollow">www.globalhealthequity.ca/projects/proj_revitalizing/index.shtml</a></li>
          </ul>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Revitalising_Health_for_All_-_Learning_from_Comprehensive_Primary_Health_Care_Experiences_research_project&amp;oldid=330">http://www.communityhealth.in/~commun26/wiki/index.php?title=Revitalising_Health_for_All_-_Learning_from_Comprehensive_Primary_Health_Care_Experiences_research_project&amp;oldid=330</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Primary_health_care" title="Category:Primary health care">Primary health care</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>