<!--
title: Revised National Tuberculosis Control Programme
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Revised National Tuberculosis Control Programme</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>Revised National Tuberculosis Control Programme</b> (RNTCP) is a government health programme that incorporates the WHO recommended Directly Observed Treatment, Short Course (DOTS) strategy. RNTCP was launched in
            1997.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.tbcindia.org" rel="nofollow">www.tbcindia.org</a> - Tuberculosis Control India website</li>
          </ul>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Revised_National_Tuberculosis_Control_Programme&amp;oldid=1273">http://www.communityhealth.in/~commun26/wiki/index.php?title=Revised_National_Tuberculosis_Control_Programme&amp;oldid=1273</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Tuberculosis" title="Category:Tuberculosis">Tuberculosis</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Central_government_programmes" title="Category:Central government programmes">Central government programmes</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>