<!--
title: Right to Health
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Right to Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Right to health</b> is defined by Article 12 of the <a href="/~commun26/wiki/index.php?title=International_Covenant_on_Economic,_Social_and_Cultural_Rights" title="International Covenant on Economic, Social and Cultural Rights">International Covenant on Economic, Social and Cultural Rights</a> (ICESCR) as “the right of everyone to the enjoyment of the highest attainable standard
            of physical and mental <a href="/~commun26/wiki/index.php?title=Health" title="Health">health</a>”.</p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="external text" href="http://www.bma.org.uk/ap.nsf/Content/righttohealthintro" rel="nofollow">British Medical Association: An introduction to the Right to Health</a></li>

            <li><a class="external text" href="http://www.bma.org.uk/ap.nsf/Content/RighttoHealthtoolkit" rel="nofollow">BMA Right to Health toolkit for health professionals</a></li>

            <li><a class="external text" href="http://www.phmovement.org/en/campaigns/145/page" rel="nofollow">People's Health Movement - Global Right to Health Campaign</a></li>

            <li><a class="external text" href="http://www.who.int/hhr/en/" rel="nofollow">WHO Programmes and Projects: Health and Human Rights</a></li>

            <li><a class="extiw" href="http://en.wikipedia.org/wiki/Right_to_Health" title="wikipedia:Right to Health">Wikipedia: Right to Health</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Right_to_Health&amp;oldid=1340">http://www.communityhealth.in/~commun26/wiki/index.php?title=Right_to_Health&amp;oldid=1340</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Glossary" title="Category:Glossary">Glossary</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>