<!--
title: Rural Development: Putting The Last First
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Rural Development: Putting The Last First</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Rural Development: Putting The Last First</b> by Robert Chambers, Longman (1983)</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:182px;"><a class="image" href="/~commun26/wiki/index.php?title=File:RuralDevelopment.jpg"><img alt="" class="thumbimage" height="283" src="/~commun26/wiki/images/thumb/f/fb/RuralDevelopment.jpg/180px-RuralDevelopment.jpg" width="180"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:RuralDevelopment.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Rural Development</div>
            </div>
          </div>
          "The extremes of rural poverty in the Thrid World are an outrage." Starting with this uncompromising statement, the author challenges preconceptions dominating rural development. The central theme of the book is that rural
          poverty is often unseen or misperceived by outsiders, those who are not themselves rural and poor. Dr. Chambers contends that researchers, scientists, administrators and fieldworkers rarely appreciate the richness and validity of
          rural people's knowledge or the hidden nature of rural poverty. He argues for a new professionalism, with fundamental reversals in outsider's learning, values and behaviour and proposes more realistic action for tackling rural
          poverty.
          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.ntd.co.uk/idsbookshop/details.asp?id=234" rel="nofollow">Buy Rural Development: Putting The Last First at the IDS bookstore</a></li>

            <li> <a class="external text" href="http://books.google.com/books?id=vjWFAAAAIAAJ&amp;q=Rural+Development+robert+chambers&amp;dq=Rural+Development+robert+chambers&amp;cd=1" rel="nofollow">Rural Development: Putting The Last
              First on Google Books</a></li>

            <li> <a class="external text" href="http://aje.sagepub.com/cgi/pdf_extract/10/3/25" rel="nofollow">Review of book at American Journal For Evaluation</a></li>

            <li> <a class="external text" href="http://opendocs.ids.ac.uk/opendocs/handle/123456789/178?show=full" rel="nofollow">Download the book from Open Docs, Institution for Development Studies</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Rural_Development:_Putting_The_Last_First&amp;oldid=1859">http://www.communityhealth.in/~commun26/wiki/index.php?title=Rural_Development:_Putting_The_Last_First&amp;oldid=1859</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>