<!--
title: Sama
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Sama - Resource Group for Women and Health</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub">(Redirected from <a href="/~commun26/wiki/index.php?title=Sama&amp;redirect=no" title="Sama">Sama</a>)</div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Sama - Resource Group for Women and Health</b> is a Delhi based NGO that works on issues related to women and health. They initiate interventions that enable and empower people to have greater control over their
            physical, social, and political environments, all of which influence their health.Their work involves research, training and advocacy in issues including population policies, medical and reproductive technologies, <a href="/~commun26/wiki/index.php?title=Clinical_trials" title="Clinical trials">clinical trials</a> and violence against women. Sama is also an active member of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> network.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Download_Sama_publications"> Download Sama publications </span></h2>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/3/39/Sama_Unveiled_Realities.pdf" title="Sama Unveiled Realities.pdf"> Unveiled Realities: A study on women’s experiences with Depo-Provera, an injectable contraceptive,
              2003</a> (255KB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/3/38/Sama_ARTs_and_Women.pdf" title="Sama ARTs and Women.pdf"> ARTs and Women: Assistance in Reproduction or Subjugation?, 2006</a> (5.6MB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/0/0f/Sama_Constructing_Conceptions.pdf" title="Sama Constructing Conceptions.pdf"> Constructing Conceptions: The Mapping of Assisted Reproductive Technologies in India,
              2010</a> (3.36MB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/c/c5/ARTConsultation2010SAMA.pdf" title="ARTConsultation2010SAMA.pdf"> Report on International Consultation on Commercial, Economic and Ethical Aspects of Assisted
              Reproductive Technologies, 2010</a> (223KB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/0/0d/Sama_ART_Bill_Policy_Brief_2010.pdf" title="Sama ART Bill Policy Brief 2010.pdf"> The Assisted Reproductive Technology (Regulation) Bill &amp; Rules (Draft): Issues
              and Concerns, 2010</a> (5.6MB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/3/34/DrugTrialsConsultation_2011SAMA.pdf" title="DrugTrialsConsultation 2011SAMA.pdf"> Report on National Consultation on Regulation of Drug Trials, 2011</a> (3.5MB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/e/ea/Sama_Free_Treatment_in_Private_Sector.pdf" title="Sama Free Treatment in Private Sector.pdf"> Free Treatment in the Private Sector: Myth or Reality? A Pilot Study of
              Private Hospitals in Delhi, 2011</a> (1.75MB)</li>

            <li> <a class="internal" href="/~commun26/wiki/images/e/e8/Sama_Birthing_A_Market.pdf" title="Sama Birthing A Market.pdf"> Birthing A Market: A Study on Commercial Surrogacy, 2012</a> (896 KB)</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.samawomenshealth.org" rel="nofollow">www.samawomenshealth.org</a> - Sama website</li>

            <li> <a class="external text" href="http://samawomenshealth.wordpress.com/" rel="nofollow">www.samawomenshealth.wordpress.com</a> Sama blog</li>
          </ul>

          <p><br></br>
          </p>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Sama_-_Resource_Group_for_Women_and_Health&amp;oldid=1986">http://www.communityhealth.in/~commun26/wiki/index.php?title=Sama_-_Resource_Group_for_Women_and_Health&amp;oldid=1986</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:New_Delhi" title="Category:New Delhi">New Delhi</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>