<!--
title: Sambhavna Trust
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Sambhavna Trust</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Sambhavna Trust Clinic, or Bhopal People's Health and Documentation Clinic, is a charitable trust run by a group of doctors, scientists, writers and social workers who have been involved with various aspects of the Union
            Carbide disaster (Bhopal disaster) in Bhopal, India, in December 1984.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Sambhavna_Trust" title="wikipedia:Sambhavna Trust">Wikipedia: Sambhavna Trust</a></li>

            <li> <a class="external text" href="http://www.bhopal.org" rel="nofollow">www.bhopal.org</a> - Website of Bhopal Medical Appeal ans Sambhavna Clinic</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Sambhavna_Trust&amp;oldid=2047">http://www.communityhealth.in/~commun26/wiki/index.php?title=Sambhavna_Trust&amp;oldid=2047</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Madhya_Pradesh" title="Category:Madhya Pradesh">Madhya Pradesh</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>