<!--
title: Sarah Hodges
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Sarah Hodges</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Prof. <b>Sarah Hodges</b> teaches at the Centre for the History of Medicine at the University of Warwick. Dr. Hodges completed her doctorate from the university of Chicago. She has been working on the social and cultural
            history of modern South Asia, specifically the politics of health in colonial and postcolonial India. Her interests lie at the intersection of a number of fields: modern South Asian history, gender studies, anthropology, and
            the history of science, technology and medicine. Her publications are numerous including 2 books namely, Contraception, Colonialism and Commerce: Birth Control in South India, 1920-1940 and an edited volume titled Reproductive
            Health in India: History, Politics, Controversies. Her recent work is on the biomedical waste.   </p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Sarah_Hodges&amp;oldid=1455">http://www.communityhealth.in/~commun26/wiki/index.php?title=Sarah_Hodges&amp;oldid=1455</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>