<!--
title: Second National Health Assembly booklets
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Second National Health Assembly booklets</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Eight booklets were prepared in 2006 for the mobilization prior to the second National Health Assembly, held at Bhopal in March 2007 on the theme Defending People’s Health in an Era of Globalization”.</p>

          <p>Booklet 1 - Globalisation and Health</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/7/7b/JSA_Globalisation_and_health.pdf" title="JSA Globalisation and health.pdf"> Download Globalisation And Health booklet</a></li>
          </ul>

          <p>Booklet 2- Health Systems in India Crisis and alternatives</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/8/85/JSA_Health_system_in_India.pdf" title="JSA Health system in India.pdf"> Download Health System In India booklet</a></li>
          </ul>

          <p>Booklet 3- Women’s Health</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/4/44/JSA_Womens_health.pdf" title="JSA Womens health.pdf"> Download Women's Health booklet</a></li>
          </ul>

          <p>Booklet 4- Campaign Issues In Child Health</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/2/2b/JSA_Campaign_issues_in_child_health.pdf" title="JSA Campaign issues in child health.pdf"> Download Campaign Issues In Child Health booklet</a></li>
          </ul>

          <p>Booklet 5-New Technologies In public health –who pays and who benefits</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/6/67/JSA_New_technologies.pdf" title="JSA New technologies.pdf"> Download New Technologies In Public Health booklet</a></li>
          </ul>

          <p>Booklet 6- The impact of Global Trade regimen on access to medicines: A case study on HIVAIDSTreatment access</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/3/39/JSA_HIV-AID_Treatment_Access.pdf" title="JSA HIV-AID Treatment Access.pdf"> Download HIV/AIDS Treatment Access booklet</a></li>
          </ul>

          <p>Booklet 7- Access to Essential Medicine</p>

          <ul>
            <li> <a class="internal" href="/~commun26/wiki/images/8/84/JSA_Access_to_Essesntial_Medicines.pdf" title="JSA Access to Essesntial Medicines.pdf"> Download Access To Essential Medicines booklet</a></li>
          </ul>

          <p>Booklet 8- Towards a peoples alternative Health Plan</p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
          </p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets&amp;oldid=1842">http://www.communityhealth.in/~commun26/wiki/index.php?title=Second_National_Health_Assembly_booklets&amp;oldid=1842</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Books" title="Category:Books">Books</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Digitized_publications" title="Category:Digitized publications">Digitized publications</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>