<!--
title: Sicko (2007)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Sicko (2007)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Sicko (2007)</b> is a documentary by Micheal Moore that takes a hard look at HMOs and compares the highly profitable American health care industry to other nations.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <div class="thumb tright">
            <div class="thumbinner" style="width:202px;"><a class="image" href="/~commun26/wiki/index.php?title=File:Sicko.jpg"><img alt="" class="thumbimage" height="296" src="/~commun26/wiki/images/thumb/0/0e/Sicko.jpg/200px-Sicko.jpg" width="200"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:Sicko.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Sicko movie poster</div>
            </div>
          </div>
          The words "health care" and "comedy" aren't usually found in the same sentence, but in Academy Award winning filmmaker Michael Moore's movie 'Sicko,' they go together hand in (rubber) glove.
          <p>Opening with profiles of several ordinary Americans whose lives have been disrupted, shattered, and—in some cases—ended by health care catastrophe, the film makes clear that the crisis doesn't only affect the 47 million
            uninsured citizens—millions of others who dutifully pay their premiums often get strangled by bureaucratic red tape as well.</p>

          <p>After detailing just how the system got into such a mess (the short answer: profits and Nixon), we are whisked around the world, visiting countries including Canada, Great Britain and France, where all citizens receive free
            medical benefits. Finally, Moore gathers a group of 9/11 heroes – rescue workers now suffering from debilitating illnesses who have been denied medical attention in the US. He takes them to a most unexpected place, and in
            addition to finally receiving care, they also engage in some unexpected diplomacy.</p>

          <p>While Moore's 'Sicko' follows the trailblazing path of previous hit films, the Oscar-winning Bowling For Columbine and all-time box-office documentary champ Fahrenheit 9/11, it is also something very different for Michael
            Moore. 'Sicko' is a straight-from-the-heart portrait of the crazy and sometimes cruel U.S. health care system, told from the vantage of everyday people faced with extraordinary and bizarre challenges in their quest for basic
            health coverage.</p>

          <p>In the tradition of Mark Twain or Will Rogers, 'Sicko' uses humor to tell these compelling stories, leading the audience to conclude that an alternative system is the only possible answer.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://sickothemovie.com" rel="nofollow">www.sickothemovie.com</a> - Official movie website</li>

            <li> <a class="external text" href="http://www.youtube.com/watch?v=xlDAUKSh9CQ" rel="nofollow">Watch the trailer on YouTube</a></li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/Sicko" title="wikipedia:Sicko">Wikipedia: Sicko</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Sicko_(2007)&amp;oldid=1429">http://www.communityhealth.in/~commun26/wiki/index.php?title=Sicko_(2007)&amp;oldid=1429</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>