<!--
title: Smile Pinki (2009)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Smile Pinki (2009)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Smile Pinki (2009)</b> is an Oscar winning documentary about the struggle of children with cleft lip deformity.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <p>Born with cleft lips in one of the poorest regions of rural India, 5-year old Pinki and 11-year old Ghutaru are ostracized and ridiculed by other children because of their condition. While surgery to correct the defect is
            routine in the U.S., it is a distant dream for them and their families until they meet Pankaj, a social worker for the G.S. Plastic Surgery Memorial Hospital, who travels from village to village to find children with cleft lips
            and palates.</p>

          <p>Directed by Megan Milan, this uplifting Oscar-winning documentary follows its two wide eyed protagonists from isolation to acceptance.</p>

          <p><i>Smile Pinki</i> spotlights the work of Dr. Sudbodh Kumar Singh, who has operated on thousands of children, including Pinki, at GS Memorial Hospital, as part of The Smile Train, a nonprofit organization dedicated to
            helping children with cleft lip in developing countries.</p>

          <p>Prior to winning the Oscar for Best Documentary Short Subject in 2009, Smile Pinki premiered at SilverDocs, was nominated for Best Documentary Short at the International Documentary Association, and won Best International
            Documentary at the Boulder Film Festival.</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li><a class="external text" href="http://www.hbo.com/documentaries/smile-pinki/index.html:" rel="nofollow"><i>Smile Pinki</i> official website</a></li>

            <li><a class="external text" href="http://www.smiletrain.org/site/PageServer:" rel="nofollow">The Smile Train official website</a></li>

            <li><a class="extiw" href="http://en.wikipedia.org/wiki/Smile_Pinki" title="wikipedia:Smile Pinki">Wikipedia: Smile Pinki</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Smile_Pinki_(2009)&amp;oldid=1441">http://www.communityhealth.in/~commun26/wiki/index.php?title=Smile_Pinki_(2009)&amp;oldid=1441</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>