<!--
title: Social determinants of health
description: 
published: true
date: 2024-07-10T07:24:49.778Z
tags: communityhealth.in
editor: ckeditor
dateCreated: 2023-01-29T17:23:22.188Z
-->

<h1>Social determinants of health</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p><strong>Social determinants of health</strong> are the economic and social conditions under which people live which determine their <a href="/~commun26/wiki/index.php?title=Health">health</a>.</p>
<h2>Videos</h2>
<ul>
  <li>ASHA resource group<br><br>&nbsp;</li>
</ul>
<h2>External Links</h2>
<ul>
  <li><a href="http://www.who.int/social_determinants/en/">www.who.int/social_determinants</a> - World Health Organisation: Social determianats of health</li>
  <li><a href="http://en.wikipedia.org/wiki/Social_determinants_of_health">Wikipedia: Social determinants of health</a></li>
  <li><a href="http://dds-dispositivoglobal.ops.org.ar/curso/">Global Learning Device on Social Determinants of Health and Public Policy Formulation</a></li>
  <li><a href="http://www.unnaturalcauses.org/">www.unnaturalcauses.org</a> - A seven part documentary series exploring racial and socio-economic inequalities in health.</li>
</ul>
<p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the </i><a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal"><i>Community Portal</i></a>.</p>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Social_determinants_of_health&amp;oldid=1418">http://www.communityhealth.in/~commun26/wiki/index.php?title=Social_determinants_of_health&amp;oldid=1418</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Category</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:Glossary">Glossary</a></li>
</ul>
