<!--
title: Society for Community Health Awareness, Research and Action
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Society for Community Health Awareness, Research and Action</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><strong class="selflink">Society for Community Health Awareness, Research and Action</strong> (SOCHARA) is a multidisciplinary professional association with two two functional units called <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a> and <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a>.</p>

          <p>SOCHARA supports community health action, training strategies and health policy advocacy and action in India. It promotes the social paradigm in <a href="/~commun26/wiki/index.php?title=Community_health" title="Community health">community health</a> with a focus on the social, economic, political and cultural determinants of health. It partners with NGO networks, campaign groups, peoples organisations, universities, state and
            national governments and international bodies in its initiatives.</p>

          <p>SOCHARA is a member of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> coalition. It hosted the Global <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a> Secretariat on behalf of the India region from 2003 to 2006.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Ravi_Narayan" title="Ravi Narayan">Ravi Narayan</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Thelma_Narayan" title="Thelma Narayan">Thelma Narayan</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.sochara.org" rel="nofollow">www.sochara.org</a> - SOCHARA website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action&amp;oldid=180">http://www.communityhealth.in/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action&amp;oldid=180</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement" title="Category:People's Health Movement">People's Health Movement</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks" title="Category:Jan Swasthya Abhiyan national networks">Jan Swasthya Abhiyan national networks</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>