<!--
title: Society for Community Health Awareness Research and Action- SOCHARA
description: 
published: true
date: 2023-06-26T04:41:31.120Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T09:32:07.667Z
-->

<p><span class="text-big"><strong>Society for Community Health Awareness Research and Action- SOCHARA</strong></span></p>
<p>SOCHARA is a Community health resource group who are committed to the 'Health for All' goal. SOCHARA works with a large network of non-government and government institutions, health and developmental campaign groups and people's movements to make them part of this 'Health for All' movement. SOCHARA&nbsp;team provided space, support, peer encouragement, vocational guidance and facilitation of self-study to young professionals in community health. This was formalized into Community Health Fellowship Programme, and now as SOCHARA School of Public Health, Equity and Action (SOPHEA). Presently SOPHEA runs the fellowship Programme in MP and Karnataka.</p>
<p>Website Link:</p>
<p><a href="http://www.sochara.org/">http://www.sochara.org/ (last checked on 26/06/2023)</a></p>
<figure class="image image_resized image-style-align-left" style="width:100%;"><img src="/logo.png"></figure>
