<!--
title: Sunil Kaul
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Sunil Kaul</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Sunil Kaul</b> completed his MBBS in Pune and served as a medical doctor in the army for some years before he went on to become a <a href="/~commun26/wiki/index.php?title=Public_health" title="Public health">public
            health</a> activist. He worked in rural Rajasthan and Assam especially with respect to <a href="/~commun26/wiki/index.php?title=Malaria" title="Malaria">malaria</a> and <a class="mw-redirect" href="/~commun26/wiki/index.php?title=T.B." title="T.B.">T.B.</a>. He is the founding trustee of <a class="new" href="/~commun26/wiki/index.php?title=The_Action_Northeast_Trust&amp;action=edit&amp;redlink=1" title="The Action Northeast Trust (page does not exist)">The Action Northeast Trust</a> (ANT). He has an MSc in Public Health (in Developing Countries) from the <a href="/~commun26/wiki/index.php?title=London_School_of_Hygiene_and_Tropical_Medicine" title="London School of Hygiene and Tropical Medicine">London School of Hygiene and Tropical Medicine</a>, is an Eisenhower Fellow, and a
            faculty member of <a class="new" href="/~commun26/wiki/index.php?title=Institute_of_Development_Action&amp;action=edit&amp;redlink=1" title="Institute of Development Action (page does not exist)">Institute of Development
            Action</a> (IDeA). He is also Financial Advisor of Aagor Daagra Afad, Trustee at <a class="new" href="/~commun26/wiki/index.php?title=Lowcost_Standard_Therapeutics&amp;action=edit&amp;redlink=1" title="Lowcost Standard Therapeutics (page does not exist)">Lowcost Standard Therapeutics</a>, consultant to <a class="new" href="/~commun26/wiki/index.php?title=Community_Health_Initiative_of_Meghalaya&amp;action=edit&amp;redlink=1" title="Community Health Initiative of Meghalaya (page does not exist)">Community Health Initiative of Meghalaya</a>, <a class="new" href="/~commun26/wiki/index.php?title=Rural_Development_Society&amp;action=edit&amp;redlink=1" title="Rural Development Society (page does not exist)">Rural Development Society</a> and Advisor (Assam) to the
            <a class="new" href="/~commun26/wiki/index.php?title=Commissioners_for_Right_to_Food&amp;action=edit&amp;redlink=1" title="Commissioners for Right to Food (page does not exist)">Commissioners for Right to Food</a>.</p>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Sunil_Kaul&amp;oldid=1493">http://www.communityhealth.in/~commun26/wiki/index.php?title=Sunil_Kaul&amp;oldid=1493</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Assam" title="Category:Assam">Assam</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>