<!--
title: Tata Institute of Social Sciences
description: 
published: true
date: 2023-06-15T11:32:25.055Z
tags: communityhealth.in, public health information sources, public health institutions, organizations and networks outside karnataka
editor: ckeditor
dateCreated: 2023-01-29T17:23:43.276Z
-->

<h1>Tata Institute of Social Sciences</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p>The Tata Institute of Social Sciences is a post-graduate school of social work which engages continuous study of Indian social issues and problems and impart education in social work to meet the emerging need. It has Various Schools like, Education, Management and Labour Studies, Rural Development, Social Work, Health Systems Studies, Habitat Studies, Law, Rights and Constitutional Governance, Vocational Education, Development Studies, Media and Cultural Studies.</p>
<figure class="image"><img src="/tiss-logo.jpg">
  <figcaption>TISS</figcaption>
</figure>
<h2>External Links</h2>
<ul>
  <li><a href="http://www.tiss.edu/">www.tiss.edu</a> - Website of Tata Institute of Social Sciences</li>
  <li><a href="http://en.wikipedia.org/wiki/Tata_Institute_of_Social_Sciences">Wikipedia: Tata Institute of Social Sciences</a></li>
  <li>[<a href="http://www.communityhealth.in/~commun26/wiki/images/c/c9/Indian_models_of_comprehensive_and_comunity_health_practice.pptx">Indian models of comprehensive and comunity health practice</a>] - List by Students of Social Work in Public Health(Batch of 2016-2018)</li>
</ul>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences&amp;oldid=2103">http://www.communityhealth.in/~commun26/wiki/index.php?title=Tata_Institute_of_Social_Sciences&amp;oldid=2103</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:Academic_institutions">Academic institutions</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:Maharashtra">Maharashtra</a></li>
</ul>
