<!--
title: The Human Question (2006)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">The Human Question (2006)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:A_Human_Question.jpg"><img alt="A Human Question.jpg" class="thumbimage" height="200" src="/~commun26/wiki/images/thumb/4/46/A_Human_Question.jpg/300px-A_Human_Question.jpg" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:A_Human_Question.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
              </div>
            </div>
          </div>

          <p><b>The Human Question (2006)</b> is a documentary film by <a class="new" href="/~commun26/wiki/index.php?title=Jayashree_T.&amp;action=edit&amp;redlink=1" title="Jayashree T. (page does not exist)">Jayashree T.</a> that
            traces the story of the global struggle to make <a class="new" href="/~commun26/wiki/index.php?title=HIV/AIDS&amp;action=edit&amp;redlink=1" title="HIV/AIDS (page does not exist)">HIV/AIDS</a> drugs more affordable and
            available. The film raises key questions of whether private ownership of knowledge can be at the cost of human life? The film explores the complex world of patents and HIV/AIDS medicines by connecting and contrasting personal
            narratives with those of international lobbyists. The film aims to allow us to re-think the relationship between intellectual property and human rights.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cultureunplugged.com/play/418/A-Human-Question" rel="nofollow">Watch the film at cultureunplugged.com</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=The_Human_Question_(2006)&amp;oldid=1428">http://www.communityhealth.in/~commun26/wiki/index.php?title=The_Human_Question_(2006)&amp;oldid=1428</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:HIV/AIDS" title="Category:HIV/AIDS">HIV/AIDS</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>