<!--
title: Thelma Narayan
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Thelma Narayan</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Dr. Thelma Narayan</b> is an epidemiologist and health policy analyst and activist who coordinates the <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a>, Bangalore.</p>

          <p>She works with various national health initiatives including the <a href="/~commun26/wiki/index.php?title=National_Rural_Health_Mission" title="National Rural Health Mission">National Rural Health Mission</a> and the <a class="new" href="/~commun26/wiki/index.php?title=National_Health_System_Resource_Centre&amp;action=edit&amp;redlink=1" title="National Health System Resource Centre (page does not exist)">National Health System Resource
            Centre</a>. She was a member of the Task Force on Health and Family Welfare, Karnataka and has evolved public health and primary health care oriented state health policies in <a href="/~commun26/wiki/index.php?title=Karnataka" title="Karnataka">Karnataka</a> and <a class="new" href="/~commun26/wiki/index.php?title=Orissa&amp;action=edit&amp;redlink=1" title="Orissa (page does not exist)">Orissa</a>. She is a member of the Measurement and Evidence
            Knowledge Network of the <a class="new" href="/~commun26/wiki/index.php?title=WHO_Commission_on_Social_Determinants_of_Health&amp;action=edit&amp;redlink=1" title="WHO Commission on Social Determinants of Health (page does not exist)">WHO Commission on Social Determinants of Health</a>.</p>

          <p>She is an active member of the <a href="/~commun26/wiki/index.php?title=People%27s_Health_Movement" title="People's Health Movement">People's Health Movement</a> network and was the joint convenor of the <a href="/~commun26/wiki/index.php?title=Jan_Swasthya_Abhiyan" title="Jan Swasthya Abhiyan">Jan Swasthya Abhiyan</a> till recently. She is also a contributor to the <a href="/~commun26/wiki/index.php?title=Global_Health_Watch" title="Global Health Watch">Global Health Watch</a> and a faculty member of the <a href="/~commun26/wiki/index.php?title=International_People%27s_Health_University" title="International People's Health University">International People's Health University</a>.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a href="/~commun26/wiki/index.php?title=Centre_for_Public_Health_and_Equity" title="Centre for Public Health and Equity">Centre for Public Health and Equity</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Community_Health_Cell" title="Community Health Cell">Community Health Cell</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Society_for_Community_Health_Awareness,_Research_and_Action" title="Society for Community Health Awareness, Research and Action">Society for Community Health Awareness, Research
              and Action</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Contact_details">Contact details</span></h2>

          <p><b>Address:</b> Centre for Public Health and Equity, Society for Community Health Awareness, Research and Action (SOCHARA), 359, Srinivasa Nilaya, Jakkasandra 1st Main, 1st Block, Koramangala, Bangalore, Karnataka, India
            560034</p>

          <p><b>Telephone</b> +91-080-41280009</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.sochara.org" rel="nofollow">www.sochara.org</a> - The Society for Community Health Awareness, Research and Action website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Thelma_Narayan&amp;oldid=241">http://www.communityhealth.in/~commun26/wiki/index.php?title=Thelma_Narayan&amp;oldid=241</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:People" title="Category:People">People</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>