<!--
title: Titicut Follies (1967)
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Titicut Follies (1967)</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Titicut Follies (1967)</b> is a disturbing documentary film by Frederick Wiseman that focuses on the treatment of people with mental illnesses within the US health care system. It examines the treatment of inmates and
            patients at Bridgewater State Hospital for the Criminally Insane. It served as a call for reform of such institutions.</p>

          <h2> <span class="mw-headline" id="Synopsis">Synopsis</span></h2>

          <p>Frederick Wiseman made his documentary debut with this controversial 84-minute survey of conditions that existed during the mid 1960s at the State Prison for the Criminally Insane in Bridgewater, Massachusetts. Made in 1967,
            the film was subjected to a worldwide ban until 1992 because the Massachusetts Supreme Judicial Court ruled that it was an invasion of inmate privacy.</p>

          <p>Wiseman's camera is deceptively passive, deceptively silent. An understandable but inappropriate impression is that it merely sits back and watches. In Titicut Follies, patients are stripped and humiliated by boorish guards
            operating under questionable government policy, and Wiseman's camera keeps rolling. It enters a session between a doctor interviewing an inmate, who admits to molesting his own daughter. It takes us inside the morgue as
            Bridgewater's embalmer prepares a body for burial. Thus Wiseman's portrayal of the interactions between inmates, and guards, social workers and psychiatrists is both stark and graphic.</p>

          <p>Richard Schickel <i>Life</i> stated, “The repulsive reality revealed in Titicut Follies forces us to contemplate our capacity for callousness.” The documentary was cited as the “Best Film Dealing with the Human Condition”
            at the 1967 Festival Dei Popoli (Florence) and also honored as the “Best Film” at the 1967 Mannheim International Filmweek. Robert Coles <i>The New Republic</i> wrote, "After a showing of Titicut Follies the mind does not
            dwell on the hospital’s ancient and even laughable physical plant, or its pitiable social atmosphere. What sticks, what really hurts is the sight of human life made cheap and betrayed."</p>

          <p>The story behind the complicated legal issues raised by this film and the attempts to suppress it are detailed by Carolyn Anderson and Thomas W. Benson in their book, <i>Documentary Dilemmas: Frederick Wiseman’s Titicut
            Follies</i> (Southern Illinois University Press, 1991).</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li><a class="extiw" href="http://en.wikipedia.org/wiki/Titicut_Follies" title="wikipedia:Titicut Follies">Wikipedia: Titicut Follies</a></li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Titicut_Follies_(1967)&amp;oldid=1440">http://www.communityhealth.in/~commun26/wiki/index.php?title=Titicut_Follies_(1967)&amp;oldid=1440</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Category</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Films" title="Category:Films">Films</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>