<!--
title: Touch Me, Touch-me-not Women, Plants and Healing
description: 
published: true
date: 2024-05-24T09:22:31.600Z
tags: 
editor: ckeditor
dateCreated: 2024-05-24T09:11:57.056Z
-->

<p>AU: Gupta,Anu.,et al (1997)</p>
<p>TI: Touch Me, Touch-me-not Women, Plants and Healing</p>
<p>SO: Shodhini</p>
<p>AD: Kali for women, New Delhi</p>
<p>&nbsp;Pages: 218</p>
<p>AB: This book is based on Shodhini project, a women centered research- action study on medicinal plants and women’s health. The book narrates the experiences of women involved in the project who were in search of an alternative approach to health care.&nbsp;</p>
<p><i>Shodhini</i> presents a collection of narratives and experiences women seeking alternative approaches to healthcare. Authored by Kali for Women, this book delves into the diverse perspectives and struggles faced by women in navigating the complexities of healthcare systems.&nbsp;</p>
<p>The two main objectives are;</p>
<p>1. To identify and document traditional healers and their healing practices.</p>
<p>2. To help women learn about these practices and help them take charge of their health.</p>
<p>The book also touches upon some gynaecological problems and also the usage of traditional remedies based on locally available herbs.</p>
<p>The book is valuable as it tries to address two core ideas, which the Allopathy based modern Indian failed to address, reaching to the rural population and to the under privileged, and also addressing the womens health through a holistic approach.</p>
<p>&nbsp;</p>
<h1>Other links</h1>
<ul>
  <li><a href="https://www.anveshi.org.in/touch-me-touch-me-not-women-plants-and-healing/">Review by Anveshi</a></li>
</ul>
