<!--
title: Treating survivors of rape and sexual assault
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Treating survivors of rape and sexual assault</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><a href="/~commun26/wiki/index.php?title=Sexual_assault" title="Sexual assault">Sexual assault</a>, which can be of many forms, including <a class="mw-redirect" href="/~commun26/wiki/index.php?title=Rape" title="Rape">rape</a> can have long-lasting emotional, physical, and social effects on survivors. It is a violation of a person's human rights. Health care workers are often a first point of contact for survivors of sexual assault and
            rape, and it is the responsibility of the health care worker to provide both emotional support and first aid, as well as collect evidence for the prosecution of perpetrators. <a class="mw-redirect" href="/~commun26/wiki/index.php?title=CEHAT" title="CEHAT">CEHAT</a> based in Mumbai, has published an excellent manual for the medical examination of sexual assault, specific to the Indian context. This document was the
            primary source for the information listed below. Further information regarding all topics can be found in the following manuals:</p>

          <ul>
            <li> <a class="external text" href="http://www.cehat.org/go/uploads/Publications/R83Manual.pdf" rel="nofollow">CEHAT Manual for Medical Examination of Sexual Assault</a></li>

            <li> <a class="external text" href="http://www.who.int/violence_injury_prevention/publications/violence/med_leg_guidelines/en/index.html" rel="nofollow">WHO Guidelines for Medico-legal Care for Victims of Sexual Violence</a>
            </li>
          </ul>

          <p><br></br>
          </p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Initial_Examination"><span class="tocnumber">1</span> <span class="toctext">Initial Examination</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-2"><a href="#Setting"><span class="tocnumber">1.1</span> <span class="toctext">Setting</span></a></li>

                        <li class="toclevel-2 tocsection-3"><a href="#Consent"><span class="tocnumber">1.2</span> <span class="toctext">Consent</span></a></li>

                        <li class="toclevel-2 tocsection-4"><a href="#Police_requisition"><span class="tocnumber">1.3</span> <span class="toctext">Police requisition</span></a></li>

                        <li class="toclevel-2 tocsection-5"><a href="#Medical_Documentation"><span class="tocnumber">1.4</span> <span class="toctext">Medical Documentation</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-6"><a href="#General_Information"><span class="tocnumber">1.4.1</span> <span class="toctext">General Information</span></a></li>

                            <li class="toclevel-3 tocsection-7"><a href="#Past_Medical_History"><span class="tocnumber">1.4.2</span> <span class="toctext">Past Medical History</span></a></li>

                            <li class="toclevel-3 tocsection-8"><a href="#Sexual_Assault_History"><span class="tocnumber">1.4.3</span> <span class="toctext">Sexual Assault History</span></a></li>
                          </ul>
                        </li>

                        <li class="toclevel-2 tocsection-9"><a href="#Evidence_Collection"><span class="tocnumber">1.5</span> <span class="toctext">Evidence Collection</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-10"><a href="#Materials_Required"><span class="tocnumber">1.5.1</span> <span class="toctext">Materials Required</span></a></li>

                            <li class="toclevel-3 tocsection-11"><a href="#Forensic_Evidence_Collection"><span class="tocnumber">1.5.2</span> <span class="toctext">Forensic Evidence Collection</span></a></li>

                            <li class="toclevel-3 tocsection-12"><a href="#Body_Evidence"><span class="tocnumber">1.5.3</span> <span class="toctext">Body Evidence</span></a></li>

                            <li class="toclevel-3 tocsection-13"><a href="#Genital_and_Anal_Evidence"><span class="tocnumber">1.5.4</span> <span class="toctext">Genital and Anal Evidence</span></a></li>
                          </ul>
                        </li>

                        <li class="toclevel-2 tocsection-14"><a href="#Examination"><span class="tocnumber">1.6</span> <span class="toctext">Examination</span></a>
                          <ul>
                            <li class="toclevel-3 tocsection-15"><a href="#General_Examination"><span class="tocnumber">1.6.1</span> <span class="toctext">General Examination</span></a></li>

                            <li class="toclevel-3 tocsection-16"><a href="#Genital_Examination"><span class="tocnumber">1.6.2</span> <span class="toctext">Genital Examination</span></a></li>
                          </ul>
                        </li>

                        <li class="toclevel-2 tocsection-17"><a href="#Opinion"><span class="tocnumber">1.7</span> <span class="toctext">Opinion</span></a></li>

                        <li class="toclevel-2 tocsection-18"><a href="#Signature_and_Seal"><span class="tocnumber">1.8</span> <span class="toctext">Signature and Seal</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-19"><a href="#Treatment_Guidelines_and_Psychological_Support"><span class="tocnumber">2</span> <span class="toctext">Treatment Guidelines and Psychological Support</span></a></li>

                    <li class="toclevel-1 tocsection-20"><a href="#Resources_for_survivors_of_rape.2C_sexual_assault_and_domestic_violence"><span class="tocnumber">3</span> <span class="toctext">Resources for survivors of rape, sexual
                      assault and domestic violence</span></a></li>

                    <li class="toclevel-1 tocsection-21"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>

                    <li class="toclevel-1 tocsection-22"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>

                    <li class="toclevel-1 tocsection-23"><a href="#Notes"><span class="tocnumber">6</span> <span class="toctext">Notes</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Initial_Examination">Initial Examination</span></h2>

          <p><a class="image" href="/~commun26/wiki/index.php?title=File:Treating_rape_flowchart.png"><img alt="Treating rape flowchart.png" height="469" src="/~commun26/wiki/images/e/ee/Treating_rape_flowchart.png" width="735"></img></a></p>

          <p><i>Source: CEHAT Manual for Medical Examination of Sexual Assault pg 8</i></p>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="Setting">Setting</span></h3>

          <p>The setting for the initial examination of a rape survivor should be a quiet, private place with sufficient lighting and a comfortable bed. The examination itself should be carried out in a non-threatening manner. Any medical
            doctor can conduct the examination. A female doctor is preferable, but if one is not available, a male doctor should conduct the examination with presence of a female chaperone. If the rape survivor is a minor, a parent,
            guardian or other trusted person should be in the room during the examination. The examination should be conducted without delay, because evidence is lost with time. The law currently states that a sexual assault survivor does
            not require an FIR from police to receive a rape examination, and any medical institution which the survivor approaches (whether public or private) is required to perform treatment as well as documentation <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup><sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup></p>

          <h3> <span class="mw-headline" id="Consent">Consent</span></h3>

          <p>Informed consent for the rape examination, evidence collection, police briefing, and treatment is mandatory. The consent must be signed by the survivor if above 12 years of age, and by the parent or guardian if younger. The
            survivor has the right to refuse any part of the examination or evidence collection, however if they do so should be informed of the importance of data collection for future prosecution. If the survivor continues to refuse
            evidence collection, they should still be given full medical treatment according to standards of care.</p>

          <h3> <span class="mw-headline" id="Police_requisition">Police requisition</span></h3>

          <p>Once the case is booked at a particular police station or court, the investigating officer (minimum rank sub-Inspector of police) will forward a requisition for medical examination of the survivor of sexual assault. However,
            as stated above, if the rape survivor enters a hospital before going to a police station, she must be examined and evidence collected regardless of whether she has a requisition or not.</p>

          <h3> <span class="mw-headline" id="Medical_Documentation">Medical Documentation</span></h3>

          <h4> <span class="mw-headline" id="General_Information">General Information</span></h4>

          <ul>
            <li>Name, age, and sex of the survivor (ie. female, male, transgender)</li>

            <li>Address and contact information for the survivor</li>

            <li>Information about the police case (eg. medico-legal case number)</li>

            <li>Date, time and place of examination</li>

            <li>Names and relations of persons accompanying the survivor</li>

            <li>2 marks of bodily identification on survivor (eg. moles, tattoos, etc.)</li>
          </ul>

          <h4> <span class="mw-headline" id="Past_Medical_History">Past Medical History</span></h4>

          <ul>
            <li>History of STD's</li>

            <li>History of surgery in ano-genital region</li>

            <li>History of sexual intercourse in the week preceeding the assault (because semen from the last partner may be present in vagina along with that of the assailant)</li>

            <li>Other obstetric and sexual history are usually irrelevant, and cause stigma to the patient when documented on the sexual assault examination form.</li>
          </ul>

          <h4> <span class="mw-headline" id="Sexual_Assault_History">Sexual Assault History</span></h4>

          <ul>
            <li>Narration is often traumatizing, and the survivor may not immediately want to tell all the details.</li>

            <li>The doctor must be sensitive to the patient and explain that the history is essential for proper treatment as well as prosecution of assailants.</li>

            <li>Rapport is essential for a thorough and accurate history.
              <ul>
                <li>The doctor must aim to establish rapport by not making judgemental or disbelieving comments.</li>
              </ul>
            </li>

            <li>The police must not be present during the history taking or examination.</li>

            <li>Record should be as complete as possible. Direct quotes can be used.</li>

            <li>All the details of the assault should be recorded.
              <ul>
                <li>Time and place</li>

                <li>Nature of force (ie. were weapons or objects used)</li>

                <li>Places of contact</li>

                <li>Names of assailants (if known)</li>

                <li>Injuries that the survivor left on the assailant's body</li>

                <li>Information about attempted or completed penetration of by penis/finger/object into vagina/anus/mouth</li>

                <li>Information about emission of semen</li>

                <li>Information about masturbation, sucking, licking, kissing</li>
              </ul>
            </li>

            <li>Doctors are often awkward at asking many of the above questions</li>

            <li>The above history should be asked in simple language that the survivor can easily understand. If the examining doctor is not fluent in the language of the patient, another health worker may act as translator. The
              confidential nature of the conversation must be stressed. Avoid using family or friends of the survivor as translators.</li>

            <li>If a detailed, complete history is not documented, the survivor's testimony will be weakened.</li>

            <li>In case of children, illustrative books or dolls can be used to elicit history.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="Evidence_Collection">Evidence Collection</span></h3>

          <h4> <span class="mw-headline" id="Materials_Required"><a href="/~commun26/wiki/index.php?title=Materials_Required" title="Materials Required">Materials Required</a></span></h4>

          <h4> <span class="mw-headline" id="Forensic_Evidence_Collection">Forensic Evidence Collection</span></h4>

          <ul>
            <li>The likelihood of finding evidence after 72 hours (3 days) is greatly reduced.
              <ul>
                <li>Sperm can only be identified up to 72 hours after the assault.</li>
              </ul>
            </li>

            <li>However, prudence dictates collecting evidence up to 96 hours after the assault.
              <ul>
                <li>Evidence on the outside of the body and clothing can be collected even after 96 hours.</li>
              </ul>
            </li>

            <li>Survivors should be told to stand on a white sheet to collect grass, mud, pubic and scalp hairs which may be on the body.</li>

            <li>Clothing with any stains or tears should be preserved.</li>

            <li>DNA kit for specimen collection can be obtained from the local police station.</li>
          </ul>

          <h4> <span class="mw-headline" id="Body_Evidence">Body Evidence</span></h4>

          <ul>
            <li>Swabs are used to collect samples of blood, semen and any foreign stains on the patient.</li>

            <li>Loose scalp hair and pubic hair should be collected using a fine-toothed comb.</li>

            <li>Oral swabs for semen collection are most likely to be successful behind the last molar.</li>

            <li>If the struggle involved scratching, epithelial cells of the assailant may be under the nails of the survivor.</li>

            <li>Blood and urine should be collected for drug/alcohol screening.
              <ul>
                <li>If drugs/alcohol are present, it decreases the liklihood that the sexual activity was consensual.</li>
              </ul>
            </li>

            <li>Sexually transmitted diseases should be screened for (HIV, VDRL, etc.).</li>
          </ul>

          <h4> <span class="mw-headline" id="Genital_and_Anal_Evidence">Genital and Anal Evidence</span></h4>

          <ul>
            <li>Collect swabs from vulva, vagina, and anus if involved.</li>

            <li>All swabs should be air dried, but not in direct sunlight.
              <ul>
                <li>If the evidence is not dried, it can decompose.</li>
              </ul>
            </li>

            <li>A microscope slide with a vaginal smear should be prepared to examine for spermatozoa.</li>
          </ul>

          <p><br></br>
          </p>

          <h3> <span class="mw-headline" id="Examination">Examination</span></h3>

          <h4> <span class="mw-headline" id="General_Examination">General Examination</span></h4>

          <ul>
            <li>
              <ul>
                <li>According to a study by CEHAT, less than half of survivors (38%) showed genital injuries and less than one fifth (19%) showed physical injuries. According to the WHO, only one-third of sexual assault cases have
                  evidence of bodily harm. This is because threats to one's self or one's loved ones may render a survivor powerless to fight against the perpetrator.</li>
              </ul>
            </li>

            <li>To make the survivor as comfortable as possible, all parts of the examination should be explained and permission should be obtained before proceeding</li>

            <li>Assessment of general mental condition</li>

            <li>Inspection of body surface for all bruises, scratches and bite marks</li>

            <li>Description of all injuries (can additionally mark injuries on body diagram)</li>
          </ul>

          <h4> <span class="mw-headline" id="Genital_Examination">Genital Examination</span></h4>

          <ul>
            <li>Observation and documentation of swelling, bleeding and tears around ano-genital region</li>

            <li>Speculum exam for bleeding, redness, bruises and tears
              <ul>
                <li>Should be done under general anesthesia for minors and those with severe injuries.</li>
              </ul>
            </li>

            <li>The <a class="new" href="/~commun26/wiki/index.php?title=%222_Finger_Test%22&amp;action=edit&amp;redlink=1" title="&quot;2 Finger Test&quot; (page does not exist)">"2 Finger Test"</a> to measure the caliber of the
              vaginal introitus is unnecessary and irrelevant.</li>
          </ul>

          <h3> <span class="mw-headline" id="Opinion">Opinion</span></h3>

          <ul>
            <li>Any clinical evidence that the survivor was incapable of giving consent or under the influence of drugs/alcohol.</li>

            <li>Means by which assailants can be identified</li>

            <li>Whether there was evidence of penetrative of non-penetrative assault</li>

            <li>Actual age of survivor, in cases where the survivor is a minor (less than 18 yrs of age)</li>
          </ul>

          <h3> <span class="mw-headline" id="Signature_and_Seal">Signature and Seal</span></h3>

          <ul>
            <li>The report should be written in quadruplicate
              <ul>
                <li>1 copy to survivor</li>

                <li>1 copy to police</li>

                <li>1 copy to forensic laboratory</li>

                <li>1 copy for hospital records</li>
              </ul>
            </li>

            <li>Each page of the report should be signed, and the total number of pages should be written at the end to prevent tampering.</li>

            <li>The report should be sealed before handing over to police.</li>

            <li>All evidence should be air-dried, packed and sealed in separate envelopes.
              <ul>
                <li>A signed requisition letter should accompany the evidence stating what samples are being sent, and what each should be tested for.</li>
              </ul>
            </li>
          </ul>

          <h2> <span class="mw-headline" id="Treatment_Guidelines_and_Psychological_Support">Treatment Guidelines and Psychological Support</span></h2>

          <ul>
            <li>Urgent medical needs must be given first priority</li>

            <li>Next, assessment and treatment of <a href="/~commun26/wiki/index.php?title=Injuries" title="Injuries">injuries</a>, <a href="/~commun26/wiki/index.php?title=Sexually_transmitted_diseases" title="Sexually transmitted diseases">sexually transmitted diseases</a> and <a class="new" href="/~commun26/wiki/index.php?title=Pregnancy&amp;action=edit&amp;redlink=1" title="Pregnancy (page does not exist)">pregnancy</a> must occur</li>

            <li>Because of the psychological trauma of rape, counselling should be offered to all survivors
              <ul>
                <li>If certified personnel are not available, the most appropriate competent personnel will suffice</li>

                <li>Family and friends should be involved, as they may feel equally traumatized</li>
              </ul>
            </li>

            <li>Survivors should be followed up within 72 hours to record developing bruises</li>

            <li>Followup should also occur at 3 weeks and 6 weeks after the incident, during which time tests for STI's and pregnancy should be repeated, and a reassessment for psychological sequelae should occur</li>

            <li>Appropriate referrals should be made</li>
          </ul>

          <h2> <span class="mw-headline" id="Resources_for_survivors_of_rape.2C_sexual_assault_and_domestic_violence">Resources for survivors of rape, sexual assault and domestic violence</span></h2>

          <p><b>Delhi</b></p>

          <ul>
            <li> Police Helpline Numbers - <b>181 , 011-2337-0557</b></li>

            <li> <a class="external text" href="http://online.wsj.com/public/resources/documents/delhicrisiscenters.pdf" rel="nofollow">Contact details of designated Crises Information Centers</a></li>

            <li> NGOs
              <ul>
                <li> <a class="external text" href="http://www.swanchetan.org/" rel="nofollow">Swanchetan</a></li>

                <li> <a class="external text" href="http://www.crisisinterventioncentre.org" rel="nofollow">Center for Social Research Crises Intervention Centers</a></li>
              </ul>
            </li>
          </ul>

          <p><br></br>
            <b>Mumbai</b></p>

          <ul>
            <li> NGOs
              <ul>
                <li> <a class="external text" href="http://www.cehat.org" rel="nofollow">CEHAT</a></li>

                <li> <a class="external text" href="http://www.majlislaw.com" rel="nofollow">Majlis Legal Center</a></li>
              </ul>
            </li>
          </ul>

          <p><b>Bangalore</b></p>

          <ul>
            <li> Police Helpline Number - <b>1091</b></li>

            <li> NGOs
              <ul>
                <li> <a class="external text" href="http://vimochana.in/" rel="nofollow">Vimochana</a></li>

                <li> <a class="external text" href="http://www.mahiladakshatasamiti.org/" rel="nofollow">Mahila Dakshata Samiti</a></li>
              </ul>
            </li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Rape_trauma_syndrome&amp;action=edit&amp;redlink=1" title="Rape trauma syndrome (page does not exist)">Rape trauma syndrome</a></li>

            <li> <a href="/~commun26/wiki/index.php?title=Treating_survivors_of_torture" title="Treating survivors of torture">Treating survivors of torture</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cehat.org/go/uploads/Publications/R83Manual.pdf" rel="nofollow">CEHAT Manual for Medical Examination of Sexual Assault</a></li>

            <li> <a class="external text" href="http://www.who.int/violence_injury_prevention/publications/violence/med_leg_guidelines/en/index.html" rel="nofollow">WHO Guidelines for Medico-legal Care for Victims of Sexual Violence</a>
            </li>

            <li> <a class="external text" href="http://www.hrw.org/node/92724" rel="nofollow">Dignity On Trial</a> - Report by <a class="external text" href="http://www.hrw.org" rel="nofollow">Human Rights Watch</a> critiquing current
              practices of forensic examination of rape victims in India.</li>

            <li> <a class="external text" href="http://blogs.wsj.com/indiarealtime/2013/01/10/how-to-report-a-rape-in-india/" rel="nofollow">How To Report A Rape In India - Wall Street Journal India, 10 January 2013</a></li>

            <li> <a class="external text" href="http://www.firstpost.com/india/doctors-to-cops-heres-the-horror-of-rape-examination-in-india-577953.html" rel="nofollow">Doctors to cops: the horror of rape examination in India - First
              Post 4 January 2013</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Notes">Notes</span></h2>

          <ol class="references">
            <li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1">↑</a></span> <span class="reference-text"> <a class="external free" href="http://www.indiankanoon.org/doc/1214266/" rel="nofollow">http://www.indiankanoon.org/doc/1214266/</a> </span></li>

            <li id="cite_note-2"><span class="mw-cite-backlink"><a href="#cite_ref-2">↑</a></span> <span class="reference-text"> <a class="external free" href="http://www.cbc.ca/news/world/story/2013/01/31/delhi-court-rape-hospital.html" rel="nofollow">http://www.cbc.ca/news/world/story/2013/01/31/delhi-court-rape-hospital.html</a></span></li>
          </ol>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Treating_survivors_of_rape_and_sexual_assault&amp;oldid=1956">http://www.communityhealth.in/~commun26/wiki/index.php?title=Treating_survivors_of_rape_and_sexual_assault&amp;oldid=1956</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>