<!--
title: Treating survivors of torture
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Treating survivors of torture</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>Every year, thousands of Indian citizens and immigrants survive torture. Many survivors of torture in neighboring countries also seek refuge in India. This page aims at putting together resources for health care professionals
            in India who provide treatment to survivors of torture.</p>

          <p>In 1984 the UN Convention Against Torture stated that “the term “torture” means any act by which severe pain or suffering, whether physical or mental, is intentionally inflicted on a person for such purpose as obtaining from
            him or a third person information or a confession, punishing him for an act he or a third person has committed, or is suspected of having committed, or intimidating or coercing him or a third person, or for any reason based on
            discrimination of any kind, when such pain or suffering is inflicted by, or at the instigation of, or with the consent or acquiescence of, a public official or other person acting in an official capacity. It does not include
            pain or suffering arising only from, inherent in, or incidental to lawful sanctions”. <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup></p>

          <p>In India the total number of incidents of torture is difficult to estimate because many incidents go unreported. Torture may be meted out by police and paramilitary forces as well as by other agencies such as caste panchayats
            and rebel groups such as the Naxalites and armed organizations in the North East. The use of various forms of torture by the police in India is widely prevalent. A report by the Asian Center for Human Rights stated that
            "torture remains endemic, institutionalised and central to the administration of justice and counter-terrorism measures [in India]". The reports records that from 2001 to February 2010, the <a href="/~commun26/wiki/index.php?title=National_Human_Rights_Commission" title="National Human Rights Commission">National Human Rights Commission</a> (NHRC) recorded 1,504 deaths in police custody and 12,727 deaths in
            judicial custody in India. A large majority of these deaths are claimed to be the direct consequence of torture in custody.<sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup></p>

          <p>The <a href="/~commun26/wiki/index.php?title=Medical_Council_of_India" title="Medical Council of India">Medical Council of India</a>'s Code of Ethics Regulations, 2002 explicitly states, "The physician shall not aid or abet
            torture nor shall he be a party to either infliction of mental or physical trauma or concealment of torture inflicted by some other person or agency in clear violation of human rights."<sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>. However attitudes toward torture among the Indian medical community are often ambivalent. A study of 97 fourth year medical students in Delhi found that only 21 students did not support the
            practice of police beatings in order to obtain information, with 28 supporting the practice and 46 remaining undecided.<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup>.</p>

          <p><br></br>
          </p>

          <table class="toc" id="toc">
            <tbody>
              <tr>
                <td>
                  <div id="toctitle">
                    <h2>Contents</h2>
                  </div>

                  <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Populations_who_are_vulnerable_to_torture"><span class="tocnumber">1</span> <span class="toctext">Populations who are vulnerable to torture</span></a></li>

                    <li class="toclevel-1 tocsection-2"><a href="#Treating_survivors_of_torture"><span class="tocnumber">2</span> <span class="toctext">Treating survivors of torture</span></a></li>

                    <li class="toclevel-1 tocsection-3"><a href="#Summaries_of_research_on_treating_survivors_of_torture"><span class="tocnumber">3</span> <span class="toctext">Summaries of research on treating survivors of
                      torture</span></a></li>

                    <li class="toclevel-1 tocsection-4"><a href="#Organizations_working_with_survivors_of_torture"><span class="tocnumber">4</span> <span class="toctext">Organizations working with survivors of torture</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-5"><a href="#In_India"><span class="tocnumber">4.1</span> <span class="toctext">In India</span></a></li>

                        <li class="toclevel-2 tocsection-6"><a href="#Outside_India"><span class="tocnumber">4.2</span> <span class="toctext">Outside India</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-7"><a href="#Legal_aspects"><span class="tocnumber">5</span> <span class="toctext">Legal aspects</span></a>
                      <ul>
                        <li class="toclevel-2 tocsection-8"><a href="#Laws_which_may_be_used_to_sanction_torture"><span class="tocnumber">5.1</span> <span class="toctext">Laws which may be used to sanction torture</span></a></li>

                        <li class="toclevel-2 tocsection-9"><a href="#Laws_which_protect_citizens_from_torture"><span class="tocnumber">5.2</span> <span class="toctext">Laws which protect citizens from torture</span></a></li>

                        <li class="toclevel-2 tocsection-10"><a href="#International_statutes"><span class="tocnumber">5.3</span> <span class="toctext">International statutes</span></a></li>
                      </ul>
                    </li>

                    <li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h2> <span class="mw-headline" id="Populations_who_are_vulnerable_to_torture">Populations who are vulnerable to torture</span></h2>

          <ul>
            <li> Internally displaced people</li>

            <li> Adivasi and Dalit communities</li>

            <li> Immigrants</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Treating_survivors_of_torture">Treating survivors of torture</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.cvt.org/sites/cvt.org/files/u11/Torture%20Survivors%20What%20to%20ask%2C%20how%20to%20document_Journal%20of%20Family%20Practice_April2012.pdf" rel="nofollow">Miles, SH &amp;
              Garcia-Peltoniemi, RE. (2012). Torture survivors: What to ask, how to document. Journal of Family Practice. 61 (4), e1-e5.</a></li>

            <li> <a class="external text" href="http://www.ohchr.org/Documents/Publications/training8Rev1en.pdf" rel="nofollow">Istanbul Protocol: Manual on the Effective Investigation and Documentation of Torture and Other Cruel,
              Inhuman or Degrading Treatment or Punishment</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Summaries_of_research_on_treating_survivors_of_torture">Summaries of research on treating survivors of torture</span></h2>

          <ul>
            <li> <a class="external text" href="http://rct.org/resources/rct-research-publications/articles,-book-chapters,-and-monographs/2005/politically-motivated-torture-and-its-survivors-a-desk-study-review-of-the-literature.aspx" rel="nofollow">Politically-motivated torture and its survivors: A desk study review of the literature</a></li>

            <li> <a class="external text" href="http://www.cvt.org/sites/cvt.org/files/attachments/u8/downloads/CVT%20Torture%20Rehabilitation%20and%20Research%20Biobliography.pdf" rel="nofollow">Torture Rehabilitation and Research
              Bibliography</a></li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="Organizations_working_with_survivors_of_torture">Organizations working with survivors of torture</span></h2>

          <h3> <span class="mw-headline" id="In_India">In India</span></h3>

          <ul>
            <li><a class="external text" href="http://www.sosrac.org/Subhodaya.html" rel="nofollow">Shubhodaya Center for Rehabilitation of Victims of Torture and Violence</a>, New Delhi</li>

            <li><a class="external text" href="http://www.irct.org/about-us/the-members/find-irct-members/meet-our-member-organisations-1.aspx?PID=16987&amp;Action=1&amp;NewsId=2258" rel="nofollow">TOP India Trust</a>, Kerala</li>

            <li><a class="external text" href="http://www.vasavya.com" rel="nofollow">Vasavya Rehabilitation Centre for Torture Victims</a>, Andhra Pradesh</li>

            <li><a class="external text" href="http://tibet.net/health/programs/tibetan-torture-survivors-program/" rel="nofollow">Tibetan Torture Survivors’ Program</a></li>

            <li><a class="external text" href="http://www.west-bengal.ngosindia.com/centre-for-care-of-torture-victims-kolkata.html" rel="nofollow">Centre for Care of Torture Victims</a>, Kolkata</li>
          </ul>

          <h3> <span class="mw-headline" id="Outside_India">Outside India</span></h3>

          <ul>
            <li><a class="external text" href="http://www.irct.org" rel="nofollow">International Rehabilitation Council for Torture Victims</a></li>

            <li><a class="external text" href="http://www.cvt.org/" rel="nofollow">Center for Victims of Torture</a>, Minnesota, USA</li>

            <li><a class="external text" href="http://www.survivorsoftorture.org/" rel="nofollow">Bellevue/NYU Program for Survivors of Torture</a>. New York, USA</li>
          </ul>

          <h2> <span class="mw-headline" id="Legal_aspects">Legal aspects</span></h2>

          <h3> <span class="mw-headline" id="Laws_which_may_be_used_to_sanction_torture">Laws which may be used to sanction torture</span></h3>

          <ul>
            <li> Prevention of Terrorism Act(POTA)</li>

            <li> Armed Forces (Special Powers) Act</li>

            <li> Terrorism and Destructive Activities Act (Prevention)</li>

            <li> Essential Services Maintenance Act</li>
          </ul>

          <h3> <span class="mw-headline" id="Laws_which_protect_citizens_from_torture">Laws which protect citizens from torture</span></h3>

          <ul>
            <li> Prevention of Torture Bill 2010 - Passed by Lok Sabha on May 6 2010. - <a class="external text" href="http://www.prsindia.org/billtrack/the-prevention-of-torture-bill-2010-1129/" rel="nofollow">Analysis by PRS
              Legislative Research</a></li>
          </ul>

          <h3> <span class="mw-headline" id="International_statutes">International statutes</span></h3>

          <ul>
            <li> <a class="external text" href="http://www2.ohchr.org/english/law/cat.htm" rel="nofollow">UN Convention against Torture and Other Cruel, Inhuman or Degrading Treatment or Punishment</a> - India became a signatory on 14
              October 1997 but has not yet ratified the convention.</li>
          </ul>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="References">References</span></h2>

          <ol class="references">
            <li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1">↑</a></span> <span class="reference-text"><a class="external text" href="http://www2.ohchr.org/english/law/cat.htm" rel="nofollow">UN Convention
              against Torture and Other Cruel, Inhuman or Degrading Treatment or Punishment</a></span></li>

            <li id="cite_note-2"><span class="mw-cite-backlink"><a href="#cite_ref-2">↑</a></span> <span class="reference-text"><a class="external text" href="http://www.achrweb.org/reports/india/torture2011.pdf" rel="nofollow">Asian Centre for Human Rights (2011). Torture in India 2011. New Delhi: Asian Centre For Human Rights</a></span></li>

            <li id="cite_note-3"><span class="mw-cite-backlink"><a href="#cite_ref-3">↑</a></span> <span class="reference-text"><a class="external text" href="http://www.mciindia.org/RulesandRegulations/CodeofMedicalEthicsRegulations2002.aspx" rel="nofollow">Medical Council of India. (2002). Indian Medical Council (Professional Conduct, Etiquette and Ethics) Regulations,
              2002</a></span></li>

            <li id="cite_note-4"><span class="mw-cite-backlink"><a href="#cite_ref-4">↑</a></span> <span class="reference-text"><a class="external text" href="http://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;ved=0CCIQFjAA&amp;url=http%3A%2F%2Fwww.irct.org%2FAdmin%2FPublic%2FDWSDownload.aspx%3FFile%3DFiles%252FFiler%252FTortureJournal%252F15_1_2005%252FTorture15-1_2005-p46.pdf&amp;ei=NfR6UJGCMYHV0gHJ3ICgBw&amp;usg=AFQjCNE4bmk7KUYgq9da5qM1uJzYtUzfbA" rel="nofollow">Verma, SK &amp; Biswas, G. (2005). Knowledge and attitude on torture by medical students in Delhi. Torture. 15 (1), p46-50.</a></span></li>
          </ol>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Treating_survivors_of_torture&amp;oldid=1965">http://www.communityhealth.in/~commun26/wiki/index.php?title=Treating_survivors_of_torture&amp;oldid=1965</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>