<!--
title: Tribal Health Initiative
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Tribal Health Initiative</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:302px;"><a class="image" href="/~commun26/wiki/index.php?title=File:THI_Sittilingi.jpg"><img alt="" class="thumbimage" height="225" src="/~commun26/wiki/images/thumb/3/32/THI_Sittilingi.jpg/300px-THI_Sittilingi.jpg" width="300"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:THI_Sittilingi.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Tribal Health Initiative, Sittilngi</div>
            </div>
          </div>
          <b>Tribal Health Initiative</b> is a public charitable trust located in the Sittilingi valley of the Dharmapuri district of Tamil Nadu. It was founded in 1993 by Dr. <a class="new" href="/~commun26/wiki/index.php?title=Regi_George&amp;action=edit&amp;redlink=1" title="Regi George (page does not exist)">Regi George</a> and Dr. <a class="new" href="/~commun26/wiki/index.php?title=Lalitha_Regi&amp;action=edit&amp;redlink=1" title="Lalitha Regi (page does not exist)">Lalitha Regi</a> and works for the health and development of the Malavasi tribal community situated
          around it. It runs a 24 bed hospital, a community health programme, a farming initiative and a craft initiative, all predominantly staffed by people from the surrounding tribal villages.
          <p><br></br>
            <iframe allowfullscreen="true" frameborder="0" height="319" src="http://www.youtube.com/embed/5EJrhFEVePM?showsearch=0&amp;modestbranding=1" width="425"></iframe></p>

          <div class="maps-map maps-googlemaps3" id="map_google3_1" style="width: auto; height: 350px; background-color: #cccccc; overflow: hidden;">Loading map...
            <div class="mapdata" style="display:none">{"minzoom":false,"mappingservice":"googlemaps3","type":"ROADMAP","zoom":14,"types":["ROADMAP","SATELLITE","HYBRID","TERRAIN"],"geoservice":"google","maxzoom":false,"width":"auto","height":"350px","centre":false,"title":"","label":"","icon":"","visitedicon":"","lines":[],"polygons":[],"circles":[],"rectangles":[],"copycoords":false,"static":false,"wmsoverlay":"","layers":[],"controls":["pan","zoom","type","scale","streetview"],"zoomstyle":"DEFAULT","typestyle":"DEFAULT","autoinfowindows":false,"kml":[],"gkml":[],"fusiontables":[],"resizable":false,"tilt":0,"kmlrezoom":false,"poi":true,"imageoverlays":[],"markercluster":false,"searchmarkers":"","locations":[{"text":"&lt;p>Tribal
              Health Initiative\n&lt;\/p>","title":"Tribal Health Initiative\n","link":null,"lat":11.910837441194,"lon":78.625802993774,"alt":0,"address":"","icon":"","group":"","inlineLabel":"","visitedicon":""}]}</div>
          </div>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="See_also">See also</span></h2>

          <ul>
            <li> <a class="new" href="/~commun26/wiki/index.php?title=Regi_George&amp;action=edit&amp;redlink=1" title="Regi George (page does not exist)">Regi George</a></li>

            <li> <a class="new" href="/~commun26/wiki/index.php?title=Lalitha_Regi&amp;action=edit&amp;redlink=1" title="Lalitha Regi (page does not exist)">Lalitha Regi</a></li>
          </ul>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.tribalhealth.org" rel="nofollow">www.tribalhealth.org</a> - Tribal Health Initiative website</li>
          </ul>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Tribal_Health_Initiative&amp;oldid=1978">http://www.communityhealth.in/~commun26/wiki/index.php?title=Tribal_Health_Initiative&amp;oldid=1978</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Hospitals" title="Category:Hospitals">Hospitals</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>