<!--
title: Tuberculosis Research Centre
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Tuberculosis Research Centre</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The Tuberculosis Chemotherapy Centre was established at Chennai in 1956 and renamed as <b>Tuberculosis Research Centre</b> (TRC) in 1978. The Centre has made significant contributions in different areas of research on <a class="new" href="/~commun26/wiki/index.php?title=Tuberculosis&amp;action=edit&amp;redlink=1" title="Tuberculosis (page does not exist)">tuberculosis</a> including the immunology and molecular biology. The <a class="new" href="/~commun26/wiki/index.php?title=World_Health_Organization&amp;action=edit&amp;redlink=1" title="World Health Organization (page does not exist)">World Health Organization</a> (WHO) has designated TRC as a collaborating
            centre for tuberculosis control programme in India. Many of the research findings of the Centre have received worldwide recognition and had significant impact on the formulation of tuberculosis control programmes in Asia,
            Africa, South America and some parts of Europe. The Centre imparts training in laboratory diagnosis and controlled clinical trials of tuberculosis. It is also actively engaged in evolving comprehensive methodologies for
            strengthening the case-finding and case-holding components of <a class="new" href="/~commun26/wiki/index.php?title=National_Tuberculosis_Control_Programme&amp;action=edit&amp;redlink=1" title="National Tuberculosis Control Programme (page does not exist)">National Tuberculosis Control Programme</a>.</p>

          <h2> <span class="mw-headline" id="Contact_Details">Contact Details</span></h2>

          <p><b>Address:</b> Tuberculosis Research Centre, Mayor V.R. Ramanathan Road (Spurtank Road) Chetput, Chennai - 600031</p>

          <p><b>Tel No.:</b> +91-44-28362432/33/34/35</p>

          <p><b>Fax No.:</b> +91-44-28362528/29</p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.trc-chennai.org/" rel="nofollow">www.trc-chennai.org</a> - Tuberculosis Research Centre website</li>
          </ul>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre&amp;oldid=1210">http://www.communityhealth.in/~commun26/wiki/index.php?title=Tuberculosis_Research_Centre&amp;oldid=1210</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Tuberculosis" title="Category:Tuberculosis">Tuberculosis</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:ICMR_institutions" title="Category:ICMR institutions">ICMR institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Government_institutions" title="Category:Government institutions">Government institutions</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Tamil_Nadu" title="Category:Tamil Nadu">Tamil Nadu</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>