<!--
title: Vivekananda Girijana Kalyana Kendra
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Vivekananda Girijana Kalyana Kendra</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p><b>Vivekananda Girijana Kalyana Kendra</b> is a non-profit organisation that works with the Soligas and other tribal communities in Chamarajanagar and Mysore districts of Karnataka as well as with tribal communities in
            Tamil Nadu , Arunachal Pradesh and Andaman &amp; Nicobar islands. It was founded by Dr. <a href="/~commun26/wiki/index.php?title=H._Sudarshan" title="H. Sudarshan">H. Sudarshan</a> in 1981. It promotes sustainable development
            of tribal people through rights-based approaches to health, education, livelihood security and biodiversity conservation.</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.vgkk.org" rel="nofollow">www.vgkk.org</a> - Vivekananda Girijana Kalyana Kendra website</li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra&amp;oldid=1289">http://www.communityhealth.in/~commun26/wiki/index.php?title=Vivekananda_Girijana_Kalyana_Kendra&amp;oldid=1289</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:Community_based_organisations" title="Category:Community based organisations">Community based organisations</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:NGOs" title="Category:NGOs">NGOs</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:Karnataka" title="Category:Karnataka">Karnataka</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>