<!--
title: Voluntary Health Association of India
description: 
published: true
date: 2023-06-26T05:46:27.745Z
tags: civil society institutions and networks, communityhealth.in, public health information sources
editor: ckeditor
dateCreated: 2023-01-29T17:24:46.796Z
-->

<h1>Voluntary Health Association of India</h1>
<p>From communityhealth.in</p>
<p>Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></p>
<p>VHAI is a non-profit, registered society and one of the largest health and development networks promoting health issue of human right and development. It advocates people-centered policies and support innovative health and development programmes at the grassroots with the active participation of the people.</p>
<figure class="image"><img src="/vhai-logo.jpg"></figure>
<h2>External Links</h2>
<ul>
  <li><a href="http://www.vhai.org/">www.vhai.org</a> - Voluntary Health Association of India website</li>
</ul>
<p><br><br>&nbsp;</p>
<p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the </i><a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal"><i>Community Portal</i></a>.</p>
<p>Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India&amp;oldid=2059">http://www.communityhealth.in/~commun26/wiki/index.php?title=Voluntary_Health_Association_of_India&amp;oldid=2059</a>"</p>
<p><a href="/~commun26/wiki/index.php?title=Special:Categories">Categories</a>:&nbsp;</p>
<ul>
  <li><a href="/~commun26/wiki/index.php?title=Category:NGOs">NGOs</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:Jan_Swasthya_Abhiyan_national_networks">Jan Swasthya Abhiyan national networks</a></li>
  <li><a href="/~commun26/wiki/index.php?title=Category:People%27s_Health_Movement">People's Health Movement</a></li>
</ul>
