<!--
title: Where There Is No Doctor
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">Where There Is No Doctor</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <div class="thumb tright">
            <div class="thumbinner" style="width:252px;"><a class="image" href="/~commun26/wiki/index.php?title=File:WhereThereIsNoDoctor_cover.jpg"><img alt="" class="thumbimage" height="329" src="/~commun26/wiki/images/thumb/4/45/WhereThereIsNoDoctor_cover.jpg/250px-WhereThereIsNoDoctor_cover.jpg" width="250"></img></a>
              <div class="thumbcaption">
                <div class="magnify"><a class="internal" href="/~commun26/wiki/index.php?title=File:WhereThereIsNoDoctor_cover.jpg" title="Enlarge"><img alt="" height="11" src="/~commun26/wiki/skins/common/images/magnify-clip.png" width="15"></img></a></div>
                Cover of Where There Is No Doctor</div>
            </div>
          </div>

          <p><b>Where There is No Doctor</b> is the most widely used health education book in tropical and sub-tropical developing countries. Based on <a class="new" href="/~commun26/wiki/index.php?title=David_Werner&amp;action=edit&amp;redlink=1" title="David Werner (page does not exist)">David Werner</a>'s experiences at his <a class="external text" href="http://www.healthwrights.org/projects/piaxtla/piaxtla.htm" rel="nofollow">Project Piaxtla</a> in western Mexico, it was originally written in Spanish as <i>Donde No Hay Doctor</i>. It has since been revised and has
            sold over one million copies and been translated into over 100 languages. It covers all aspects of people's health ranging from <a href="/~commun26/wiki/index.php?title=Diarrhoea" title="Diarrhoea">diarrhoea</a> to <a href="/~commun26/wiki/index.php?title=Malaria" title="Malaria">malaria</a> and <a class="new" href="/~commun26/wiki/index.php?title=Bone_fractures&amp;action=edit&amp;redlink=1" title="Bone fractures (page does not exist)">bone fractures</a> and <a class="new" href="/~commun26/wiki/index.php?title=Ringworm&amp;action=edit&amp;redlink=1" title="Ringworm (page does not exist)">ringworm</a>. Special emphasis is placed on hygiene, a healthy diet
            and vaccinations, and the book explains to readers what they can do themselves and how to prevent, recognise and treat many common sicknesses. It also shows them how to recognise problems they are unable to cope with and need
            to refer to a health worker. This new revised edition includes information about some additional health problems such as <a class="new" href="/~commun26/wiki/index.php?title=AIDS&amp;action=edit&amp;redlink=1" title="AIDS (page does not exist)">AIDS</a>, <a class="new" href="/~commun26/wiki/index.php?title=Dengue_fever&amp;action=edit&amp;redlink=1" title="Dengue fever (page does not exist)">dengue fever</a>, complications from
            <a class="new" href="/~commun26/wiki/index.php?title=Abortion&amp;action=edit&amp;redlink=1" title="Abortion (page does not exist)">abortion</a>, <a class="new" href="/~commun26/wiki/index.php?title=Drug_addiction&amp;action=edit&amp;redlink=1" title="Drug addiction (page does not exist)">drug addiction</a> and covers in detail both <a class="new" href="/~commun26/wiki/index.php?title=Childbirth&amp;action=edit&amp;redlink=1" title="Childbirth (page does not exist)">childbirth</a> and <a class="new" href="/~commun26/wiki/index.php?title=Family_planning&amp;action=edit&amp;redlink=1" title="Family planning (page does not exist)">family planning</a>.<sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup></p>
          Its distribution is worldwide. In the <i><a href="/~commun26/wiki/index.php?title=British_Medical_Journal" title="British Medical Journal">British Medical Journal</a></i> a review said:
          <blockquote></blockquote>
        </div>
      </div>
    </div>