<!--
title: World Health Organisation
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">World Health Organisation</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>World Health Organisation</b> is the directing and coordinating authority for health within the <a class="new" href="/~commun26/wiki/index.php?title=United_Nations&amp;action=edit&amp;redlink=1" title="United Nations (page does not exist)">United Nations</a> system. It is responsible for providing leadership on global health matters, shaping the health research agenda, setting norms and standards, articulating
            evidence-based policy options, providing technical support to countries and monitoring and assessing health trends.</p>

          <h2> <span class="mw-headline" id="External_links">External links</span></h2>

          <ul>
            <li><a class="external text" href="http://www.who.int" rel="nofollow">www.who.int</a> - The official WHO website</li>
          </ul>

          <p><i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=World_Health_Organisation&amp;oldid=25">http://www.communityhealth.in/~commun26/wiki/index.php?title=World_Health_Organisation&amp;oldid=25</a>"</div>
 
        <div class="catlinks catlinks-allhidden" id="catlinks"></div>

        <div class="visualClear"></div>
 </div>
</div>