<!--
title: World Bank
description: 
published: true
date: 2023-01-29T16:04:06.850Z
tags: communityhealth.in
editor: code
dateCreated: 2023-01-29T16:04:06.850Z
-->
<div class="mw-body" id="content"> <a id="top"></a>
      <div id="mw-js-message" style="display:none;"></div>

      <h1 class="firstHeading" id="firstHeading"><span dir="auto">World Bank</span></h1>
 
      <div id="bodyContent"> 
        <div id="siteSub">From communityhealth.in</div>
 
        <div id="contentSub"></div>
 
        <div class="mw-jump" id="jump-to-nav"> Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a></div>
 
        <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
          <p>The <b>World Bank</b> is an international financial institution established in 1944 at the <a class="new" href="/~commun26/wiki/index.php?title=Bretton_Woods_summit&amp;action=edit&amp;redlink=1" title="Bretton Woods summit (page does not exist)">Bretton Woods summit</a>. It is based in Washington D.C. with some 10,000 staff, 30 per cent of which are based in more than 100 country offices. The current president is <a class="new" href="/~commun26/wiki/index.php?title=Robert_Zoellick&amp;action=edit&amp;redlink=1" title="Robert Zoellick (page does not exist)">Robert Zoellick</a> who was appointed in 2007.</p>

          <p>The World Bank Group is made up of five organisations: <a class="new" href="/~commun26/wiki/index.php?title=International_Bank_for_Reconstruction_and_Development&amp;action=edit&amp;redlink=1" title="International Bank for Reconstruction and Development (page does not exist)">International Bank for Reconstruction and Development</a> (IBRD); <a class="new" href="/~commun26/wiki/index.php?title=International_Development_Association&amp;action=edit&amp;redlink=1" title="International Development Association (page does not exist)">International Development Association</a> (IDA);
            <a class="new" href="/~commun26/wiki/index.php?title=International_Finance_Corporation&amp;action=edit&amp;redlink=1" title="International Finance Corporation (page does not exist)">International Finance Corporation</a>
            (IFC); <a class="new" href="/~commun26/wiki/index.php?title=Multilateral_Investment_Guarantee_Agency&amp;action=edit&amp;redlink=1" title="Multilateral Investment Guarantee Agency (page does not exist)">Multilateral Investment
            Guarantee Agency</a> (MIGA); and <a class="new" href="/~commun26/wiki/index.php?title=International_Centre_for_Settlement_of_Investment_Disputes&amp;action=edit&amp;redlink=1" title="International Centre for Settlement of Investment Disputes (page does not exist)">International Centre for Settlement of Investment Disputes</a> (ICSID).</p>

          <p><br></br>
          </p>

          <h2> <span class="mw-headline" id="External_Links">External Links</span></h2>

          <ul>
            <li> <a class="external text" href="http://www.worldbank.org/" rel="nofollow">www.worldbank.org</a> - World Bank website</li>

            <li> <a class="external text" href="http://www.worldbank.org.in/" rel="nofollow">www.worldbanl.org.in</a> - World Bank India</li>

            <li> <a class="extiw" href="http://en.wikipedia.org/wiki/World_Bank" title="wikipedia:World Bank">Wikipedia: World Bank</a></li>

            <li> <a class="external text" href="http://www.brettonwoodsproject.org/institution/wbg/index.shtml" rel="nofollow">World Banl page on www.brettonwoodsproject.org</a></li>

            <li> <a class="external text" href="http://www.globalexchange.org/campaigns/wbimf/" rel="nofollow">World Bank page on www.globalexchange.org</a></li>
          </ul>

          <p><br></br>
            <i>This article is a stub. Find out how you can help communityhealth.in expand it at the <a href="/~commun26/wiki/index.php?title=Communityhealth.in:Community_Portal" title="Communityhealth.in:Community Portal"> Community
            Portal</a></i>.</p>
 </div>
 
        <div class="printfooter"> Retrieved from "<a href="http://www.communityhealth.in/~commun26/wiki/index.php?title=World_Bank&amp;oldid=1257">http://www.communityhealth.in/~commun26/wiki/index.php?title=World_Bank&amp;oldid=1257</a>"</div>
 
        <div class="catlinks" id="catlinks">
          <div class="mw-normal-catlinks" id="mw-normal-catlinks"><a href="/~commun26/wiki/index.php?title=Special:Categories" title="Special:Categories">Categories</a>:
            <ul>
              <li><a href="/~commun26/wiki/index.php?title=Category:International_funding_agencies" title="Category:International funding agencies">International funding agencies</a></li>

              <li><a href="/~commun26/wiki/index.php?title=Category:International_financial_institutions" title="Category:International financial institutions">International financial institutions</a></li>
            </ul>
          </div>
        </div>

        <div class="visualClear"></div>
 </div>
</div>