<!--
title: Azim Premji University
description: 
published: true
date: 2023-06-15T05:07:52.754Z
tags: 
editor: ckeditor
dateCreated: 2023-06-15T05:00:50.732Z
-->

<p><span class="text-big"><strong>Health, Nutrition and Development Initiative of Azim Premji University</strong></span></p>
<p style="text-align:justify;">The Health, Nutrition and Development Initiative aims to offer a broader and integrated understanding of health by locating it within the larger development narrative and by necessarily engaging with multiple perspectives, approaches and methods. The Initiative comprising of a multi-disciplinary faculty focuses on the creation of new and relevant knowledge through a series of teaching and research activities based at the University.</p>
<p>The teaching program of the Initiative includes:</p>
<p>&nbsp;a) offering a Specialization on Health, Nutrition and Development within the M.A. Development Program of the University</p>
<p>&nbsp;b) training Government officials in public health policies, health management and implementation through collaboration with partner organizations&nbsp;</p>
<p>c) training young professionals in health and development through short courses.&nbsp;&nbsp;</p>
<p>Research activities of the Initiative have a broader aim of establishing rigor in health systems research and translating the research knowledge into evidence</p>
<p>Website Link:</p>
<p><a href="https://azimpremjiuniversity.edu.in/community-engagement">https://azimpremjiuniversity.edu.in/community-engagement</a></p>
<figure class="image"><img src="/jazimpremji-1.png">
  <figcaption>Azim Premji University</figcaption>
</figure>
