<!--
title: Centre For Public Policy
description: 
published: true
date: 2023-06-15T05:10:51.944Z
tags: 
editor: ckeditor
dateCreated: 2023-06-15T05:02:13.362Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>Centre for Public Policy</strong></span>&nbsp;</p>
<p style="text-align:justify;">The Centre for Public Policy (CPP) at the Indian Institute of Management Bangalore (IIMB) was created in 2000 through a strong partnership agreement between the Department of Personnel and Training (DoPT), Government of India (GoI), the United Nations Development Programme (UNDP) and IIMB.</p>
<p style="text-align:justify;">The CPP has been designated as a Centre of Excellence by the Ministry of Urban Development and also by Ministry of Housing and Urban Poverty Alleviation. CCP offers one year course Post Graduate Programme in Public Policy and Management (PGPPM). &nbsp;The Health Policy Group of the Centre for Public Policy, IIMB aims to support evidence-based health programs and policy development, capacity building in program management, and dissemination of program and policy experiences. The Resource Group will primarily support activities at the national and state levels and work in close coordination with governments, international, and private institutions.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://www.iimb.ac.in/index.php">https://www.iimb.ac.in/index.php</a></p>
<figure class="image"><img src="/512x512bb.jpg">
  <figcaption>Indian Institute of Management Bangalore</figcaption>
</figure>
