<!--
title: GRAAM
description: 
published: true
date: 2023-06-15T05:16:53.388Z
tags: 
editor: ckeditor
dateCreated: 2023-06-15T05:16:53.388Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>Grassroots Research And Advocacy Movement- GRAAM</strong></span></p>
<p style="text-align:justify;">GRAAM is an organization based in Mysore, it researches issues faced by communities, and advocates the research outcomes to ensure relevant and sound public policy. GRAAM aims to enrich the interaction between primary players the community, the state, the NGO sector, &amp; the private sector to ensure sustained development at the grassroots level.&nbsp;</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="http://www.graam.org.in/">http://www.graam.org.in/</a></p>
<figure class="image"><img src="/maxresdefault.jpg">
  <figcaption>Grassroots Research and Advocacy Movement</figcaption>
</figure>
