<!--
title: IIHMR
description: 
published: true
date: 2023-06-15T05:20:04.829Z
tags: 
editor: ckeditor
dateCreated: 2023-06-15T05:20:04.829Z
-->

<p style="text-align:justify;"><span class="text-big"><strong>Indian Institute of Health Management and Research -IIHMR</strong></span></p>
<p style="text-align:justify;">IIHMR is dedicated to the improvement in standards of health through better management of health care and related programs. It works extensively on capacity building of health professionals to effectively manage health services at the national, global level and to disseminate latest knowledge and management technology in India and other developing countries. The Institute offers a two-year full-time Postgraduate Program with specialization in Hospital Management and Health Management and very recently also the post graduate diploma in health information technology.</p>
<p style="text-align:justify;">Website Link:</p>
<p style="text-align:justify;"><a href="https://iihmrbangalore.edu.in/">https://iihmrbangalore.edu.in/</a></p>
<figure class="image image_resized" style="width:100%;"><img src="/download.png">
  <figcaption>IIHMR</figcaption>
</figure>
