<!--
title: Institute of Public Health -IPH 
description: 
published: true
date: 2023-06-15T05:23:35.548Z
tags: 
editor: ckeditor
dateCreated: 2023-06-15T05:23:35.548Z
-->

<p><span class="text-big"><strong>Institute of Public Health -IPH</strong></span></p>
<p>The Institute of Public Health, Bangalore is a public health research and training institute based in Bangalore, India. IPH is a value based, community-oriented public health institute, involved in the entire gamut of public health activities- training, research, consultancy and advocacy. The institute is also involved in IPH formed a consortium of five organisations, [Institute of Public Health, Bangalore (IPH); Centre for Global Health Research, Bangalore (CGHR); Centre for Leadership and Management in Public Services (C-LAMPS);&nbsp; Institute of Health Management and Research (IHMR), Bangalore; Karuna Trust (KT); and&nbsp; Karnataka Health Promotion trust (KHPT)] called Swasthya Karnataka (SK) which&nbsp;aims to improve the management capacity at a district and sub district level. IPH conducts a PhD programme in public health in collaboration with the Institute of Tropical Medicine (ITM), Antwerp, Belgium. The programme is a part of a long term partnership with ITM and is funded under the Belgian Government’s DGDC grant. The PhD programme is for 4 years and the focus is on research in health systems.</p>
<p>Website Link:</p>
<p><a href="https://iphindia.org/">https://iphindia.org/</a></p>
<figure class="image"><img src="/cropped-institute-of-public-health-bangaluru.webp">
  <figcaption>Institute of Public Health Bangalore</figcaption>
</figure>
