<!--
title: ITD-HST
description: 
published: true
date: 2023-06-15T11:46:12.495Z
tags: public health information sources, public health institutions and initiatives in karnataka
editor: ckeditor
dateCreated: 2023-06-15T05:32:01.461Z
-->

<p><span class="text-big"><strong>The Institute of Trans-disciplinary Health Sciences and Technology (ITD-HST)</strong></span></p>
<p>The Institute of Trans-disciplinary Health Sciences and Technology (ITD-HST) is focused on the modernization of India's healthcare in the 21st century by bridging, in an epistemologically informed way, the traditional health science and practices of India, with western sciences and technology. The central purpose of the university is lowering costs and enhancing access, quality and reach of healthcare and creation of transformative knowledge and making original Indian contributions, to the world of medicine and life sciences. The institute grew out of the earlier Foundation of Revitalization of Local Health Traditions (FRLHT) and Institute of Ayurveda and Integrative Medicine (I-AIM). The University has school of health sciences where principles from Ayurveda and other holistic health sciences like Siddha, Unani and authenticated Folk-cure along with biomedical sciences are put through modern day R&amp;D to give shape to the ‘integrative medicine’ approach.</p>
<p>Website Link:</p>
<p>I-AIM: <a href="https://www.iaimhealthcare.org/">https://www.iaimhealthcare.org/ (</a>last checked on 15/06/23)</p>
<p>ITD-HST: <a href="https://www.tdu.edu.in/">https://www.tdu.edu.in/ </a>(last checked on 15/06/23)</p>
<figure class="image"><img src="/e9256b_c9c32e08758d4e4caa09c8f5c0c725eb_mv2.jpg"></figure>
